{
    "presets": ["@babel/preset-react"],
    "plugins": [
        "@babel/plugin-transform-typescript",
        "@babel/plugin-transform-runtime",
        "babel-plugin-transform-typescript-metadata",
        ["@babel/plugin-proposal-decorators", { "version": "2018-09", "decoratorsBeforeExport": true }],
        ["@babel/plugin-proposal-class-properties"]
    ]
  }