$primaryColor: rgb(246, 248, 250);
$lightDark: #000;
$dark: #000;
$transition: all 0.2s ease;

.button-layout {
    user-select: none;
    position: relative;

    .icon-button {
        display: flex;
        align-items: center;
        flex: 1;
        cursor: pointer;

        svg {
            color: #000;
            font-size: 1.6rem;
        }
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 1.3rem;
        outline: 1px solid $lightDark;
        color: $lightDark;
        border-radius: 100px;
        padding: 3px 15px;
        cursor: pointer;
        transition: $transition;

        svg {
            color: #000;
            font-size: 1.2rem;
            padding-left: 5px;
        }

        &:hover {
            outline: 1px solid $dark;
            color: white;
            background-color: $dark;
        }

        &:hover > svg {
            color: white;
        }
    }

    .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 300;
        cursor: pointer;
        outline: none !important;

        svg {
            padding-right: 2px;
            font-size: 1.9rem;
        }

        &:hover {
            outline: none !important;
        }
    }

    .button-modal {
        position: absolute;
        top: 35px;
        right: -4px;
        padding: 10px 5px;
        min-width: 225px;
        width: max-content;
        max-width: max-content;
        height: fit-content;
        background-color: white;
        border-radius: 7px;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
        color: darken($primaryColor, 70%);
        animation: fadeIn 0.2s linear;
        z-index: 20;

        &::after {
            content: '';
            position: absolute;
            top: -7px;
            right: 3px;
            width: 15px;
            height: 10px;
            background-color: white;
            box-shadow: -1px -30px 10px rgba(0, 0, 0, 0.6);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }

        .modal-text {
            padding: 0 10px;
        }

        .text {
            font-size: 1.2rem;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
