<html lang="en" class="js-focus-visible ctshmsrlsm idc0_345">
<%- include('../partials/head') -%>

   <body class="bg-white antialiased dark:bg-zinc-900" data-new-gr-c-s-check-loaded="14.1095.0"
      data-gr-ext-installed="">
      <div id="__next">
         <div class="lg:ml-72 xl:ml-80">
            <%- include('../partials/nav') -%>
               <div class="relative px-4 pt-14 sm:px-6 lg:px-8">
                  <%- include('../main/'+page) -%>
                     <%- include('../partials/footer') -%>
               </div>
         </div>
      </div>
   </body>

</html>