<table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="500" style="min-width: 500px;margin: 40px 50px;">
                    <tbody>
                      <tr style="border-collapse:collapse">
                        <td width="720" align="center" valign="top" style="padding:0;Margin:0"></td>
                      </tr>
                      <tr style="border-collapse:collapse">
                        <td align="left"
                          style="padding:0;Margin:0;padding-top:0px;padding-left:40px;padding-right:40px;padding-bottom:30px;background-color:#f7f8fa;border-radius: 5px">
                          <table cellpadding="0" cellspacing="0" width="100%"
                            style="border-collapse:collapse;border-spacing:0px">
                            <tbody>
                              <tr style="border-collapse:collapse">
                                <td width="720" align="center" valign="top" style="padding:0;Margin:0">
                                  <table cellpadding="0" cellspacing="0" width="100%" role="presentation"
                                    style="border-collapse:collapse;border-spacing:0px">
                                    <tbody>
                                      <tr style="border-collapse:collapse">
                                        <td align="left" style="padding:0;Margin:0;padding-top:30px">