@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$xl: 87.5em;
$lg: 60em;
$med: 40em;
$sm: 28em;
$xs: 18em;

$bglight: #fff;
$bgDark: #000;
$colorGrey: #808080;
$lightBlue: rgb(23, 38, 176);
$colorLightGrey: rgb(202, 202, 202);

$transition: all 0.2s ease-in-out;

@mixin responsive($query) {
    @media (min-width: $query) {
        @content;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    color: lighten($bgDark, 25%);
    font-size: 10px;
}

body {
    background-color: rgba(234, 234, 247, 0.796);
    height: 100vh;
    width: 100vw;
    position: relative;

    a {
        text-decoration: none;

        &:visited {
            color: $lightBlue;
        }
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 20;
        clip-path: polygon(0 79%, 100% 48%, 100% 100%, 0% 100%);
    }
}

.brand {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;

    img {
        width: 200px;
        height: 150px;
    }
}

form {
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bglight;
    border-radius: 5px;
    box-shadow: 1px 2px 10px lighten($bgDark, 85%);
    padding: 50px 70px;
    z-index: 40;

    @include responsive($xs) {
        width: 95%;
        padding: 25px;
    }

    @include responsive($sm) {
        width: 80%;
        padding: 35px;
    }

    @include responsive($med) {
        width: 65%;
        padding: 50px 70px;
    }

    @include responsive($lg) {
        width: 50%;
    }

    @include responsive($xl) {
        width: 35%;
    }

    h1 {
        color: lighten($bgDark, 20%);
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 30px;
        letter-spacing: -0.2px;
        line-height: 32px;
    }

    div {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        label {
            font-size: 1.35rem;
            font-weight: 400;
            color: lighten($bgDark, 20%);
            margin-bottom: 5px;

            display: flex;
            justify-content: space-between;

            span:last-child {
                color: $lightBlue;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    color: darken($lightBlue, 50%);
                }
            }
        }

        input {
            width: 100%;
            padding: 15px 20px;
            border: 1px solid $colorLightGrey;
            border-radius: 5px;
            outline: none;
            appearance: none;
            background: transparent;

            &:focus {
                outline: 2px solid rgba(84, 84, 238, 0.72);
            }
        }
    }

    .remember {
        display: flex;
        flex-direction: row;
        align-items: center;

        label {
            margin-bottom: 0;
            font-size: 1.4rem;
            color: lighten($bgDark, 40%);
            cursor: pointer;
        }

        input[type='checkbox'] {
            width: fit-content;
            margin-right: 10px;
            appearance: none;
            -webkit-appearance: none;
            background-color: #fafafa;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
                inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            outline: none;

            &:active,
            &:checked:active {
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
                    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
            }

            &:checked {
                background-color: #e9ecee;
                border: 1px solid #adb8c0;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
                    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
                    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
                color: lighten($bgDark, 10%) !important;

                &::after {
                    content: '\2714';
                    font-size: 14px;
                    position: absolute;
                    top: 0px;
                    left: 3px;
                    color: $bgDark;
                }
            }
        }
    }

    button {
        color: $bglight;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: lighten($bgDark, 15%);
        cursor: pointer;
        padding: 13px 20px;
        transition: $transition;

        div {
            div {
                display: none;
            }
            span {
                font-weight: 300;
                font-size: 1.7rem;
            }
        }

        &:hover {
            background-color: lighten($bgDark, 20%);
        }
    }

    .actions {
        margin: 15px 0;

        p {
            font-size: 1.4rem;
            margin: 5px 0;
            color: $lightBlue;
            cursor: pointer;
            transition: $transition;

            &:last-child {
                font-size: 1.2rem;
            }

            span {
                color: lighten($bgDark, 20%);
                cursor: default;
            }

            &:hover {
                color: darken($lightBlue, 50%);
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    font-size: 1.3rem;
    z-index: 25;
    transition: $transition;

    @include responsive($xs) {
        justify-content: center;
    }

    @include responsive($sm) {
        left: 50%;
        transform: translateX(-50%);
    }

    p {
        padding-right: 20px;
        padding-bottom: 30px;
        cursor: pointer;

        @include responsive($xs) {
            padding-bottom: 5px;
        }

        a {
            color: lighten($bgDark, 50%);

            &:hover {
                color: lighten($bgDark, 30%);
            }
        }
    }
}
