table {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: table;
    border-color: #fdfdfd;
    border-collapse: collapse;
    transition: all 0.2s ease-in;
    color: rgb(77, 76, 76);
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.1)) !important;
    font-family: Camphor, Segoe UI, Open Sans, sans-serif;
    font-weight: 400;
    line-height: normal;
    color: #000000;
    text-transform: none;
    font-size: 1.3rem;
    color: #4c4c4c;
    overflow: auto;

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;

        & > tr {
            background-color: #f7f7f7;
            color: #000000;
            height: 100%;
        }
    }

    & > thead > tr > th {
        height: 1px;
        min-width: 100px;
        border: none;
        height: 40px;
        font-weight: 500;
        background-color: #f7f7f7;
        color: #4c4c4c;
        text-transform: uppercase;
        text-align: left;
        padding: 10px 15px;
        cursor: pointer;
    }

    & > tbody > tr {
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.9);

        & > td {
            padding: 15px;
            color: #000;

            & > i {
                cursor: pointer;
                margin: 0 5px;
                color: rgb(116, 110, 110);

                &:hover {
                    color: rgb(22, 22, 22);
                }
            }
        }
    }
}

.pager {
    display: flex;
    align-items: center;

    button {
        margin: 5px;
        display: flex;
        align-items: center;
        padding: 0;
        color: #000000;
        background: transparent;
        border: 0;
        cursor: pointer;
        outline: none;

        flex: 0 0 auto;
        padding: 4px 9px 2px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 0 1px rgb(50 50 93 / 10%),
            0 2px 5px 0 rgb(50 50 93 / 8%), 0 1px 1.5px 0 rgb(0 0 0 / 7%),
            0 1px 2px 0 rgb(0 0 0 / 8%), 0 0 0 0 transparent;
        color: #000000;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.6;
        text-align: left;
        text-decoration: none;
        vertical-align: middle;
        white-space: nowrap;
        word-break: keep-all;
        transition: box-shadow 0.08s ease-in, color 0.08s ease-in;

        svg {
            margin-left: 5px;
        }

        &:hover {
            color: #4c4c4c;
        }
    }
}
