*/node_modules/*
*/build/*
*/coverage/*

*/public/*
*/views/*

*fonts*
*logos*

.*
*.png
*.sh
*.txt
*.snap
*.enc
Dockerfile
CHANGELOG
LICENSE

marketing/*/*
licenses/*
certifications/*
api-docs/public/assets/*
server-monitor/out/scripts/prettify/*
log-js/dist/logger.js