*/node_modules/*
*/build/*
*/coverage/*

*/dist/*

*/public/*
*/views/*

*fonts*
*logos*

.*
*.png
*.sh
*.txt
*.snap
*.enc
Dockerfile
CHANGELOG
LICENSE

marketing/*/*
licenses/*
certifications/*
api-docs/public/assets/*
js-sdk/src/cli/server-monitor/out/scripts/prettify/*
js-sdk/dist/logger.js
js-sdk/dist/logger.min.js
js-sdk/dist/oneuptime.js
js-sdk/dist/oneuptime.min.js
_test/*