*/node_modules/*
*/build/*
*/coverage/*

*/dist/*

*/public/*
*/views/*

*fonts*
*logos*

.*
*.png
*.sh
*.txt
*.snap
*.enc
Dockerfile
CHANGELOG
LICENSE

marketing/*/*
licenses/*
certifications/*
api-docs/public/assets/*
js-sdk/src/cli/server-monitor/out/scripts/prettify/*
_test/*