node_modules
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
.idea
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
env.js
/.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

yarn.lock
Untitled-1
*.local.sh
*.local.yaml

nohup.out*

encrypted-credentials.tar
encrypted-credentials/

_README.md


# Important Add production values to gitignore. 
values-saas-production.yaml
kubernetes/values-saas-production.yaml
