version: '3.7'

services:
    
    haraka:
        extends:
            file: ./docker-compose.base.yml
            service: haraka
    
    redis:
        extends:
            file: ./docker-compose.base.yml
            service: redis

    clickhouse:
        extends:
            file: ./docker-compose.base.yml
            service: clickhouse

    postgres:
        ports:
          - "5400:5432" # for access to postgres
        extends:
            file: ./docker-compose.base.yml
            service: postgres
    
    notification:
        image:  oneuptime/notification:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: notification
        
    accounts:
        image:  oneuptime/accounts:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: accounts
       

    dashboard:
        image:  oneuptime/dashboard:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: dashboard
        
    

    status-page:
        image:  oneuptime/status-page:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: status-page
            
        

    dashboard-api:
        image:  oneuptime/dashboard-api:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: dashboard-api
       


    link-shortner:
        image:  oneuptime/link-shortner:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: link-shortner
        

    workflow:
        image:  oneuptime/workflow:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: workflow
        
    
    workers:
        image:  oneuptime/workers:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: workers
        
    

    probe-1:   
        image:  oneuptime/probe:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: probe-1
        
    probe-2:
        image:  oneuptime/probe:${APP_TAG}   
        extends:
            file: ./docker-compose.base.yml
            service: probe-2

    identity:
        image:  oneuptime/identity:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: identity
       
    

    probe-api:
        image:  oneuptime/probe-api:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: probe-api
       

    file:
        image:  oneuptime/file:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: file
        

  
    home:
        image:  oneuptime/home:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: home
        
    
    api-reference:
        image:  oneuptime/api-reference:${APP_TAG}
        extends:
            file: ./docker-compose.base.yml
            service: api-reference


    nginx:
       image:  oneuptime/nginx:${APP_TAG}
       extends:
            file: ./docker-compose.base.yml
            service: nginx

volumes:
    postgres:
    clickhouse:

networks:
  oneuptime:
    driver: bridge
