version: '3.7'

services:
    
    haraka:
        extends:
            file: ./docker-compose.base.yml
            service: haraka
        build:
            network: host
            context: .
            dockerfile: ./Haraka/Dockerfile

    
    redis:
        extends:
            file: ./docker-compose.base.yml
            service: redis

    clickhouse:
        extends:
            file: ./docker-compose.base.yml
            service: clickhouse

    postgres:
        ports: 
            - '5400:5432'
        extends:
            file: ./docker-compose.base.yml
            service: postgres
    
    notification:
        extends:
            file: ./docker-compose.base.yml
            service: notification
        ports:
            - 9111:9229 # Debugging port.
        volumes:
            - ./Notification:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        build:
            network: host
            context: .
            dockerfile: ./Notification/Dockerfile
        
    accounts:
        ports: 
            - '${ACCOUNTS_PORT}:${ACCOUNTS_PORT}' # ws port for webpack
        extends:
            file: ./docker-compose.base.yml
            service: accounts
        volumes:
            - ./Accounts:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        build:
            network: host
            context: .
            dockerfile: ./Accounts/Dockerfile
       

    dashboard:
        ports: 
            - '${DASHBOARD_PORT}:${DASHBOARD_PORT}' # ws port for webpack
        extends:
            file: ./docker-compose.base.yml
            service: dashboard
        volumes:
            - ./Dashboard:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        build:
            network: host
            context: .
            dockerfile: ./Dashboard/Dockerfile
        
    

    status-page:
        ports: 
            - '${STATUS_PAGE_PORT}:${STATUS_PAGE_PORT}' # ws port for webpack
        extends:
            file: ./docker-compose.base.yml
            service: status-page
        volumes:
            - ./StatusPage:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        build:
            network: host
            context: .
            dockerfile: ./StatusPage/Dockerfile
            
        

    dashboard-api:
        volumes:
            - ./DashboardAPI:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        extends:
            file: ./docker-compose.base.yml
            service: dashboard-api
        ports:
            - '9232:9229' # Debugging port.
        build:
            network: host
            context: .
            dockerfile: ./DashboardAPI/Dockerfile
       


    link-shortner:
        volumes:
            - ./LinkShortner:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        extends:
            file: ./docker-compose.base.yml
            service: link-shortner
        ports:
            - '9826:9229' # Debugging port.
        build:
            network: host
            context: .
            dockerfile: ./LinkShortner/Dockerfile
        

    workflow:
        volumes:
            - ./Workflow:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        extends:
            file: ./docker-compose.base.yml
            service: workflow
        ports:
          - '9212:9229' # Debugging port.
        build: 
            network: host
            context: .
            dockerfile: ./Workflow/Dockerfile
        
    
    workers:
        volumes:
            - ./Workers:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        ports:
          - '9654:9229' # Debugging port.
        extends:
            file: ./docker-compose.base.yml
            service: workers
        build:
            network: host
            context: .
            dockerfile: ./Workers/Dockerfile
        
    

    probe-1: 
        volumes:
            - ./Probe:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/  
        extends:
            file: ./docker-compose.base.yml
            service: probe-1
        ports:
          - '9655:9229' # Debugging port.
        build:
            network: host
            context: .
            dockerfile: ./Probe/Dockerfile
        

    identity:
        ports:
          - '9132:9229' # Debugging port.
        volumes:
            - ./Identity:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        extends:
            file: ./docker-compose.base.yml
            service: identity
        build:
            network: host
            context: .
            dockerfile: ./Identity/Dockerfile
       
    

    probe-api:
        volumes:
            - ./ProbeAPI:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        ports:
          - '9932:9229' # Debugging port.
        extends:
            file: ./docker-compose.base.yml
            service: probe-api
        build:
            network: host
            context: .
            dockerfile: ./ProbeAPI/Dockerfile
       

    file:
        volumes:
            - ./File:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        ports:
          - '9012:9229' # Debugging port.
        extends:
            file: ./docker-compose.base.yml
            service: file
        build:
            network: host
            context: .
            dockerfile: ./File/Dockerfile
        

  
    home:
        volumes:
            - ./Home:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        ports:
          - '9235:9229' # Debugging port.
        extends:
            file: ./docker-compose.base.yml
            service: home
        build:
            network: host
            context: .
            dockerfile: ./Home/Dockerfile
        
    
    api-reference:
        volumes:
            - ./ApiReference:/usr/src/app
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common
            - ./Model:/usr/src/Model
            - ./CommonServer:/usr/src/CommonServer
            - ./CommonUI:/usr/src/CommonUI
            - /usr/src/Common/node_modules/
            - /usr/src/CommonUI/node_modules/
            - /usr/src/CommonServer/node_modules/
            - /usr/src/Model/node_modules/
        ports:
          - '9178:9229' # Debugging port.
        extends:
            file: ./docker-compose.base.yml
            service: api-reference
        build:
            network: host
            context: .
            dockerfile: ./ApiReference/Dockerfile


    nginx:
        build:
            network: host
            context: .
            dockerfile: ./Nginx/Dockerfile
        extends:
            file: ./docker-compose.base.yml
            service: nginx

volumes:
    postgres:
    clickhouse:

networks:
  oneuptime: 
    driver: bridge