

services:
    

    redis:
        ports: 
            - '6310:6379'
        extends:
            file: ./docker-compose.base.yml
            service: redis

    clickhouse:
        ports: 
            - '9034:9000'
            - '8189:8123'
        extends:
            file: ./docker-compose.base.yml
            service: clickhouse
        volumes: 
            - ./Clickhouse/config.xml:/etc/clickhouse-server/config.xml

    postgres:
        ports: 
            - '5400:5432'
        extends:
            file: ./docker-compose.base.yml
            service: postgres


    otel-collector:
        extends:
            file: ./docker-compose.base.yml
            service: otel-collector
        build:
            network: host
            context: .
            dockerfile: ./OTelCollector/Dockerfile

    accounts:
        ports: 
            - '${ACCOUNTS_PORT}:${ACCOUNTS_PORT}'
        extends:
            file: ./docker-compose.base.yml
            service: accounts
        volumes:
            - ./Accounts:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/dev-env
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached

            - /usr/src/Common/node_modules/

            
        build:
            network: host
            context: .
            dockerfile: ./Accounts/Dockerfile
       

    dashboard:
        ports: 
            - '${DASHBOARD_PORT}:${DASHBOARD_PORT}'
        extends:
            file: ./docker-compose.base.yml
            service: dashboard
        volumes:
            - ./Dashboard:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/dev-env
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached

            - /usr/src/Common/node_modules/

            
        build:
            network: host
            context: .
            dockerfile: ./Dashboard/Dockerfile
        
    

    admin-dashboard:
        ports: 
            - '${ADMIN_DASHBOARD_PORT}:${ADMIN_DASHBOARD_PORT}'
        extends:
            file: ./docker-compose.base.yml
            service: admin-dashboard
        volumes:
            - ./AdminDashboard:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/dev-env
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached

            - /usr/src/Common/node_modules/

            
        build:
            network: host
            context: .
            dockerfile: ./AdminDashboard/Dockerfile


    status-page:
        ports: 
            - '${STATUS_PAGE_PORT}:${STATUS_PAGE_PORT}'
        extends:
            file: ./docker-compose.base.yml
            service: status-page
        volumes:
            - ./StatusPage:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/dev-env
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached

            - /usr/src/Common/node_modules/

            
        build:
            network: host
            context: .
            dockerfile: ./StatusPage/Dockerfile
            
    
    test-server:
        volumes:
            - ./TestServer:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached

            - /usr/src/Common/node_modules/

            
        extends:
            file: ./docker-compose.base.yml
            service: test-server
        ports:
            - '9141:9229' # Debugging port.
            - '3800:3800'
        build:
            network: host
            context: .
            dockerfile: ./TestServer/Dockerfile


    home:
        volumes:
            - ./Home:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached
            - /usr/src/Common/node_modules/
        extends:
            file: ./docker-compose.base.yml
            service: home
        ports:
            - '9212:9229' # Debugging port.
        build:
            network: host
            context: .
            dockerfile: ./Home/Dockerfile

    worker:
        volumes:
            - ./Worker:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached
            - /usr/src/Common/node_modules/
        extends:
            file: ./docker-compose.base.yml
            service: worker
        ports:
            - '8734:9229' # Debugging port.
        build:
            network: host
            context: .
            dockerfile: ./Worker/Dockerfile


    workflow:
        volumes:
            - ./Workflow:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached
            - /usr/src/Common/node_modules/
        extends:
            file: ./docker-compose.base.yml
            service: workflow
        ports:
            - '8735:9229' # Debugging port.
        build:
            network: host
            context: .
            dockerfile: ./Workflow/Dockerfile

    api-reference:
        volumes:
            - ./APIReference:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached
            - /usr/src/Common/node_modules/
        extends:
            file: ./docker-compose.base.yml
            service: api-reference
        ports:
            - '8737:9229' # Debugging port.
        build:
            network: host
            context: .
            dockerfile: ./APIReference/Dockerfile

    docs:
        volumes:
            - ./Docs:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached
            - /usr/src/Common/node_modules/
        extends:
            file: ./docker-compose.base.yml
            service: docs
        ports:
            - '8738:9229' # Debugging port.
        build:
            network: host
            context: .
            dockerfile: ./Docs/Dockerfile

    app:
        volumes:
            - ./App:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached
            - /usr/src/Common/node_modules/
        extends:
            file: ./docker-compose.base.yml
            service: app
        ports:
            - '9232:9229' # Debugging port.
        build:
            network: host
            context: .
            dockerfile: ./App/Dockerfile
        

    probe-1: 
        volumes:
            - ./Probe:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached

            - /usr/src/Common/node_modules/

              
        extends:
            file: ./docker-compose.base.yml
            service: probe-1
        build:
            network: host
            context: .
            dockerfile: ./Probe/Dockerfile

    probe-2:
        volumes:
            - ./Probe:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached

            - /usr/src/Common/node_modules/


        extends:
            file: ./docker-compose.base.yml
            service: probe-2
        build:
            network: host
            context: .
            dockerfile: ./Probe/Dockerfile

    ai-agent:
        volumes:
            - ./AIAgent:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached

            - /usr/src/Common/node_modules/


        extends:
            file: ./docker-compose.base.yml
            service: ai-agent
        build:
            network: host
            context: .
            dockerfile: ./AIAgent/Dockerfile

    isolated-vm:
        volumes:
            - ./IsolatedVM:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached

            - /usr/src/Common/node_modules/

            
        ports:
          - '9974:9229' # Debugging port.
        extends:
            file: ./docker-compose.base.yml
            service: isolated-vm
        build:
            network: host
            context: .
            dockerfile: ./IsolatedVM/Dockerfile
    
    probe-ingest:
        volumes:
            - ./ProbeIngest:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached
            - /usr/src/Common/node_modules/
        ports:
          - '9932:9229' # Debugging port.
        extends:
            file: ./docker-compose.base.yml
            service: probe-ingest
        build:
            network: host
            context: .
            dockerfile: ./ProbeIngest/Dockerfile

    server-monitor-ingest:
        volumes:
            - ./ServerMonitorIngest:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached
            - /usr/src/Common/node_modules/
        ports:
          - '9941:9229' # Debugging port.
        extends:
            file: ./docker-compose.base.yml
            service: server-monitor-ingest
        build:
            network: host
            context: .
            dockerfile: ./ServerMonitorIngest/Dockerfile

    telemetry:
        volumes:
            - ./Telemetry:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached
            - /usr/src/Common/node_modules/
        ports:
          - '9938:9229' # Debugging port.
        extends:
            file: ./docker-compose.base.yml
            service: telemetry
        build:
            network: host
            context: .
            dockerfile: ./Telemetry/Dockerfile

    incoming-request-ingest:
        volumes:
            - ./IncomingRequestIngest:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached
            - /usr/src/Common/node_modules/
        ports:
          - '9933:9229' # Debugging port.
        extends:
            file: ./docker-compose.base.yml
            service: incoming-request-ingest
        build:
            network: host
            context: .
            dockerfile: ./IncomingRequestIngest/Dockerfile

    mcp:
        volumes:
            - ./MCP:/usr/src/app:cached
            # Use node modules of the container and not host system.
            # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /usr/src/app/node_modules/
            - ./Common:/usr/src/Common:cached
            - /usr/src/Common/node_modules/
        ports:
          - '9945:9229' # Debugging port.
        extends:
            file: ./docker-compose.base.yml
            service: mcp
        build:
            network: host
            context: .
            dockerfile: ./MCP/Dockerfile

    # Fluentd. Required only for development. In  production its the responsibility of the customer to run fluentd and pipe logs to OneUptime.
    # We run this container just for development, to see if logs are piped. 

    fluentd:
        ports:
            - 24224:24224
            - 24224:24224/udp
            - 8888:8888
        user: fluent
        extends:
            file: ./docker-compose.base.yml
            service: fluentd
        volumes:
            - ./Fluentd/fluent.conf:/fluentd/etc/fluent.conf
        build:
            network: host
            context: ./Fluentd
            dockerfile: ./Dockerfile

    fluent-bit: 
        ports:
            - 24225:24224
            - 24285:24284
            - 2020:2020
            - 8889:8889
        extends:
            file: ./docker-compose.base.yml
            service: fluent-bit
        volumes:
            - ./FluentBit/etc:/fluent-bit/etc/
        build:
            network: host
            context: .
            dockerfile: ./FluentBit/Dockerfile

    ingress:
        build:
            network: host
            context: .
            dockerfile: ./Nginx/Dockerfile
        extends:
            file: ./docker-compose.base.yml
            service: ingress

    # e2e tests
    e2e:
        extends:
            file: ./docker-compose.base.yml
            service: e2e
        volumes:
            - ./E2E/playwright-report:/usr/src/app/playwright-report
            - ./E2E/test-results:/usr/src/app/test-results
        build:
            network: host
            context: .
            dockerfile: ./E2E/Dockerfile

volumes:
    postgres:
    clickhouse:
    
networks:
  oneuptime: 
    driver: bridge