<html lang="en" class="js-focus-visible ctshmsrlsm idc0_345">
<%- include('../partials/head') -%>

   <body onload="applyStyles()" class="bg-white antialiased " data-new-gr-c-s-check-loaded="14.1095.0"
      data-gr-ext-installed="">
      <div id="__next">
         <div class="lg:ml-72 xl:ml-80">
            <%- include('../partials/nav') -%>
            <div class="flex justify-center">
               <div class="relative px-4 pt-14 sm:px-6 lg:px-8 max-w-5xl ">
                  <div>
                  <div class="flex justify-center">
                     <%- include('../main/'+page) -%>
                  </div>
                  <div class="flex justify-center">
                     <%- include('../partials/footer') -%>
                  </div>
               </div>
               </div>
            </div>
         </div>
      </div>
   </body>

</html>