<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/nawazdhandala/Downloads/White, Grey and Blue Browser Nerdy Birthday Card (1).png</key>
	<data>
	Ym9va/ACAAAAAAQQMAAAALoaD7yZfCJqTS5VDPv4SD0jW7ossRcsm3QbsF5knEWT7AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAG5hd2F6ZGhhbmRhbGEA
	AAAJAAAAAQEAAERvd25sb2FkcwAAADgAAAABAQAAV2hpdGUsIEdyZXkgYW5kIEJsdWUg
	QnJvd3NlciBOZXJkeSBCaXJ0aGRheSBDYXJkICgxKS5wbmcQAAAAAQYAABAAAAAgAAAA
	OAAAAEwAAAAIAAAABAMAALwwBgAAAAAACAAAAAQDAABFjQkAAAAAAAgAAAAEAwAASI0J
	AAAAAAAIAAAABAMAAEzqTQkCAAAAEAAAAAEGAACkAAAAtAAAAMQAAADUAAAACAAAAAAE
	AABBwmwkR62xlxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAC
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAACDBDBwAAAAIAAAAAAQAAEHBpjcYFJ6LJAAAAAEBAABDMEUwQTAw
	MS0zOTY0LTM1OUItQjY4OS1GMjc0MkZCREQ1QzEYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAE
	EAAAjAAAAAAAAAAFEAAA5AAAAAAAAAAQEAAADAEAAAAAAABAEAAA/AAAAAAAAAACIAAA
	2AEAAAAAAAAFIAAASAEAAAAAAAAQIAAAWAEAAAAAAAARIAAAjAEAAAAAAAASIAAAbAEA
	AAAAAAATIAAAfAEAAAAAAAAgIAAAuAEAAAAAAAAwIAAA5AEAAAAAAAABwAAALAEAAAAA
	AAARwAAAIAAAAAAAAAASwAAAPAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/nawazdhandala/Downloads/White, Grey and Blue Browser Nerdy Birthday Card.png</key>
	<data>
	Ym9va+wCAAAAAAQQMAAAABzH6H4syrodauwxXRhi3DOeHOkOUnKIROjdruVyC5or6AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAG5hd2F6ZGhhbmRhbGEA
	AAAJAAAAAQEAAERvd25sb2FkcwAAADQAAAABAQAAV2hpdGUsIEdyZXkgYW5kIEJsdWUg
	QnJvd3NlciBOZXJkeSBCaXJ0aGRheSBDYXJkLnBuZxAAAAABBgAAEAAAACAAAAA4AAAA
	TAAAAAgAAAAEAwAAvDAGAAAAAAAIAAAABAMAAEWNCQAAAAAACAAAAAQDAABIjQkAAAAA
	AAgAAAAEAwAAI89NCQIAAAAQAAAAAQYAAKAAAACwAAAAwAAAANAAAAAIAAAAAAQAAEHC
	bB31x5EGGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
	CAAAAAQDAAAAIMEMHAAAAAgAAAAABAAAQcGmNxgUnoskAAAAAQEAAEMwRTBBMDAxLTM5
	NjQtMzU5Qi1CNjg5LUYyNzQyRkJERDVDMRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACI
	AAAAAAAAAAUQAADgAAAAAAAAABAQAAAIAQAAAAAAAEAQAAD4AAAAAAAAAAIgAADUAQAA
	AAAAAAUgAABEAQAAAAAAABAgAABUAQAAAAAAABEgAACIAQAAAAAAABIgAABoAQAAAAAA
	ABMgAAB4AQAAAAAAACAgAAC0AQAAAAAAADAgAADgAQAAAAAAAAHAAAAoAQAAAAAAABHA
	AAAgAAAAAAAAABLAAAA4AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
