{{> Start this}}



                  {{> Logo this}}
                  {{> EmailTitle title="Thank you for verifying your email." }}
                  
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>

                        <td class="st-Font st-Font--body"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">


                          
                          Your email is now verified.


                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                        <td class="st-Font st-Font--body link-content"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">


                         If you have not signed up for the account, please send us an email at <a
                            style="color: #000000; text-decoration: none; font-weight: bold"
                            href="mailto:support@oneuptime.com" target="_blank">support@oneuptime.com</a> and let us
                          know.


                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                        <td class="st-Font st-Font--body"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">


                          Thanks, have a great day.


                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                        <td class="st-Font st-Font--body"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">


                          OneUptime Team.


                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

              {{> Footer this}}


               {{> End this}}