{{> Start this}}

{{> Logo this}}

{{> EmailTitle title="You have changed your password." }}

{{> InfoBlock info="Your password has been updated. You can now log in."}}

{{> InfoBlock info="If you did not do this action, please send us an email at <a
          style='color: #000000; text-decoration: none; font-weight: bold'
          href='mailto:support@oneuptime.com' target='_blank'>support@oneuptime.com</a> and let us
        know."}}

{{> Thanks }}

{{> Footer this}}


{{> End this}}