{{> Start this}}



                  {{> Logo this}}
                   {{> EmailTitle title="Welcome to OneUptime. Please verify your email." }}
                  
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>

                        <td class="st-Font st-Font--body"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">


                          
                          Thank you for signing up. Next step would be to verify your email account. Can you please click on 'Verify Email' button which will help us to get your email verified. 


                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                        <td class="st-Font st-Font--body"
                          style="border: 0; margin: 0; padding: 0; color: #000000; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">

                          <!-- Button & Modifier: fullWidth -->
                          <table class="st-Button st-Button--fullWidth" border="0" cellpadding="0" cellspacing="0"
                            width="100%">
                            <tbody>
                              <tr>
                                <td align="center" class="st-Button-area" height="38" valign="middle"
                                  style="border: 0; margin: 0; padding: 0; background-color: #000000; border-radius: 5px; text-align: center;">
                                  <a class="st-Button-link"
                                    style="border: 0; margin: 0; padding: 0; color: #ffffff; display: block; height: 38px; text-align: center; text-decoration: none;"
                                    href={{tokenVerifyUrl}}>
                                    <span class="st-Button-internal"
                                      style="border: 0; margin: 0; padding: 0; color: #ffffff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; font-weight: bold; height: 38px; line-height: 38px; mso-line-height-rule: exactly; text-decoration: none; vertical-align: middle; white-space: nowrap; width: 100%;">Verify Email</span>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- /Button & Modifier: fullWidth -->

                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                        <td class="st-Font st-Font--body link-content"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">


                          You can also copy and paste this link: {{tokenVerifyUrl}} on any browser of your choice if the button above does not work.<br/><br/><br/>If you have not signed up for the account, please send us an email at <a
                            style="color: #000000; text-decoration: none; font-weight: bold"
                            href="mailto:support@oneuptime.com" target="_blank">support@oneuptime.com</a> and let us
                          know.


                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                        <td class="st-Font st-Font--body"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">


                          Thanks, have a great day.


                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                        <td class="st-Font st-Font--body"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">


                          OneUptime Team.


                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

              {{> Footer this}}


               {{> End this}}