{{> Start this}}



{{> CustomLogo this}}
{{> EmailTitle title="You have changed your password." }}

{{> InfoBlock info="Your password has been updated. You can now log in. Please <a href={{homeUrl}}>click here to log in. </a>"}}



{{> InfoBlock info="Thanks, have a great day."}}

{{> InfoBlock info="{{statusPageName}} Team."}}




{{> End this}}