{{> Start this}}



                  {{> CustomLogo this}}
                   {{> EmailTitle title="You have been subscribed to {{statusPageName}}" }}
                  
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>

                        <td class="st-Font st-Font--body"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">

                          You have been subscribed to {{statusPageName}}. You will be the first to hear from us when there are any incidents, announcements or scheduled maintenance events.
                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  {{#ifCond isPublicStatusPage "true"}}
                   <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>

                        <td class="st-Font st-Font--body"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">

                          You can also view the status page by visiting these link: {{statusPageUrl}}
                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  {{/ifCond}}  
                    <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>

                        <td class="st-Font st-Font--body"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">

                          You can unsubscribe at any time by clicking <a href="{{unsubscribeUrl}}">here.</a> 
                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                 
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                       
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            
                  <table class="st-Footer st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--divider" colspan="3" height="20"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr class="st-Divider">
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                        <td bgcolor="#fdfdfd" colspan="2" height="1"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; max-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--divider" colspan="3" height="31"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--emailEnd" colspan="3" height="64"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>


               {{> End this}}