<section class="mb-32 border-gray-100 border-t-2">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mb-20 mt-20">
        <div class="mx-auto max-w-5xl sm:text-center">
            <h1 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-center">Enterprise grade, at scale.
            </h1>
            <p class="mt-5 text-xl text-gray-500 sm:text-center">Built to support enterprise-grade demands for security,
                availability, and scale and this is why thousands of our customers trust us every day.</p>
        </div>
        <ul role="list"
            class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 text-sm sm:mt-20 sm:grid-cols-2 md:gap-y-10 lg:max-w-none lg:grid-cols-3">
            <li class="rounded-2xl border border-gray-200 p-8">
                <svg fill="none" viewBox="0 0 32 32" aria-hidden="true" stroke-width="1.5" stroke="currentColor"
                    class="h-10 w-10">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg>

                <h3 class="mt-6 font-semibold text-gray-900">SSO / SAML Auth</h3>
                <p class="mt-2 text-gray-700">
                    Use SSO and SAML authentication and integrate with your existing identity provider.
                </p>
            </li>
            <li class="rounded-2xl border border-gray-200 p-8">
                <svg fill="none" viewBox="0 0 32 32" aria-hidden="true" stroke-width="1.5" stroke="currentColor"
                    class="h-10 w-10">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                </svg>

                <h3 class="mt-6 font-semibold text-gray-900">Advanced Access Controls</h3>
                <p class="mt-2 text-gray-700">
                    Access controls let you set fine-grained permissions for individual users or teams.
                </p>
            </li>
            <li class="rounded-2xl border border-gray-200 p-8">
                <svg fill="none" viewBox="0 0 32 32" aria-hidden="true" stroke-width="1.5" stroke="currentColor"
                    class="h-10 w-10">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                </svg>

                <h3 class="mt-6 font-semibold text-gray-900">Dedicated Engineer and Support</h3>
                <p class="mt-2 text-gray-700">
                    Our team are here to help you with any issues you may have - 24/7/365.
                </p>
            </li>
            <li class="rounded-2xl border border-gray-200 p-8"><svg fill="none" viewBox="0 0 32 32" aria-hidden="true"
                    stroke-width="1.5" stroke="currentColor" class="h-10 w-10">

                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 0 1 0 3.75H5.625a1.875 1.875 0 0 1 0-3.75Z" />

                </svg>
                <h3 class="mt-6 font-semibold text-gray-900">Audit Events and Logs</h3>
                <p class="mt-2 text-gray-700">
                    Document user activities and system events, crucial for security and compliance.
                </p>
            </li>
            <li class="rounded-2xl border border-gray-200 p-8">
                <svg fill="none" viewBox="0 0 32 32" aria-hidden="true" stroke-width="1.5" stroke="currentColor"
                    class="h-10 w-10">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                </svg>
                <h3 class="mt-6 font-semibold text-gray-900">Custom Data Residency</h3>
                <p class="mt-2 text-gray-700">You control your data. Store it on-prem or pick from our US or EU
                    datacenter.</p>
            </li>
            <li class="rounded-2xl border border-gray-200 p-8">
                <svg fill="none" viewBox="0 0 32 32" aria-hidden="true" stroke-width="1.5" stroke="currentColor"
                    class="h-10 w-10">

                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />


                </svg>
                <h3 class="mt-6 font-semibold text-gray-900">SOC 2 Type 2 &amp; ISO Compliant</h3>
                <p class="mt-2 text-gray-700">We are SOC 2/3, ISO, PCI, HIPAA, CCPA and GDPR Compliant. </p>
            </li>
            <li class="rounded-2xl border border-gray-200 p-8"><svg fill="none" viewBox="0 0 32 32" aria-hidden="true" stroke-width="1.5" stroke="currentColor"
                    class="h-10 w-10">

                   <path
        strokeLinecap="round"
        strokeLinejoin="round"
        d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
      />

                </svg>
                <h3 class="mt-6 font-semibold text-gray-900">5000+ Integrations</h3>
                <p class="mt-2 text-gray-700">
                    Integrate with your existing tools and workflows using our Workflows.
                </p>
            </li>
            <li class="rounded-2xl border border-gray-200 p-8"><svg fill="none" viewBox="0 0 32 32" aria-hidden="true" stroke-width="1.5" stroke="currentColor"
                    class="h-10 w-10" >
  <path stroke-linecap="round" stroke-linejoin="round" d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z" />
</svg>

                <h3 class="mt-6 font-semibold text-gray-900">Full API Access</h3>
                <p class="mt-2 text-gray-700">
                    Anything you can do in the UI, you can do with our API. Build your own integrations and
                    workflows.
                </p>
            </li>
            <li class="rounded-2xl border border-gray-200 p-8"><svg fill="none" viewBox="0 0 32 32" aria-hidden="true" stroke-width="1.5" stroke="currentColor"
                    class="h-10 w-10" >
  <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75 16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
</svg>

                <h3 class="mt-6 font-semibold text-gray-900">Terraform Support</h3>
                <p class="mt-2 text-gray-700">
                    Use our Terraform provider to manage your OneUptime resources as code. Version control your
                    infrastructure.
                </p>
            </li>
        </ul>
    </div>
</section>