<section class="mb-32 border-gray-100 border-t-2 border-b-2">
<div class="mx-auto mt-32 max-w-7xl pb-32 pl-10 pr-10">
  <div class="md:flex justify-between">
  <div class="mx-auto max-w-2xl lg:mx-0">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      We're proudly open-source. 🚀
    </h2>
    <p class="mt-6 text-base leading-7 text-gray-600">
     Open-source wins, open-software wins, open-protocol wins. Our platform is built on open-source technologies and we're proud to contribute back to the community. 
    </p>
  </div>
  <div class="mt-10">
    <a href="https://github.com/oneuptime/oneuptime" target="_blank" class="text-base font-semibold leading-6 text-gray-900 ">View GitHub Repo <span
      aria-hidden="true">→</span></a>
  </div>
</div>
  <div class="mx-auto mt-16 flex max-w-2xl flex-col gap-8 lg:mx-0 lg:mt-20 lg:max-w-none lg:flex-row lg:items-end">
    <div class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-50 p-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-96 lg:max-w-none lg:flex-none lg:flex-col lg:items-start">
      <p class="flex-none text-3xl font-bold tracking-tight text-gray-900">80+</p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-gray-900">Open Source Contributors</p>
        <p class="mt-2 text-base leading-7 text-gray-600">
          Open Source contributors make all of OneUptime happen.
        </p>
      </div>
    </div>
    <div class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-900 p-8 sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start">
      <p class="flex-none text-3xl font-bold tracking-tight text-white">29,000+</p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-white">Code Commits</p>
        <p class="mt-2 text-base leading-7 text-gray-400">
          Our team of developers are constantly improving the platform.
        </p>
      </div>
    </div>
    <div class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-indigo-600 p-8 sm:w-11/12 sm:max-w-xl sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-none lg:flex-auto lg:flex-col lg:items-start">
      <p class="flex-none text-3xl font-bold tracking-tight text-white">100,000+</p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-white">Open Source Downloads</p>
        <p class="mt-2 text-base leading-7 text-indigo-200">
          Used by thousands of companies - from small startups to large enterprises.
        </p>
      </div>
    </div>
  </div>
</div>

</section>