<div class="bg-white">
    <div class="mx-auto max-w-7xl py-24 px-6 sm:py-32 lg:px-8 lg:py-40">
      <div class="mx-auto max-w-3xl text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Security and Compliance.</h2>
        <p class="mx-auto mt-4 max-w-xl text-lg leading-8 text-gray-600">We take security seriously here at OneUptime, and we are proud to exceed the industry standard when it comes to protecting your data.</p>
      </div>
      <dl class="mt-20 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 lg:gap-x-8">
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">SOC 2</p>
          </dt>
          <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">SOC 2 ensures your service providers securely manage your data to protect the interests of your organization.</dd>
        </div>
  
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">SOC 3</p>
          </dt>
          <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">SOC 3 report outlines information related to controls for security, availability, processing integrity, confidentiality or privacy.</dd>
        </div>
  
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">ISO/IEC 27001</p>
          </dt>
          <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">ISO 27001 includes all legal, physical and technical controls involved in information risk management processes.</dd>
        </div>
  
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">ISO/IEC 27017</p>
          </dt>
          <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">ISO/IEC 27017 security on aspects of cloud computing, recommending cloud-specific information security controls.</dd>
        </div>
        


        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">PCI DSS</p>
          </dt>
          <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">PCI DSS is a standard for organizations that handle branded credit cards from the major card schemes. </dd>
        </div>
  
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">ISO/IEC 27018</p>
          </dt>
          <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">ISO/IEC 27018 is a code of practice that focuses on the protection of personal data in the cloud.</dd>
        </div>
  
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">HIPAA</p>
          </dt>
          <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">HIPAA is United States legislation that provides data privacy and security provisions for safeguarding medical information.</dd>
        </div>
  
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">GDPR</p>
          </dt>
          <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">The GDPR is a law on data protection and privacy in the European Union and the European Economic Area.</dd>
        </div>
  
      </dl>
    </div>
  </div>