<div class="absolute rounded-xl p-2 inset-0 bg-gray-900 opacity-5"></div>
<button
  class="shadow-2xl absolute top-1/2 left-1/2 transform -trangray-x-1/2 -trangray-y-1/2 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-gray-900 px-4 py-2 text-base font-medium text-white hover:bg-gray-900 hover:text-white"
  onclick="playVideo('<%- videoId %>')">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
    stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round"
      d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
  </svg>

  <span class="ml-1">Watch Demo</span>
</button>

