<div class="bg-white">
    <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
      <div class="relative text-center isolate overflow-hidden bg-gray-50 px-6 pt-16 sm:px-16 md:pt-24 rounded-2xl lg:flex lg:gap-x-20 lg:px-24 lg:pt-0 rounded border border-gray-200">
        <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32">
          <h2 class="text-3xl text-center font-bold tracking-tight text-gray-800 sm:text-4xl">Proudly Open Source</h2>
          <p class="mt-6 text-lg text-center leading-8 text-gray-600">Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Malesuada adipiscing sagittis vel nulla.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
            <a href="/accounts/register" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Get started</a>
            <a href="/enterprise/demo" class="text-sm font-semibold leading-6 text-white">Request Demo <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  