<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>
        <%= title %>
    </title>

    <meta name="description" content="Fyipe lets you monitor any website, API or dashboard and alerts your team if something goes wrong. Fyipe also keeps your customers updated about any downtime.">

    <% include ./head %>

    <style>
		/* -------------------------------------
		TYPOGRAPHY
------------------------------------- */
		h1,
		h2,
		h3 {
			font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-ser=if;
			line-height: 1.1;
			margin-bottom: 15px;
			color: #000;
			margin: 40px 0 10px;
			line-height: 1.2;
			font-weight: 200;
		}

		h1 {
			font-size: 36px;
		}

		h2 {
			font-size: 28px;
		}

		h3 {
			font-size: 22px;
		}

        p{
            font-size: 18px;
        }
    </style>

</head>

<body>

        <table cellpadding="0" cellspacing="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td colspan="3" height="6"></td>
                    </tr>
                    <tr style="line-height:0px">
                        <td width="100%" style="font-size:0px" align="center" height="1">
                            <a href="https://fyipe.com" target="_blank" data-saferedirecturl="https://fyipe.com">
                                <img class="logo" src="https://www.dropbox.com/s/07u7yu49wfflalr/Fyipe-Transparent.png?dl=0&r=1&raw=1" style="max-height:73px;width:100px" alt="" width="80px" class="CToWUd">
                            </a>.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" style="line-height:25px" border="0" align="center">
                                <tbody>
                                    <tr>
                                        <td colspan="3" height="30"></td>
                                    </tr>
                                    <tr>
                                        <td width="36"></td>
                                        <td width="600" align="left" style="color:#444444;border-collapse:collapse;font-size:11pt;font-family:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';max-width:454px"
                                            valign="top">
                                            <img width="50px" height="50px" class="image-header" src=<%='/img/' + action + '.svg' %>
                                            <br>
                                            <h1><%= message %></h1>
                                            <p>
                                                    <%= meta_message %>. You can view the status of this incident and provide notes on the
                                                    <a href="https://dashboard.fyipe.com" >Dashboard</a>
                                                    and provide notes.
                                            </p>
                                            <br> <p style="color:#444444;"> Thank you for using Fyipe.</p>
                                        </td>
                                        <td width="36"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="36"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0" align="center" border="0">
                <tbody>
                    <tr>
                        <td height="10"></td>
                    </tr>
                    <tr>
                        <td style="padding:0;border-collapse:collapse">
                            <table cellpadding="0" cellspacing="0" align="center" border="0">
                                <tbody>
                                    <tr style="color:#a8b9c6;font-size:11px;font-family:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif'">
                                        <td width="400" align="left"></td>
                                        <td width="128" align="right">© 2018 <span class="il">Fyipe</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

</body>


</html>