<!-- body -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<!-- content -->
			<div class="content">
				<table>
					<tr>
						<td>
							<h3>Here's your Fyipe Whitepaper</h3>

							<p> Thank you for your interest in our Whitepapers and Resources. </p>
							<a href=`{{link}}`>Here's where you can download the whitepaper.</a>
							<p>If you need any help, Send us an email at support@fyipe.com and we'll be there to help.</p>

							<p>Thanks, have a great day.</p>


							<br/>
							<p>Nawaz Dhandala</p>
							<p>Account Executive</p>
							<p>Fyipe</p>

						</td>
					</tr>
				</table>
			</div>
			<!-- /content -->

		</td>
		<td></td>
	</tr>
</table>