// basic colors
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #575757;
$color-light-grey: rgb(144, 139, 139);
$color-lighter-grey: #ebebeb;
$color-very-light-grey: #F3F3F3;

// shadows
$color-box-shadow: rgba(0, 0, 0, 0.2);
$box-shadow: 1px 3px 10px $color-box-shadow;