@import '../../BrandColors';

.underline-on-hover {
    cursor: pointer;

    &:hover {
        text-decoration: underline !important;
    }
}

.underline{
    text-decoration: underline !important;
}

.color-light-grey{
    color: $color-light-grey;
}

.color-grey{
    color: $color-grey;
}

.vertical-line {
    border-left: 6px solid green;
    height: 500px;
  }

.bold{
    font-weight: bold;
}

.small-circle{
    height: 20px;
    width: 20px;
    border-radius: 20px;
}

.uptime-bar{
    height: 55px; 
    width: 30px; 
    background-color: $color-green;
    margin: 2px;
    border-radius: 2px;
}

.user-circle {
    background: white;
    color: #595959;
    height: 35px;
    width: 35px;
    margin: 5px;
    padding: 4px;
    padding-left: 7px;
    border-width: 2px;
    border-color: #595959;
    border-style: solid;
    border-radius: 20px;
}

.primary-on-hover {
    cursor: pointer;

    &:hover {
        color: $primary;
    }
}

.primary-on-hover {
    cursor: pointer;

    &:hover {
        color: $primary;
    }
}

.background-light-grey-on-hover {
    cursor: pointer;

    &:hover {
        background-color: $color-light-grey;
        color: $color-white;
    }
}

.background-very-light-grey-on-hover {
    cursor: pointer;

    &:hover {
        background-color: $color-very-light-grey;
        color: $color-light-grey;
    }
}

.white-background-on-readonly{
    &:read-only {
        background-color: $color-white;
    }
}

.margin-10{
   margin: 10px
}

.margin-5{
    margin: 5px
 }

 .margin-side-5{
    margin-left: 5px;
    margin-right: 5px

 }


 .margin-50{
    margin: 50px
 }


.margin-15{
    margin: 15px
 }
 
.full-page-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: white;
}

.light-grey-on-hover {
    cursor: pointer;

    &:hover {
        color: $color-light-grey;
    }
}

.background-primary-on-hover {
    cursor: pointer;

    &:hover {
        background-color: $primary;
        color: $light;
    }
}

.danger-on-hover {
    cursor: pointer;

    &:hover {
        color: $danger !important;
    }
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.justify-center {
    display: flex;
    justify-content: center;
}

.pointer {
    cursor: pointer !important;
}

.no-border-on-hover {
    border: none !important;
    &:hover {
        border: none !important;
    }
}

.flex {
    display: flex !important;
}

.align-right{
    text-align: right;
}

.padding-0{
    padding: 0px !important;
}

.pr-10 {
    padding-right: 10px;
}

.pr-30 {
    padding-right: 30px;
}

.pl-10 {
    padding-left: 10px;
}

.margin-30{
    margin: 30px;
}

.width-max {
    width: 100% !important;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.p-10 {
    padding: 10px;
}

.items-center {
    align-items: center;
}

.font-bold {
    font-weight: $font-weight-bold;
}

.shadow-md {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


.vertical-center{
    margin-top: 20%;
}

.padding-15{
    padding: 15px;
}




// Lists 
.list-item{
    border-style: solid;
    border-width: 2px;
    border-color: $color-very-light-grey;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.modal-dialog{
    opacity: 1;
}

.text-align-left{
    text-align: left;
}


//// Ordered List

.ordered-list-item{
    border-style: solid;
    margin: auto;
    text-align: center;
    width: 400px;
    padding: 20px;
    border-width: 1px;
    border-radius: 10px;
    border-color: $color-light-grey;
}

.ordered-list-item-add-button{
    border-style: dashed;
    border-radius: 500px;
    width: 300px;
}



// File Picker. 

.file-picker-thumbs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
}

.file-picker-thumb {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box
};

.file-picker-thumb-inner {
    display: flex;
    min-width: 0px;
    overflow: hidden;
    margin-left: -25px;
};

.file-picker-img {
    display: block;
    width: auto;
    height: 100%
};

.file-picker-placeholder{
    text-align: center;
    margin: 20px;
}

.file-picker-dropzone{
    min-height: unset;
    border: 2px dashed #ced4da;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
}
.file-picker-delete-logo{
    cursor: pointer;
    text-align: right;
    position: relative;
    top: -15px;
    left: 80px;
    background-color: $color-red;
    color: $color-white; 
    border-radius: 150px;
    padding: 5px;
    height: 25px;
    width: 25px;
}

// no visible scrollbar
.no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.no-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

// drag and drop pointers

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

// table 

.table-row {
    background-color: $color-white;
}

