@import "../../BrandColors";

.underline-on-hover {
    cursor: pointer;

    &:hover {
        text-decoration: underline !important;
    }
}

.underline{
    text-decoration: underline !important;
}

.color-light-grey{
    color: $color-light-grey;
}

.color-grey{
    color: $color-grey;
}

.vertical-line {
    border-left: 6px solid green;
    height: 500px;
  }

.bold{
    font-weight: bold;
}

.small-circle{
    height: 20px;
    width: 20px;
    border-radius: 20px;
}

.primary-on-hover {
    cursor: pointer;

    &:hover {
        color: $primary;
    }
}

.primary-on-hover {
    cursor: pointer;

    &:hover {
        color: $primary;
    }
}

.background-light-grey-on-hover {
    cursor: pointer;

    &:hover {
        background-color: $color-light-grey;
        color: $color-white;
    }
}

.background-very-light-grey-on-hover {
    cursor: pointer;

    &:hover {
        background-color: $color-very-light-grey;
        color: $color-light-grey;
    }
}

.white-background-on-readonly{
    &:read-only {
        background-color: $color-white;
    }
}

.margin-10{
   margin: 10px
}

.margin-5{
    margin: 5px
 }


 .margin-50{
    margin: 50px
 }


.margin-15{
    margin: 15px
 }
 
.full-page-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: white;
}

.light-grey-on-hover {
    cursor: pointer;

    &:hover {
        color: $color-light-grey;
    }
}

.background-primary-on-hover {
    cursor: pointer;

    &:hover {
        background-color: $primary;
        color: $light;
    }
}

.danger-on-hover {
    cursor: pointer;

    &:hover {
        color: $danger !important;
    }
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.pointer {
    cursor: pointer !important;
}

.no-border-on-hover {
    border: none !important;
    &:hover {
        border: none !important;
    }
}

.flex {
    display: flex !important;
}

.align-right{
    text-align: right;
}

.padding-0{
    padding: 0px !important;
}

.pr-10 {
    padding-right: 10px;
}

.pr-30 {
    padding-right: 30px;
}

.pl-10 {
    padding-left: 10px;
}

.width-max {
    width: 100% !important;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.p-10 {
    padding: 10px;
}

.items-center {
    align-items: center;
}

.font-bold {
    font-weight: $font-weight-bold;
}

.shadow-md {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


.vertical-center{
    margin-top: 20%;
}