@import "../../BrandColors";

.underline-on-hover {
    cursor: pointer;

    &:hover {
        text-decoration: underline !important;
    }
}

.underline{
    text-decoration: underline !important;
}

.color-light-grey{
    color: $color-light-grey;
}

.primary-on-hover {
    cursor: pointer;

    &:hover {
        color: $primary;
    }
}

.primary-on-hover {
    cursor: pointer;

    &:hover {
        color: $primary;
    }
}

.background-light-grey-on-hover {
    cursor: pointer;

    &:hover {
        background-color: $color-light-grey;
        color: $color-white;
    }
}

.background-very-light-grey-on-hover {
    cursor: pointer;

    &:hover {
        background-color: $color-very-light-grey;
        color: $color-light-grey;
    }
}



.light-grey-on-hover {
    cursor: pointer;

    &:hover {
        color: $color-light-grey;
    }
}

.background-primary-on-hover {
    cursor: pointer;

    &:hover {
        background-color: $primary;
        color: $light;
    }
}

.danger-on-hover {
    cursor: pointer;

    &:hover {
        color: $danger !important;
    }
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.pointer {
    cursor: pointer !important;
}

.no-border-on-hover {
    border: none !important;
    &:hover {
        border: none !important;
    }
}

.flex {
    display: flex !important;
}

.pr-10 {
    padding-right: 10px;
}

.pr-30 {
    padding-right: 30px;
}

.pl-10 {
    padding-left: 10px;
}

.width-max {
    width: 100% !important;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.p-10 {
    padding: 10px;
}

.items-center {
    align-items: center;
}

.font-bold {
    font-weight: $font-weight-bold;
}

.shadow-md {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


.vertical-center{
    margin-top: 20%;
}