$primaryColor: rgb(246, 248, 250);

.root {
    width: 100vw;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 20;

    header {
        height: 45px;
        background-color: $primaryColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        & > * {
            flex: 0 0 15%;
        }

        svg {
            color: rgb(94, 92, 92);
            font-size: 1.6rem;
            cursor: pointer;
        }

        & > div:last-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
