<article id="alert" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Alert</h1>
    </b>
    <p>
      <p>Alerts API gets all the alerts sent your team members. If you want to see alerts that are sent to your
        customers who have subscribed to incidents. Please check subscriber alerts instead. </p>
    </p>
    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/alert/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>




    <div class="attribute-parameter-container">

    </div>

  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
  </section>
</article>

<article id="create-alert" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3><span class="requestType"></span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3></h3>

      <ul class="doc-item-detail-container">
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url"></p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-project-alerts" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get all alerts<span class="requestType">GET</span></h3>
    <p>
      <p> Get the log of all alerts sent to your team. </p>
    </p>
    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/alert/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query String</h3>
      <ul class="doc-item-detail-container">

        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type  ">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for your Fyipe Project</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type  ">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Number of items you need from the API.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type  ">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Number of items you want to skip. This is used for pagination.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </section>
  <section class="col-lg-half col-md-half dev-doc-example">

    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>
        <div class="example-code">
          <p class="url"> https://api.fyipe.com/alert/:projectId?api-key=XXX&limit=10&skip=0</p>
        </div>

      </div>
      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                    <code class="language-json">
                      <p>{
"data":
[
{
  "_id": "5bf55a2ed2f835000fb63fae",
  "createdAt": "2018-11-21T13:14:22.111Z",
  "project": {
    "_id": "5bd722c156f172000f33a2cc",
    "name": "Sample Project"
  },
  "subProjectId": {
    "_id": "5bd722c156f172000f33a2cc",
    "name": "Sub Project Name"
  },
  "monitor": {
    "_id": "5bf55957e2e78a000ff4c001",
    "name": "Sample Monitor"
  },
  "alertVia": "sms",
  "userId": {
    "_id": "5b0c1298367534000fdbc46e",
    "name": "Team Member Name"
  },
  "incidentId": "5bf55a2dd2f835000fb63fab",
  
},
{
  "_id": "5bf55a2ed2f835000fb63fad",
  "createdAt": "2018-11-21T13:14:22.089Z",
  "project": {
    "_id": "5bd722c156f172000f33a2cc",
    "name": "Sample Project"
  },
  "subProjectId": {
    "_id": "5bd722c156f172000f33a2cc",
    "name": "Sub Project Name"
  },
  "monitor": {
    "_id": "5bf55957e2e78a000ff4c001",
    "name": "Sample Monitor"
  },
  "alertVia": "call",
  "userId": {
    "_id": "5b0c1298367534000fdbc46e",
    "name": "Team Member Name"
  },
  "incidentId": "5bf55a2dd2f835000fb63fab",
  
}
],
"count":2,
"skip":"0",
"limit":"10"
}</p>

                    </code>
                </pre>
        </div>
      </div>
    </div>





  </section>
</article>

<article id="get-all-subprojects-alerts" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3><span class="requestType"></span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3></h3>

      <ul class="doc-item-detail-container">
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url"></p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-project-alerts-by-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get all alerts by Incident<span class="requestType">GET</span></h3>
    <p>
      <p> Get the log of all alerts sent to your team by Incident. </p>
    </p>
    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/alert/:projectId/:incidentId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query String</h3>
      <ul class="doc-item-detail-container">

        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type  ">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for your Fyipe Project</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type  ">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Number of items you need from the API.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type  ">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Number of items you want to skip. This is used for pagination.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </section>
  <section class="col-lg-half col-md-half dev-doc-example">

    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>
        <div class="example-code">
          <p class="url"> https://api.fyipe.com/alert/:projectId?api-key=XXX&limit=10&skip=0</p>
        </div>

      </div>
      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                      <code class="language-json">
                        <p>{
"data":
[
{
  "_id": "5bf55a2ed2f835000fb63fae",
  "createdAt": "2018-11-21T13:14:22.111Z",
  "project": {
    "_id": "5bd722c156f172000f33a2cc",
    "name": "Sample Project"
  },
  "subProjectId": {
    "_id": "5bd722c156f172000f33a2cc",
    "name": "Sub Project Name"
  },
  "monitor": {
    "_id": "5bf55957e2e78a000ff4c001",
    "name": "Sample Monitor"
  },
  "alertVia": "sms",
  "userId": {
    "_id": "5b0c1298367534000fdbc46e",
    "name": "Team Member Name"
  },
  "incidentId": "5bf55a2dd2f835000fb63fab",
  
},
{
  "_id": "5bf55a2ed2f835000fb63fad",
  "createdAt": "2018-11-21T13:14:22.089Z",
  "project": {
    "_id": "5bd722c156f172000f33a2cc",
    "name": "Sample Project"
  },
  "subProjectId": {
    "_id": "5bd722c156f172000f33a2cc",
    "name": "Sub Project Name"
  },
  "monitor": {
    "_id": "5bf55957e2e78a000ff4c001",
    "name": "Sample Monitor"
  },
  "alertVia": "call",
  "userId": {
    "_id": "5b0c1298367534000fdbc46e",
    "name": "Team Member Name"
  },
  "incidentId": "5bf55a2dd2f835000fb63fab",
  
}
],
"count":2,
"skip":"0",
"limit":"10"
}</p>
  
                      </code>
                  </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-alert-charges" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3><span class="requestType"></span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3></h3>

      <ul class="doc-item-detail-container">
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url"></p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="delete-alert" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3><span class="requestType"></span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3></h3>

      <ul class="doc-item-detail-container">
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url"></p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>