<article id="applicationLog" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Application Log</h1>
    </b>
    <p>
    <p>Application Log API will allow you to create application logs and send logs from your third party application
      using the fyipe-logger library</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://fyipe.com/api/application-log/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>

  </section>
  <section class="col-lg-half col-md-half dev-doc-example">
  </section>
</article>
<article id="create-application-log" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Application Log<span class="requestType">POST</span></h3>
    <p>
    <p>Create Application Log by Project ID and Component ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://fyipe.com/api/application-log/:projectId/:componentId/create</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>componentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The component id of the component.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://fyipe.com/api/application-log/5eea4077924a3c80a476c185/5eea4077924a3c80a476c188/create
          </p>

          <p>Request Body</p>
          <pre>
                <code class="language-json">
                  <p>    
  {
    "name":"Rodeo"
  }
                  </p>
                </code>
              </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                <code class="language-json">
                  <p>
                    {
                        "deleted": false,
                        "_id": "5eeb3bf08888bffbfcae2bc0",
                        "createdAt": "2020-06-18T10:03:28.468Z",
                        "name": "Rodeo",
                        "key": "7f5405df-6af5-440e-9dce-4d42303ffd52",
                        "componentId": {
                            "_id": "5eea4077924a3c80a476c188",
                            "name": "Our Component"
                        },
                        "createdById": "5eea4076924a3c80a476c183",
                        "__v": 0
                    }        
                  </p>
                </code>
              </pre>
        </div>
      </div>
    </div>
  </section>
</article>
<article id="create-application-log" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Edit Application Log<span class="requestType">PUT</span></h3>
    <p>
    <p>Edit Application Log by Project ID, Component ID and Application Log ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://fyipe.com/api/application-log/:projectId/:componentId/:applicationLogId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>componentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The component id of the component.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>applicationLogId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The application log id of the application log.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://fyipe.com/api/application-log/5eea4077924a3c80a476c185/5eea4077924a3c80a476c188/5eeb3bf08888bffbfcae2bc0
          </p>

          <p>Request Body</p>
          <pre>
                <code class="language-json">
                  <p>    
  {
    "name":"Astro"
  }
                  </p>
                </code>
              </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                <code class="language-json">
                  <p>
                    {
                      "deleted": false,
                      "_id": "5eeb3bf08888bffbfcae2bc0",
                      "createdAt": "2020-06-18T10:03:28.468Z",
                      "name": "Astro",
                      "key": "8d734ca6-7c21-4453-8488-45da0dfc7c71",
                      "componentId": {
                          "_id": "5eea4077924a3c80a476c188",
                          "name": "Our Component"
                      },
                      "createdById": "5eea4076924a3c80a476c183",
                      "__v": 0
                  }   
                  </p>
                </code>
              </pre>
        </div>
      </div>
    </div>
  </section>
</article>
<article id="get-application-log" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Application Logs<span class="requestType">GET</span></h3>
    <p>
    <p>Get All Application Logs by Project ID and Component ID. Return by skipping and limiting the number of results.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://fyipe.com/api/application-log/:projectId/:componentId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>componentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The component id of the component.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://fyipe.com/api/application-log/5eea4077924a3c80a476c185/5eea4077924a3c80a476c188?skip=0&limit=5
          </p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                <code class="language-json">
                  <p>
                   [
    {
        "_id": "5eeb3bf08888bffbfcae2bc0",
        "createdAt": "2020-06-18T10:03:28.468Z",
        "name": "Rodeo",
        "key": "7f5405df-6af5-440e-9dce-4d42303ffd52",
        "componentId": {
            "_id": "5eea4077924a3c80a476c188",
            "name": "Our Component"
        },
        "createdById": "5eea4076924a3c80a476c183"
    },
    {
        "_id": "5eea4077924a3c80a476c18b",
        "createdAt": "2020-06-17T16:10:31.612Z",
        "name": "Application Logger",
        "key": "3639097e-5e95-4a34-92d4-510eca8c81de",
        "componentId": {
            "_id": "5eea4077924a3c80a476c188",
            "name": "Our Component"
        },
        "createdById": "5eea4076924a3c80a476c183"
    }
]
                  </p>
                </code>
              </pre>
        </div>
      </div>
    </div>
  </section>
</article>
<article id="create-log-with-application-log" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Log <span class="requestType">POST</span></h3>
    <p>
    <p>Create Log by Application Log ID and Application Log Key.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://fyipe.com/api/application-log/:applicationLogId/log</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>applicationLogId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The application log id of the application log.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://fyipe.com/api/application-log/5eeb3bf08888bffbfcae2bc0/log
          </p>

          <p>Request Body</p>
          <pre>
                <code class="language-json">
                  <p>    
{
  "content":{
    "error_page": "inside Page",
    "time_taken": "45s",
    "ghost": {
      "who": "me here"
    }
  },
  "applicationLogKey": "7f5405df-6af5-440e-9dce-4d42303ffd52",
  "type": "warning"
}
                  </p>
                </code>
              </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                <code class="language-json">
                  <p>
                    {
                      "deleted": false,
                      "_id": "5eeb43e38888bffbfcae2bc5",
                      "createdAt": "2020-06-18T10:37:23.014Z",
                      "content": {
                          "error_page": "inside Page",
                          "time_taken": "45s",
                          "ghost": {
                              "who": "me here"
                          }
                      },
                      "stringifiedContent": "{\"error_page\":\"inside Page\",\"time_taken\":\"45s\",\"ghost\":{\"who\":\"me here\"}}",
                      "applicationLogId": {
                          "_id": "5eeb3bf08888bffbfcae2bc0",
                          "name": "Rodeo"
                      },
                      "type": "warning",
                      "createdById": null,
                      "__v": 0
                  }
                  </p>
                </code>
              </pre>
        </div>
      </div>
    </div>
  </section>
</article>
<article id="get-logs-under-application-log" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Logs  <span class="requestType">POST</span></h3>
    <p>
    <p>Get All Logs by Project ID, Component ID and Application Log ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://fyipe.com/api/application-log/:projectId/:componentId/:applicationLogId/logs</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>componentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The component id of the component.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>applicationLogId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The application log id of the application log.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://fyipe.com/api/application-log/5eea4077924a3c80a476c185/5eea4077924a3c80a476c188/5eeb3bf08888bffbfcae2bc0/logs
          </p>

          <p>Request Body</p>
          <pre>
                <code class="language-json">
                  <p>    
{
  "endDate": "2020-06-18T20:31:59.420Z",
  "limit": 0,
  "skip": 0,
  "startDate": "2020-06-09T15:31:59.420Z",
  "type": "",
  "filter":""
}
                  </p>
                </code>
              </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                <code class="language-json">
                  <p>
                    {
                      "data": [
                          {
                              "_id": "5eeb43e38888bffbfcae2bc5",
                              "createdAt": "2020-06-18T10:37:23.014Z",
                              "content": {
                                  "error_page": "inside Page",
                                  "time_taken": "45s",
                                  "ghost": {
                                      "who": "me here"
                                  }
                              },
                              "stringifiedContent": "{\"error_page\":\"inside Page\",\"time_taken\":\"45s\",\"ghost\":{\"who\":\"me here\"}}",
                              "applicationLogId": {
                                  "_id": "5eeb3bf08888bffbfcae2bc0",
                                  "name": "Rodeo"
                              },
                              "type": "warning",
                              "createdById": null
                          }
                      ],
                      "count": 1
                  }
                  </p>
                </code>
              </pre>
        </div>
      </div>
    </div>
  </section>
</article>
<article id="reset-application-log-key" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Reset Application Log Key  <span class="requestType">POST</span></h3>
    <p>
    <p>Reset Application Log Key by Project ID, Component ID and Application Log ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://fyipe.com/api/application-log/:projectId/:componentId/:applicationLogId/reset-key</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>componentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The component id of the component.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>applicationLogId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The application log id of the application log.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://fyipe.com/api/application-log/5eea4077924a3c80a476c185/5eea4077924a3c80a476c188/5eeb3bf08888bffbfcae2bc0/reset-key
          </p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                <code class="language-json">
                  <p>
                    {
                      "deleted": false,
                      "_id": "5eeb3bf08888bffbfcae2bc0",
                      "createdAt": "2020-06-18T10:03:28.468Z",
                      "name": "Rodeo",
                      "key": "8d734ca6-7c21-4453-8488-45da0dfc7c71",
                      "componentId": {
                          "_id": "5eea4077924a3c80a476c188",
                          "name": "Our Component"
                      },
                      "createdById": "5eea4076924a3c80a476c183",
                      "__v": 0
                  }
                  </p>
                </code>
              </pre>
        </div>
      </div>
    </div>
  </section>
</article>
<article id="delete-application-log" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Delete Application Log Key  <span class="requestType">DELETE</span></h3>
    <p>
    <p>Delete Application Log Key by Project ID, Component ID and Application Log ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://fyipe.com/api/application-log/:projectId/:componentId/:applicationLogId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>componentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The component id of the component.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>applicationLogId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The application log id of the application log.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://fyipe.com/api/application-log/5eea4077924a3c80a476c185/5eea4077924a3c80a476c188/5eeb3bf08888bffbfcae2bc0
          </p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                <code class="language-json">
                  <p>
                    {
                      "deleted": true,
                      "_id": "5eeb3bf08888bffbfcae2bc0",
                      "createdAt": "2020-06-18T10:03:28.468Z",
                      "name": "Rodeo",
                      "key": "8d734ca6-7c21-4453-8488-45da0dfc7c71",
                      "componentId": {
                          "_id": "5eea4077924a3c80a476c188",
                          "name": "Our Component"
                      },
                      "createdById": "5eea4076924a3c80a476c183",
                      "__v": 0
                  }
                  </p>
                </code>
              </pre>
        </div>
      </div>
    </div>
  </section>
</article>