<article id="email-smtp" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Email SMTP</h1>
    </b>
    <p>
      <p>Email SMTP API will allow you to configure and send emails via your SMTP server instead of the default
        SMTP server of Fyipe.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/emailSmtp/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example"></section>
</article>

<article id="setup-email-smtp" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Setup Email SMTP<span class="requestType">POST</span></h3>
    <p>
      <p>Setup Email SMTP.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/emailSmtp/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/emailSmtp/5e089f94b400211639928c94</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "smtpswitch": true,
  "user": "nawazdhandala@hackerbay.io",
  "pass": "nawazdhandala",
  "host": "mail.hackerbay.io",
  "from": "noreply@fyipe.com",
  "port": "587",
  "secure": true
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "_id": "5e1a154c1a4dae1373eeeca2",
  "user": "nawazdhandala@hackerbay.io",
  "pass": "nawazdhandala",
  "host": "mail.hackerbay.io",
  "from": "noreply@fyipe.com",
  "port": "587",
  "secure": true,
  "enabled": true,
  "projectId": {
    "_id": "5e089f94b400211639928c94",
    "name": "Bello"
  },
  "createdAt": "2020-01-01 15:54:48.005Z",
  "deleted": false
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-email-smtp-setup" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Email SMTP Setup<span class="requestType">GET</span></h3>
    <p>
      <p>Get Email SMTP Setup.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/emailSmtp/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/emailSmtp/5e089f94b400211639928c94</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "_id": "5e1a154c1a4dae1373eeeca2",
  "user": "nawazdhandala@hackerbay.io",
  "pass": "nawazdhandala",
  "host": "mail.hackerbay.io",
  "from": "noreply@fyipe.com",
  "port": "587",
  "secure": true,
  "enabled": true,
  "projectId": {
    "_id": "5e089f94b400211639928c94",
    "name": "Bello"
  },
  "createdAt": "2020-01-01 15:54:48.005Z",
  "deleted": false
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="edit-email-smtp-setup" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Edit Email SMTP Setup<span class="requestType">PUT</span></h3>
    <p>
      <p>Edit Email SMTP Setup.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/emailSmtp/:projectId/:emailSmtpId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>emailSmtpId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The email SMTP id of the email SMTP config.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/emailSmtp/5e089f94b400211639928c94/5e1a154c1a4dae1373eeeca2</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "smtpswitch": true,
  "user": "nawazdhandala@hackerbay.io",
  "pass": "nawazdhandala",
  "host": "mail.hackerbay.io",
  "from": "noreply@fyipe.com",
  "port": "587",
  "secure": true
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "_id": "5e1a154c1a4dae1373eeeca2",
  "user": "nawazdhandala@hackerbay.io",
  "pass": "nawazdhandala",
  "host": "mail.hackerbay.io",
  "from": "noreply@fyipe.com",
  "port": "587",
  "secure": true,
  "enabled": true,
  "projectId": {
    "_id": "5e089f94b400211639928c94",
    "name": "Bello"
  },
  "createdAt": "2020-01-01 15:54:48.005Z",
  "deleted": false
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="delete-email-smtp-setup" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Delete Email SMTP Setup<span class="requestType">DELETE</span></h3>
    <p>
      <p>Delete Email SMTP Setup.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/emailSmtp/:projectId/:emailSmtpId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>emailSmtpId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The email SMTP id of the email SMTP config.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/emailSmtp/5e089f94b400211639928c94/5e1a154c1a4dae1373eeeca2</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "_id": "5e1a154c1a4dae1373eeeca2",
  "user": "nawazdhandala@hackerbay.io",
  "pass": "nawazdhandala",
  "host": "mail.hackerbay.io",
  "from": "noreply@fyipe.com",
  "port": "587",
  "secure": true,
  "enabled": true,
  "projectId": "5e089f94b400211639928c94",
  "createdAt": "2020-01-01 15:54:48.005Z",
  "deleted": true,
  "deletedAt": "2020-01-11T17:36:49.978Z",
  "deletedById": "5e089f88b400211639928c92"
}
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>