<article id="file" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>File</h1>
    </b>
    <p>
      <p>File API.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/file/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example"></section>
</article>

<article id="get-file" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get File<span class="requestType">GET</span></h3>
    <p>
      <p>Get File.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/file/:filename</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>filename</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/file/c0df90baf454d1e4f1b547791a661b48</p>
        </div>
      </div>
    </div>
  </section>
</article>