<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta
  name="viewport"
  content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
/>

<meta
  name="description"
  content="REST API Documentation for Fyipe. Integrate Fyipe with any service or platform."
/>
<title>Fyipe API Documentation</title>

<link
  rel="apple-touch-icon-precomposed"
  sizes="57x57"
  href="/docs/assets/images/apple-touch-icon-57x57.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="114x114"
  href="/docs/assets/images/apple-touch-icon-114x114.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="72x72"
  href="/docs/assets/images/apple-touch-icon-72x72.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="144x144"
  href="/docs/assets/images/apple-touch-icon-144x144.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="60x60"
  href="/docs/assets/images/apple-touch-icon-60x60.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="120x120"
  href="/docs/assets/images/apple-touch-icon-120x120.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="76x76"
  href="/docs/assets/images/apple-touch-icon-76x76.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="152x152"
  href="/docs/assets/images/apple-touch-icon-152x152.png"
/>
<link
  rel="icon"
  type="image/png"
  href="/docs/assets/images/favicon-196x196.png"
  sizes="196x196"
/>
<link
  rel="icon"
  type="image/png"
  href="/docs/assets/images/favicon-96x96.png"
  sizes="96x96"
/>
<link
  rel="icon"
  type="image/png"
  href="/docs/assets/images/favicon-32x32.png"
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/png"
  href="/docs/assets/images/favicon-16x16.png"
  sizes="16x16"
/>
<link
  rel="icon"
  type="image/png"
  href="/docs/assets/images/favicon-128.png"
  sizes="128x128"
/>

<!-- Custom styles for this template -->
<link rel="dns-prefetch" href="//fonts.googleapis.com/" />
<link rel="dns-prefetch" href="//ajax.googleapis.com" />
<link rel="dns-prefetch" href="//code.jquery.com/" />
<link rel="dns-prefetch" href="//cdn.slaask.com/" />
<link rel="dns-prefetch" href="//munchkin.marketo.net/" />
<link href="/docs/assets/css/theme.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery.js"></script>

<script src="/docs/assets/js/qframe.js"></script>
<script src="/docs/assets/js/jquery.js"></script>
<script src="/docs/assets/js/jquery.cookie.js"></script>
<script src="/docs/assets/js/waypoints.js"></script>
<script src="/docs/assets/js/shared.js"></script>
<script src="/docs/assets/js/api.js"></script>
<style>
  .requestType {
    color: #929292;
    font-size: 12px;
    border-color: #929292;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
  }
</style>

<script type="text/javascript">
  WebFontConfig = {
    google: {
      families: [
        "Source+Code+Pro:400,600,700:latin",
        "Work+Sans:500,300:latin",
        "Open+Sans:400,600:latin"
      ]
    }
  };
  (function() {
    var wf = document.createElement("script");
    wf.src = "https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js";
    wf.type = "text/javascript";
    wf.async = "true";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>

<link href="/docs/assets/css/monokai_sublime.css" rel="stylesheet" />
