<article id="incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Incident</h1>
    </b>
    <p>
      <p>Inident API will allow you to create a monitor incident and alert your on-call team members. You can also
        acknowledge and resolve created monitor incidents in your Fyipe project.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/incident/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
  </section>
</article>

<article id="create-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Incident<span class="requestType">POST</span></h3>
    <p>
      <p>Create Incident.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/incident/:projectId/:monitorId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The monitor id of the project monitor.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The monitor id of the project monitor.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for the project or sub project</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/incident/5e089f94b400211639928c94/5e08a21b25c59a1c8033c7e7</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "monitorId": "5e1633101b8ae81859214adf",
  "projectId": "5e089f94b400211639928c94",
  "incidentType": "offline"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "acknowledged": false,
  "acknowledgedByZapier": false,
  "resolved": false,
  "resolvedByZapier": false,
  "internalNote": "",
  "investigationNote": "",
  "createdByZapier": false,
  "notClosedBy": [
    "5e1b7f0f41127144f8144abb",
    "5e162d9f1b8ae8185921498f",
    "5e089f88b400211639928c92"
  ],
  "manuallyCreated": true,
  "deleted": false,
  "_id": "5e1ce11ee6a04216343592bb",
  "probes": [],
  "createdAt": "2020-01-13T21:29:02.315Z",
  "projectId": "5e089f94b400211639928c94",
  "monitorId": {
    "_id": "5e08a21b25c59a1c8033c7e7",
    "name": "Google Home"
  },
  "createdById": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  },
  "incidentType": "offline",
  "__v": 0
}                  
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-incidents" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Incidents<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Incidents.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/incident/:projectId/incident</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/incident/5e089f94b400211639928c94/incident?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "acknowledged": false,
      "acknowledgedByZapier": false,
      "resolved": false,
      "resolvedByZapier": false,
      "internalNote": "",
      "investigationNote": "",
      "createdByZapier": false,
      "notClosedBy": [
        "5e1b7f0f41127144f8144abb",
        "5e162d9f1b8ae8185921498f",
        "5e089f88b400211639928c92"
      ],
      "manuallyCreated": true,
      "_id": "5e1c5713bc3b9e1ec8cbde31",
      "probes": [],
      "createdAt": "2020-01-13T11:40:03.720Z",
      "projectId": "5e089f94b400211639928c94",
      "monitorId": {
        "_id": "5e139b39a55da96da8d14968",
        "name": "Mello"
      },
      "createdById": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      },
      "incidentType": "offline"
    },
    {
      "acknowledged": true,
      "acknowledgedByZapier": null,
      "resolved": true,
      "resolvedByZapier": null,
      "internalNote": "",
      "investigationNote": "",
      "createdByZapier": false,
      "notClosedBy": [
        "5e162d9f1b8ae8185921498f"
      ],
      "manuallyCreated": true,
      "_id": "5e1776861f31a13e98acdd1a",
      "probes": [],
      "createdAt": "2020-01-09T18:52:54.432Z",
      "projectId": "5e089f94b400211639928c94",
      "monitorId": {
        "_id": "5e08a21b25c59a1c8033c7e7",
        "name": "Google Home"
      },
      "createdById": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      },
      "incidentType": "offline",
      "acknowledgedAt": "2020-01-09T18:53:04.687Z",
      "acknowledgedBy": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      },
      "resolvedAt": "2020-01-09T18:53:04.687Z",
      "resolvedBy": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      }
    },
    {
      "acknowledged": true,
      "acknowledgedByZapier": null,
      "resolved": true,
      "resolvedByZapier": null,
      "internalNote": "",
      "investigationNote": "",
      "createdByZapier": false,
      "notClosedBy": [
        "5e162d9f1b8ae8185921498f"
      ],
      "manuallyCreated": true,
      "_id": "5e1775f61f31a13e98acdc56",
      "probes": [],
      "createdAt": "2020-01-09T18:50:30.836Z",
      "projectId": "5e089f94b400211639928c94",
      "monitorId": {
        "_id": "5e0a4b1678caf04fd1fedcbe",
        "name": "Ubuntu Machine"
      },
      "createdById": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      },
      "incidentType": "offline",
      "acknowledgedAt": "2020-01-09T18:51:29.600Z",
      "acknowledgedBy": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      },
      "resolvedAt": "2020-01-09T18:51:29.600Z",
      "resolvedBy": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      }
    },
    {
      "acknowledged": true,
      "acknowledgedByZapier": null,
      "resolved": true,
      "resolvedByZapier": null,
      "internalNote": "",
      "investigationNote": "",
      "createdByZapier": false,
      "notClosedBy": [
        "5e162d9f1b8ae8185921498f"
      ],
      "manuallyCreated": true,
      "_id": "5e1725db1f31a13e98acd8d9",
      "probes": [],
      "createdAt": "2020-01-09T13:08:43.790Z",
      "projectId": "5e089f94b400211639928c94",
      "monitorId": {
        "_id": "5e1633101b8ae81859214adf",
        "name": "Cello"
      },
      "createdById": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      },
      "incidentType": "offline",
      "acknowledgedAt": "2020-01-09T13:10:42.766Z",
      "acknowledgedBy": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      },
      "resolvedAt": "2020-01-09T13:10:42.766Z",
      "resolvedBy": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      }
    },
    {
      "acknowledged": true,
      "acknowledgedByZapier": null,
      "resolved": true,
      "resolvedByZapier": null,
      "internalNote": "",
      "investigationNote": "",
      "createdByZapier": false,
      "notClosedBy": [
        "5e162d9f1b8ae8185921498f"
      ],
      "manuallyCreated": true,
      "_id": "5e1724591f31a13e98acd8d5",
      "probes": [],
      "createdAt": "2020-01-09T13:02:17.254Z",
      "projectId": "5e089f94b400211639928c94",
      "monitorId": {
        "_id": "5e1633101b8ae81859214adf",
        "name": "Cello"
      },
      "createdById": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      },
      "incidentType": "offline",
      "acknowledgedAt": "2020-01-09T13:07:50.158Z",
      "acknowledgedBy": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      },
      "resolvedAt": "2020-01-09T13:07:50.158Z",
      "resolvedBy": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      }
    }
  ],
  "count": 15,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-subprojects-incidents" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All SubProjects Incidents<span class="requestType">GET</span></h3>
    <p>
      <p>Get All SubProjects Incidents.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/incident/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/incident/5e089f94b400211639928c94</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
[
  {
    "incidents": [
      {
        "acknowledged": false,
        "acknowledgedByZapier": false,
        "resolved": false,
        "resolvedByZapier": false,
        "internalNote": "",
        "investigationNote": "",
        "createdByZapier": false,
        "notClosedBy": [
          "5e1b7f0f41127144f8144abb",
          "5e162d9f1b8ae8185921498f",
          "5e089f88b400211639928c92"
        ],
        "manuallyCreated": true,
        "_id": "5e1c5713bc3b9e1ec8cbde31",
        "probes": [],
        "createdAt": "2020-01-13T11:40:03.720Z",
        "projectId": "5e089f94b400211639928c94",
        "monitorId": {
          "_id": "5e139b39a55da96da8d14968",
          "name": "Mello"
        },
        "createdById": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "incidentType": "offline"
      },
      {
        "acknowledged": true,
        "acknowledgedByZapier": null,
        "resolved": true,
        "resolvedByZapier": null,
        "internalNote": "",
        "investigationNote": "",
        "createdByZapier": false,
        "notClosedBy": [
          "5e162d9f1b8ae8185921498f"
        ],
        "manuallyCreated": true,
        "_id": "5e1776861f31a13e98acdd1a",
        "probes": [],
        "createdAt": "2020-01-09T18:52:54.432Z",
        "projectId": "5e089f94b400211639928c94",
        "monitorId": {
          "_id": "5e08a21b25c59a1c8033c7e7",
          "name": "Google Home"
        },
        "createdById": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "incidentType": "offline",
        "acknowledgedAt": "2020-01-09T18:53:04.687Z",
        "acknowledgedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "resolvedAt": "2020-01-09T18:53:04.687Z",
        "resolvedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        }
      },
      {
        "acknowledged": true,
        "acknowledgedByZapier": null,
        "resolved": true,
        "resolvedByZapier": null,
        "internalNote": "",
        "investigationNote": "",
        "createdByZapier": false,
        "notClosedBy": [
          "5e162d9f1b8ae8185921498f"
        ],
        "manuallyCreated": true,
        "_id": "5e1775f61f31a13e98acdc56",
        "probes": [],
        "createdAt": "2020-01-09T18:50:30.836Z",
        "projectId": "5e089f94b400211639928c94",
        "monitorId": {
          "_id": "5e0a4b1678caf04fd1fedcbe",
          "name": "Ubuntu Machine"
        },
        "createdById": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "incidentType": "offline",
        "acknowledgedAt": "2020-01-09T18:51:29.600Z",
        "acknowledgedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "resolvedAt": "2020-01-09T18:51:29.600Z",
        "resolvedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        }
      },
      {
        "acknowledged": true,
        "acknowledgedByZapier": null,
        "resolved": true,
        "resolvedByZapier": null,
        "internalNote": "",
        "investigationNote": "",
        "createdByZapier": false,
        "notClosedBy": [
          "5e162d9f1b8ae8185921498f"
        ],
        "manuallyCreated": true,
        "_id": "5e1725db1f31a13e98acd8d9",
        "probes": [],
        "createdAt": "2020-01-09T13:08:43.790Z",
        "projectId": "5e089f94b400211639928c94",
        "monitorId": {
          "_id": "5e1633101b8ae81859214adf",
          "name": "Cello"
        },
        "createdById": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "incidentType": "offline",
        "acknowledgedAt": "2020-01-09T13:10:42.766Z",
        "acknowledgedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "resolvedAt": "2020-01-09T13:10:42.766Z",
        "resolvedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        }
      },
      {
        "acknowledged": true,
        "acknowledgedByZapier": null,
        "resolved": true,
        "resolvedByZapier": null,
        "internalNote": "",
        "investigationNote": "",
        "createdByZapier": false,
        "notClosedBy": [
          "5e162d9f1b8ae8185921498f"
        ],
        "manuallyCreated": true,
        "_id": "5e1724591f31a13e98acd8d5",
        "probes": [],
        "createdAt": "2020-01-09T13:02:17.254Z",
        "projectId": "5e089f94b400211639928c94",
        "monitorId": {
          "_id": "5e1633101b8ae81859214adf",
          "name": "Cello"
        },
        "createdById": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "incidentType": "offline",
        "acknowledgedAt": "2020-01-09T13:07:50.158Z",
        "acknowledgedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "resolvedAt": "2020-01-09T13:07:50.158Z",
        "resolvedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        }
      },
      {
        "acknowledged": true,
        "acknowledgedByZapier": null,
        "resolved": true,
        "resolvedByZapier": null,
        "internalNote": "",
        "investigationNote": "",
        "createdByZapier": false,
        "notClosedBy": [],
        "manuallyCreated": true,
        "_id": "5e139e7da55da96da8d14c89",
        "probes": [],
        "createdAt": "2020-01-06T20:54:21.094Z",
        "projectId": "5e089f94b400211639928c94",
        "monitorId": {
          "_id": "5e139b39a55da96da8d14968",
          "name": "Mello"
        },
        "createdById": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "incidentType": "offline",
        "acknowledgedAt": "2020-01-06T20:59:54.863Z",
        "acknowledgedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "resolvedAt": "2020-01-06T20:59:54.863Z",
        "resolvedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        }
      },
      {
        "acknowledged": true,
        "acknowledgedByZapier": null,
        "resolved": true,
        "resolvedByZapier": null,
        "internalNote": "",
        "investigationNote": "",
        "createdByZapier": false,
        "notClosedBy": [],
        "manuallyCreated": true,
        "_id": "5e139dfda55da96da8d14a39",
        "probes": [],
        "createdAt": "2020-01-06T20:52:13.716Z",
        "projectId": "5e089f94b400211639928c94",
        "monitorId": {
          "_id": "5e139b39a55da96da8d14968",
          "name": "Mello"
        },
        "createdById": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "incidentType": "offline",
        "acknowledgedAt": "2020-01-06T20:52:45.271Z",
        "acknowledgedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "resolvedAt": "2020-01-06T20:52:45.271Z",
        "resolvedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        }
      },
      {
        "acknowledged": true,
        "acknowledgedByZapier": null,
        "resolved": true,
        "resolvedByZapier": null,
        "internalNote": "",
        "investigationNote": "",
        "createdByZapier": false,
        "notClosedBy": [],
        "manuallyCreated": true,
        "_id": "5e139de1a55da96da8d14a35",
        "probes": [],
        "createdAt": "2020-01-06T20:51:45.020Z",
        "projectId": "5e089f94b400211639928c94",
        "monitorId": {
          "_id": "5e139b39a55da96da8d14968",
          "name": "Mello"
        },
        "createdById": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "incidentType": "degraded",
        "acknowledgedAt": "2020-01-06T20:52:05.487Z",
        "acknowledgedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "resolvedAt": "2020-01-06T20:52:05.487Z",
        "resolvedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        }
      },
      {
        "acknowledged": true,
        "acknowledgedByZapier": null,
        "resolved": true,
        "resolvedByZapier": null,
        "internalNote": "",
        "investigationNote": "",
        "createdByZapier": false,
        "notClosedBy": [],
        "manuallyCreated": true,
        "_id": "5e139ca5a55da96da8d1496d",
        "probes": [],
        "createdAt": "2020-01-06T20:46:29.468Z",
        "projectId": "5e089f94b400211639928c94",
        "monitorId": {
          "_id": "5e139b39a55da96da8d14968",
          "name": "Mello"
        },
        "createdById": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "incidentType": "offline",
        "acknowledgedAt": "2020-01-06T20:47:28.276Z",
        "acknowledgedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "resolvedAt": "2020-01-06T20:47:28.276Z",
        "resolvedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        }
      },
      {
        "acknowledged": true,
        "acknowledgedByZapier": null,
        "resolved": true,
        "resolvedByZapier": null,
        "internalNote": "",
        "investigationNote": "",
        "createdByZapier": false,
        "notClosedBy": [],
        "manuallyCreated": true,
        "_id": "5e0e813b93751013e43f7490",
        "probes": [],
        "createdAt": "2020-01-02T23:48:11.307Z",
        "projectId": "5e089f94b400211639928c94",
        "monitorId": {
          "_id": "5e0a4b1678caf04fd1fedcbe",
          "name": "Ubuntu Machine"
        },
        "createdById": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "incidentType": "degraded",
        "acknowledgedAt": "2020-01-03T00:28:52.559Z",
        "acknowledgedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        },
        "resolvedAt": "2020-01-03T00:28:52.559Z",
        "resolvedBy": {
          "_id": "5e089f88b400211639928c92",
          "name": "Nawaz Dhandala"
        }
      }
    ],
    "count": 15,
    "_id": "5e089f94b400211639928c94",
    "skip": 0,
    "limit": 10
  }
]
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-monitor-incidents" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Monitor Incidents<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Monitor Incidents.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/incident/:projectId/monitor/:monitorId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The monitor id of the project monitor.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">
            https://api.fyipe.com/incident/5e089f94b400211639928c94/monitor/5e08a21b25c59a1c8033c7e7?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "acknowledged": true,
      "acknowledgedByZapier": null,
      "resolved": true,
      "resolvedByZapier": null,
      "internalNote": "",
      "investigationNote": "",
      "createdByZapier": false,
      "notClosedBy": [
        "5e162d9f1b8ae8185921498f"
      ],
      "manuallyCreated": true,
      "_id": "5e1776861f31a13e98acdd1a",
      "probes": [],
      "createdAt": "2020-01-09T18:52:54.432Z",
      "projectId": "5e089f94b400211639928c94",
      "monitorId": {
        "_id": "5e08a21b25c59a1c8033c7e7",
        "name": "Google Home"
      },
      "createdById": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      },
      "incidentType": "offline",
      "acknowledgedAt": "2020-01-09T18:53:04.687Z",
      "acknowledgedBy": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      },
      "resolvedAt": "2020-01-09T18:53:04.687Z",
      "resolvedBy": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      }
    }
  ],
  "count": 1,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-unresolved-incidents" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Unresolved Incidents<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Unresolved Incidents.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/incident/:projectId/unresolvedincidents</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/incident/5e089f94b400211639928c94/unresolvedincidents</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
[
  {
    "acknowledged": false,
    "acknowledgedByZapier": false,
    "resolved": false,
    "resolvedByZapier": false,
    "internalNote": "",
    "investigationNote": "",
    "createdByZapier": false,
    "notClosedBy": [
      "5e1b7f0f41127144f8144abb",
      "5e162d9f1b8ae8185921498f",
      "5e089f88b400211639928c92"
    ],
    "manuallyCreated": true,
    "_id": "5e1c5713bc3b9e1ec8cbde31",
    "probes": [],
    "createdAt": "2020-01-13T11:40:03.720Z",
    "projectId": "5e089f94b400211639928c94",
    "monitorId": {
      "_id": "5e139b39a55da96da8d14968",
      "name": "Mello"
    },
    "createdById": {
      "_id": "5e089f88b400211639928c92",
      "name": "Nawaz Dhandala"
    },
    "incidentType": "offline"
  }
]              
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Incident<span class="requestType">GET</span></h3>
    <p>
      <p>Get Single Incident.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/incident/:projectId/incident/:incidentId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>incidentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The incident id of the monitor incident.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/incident/5e089f94b400211639928c94/incident/5e1ce11ee6a04216343592bb</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "acknowledged": true,
  "acknowledgedByZapier": null,
  "resolved": true,
  "resolvedByZapier": null,
  "internalNote": "",
  "investigationNote": "",
  "createdByZapier": false,
  "notClosedBy": [
    "5e162d9f1b8ae8185921498f"
  ],
  "manuallyCreated": true,
  "deleted": false,
  "_id": "5e1725db1f31a13e98acd8d9",
  "probes": [],
  "createdAt": "2020-01-09T13:08:43.790Z",
  "projectId": "5e089f94b400211639928c94",
  "monitorId": {
    "_id": "5e1633101b8ae81859214adf",
    "name": "Cello"
  },
  "createdById": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  },
  "incidentType": "offline",
  "__v": 0,
  "acknowledgedAt": "2020-01-09T13:10:42.766Z",
  "acknowledgedBy": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  },
  "resolvedAt": "2020-01-09T13:10:42.766Z",
  "resolvedBy": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  }
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="edit-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Edit Incident<span class="requestType">PUT</span></h3>
    <p>
      <p>Edit Incident.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/incident/:projectId/incident/:incidentId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>incidentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The incident id of the monitor incident.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for the project or sub project</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>resolved</span>
                <span class="item-type">boolean</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Is this incident resolved?</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>acknowledged</span>
                <span class="item-type">boolean</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Is this incident acknowledged?</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>internalNote</span>
                <span class="item-type">boolean</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Internal note for your team</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>investigationNote</span>
                <span class="item-type">boolean</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Investigation note that will be posted to status page.</p>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/incident/5e089f94b400211639928c94/incident/5e1ce11ee6a04216343592bb</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "investigationNote": "Test",
  "internalNote": "Test"
}                   
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "acknowledged": true,
  "acknowledgedByZapier": null,
  "resolved": true,
  "resolvedByZapier": null,
  "internalNote": "Test",
  "investigationNote": "Test",
  "createdByZapier": false,
  "notClosedBy": [
    "5e162d9f1b8ae8185921498f"
  ],
  "manuallyCreated": true,
  "deleted": false,
  "_id": "5e1725db1f31a13e98acd8d9",
  "probes": [],
  "createdAt": "2020-01-09T13:08:43.790Z",
  "projectId": "5e089f94b400211639928c94",
  "monitorId": {
    "_id": "5e1633101b8ae81859214adf",
    "name": "Cello"
  },
  "createdById": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  },
  "incidentType": "offline",
  "__v": 0,
  "acknowledgedAt": "2020-01-09T13:10:42.766Z",
  "acknowledgedBy": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  },
  "resolvedAt": "2020-01-09T13:10:42.766Z",
  "resolvedBy": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  }
}                                         
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="delete-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Delete Incident<span class="requestType">DELETE</span></h3>
    <p>
      <p>Delete Incident.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/incident/:projectId/:incidentId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>incidentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The incident id of the monitor incident.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/incident/5e089f94b400211639928c94/5e1ce11ee6a04216343592bb</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "acknowledged": true,
  "acknowledgedByZapier": null,
  "resolved": true,
  "resolvedByZapier": null,
  "internalNote": "",
  "investigationNote": "",
  "createdByZapier": false,
  "notClosedBy": [
    "5e1b7f0f41127144f8144abb",
    "5e162d9f1b8ae8185921498f"
  ],
  "manuallyCreated": true,
  "deleted": false,
  "_id": "5e1ce11ee6a04216343592bb",
  "probes": [],
  "createdAt": "2020-01-13T21:29:02.315Z",
  "projectId": "5e089f94b400211639928c94",
  "monitorId": "5e08a21b25c59a1c8033c7e7",
  "createdById": "5e089f88b400211639928c92",
  "incidentType": "offline",
  "__v": 0,
  "acknowledgedAt": "2020-01-13T21:34:12.600Z",
  "acknowledgedBy": "5e089f88b400211639928c92",
  "resolvedAt": "2020-01-13T21:34:34.186Z",
  "resolvedBy": "5e089f88b400211639928c92"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="acknowledge-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Acknowledge Incident<span class="requestType">POST</span></h3>
    <p>
      <p>Acknowledge Incident.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/incident/:projectId/acknowledge/:incidentId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>incidentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The incident id of the monitor incident.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/incident/5e089f94b400211639928c94/acknowledge/5e1ce11ee6a04216343592bb
          </p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "acknowledged": true,
  "acknowledgedByZapier": null,
  "resolved": false,
  "resolvedByZapier": false,
  "internalNote": "",
  "investigationNote": "",
  "createdByZapier": false,
  "notClosedBy": [
    "5e1b7f0f41127144f8144abb",
    "5e162d9f1b8ae8185921498f",
    "5e089f88b400211639928c92"
  ],
  "manuallyCreated": true,
  "deleted": false,
  "_id": "5e1ce11ee6a04216343592bb",
  "probes": [],
  "createdAt": "2020-01-13T21:29:02.315Z",
  "projectId": "5e089f94b400211639928c94",
  "monitorId": {
    "_id": "5e08a21b25c59a1c8033c7e7",
    "name": "Google Home"
  },
  "createdById": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  },
  "incidentType": "offline",
  "__v": 0,
  "acknowledgedAt": "2020-01-13T21:34:12.600Z",
  "acknowledgedBy": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  }
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="resolve-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Resolve Incident<span class="requestType">POST</span></h3>
    <p>
      <p>Resolve Incident.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/incident/:projectId/resolve/:incidentId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>incidentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The incident id of the monitor incident.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/incident/5e089f94b400211639928c94/resolve/5e1ce11ee6a04216343592bb</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "acknowledged": true,
  "acknowledgedByZapier": null,
  "resolved": true,
  "resolvedByZapier": null,
  "internalNote": "",
  "investigationNote": "",
  "createdByZapier": false,
  "notClosedBy": [
    "5e1b7f0f41127144f8144abb",
    "5e162d9f1b8ae8185921498f",
    "5e089f88b400211639928c92"
  ],
  "manuallyCreated": true,
  "deleted": false,
  "_id": "5e1ce11ee6a04216343592bb",
  "probes": [],
  "createdAt": "2020-01-13T21:29:02.315Z",
  "projectId": "5e089f94b400211639928c94",
  "monitorId": {
    "_id": "5e08a21b25c59a1c8033c7e7",
    "name": "Google Home"
  },
  "createdById": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  },
  "incidentType": "offline",
  "__v": 0,
  "acknowledgedAt": "2020-01-13T21:34:12.600Z",
  "acknowledgedBy": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  },
  "resolvedAt": "2020-01-13T21:34:34.186Z",
  "resolvedBy": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  }
}                    
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="close-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Close Incident<span class="requestType">POST</span></h3>
    <p>
      <p>Close Incident.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/incident/:projectId/close/:incidentId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>incidentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The incident id of the monitor incident.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/incident/5e089f94b400211639928c94/close/5e1ce11ee6a04216343592bb</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "acknowledged": true,
  "acknowledgedByZapier": null,
  "resolved": true,
  "resolvedByZapier": null,
  "internalNote": "",
  "investigationNote": "",
  "createdByZapier": false,
  "notClosedBy": [
    "5e1b7f0f41127144f8144abb",
    "5e162d9f1b8ae8185921498f",
    "5e089f88b400211639928c92"
  ],
  "manuallyCreated": true,
  "deleted": false,
  "_id": "5e1ce11ee6a04216343592bb",
  "probes": [],
  "createdAt": "2020-01-13T21:29:02.315Z",
  "projectId": "5e089f94b400211639928c94",
  "monitorId": "5e08a21b25c59a1c8033c7e7",
  "createdById": "5e089f88b400211639928c92",
  "incidentType": "offline",
  "__v": 0,
  "acknowledgedAt": "2020-01-13T21:34:12.600Z",
  "acknowledgedBy": "5e089f88b400211639928c92",
  "resolvedAt": "2020-01-13T21:34:34.186Z",
  "resolvedBy": "5e089f88b400211639928c92"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>