<article id="invoice" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Invoice</h1>
    </b>
    <p>
      <p>Invoice API will allow you to review your invoices.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/invoice/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example"></section>
</article>

<article id="get-invoice" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Invoice<span class="requestType">POST</span></h3>
    <p>
      <p>Get Invoice.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/invoice/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/invoice/5e089f94b400211639928c94</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": {
    "object": "list",
    "data": [
      {
        "id": "in_1Fv17mIt5jR0TXkEgCWd9QYm",
        "object": "invoice",
        "account_country": "US",
        "account_name": "Fyipe",
        "amount_due": 0,
        "amount_paid": 0,
        "amount_remaining": 0,
        "application_fee": null,
        "attempt_count": 0,
        "attempted": true,
        "auto_advance": false,
        "billing": "charge_automatically",
        "billing_reason": "subscription_update",
        "charge": null,
        "closed": true,
        "collection_method": "charge_automatically",
        "created": 1577623442,
        "currency": "usd",
        "custom_fields": null,
        "customer": "cus_GRuxpXIUgqLVg7",
        "customer_address": null,
        "customer_email": "nawazdhandala@hackerbay.io",
        "customer_name": null,
        "customer_phone": null,
        "customer_shipping": null,
        "customer_tax_exempt": "none",
        "customer_tax_ids": [],
        "date": 1577623442,
        "default_payment_method": null,
        "default_source": null,
        "default_tax_rates": [],
        "description": null,
        "discount": null,
        "due_date": null,
        "ending_balance": 0,
        "finalized_at": 1577623442,
        "footer": null,
        "forgiven": false,
        "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_CZyOlhsP0v65jUcNCVOOLAUiEJ",
        "invoice_pdf": "https://pay.stripe.com/invoice/invst_CZyOlhsP0v65jUcNCVOOLAUiEJ/pdf",
        "lines": {
          "object": "list",
          "data": [
            {
              "id": "sub_GRux0tCuJaBA28",
              "object": "line_item",
              "amount": 0,
              "currency": "usd",
              "description": "Trial period for REGULAR PLAN",
              "discountable": true,
              "livemode": false,
              "metadata": {},
              "period": {
                "end": 1578833042,
                "start": 1577623442
              },
              "plan": {
                "id": "plan_EgTJMZULfh6THW",
                "object": "plan",
                "active": true,
                "aggregate_usage": null,
                "amount": 800,
                "amount_decimal": "800",
                "billing_scheme": "per_unit",
                "created": 1552380853,
                "currency": "usd",
                "interval": "month",
                "interval_count": 1,
                "livemode": false,
                "metadata": {},
                "nickname": "REGULAR PLAN MONTHLY",
                "product": "prod_EgTJOMggEHKLuW",
                "tiers": null,
                "tiers_mode": null,
                "transform_usage": null,
                "trial_period_days": 14,
                "usage_type": "licensed"
              },
              "proration": false,
              "quantity": 1,
              "subscription": null,
              "subscription_item": "si_GRuxkZoex6IrcG",
              "tax_amounts": [],
              "tax_rates": [],
              "type": "subscription",
              "unique_id": "il_1Fv17mIt5jR0TXkEN6Zk9xAD",
              "unique_line_item_id": "sli_ae8a4abe67d581"
            }
          ],
          "has_more": false,
          "total_count": 1,
          "url": "/v1/invoices/in_1Fv17mIt5jR0TXkEgCWd9QYm/lines"
        },
        "livemode": false,
        "metadata": {},
        "next_payment_attempt": null,
        "number": "4F100BC8-0002",
        "paid": true,
        "payment_intent": null,
        "period_end": 1577623442,
        "period_start": 1577623442,
        "post_payment_credit_notes_amount": 0,
        "pre_payment_credit_notes_amount": 0,
        "receipt_number": null,
        "starting_balance": 0,
        "statement_descriptor": null,
        "status": "paid",
        "status_transitions": {
          "finalized_at": 1577623442,
          "marked_uncollectible_at": null,
          "paid_at": 1577623443,
          "voided_at": null
        },
        "subscription": "sub_GRux0tCuJaBA28",
        "subtotal": 0,
        "tax": null,
        "tax_percent": null,
        "total": 0,
        "total_tax_amounts": [],
        "webhooks_delivered_at": 1577623443
      },
      {
        "id": "in_1Fv17XIt5jR0TXkEybEsl4ND",
        "object": "invoice",
        "account_country": "US",
        "account_name": "Fyipe",
        "amount_due": 100,
        "amount_paid": 100,
        "amount_remaining": 0,
        "application_fee": null,
        "attempt_count": 1,
        "attempted": true,
        "auto_advance": false,
        "billing": "charge_automatically",
        "billing_reason": "manual",
        "charge": "ch_1Fv17aIt5jR0TXkEaaoce5nP",
        "closed": true,
        "collection_method": "charge_automatically",
        "created": 1577623427,
        "currency": "usd",
        "custom_fields": null,
        "customer": "cus_GRuxpXIUgqLVg7",
        "customer_address": null,
        "customer_email": "nawazdhandala@hackerbay.io",
        "customer_name": null,
        "customer_phone": null,
        "customer_shipping": null,
        "customer_tax_exempt": "none",
        "customer_tax_ids": [],
        "date": 1577623427,
        "default_payment_method": null,
        "default_source": null,
        "default_tax_rates": [],
        "description": "Verify if card is billable",
        "discount": null,
        "due_date": null,
        "ending_balance": 0,
        "finalized_at": 1577623428,
        "footer": null,
        "forgiven": false,
        "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_B4qgJxqC2QrQs30P4uvVmEkFeD",
        "invoice_pdf": "https://pay.stripe.com/invoice/invst_B4qgJxqC2QrQs30P4uvVmEkFeD/pdf",
        "lines": {
          "object": "list",
          "data": [
            {
              "id": "ii_1Fv17WIt5jR0TXkEVaPHcocx",
              "object": "line_item",
              "amount": 100,
              "currency": "usd",
              "description": "Verify if card is billable",
              "discountable": true,
              "invoice_item": "ii_1Fv17WIt5jR0TXkEVaPHcocx",
              "livemode": false,
              "metadata": {},
              "period": {
                "end": 1577623426,
                "start": 1577623426
              },
              "plan": null,
              "proration": false,
              "quantity": 1,
              "subscription": null,
              "tax_amounts": [],
              "tax_rates": [],
              "type": "invoiceitem",
              "unique_id": "il_1Fv17WIt5jR0TXkEOfCfvvoL"
            }
          ],
          "has_more": false,
          "total_count": 1,
          "url": "/v1/invoices/in_1Fv17XIt5jR0TXkEybEsl4ND/lines"
        },
        "livemode": false,
        "metadata": {},
        "next_payment_attempt": null,
        "number": "4F100BC8-0001",
        "paid": true,
        "payment_intent": "pi_1Fv17YIt5jR0TXkE7BzmPpgM",
        "period_end": 1577623427,
        "period_start": 1577623427,
        "post_payment_credit_notes_amount": 0,
        "pre_payment_credit_notes_amount": 0,
        "receipt_number": null,
        "starting_balance": 0,
        "statement_descriptor": null,
        "status": "paid",
        "status_transitions": {
          "finalized_at": 1577623428,
          "marked_uncollectible_at": null,
          "paid_at": 1577623431,
          "voided_at": null
        },
        "subscription": null,
        "subtotal": 100,
        "tax": null,
        "tax_percent": null,
        "total": 100,
        "total_tax_amounts": [],
        "webhooks_delivered_at": 1577623427
      }
    ],
    "has_more": false,
    "total_count": 2,
    "url": "/v1/invoices"
  },
  "count": 2
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>