<article id="license" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>License</h1>
    </b>
    <p>
      <p>License API will allow you to verify Fyipe enterprise license.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://licensing.fyipe.com/license</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example"></section>
</article>

<article id="confirm-license" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Confirm License<span class="requestType">POST</span></h3>
    <p>
      <p>Confirm Fyipe Enterprise License.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://licensing.fyipe.com/license</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://licensing.fyipe.com/license?limit=10</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "license": "valid-license",
  "email": "nawazdhandala@hackerbay.io"
}               
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1ODQwOTY1NDYsImV4cCI6MTU4NDE0NDAwMX0.IS92G8T0Fl0uPUxp_nxvjRwvgRx0jdRZrDVjAs1P4_w"
}
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>