<article id="notification" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Notification</h1>
    </b>
    <p>
      <p>Notification API will allow you to create and manage notifications for your Fyipe project.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/notification/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example"></section>
</article>

<article id="create-notification" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Notification<span class="requestType">POST</span></h3>
    <p>
      <p>Create Notification.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/notification/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/notification/5e089f94b400211639928c94</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "icon": "warning",
  "message": "Incident Created"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "read": [],
  "deleted": false,
  "_id": "5e1e05f7776e6f5008cfa729",
  "createdAt": "2020-01-14T18:18:31.401Z",
  "projectId": "5e089f94b400211639928c94",
  "message": "Incident Created,
  "icon": "warning",
  "createdBy": "5e089f88b400211639928c92",
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-notifications" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Notifications<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Notifications.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/notification/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/notification/5e089f94b400211639928c94?skip=0&limit=5</p>
        </div>

        <div class="doc-example-item">
          <h1>Example Response (200)</h1>

          <div class="example-code example-response">
            <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "read": [
        "5e089f88b400211639928c92"
      ],
      "_id": "5e1dabc1587e032fb5668291",
      "createdAt": "2020-01-14T11:53:37.700Z",
      "projectId": "5e089f94b400211639928c94",
      "message": "Google Home monitor was down for less than a minute and is now resolved by Nawaz Dhandala",
      "icon": "success",
      "createdBy": "5e089f88b400211639928c92"
    },
    {
      "read": [
        "5e089f88b400211639928c92"
      ],
      "_id": "5e1dabc0587e032fb5668290",
      "createdAt": "2020-01-14T11:53:36.158Z",
      "projectId": "5e089f94b400211639928c94",
      "message": "An Incident was acknowledged by undefined",
      "icon": "acknowledge",
      "createdBy": "5e089f88b400211639928c92"
    },
    {
      "read": [
        "5e089f88b400211639928c92"
      ],
      "_id": "5e1dabb4587e032fb566828f",
      "createdAt": "2020-01-14T11:53:24.304Z",
      "projectId": "5e089f94b400211639928c94",
      "message": "A New Incident was created for Google Home by Nawaz Dhandala",
      "icon": "warning",
      "createdBy": "Nawaz Dhandala"
    },
    {
      "read": [
        "5e089f88b400211639928c92"
      ],
      "_id": "5e1da8ed587e032fb566810d",
      "createdAt": "2020-01-14T11:41:33.883Z",
      "projectId": "5e089f94b400211639928c94",
      "message": "Ubuntu Machine monitor was down for less than a minute and is now resolved by Nawaz Dhandala",
      "icon": "success",
      "createdBy": "5e089f88b400211639928c92"
    },
    {
      "read": [
        "5e089f88b400211639928c92"
      ],
      "_id": "5e1da8eb587e032fb566810c",
      "createdAt": "2020-01-14T11:41:31.877Z",
      "projectId": "5e089f94b400211639928c94",
      "message": "An Incident was acknowledged by undefined",
      "icon": "acknowledge",
      "createdBy": "5e089f88b400211639928c92"
    }
  ],
  "count": 96,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
          </div>
        </div>
      </div>
  </section>
</article>

<article id="edit-notification" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Edit Notification<span class="requestType">PUT</span></h3>
    <p>
      <p>Edit Notification.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/notification/:projectId/:notificationId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>notificationId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The notification id of the project notification.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/notification/5e089f94b400211639928c94/5e1e05f7776e6f5008cfa729</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "read": [
    "5e089f88b400211639928c92"
  ]
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "read": [
    "5e089f88b400211639928c92"
  ],
  "deleted": false,
  "_id": "5e1e05f7776e6f5008cfa729",
  "createdAt": "2020-01-14T18:18:31.401Z",
  "projectId": "5e089f94b400211639928c94",
  "message": "Incident Created",
  "icon": "warning",
  "createdBy": "5e089f88b400211639928c92",
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="read-notification" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Read Notification<span class="requestType">PUT</span></h3>
    <p>
      <p>Read Notification.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/notification/:projectId/:notificationId/read</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>notificationId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The notification id of the project notification.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/notification/5e089f94b400211639928c94/5e1e05f7776e6f5008cfa729/read</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "read": [
    "5e089f88b400211639928c92"
  ],
  "deleted": false,
  "_id": "5e1e05f7776e6f5008cfa729",
  "createdAt": "2020-01-14T18:18:31.401Z",
  "projectId": "5e089f94b400211639928c94",
  "message": "Incident Created",
  "icon": "warning",
  "createdBy": "5e089f88b400211639928c92",
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="read-all-notification" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Read All Notifications<span class="requestType">PUT</span></h3>
    <p>
      <p>Read All Notifications.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/notification/:projectId/readAll</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/notification/5e089f94b400211639928c94/readAll</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "count": 96,
  "read": 10
}
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>