<div id="output-types" class="cf-grid-container dev-doc-item-container dev-doc-description-container">
  <div class="col-lg-half col-md-half dev-doc-item">
    <h1>Output Types</h1>
    <p>
      Fyipe API provides outputs in multiple formats. They are - JSON, XML, and CSV.
    </p>
    <p>
      JSON will be returned by default. You need to specify what type of output you're looking for by declaring
      the output-type query param.
    </p>
  </div>
  <div class="col-lg-half col-md-half dev-doc-example">

    <div class="doc-example-item">
      <h1>As Query Param</h1>

      <div class="example-code">
        <p class="url">https://api.fyipe.com/your-path?output-type=xml</p>
      </div>
    </div>

  </div>
</div>