<article id="probe" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Probe</h1>
    </b>
    <p>
      <p>Probe API.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/probe/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example"></section>
</article>

<article id="create-probe" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Probe<span class="requestType">POST</span></h3>
    <p>
      <p>Create Probe.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/probe/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>clusterKey</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The cluster key of the probe.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/probe/?clusterKey=33b674ca-9fdd-11e9-a2a3-2a2ae2dbcce4</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "probeName": "EU"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "deleted": false,
  "_id": "5e3b25a3927afc6d082372ee",
  "createdAt": "2020-02-05T20:29:23.315Z",
  "lastAlive": "2020-02-05T20:29:23.339Z",
  "probeKey": "320a8900-4856-11ea-8f5e-213b317dc897",
  "probeName": "EU",
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-probes" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Probes<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Probes.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/probe/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>clusterKey</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The cluster key of the probe.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/probe/?clusterKey=33b674ca-9fdd-11e9-a2a3-2a2ae2dbcce4&skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "_id": "5e2ede37dbe0ab20a749ed9b",
      "createdAt": "2020-01-27T11:53:35.429Z",
      "probeKey": "33b674ca-9fdd-11e9-a2a3-2a2ae2dbcce4",
      "probeName": "US East",
      "lastAlive": "2020-02-05T20:09:34.596Z"
    },
    {
      "_id": "5e2ede71dbe0ab20a749edd4",
      "createdAt": "2020-01-27T11:53:35.429Z",
      "probeKey": "33b674ca-9fdd-11e9-a2a3-2a2ae2dbcce5",
      "probeName": "US West",
      "lastAlive": "2020-01-27T11:53:35.429Z"
    }
  ],
  "count": 2,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-project-probes" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Project Probes<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Project Probes.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/probe/:projectId/probes</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/probe/:projectId/probes?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "_id": "5e2ede37dbe0ab20a749ed9b",
      "createdAt": "2020-01-27T11:53:35.429Z",
      "probeKey": "33b674ca-9fdd-11e9-a2a3-2a2ae2dbcce4",
      "probeName": "US East",
      "lastAlive": "2020-02-05T20:09:34.596Z"
    },
    {
      "_id": "5e2ede71dbe0ab20a749edd4",
      "createdAt": "2020-01-27T11:53:35.429Z",
      "probeKey": "33b674ca-9fdd-11e9-a2a3-2a2ae2dbcce5",
      "probeName": "US West",
      "lastAlive": "2020-01-27T11:53:35.429Z"
    }
  ],
  "count": 2,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="edit-probe" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Edit Probe<span class="requestType">PUT</span></h3>
    <p>
      <p>Edit Probe.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/probe/:id</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>clusterKey</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The cluster key of the probe.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>id</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The id of the probe.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/probe/:id?clusterKey=33b674ca-9fdd-11e9-a2a3-2a2ae2dbcce4</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "probeName": "EU"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "deleted": false,
  "_id": "5e3b25a3927afc6d082372ee",
  "createdAt": "2020-02-05T20:29:23.315Z",
  "lastAlive": "2020-02-05T20:29:23.339Z",
  "probeKey": "320a8900-4856-11ea-8f5e-213b317dc897",
  "probeName": "EU",
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="delete-probe" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Delete Probe<span class="requestType">DELETE</span></h3>
    <p>
      <p>Delete Probe.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/probe/:id</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>clusterKey</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The cluster key of the probe.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>id</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The id of the probe.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/probe/:id?clusterKey=33b674ca-9fdd-11e9-a2a3-2a2ae2dbcce4</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "deleted": true,
  "_id": "5e3b25a3927afc6d082372ee",
  "createdAt": "2020-02-05T20:29:23.315Z",
  "lastAlive": "2020-02-05T20:29:23.339Z",
  "probeKey": "320a8900-4856-11ea-8f5e-213b317dc897",
  "probeName": "EU",
  "__v": 0,
  "deletedAt": "2020-02-05T20:31:19.807Z"
}
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-probe-monitors" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Probe Monitors<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Probe Monitors.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/probe/monitors</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/probe/monitors</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "formData": [],
      "headers": [],
      "_id": "5e3154a8e991437d71ed1f16",
      "createdAt": "2020-01-29T09:47:20.955Z",
      "pollTime": "2020-01-31T19:55:00.015Z",
      "lastPingTime": "2020-01-29T09:47:20.955Z",
      "updateTime": "2020-01-29T09:47:20.955Z",
      "name": "Tello",
      "type": "manual",
      "createdById": "5e2ecf3f516aae26b133f352",
      "data": {
        "description": "Tello's Monitor"
      },
      "projectId": "5e321f54542c6f61d1292a5a",
      "criteria": {}
    },
    {
      "formData": [],
      "headers": [],
      "_id": "5e321f87542c6f61d1292a83",
      "createdAt": "2020-01-30T00:12:55.612Z",
      "pollTime": "2020-01-31T19:55:00.015Z",
      "lastPingTime": "2020-01-30T00:12:55.612Z",
      "updateTime": "2020-01-30T00:12:55.612Z",
      "name": "Google Home",
      "type": "url",
      "createdById": "5e2ecf3f516aae26b133f352",
      "data": {
        "url": "https://google.com"
      },
      "projectId": "5e321f54542c6f61d1292a5a",
      "criteria": {
        "up": {
          "and": [
            {
              "responseType": "statusCode",
              "filter": "gtEqualTo",
              "field1": "200"
            },
            {
              "responseType": "statusCode",
              "filter": "lessThan",
              "field1": "300"
            },
            {
              "responseType": "doesRespond",
              "filter": "isUp"
            },
            {
              "responseType": "responseTime",
              "filter": "ltEqualTo",
              "field1": "5000"
            }
          ],
          "or": [],
          "createAlert": false,
          "autoAcknowledge": false,
          "autoResolve": false
        },
        "degraded": {
          "and": [
            {
              "responseType": "responseTime",
              "filter": "greaterThan",
              "field1": "5000"
            }
          ],
          "or": [],
          "createAlert": true,
          "autoAcknowledge": true,
          "autoResolve": true
        },
        "down": {
          "and": [],
          "or": [
            {
              "responseType": "doesRespond",
              "filter": "isDown"
            },
            {
              "responseType": "statusCode",
              "filter": "gtEqualTo",
              "field1": "400"
            }
          ],
          "createAlert": true,
          "autoAcknowledge": true,
          "autoResolve": true
        }
      }
    },
    ...
  ],
  "count": 8
}                                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="ping-monitor" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Ping Monitor<span class="requestType">POST</span></h3>
    <p>
      <p>Ping Monitor.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/probe/ping/:monitorId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The monitor id of the project monitor.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/probe/ping/:monitorId</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "res": 100,
  "resp": {
    "status": 200
  },
  "monitor": {
    "formData": [],
    "headers": [],
    "_id": "5e321f87542c6f61d1292a83",
    "createdAt": "2020-01-30T00:12:55.612Z",
    "pollTime": "2020-01-31T19:55:00.015Z",
    "lastPingTime": "2020-01-30T00:12:55.612Z",
    "updateTime": "2020-01-30T00:12:55.612Z",
    "name": "Google Home",
    "type": "url",
    "createdById": "5e2ecf3f516aae26b133f352",
    "data": {
      "url": "https://google.com"
    },
    "projectId": "5e321f54542c6f61d1292a5a",
    "criteria": {
      "up": {
        "and": [
          {
            "responseType": "statusCode",
            "filter": "gtEqualTo",
            "field1": "200"
          },
          {
            "responseType": "statusCode",
            "filter": "lessThan",
            "field1": "300"
          },
          {
            "responseType": "doesRespond",
            "filter": "isUp"
          },
          {
            "responseType": "responseTime",
            "filter": "ltEqualTo",
            "field1": "5000"
          }
        ],
        "or": [],
        "createAlert": false,
        "autoAcknowledge": false,
        "autoResolve": false
      },
      "degraded": {
        "and": [
          {
            "responseType": "responseTime",
            "filter": "greaterThan",
            "field1": "5000"
          }
        ],
        "or": [],
        "createAlert": true,
        "autoAcknowledge": true,
        "autoResolve": true
      },
      "down": {
        "and": [],
        "or": [
          {
            "responseType": "doesRespond",
            "filter": "isDown"
          },
          {
            "responseType": "statusCode",
            "filter": "gtEqualTo",
            "field1": "400"
          }
        ],
        "createAlert": true,
        "autoAcknowledge": true,
        "autoResolve": true
      }
    }
  }
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "incidentIds": [],
  "_id": "5e3b20fe927afc6d082372ed",
  "createdAt": "2020-02-05T20:09:34.616Z",
  "monitorId": "5e321f87542c6f61d1292a83",
  "probeId": "5e2ede37dbe0ab20a749ed9b",
  "responseTime": 100,
  "responseStatus": 200,
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="set-monitor-time" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Set Monitor Time<span class="requestType">POST</span></h3>
    <p>
      <p>Set Monitor Time.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/probe/setTime/:monitorId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The monitor id of the project monitor.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/probe/setTime/:monitorId</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "responseTime": 100
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "incidentIds": [],
  "_id": "5e3b2041927afc6d082372ec",
  "createdAt": "2020-02-05T20:06:25.262Z",
  "monitorId": "5e321f87542c6f61d1292a83",
  "probeId": "5e2ede37dbe0ab20a749ed9b",
  "responseTime": 100,
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-monitor-time" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Monitor Time<span class="requestType">POST</span></h3>
    <p>
      <p>Get Monitor Time.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/probe/getTime/:monitorId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The monitor id of the project monitor.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/probe/getTime/:monitorId</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "incidentIds": [],
  "_id": "5e321fca542c6f61d1292a89",
  "createdAt": "2020-01-30T00:14:02.714Z",
  "monitorId": "5e321f87542c6f61d1292a83",
  "probeId": {
    "deleted": false,
    "_id": "5e2ede37dbe0ab20a749ed9b",
    "createdAt": "2020-01-27T11:53:35.429Z",
    "probeKey": "33b674ca-9fdd-11e9-a2a3-2a2ae2dbcce4",
    "probeName": "US East",
    "lastAlive": "2020-02-05T20:02:09.157Z"
  },
  "status": "online",
  "responseTime": 2654,
  "responseStatus": 200,
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>