<article id="project" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Project</h1>
    </b>
    <p>
      <p>Project API will allow you to change your Fyipe project settings like project name and also create and manage
        sub-projects. Sub-projects will allow you have to flexible access controls between Fyipe resources and your
        team.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example"></section>
</article>

<article id="create-project" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Project<span class="requestType">POST</span></h3>
    <p>
      <p>Create Fyipe Project.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/create</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/create</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "projectName": "Fello",
  "planId": "plan_EgTJMZULfh6THW"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": false,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": false,
  "_id": "5e3db43990968537f188cef2",
  "users": [
    {
      "_id": "5e3db43990968537f188cef3",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-02-07T19:02:17.884Z",
  "adminNotes": null,
  "name": "Fello",
  "slug": "Fello-16018",
  "apiKey": "5c53ccd0-49dc-11ea-9025-59d19fb1a7b1",
  "stripePlanId": "plan_EgTJMZULfh6THW",
  "stripeSubscriptionId": "sub_Gh05qms37gLKxg",
  "parentProjectId": null,
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-projects" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Projects<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Fyipe Projects. Return by skipping and limiting the number of results.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/projects/allProjects</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/projects/allProjects?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "alertOptions": {
        "billingUS": true,
        "billingNonUSCountries": false,
        "billingRiskCountries": false
      },
      "seats": "1",
      "alertEnable": false,
      "alertLimitReached": false,
      "balance": 0,
      "isBlocked": false,
      "_id": "5e347557f798176b8ece8d58",
      "users": [
        {
          "userId": "5e2ecf3f516aae26b133f352",
          "email": "nawazdhandala@hackerbay.io",
          "name": "Nawaz Dhandala",
          "role": "Owner",
          "lastActive": "2020-02-07T18:23:00.856Z"
        }
      ],
      "createdAt": "2020-01-31T18:43:35.607Z",
      "adminNotes": null,
      "name": "Cello",
      "slug": "Cello-61372",
      "apiKey": "96a0f350-4459-11ea-b8dc-a9123d3dcd0f",
      "stripePlanId": "plan_EgTJMZULfh6THW",
      "stripeSubscriptionId": "sub_GeNDRg0ncePzAp",
      "parentProjectId": null
    },
    {
      "alertOptions": {
        "billingUS": true,
        "billingNonUSCountries": false,
        "billingRiskCountries": false
      },
      "seats": "1",
      "alertEnable": false,
      "alertLimitReached": false,
      "balance": 0,
      "isBlocked": false,
      "_id": "5e3448f82d08987eda83a8c2",
      "users": [
        {
          "userId": "5e3448f42d08987eda83a8bd",
          "email": "cowr9a@ti8q9q4b.com",
          "name": "Test Name",
          "role": "Owner",
          "lastActive": "2020-01-31T15:38:15.220Z"
        }
      ],
      "createdAt": "2020-01-31T15:34:16.275Z",
      "adminNotes": null,
      "name": "Unnamed Project",
      "slug": "Unnamed-Project-09993",
      "apiKey": "23d12940-443f-11ea-94d2-8991d559a321",
      "stripePlanId": "plan_EgTJMZULfh6THW",
      "stripeSubscriptionId": "sub_GeK9RckXKQVXX6",
      "parentProjectId": null
    },
    {
      "alertOptions": {
        "billingUS": true,
        "billingNonUSCountries": false,
        "billingRiskCountries": false
      },
      "seats": "2",
      "alertEnable": false,
      "alertLimitReached": false,
      "balance": 0,
      "isBlocked": false,
      "_id": "5e3448f72d08987eda83a8c0",
      "users": [
        {
          "userId": "5e3448f42d08987eda83a8bc",
          "email": "bdf83o@cw5wx4ab.com",
          "name": "Test Name",
          "role": "Owner",
          "lastActive": "2020-01-31T15:37:43.048Z"
        },
        {
          "userId": "5e3448f42d08987eda83a8bd",
          "email": "cowr9a@ti8q9q4b.com",
          "name": "Test Name",
          "role": "Member",
          "lastActive": "2020-01-31T15:38:15.220Z"
        }
      ],
      "createdAt": "2020-01-31T15:34:15.645Z",
      "adminNotes": null,
      "name": "4zo",
      "slug": "Unnamed-Project-87583",
      "apiKey": "23712ef0-443f-11ea-94d2-8991d559a321",
      "stripePlanId": "plan_EgTJMZULfh6THW",
      "stripeSubscriptionId": "sub_GeK9h9FJ7qwuwi",
      "parentProjectId": null
    },
    {
      "alertOptions": {
        "billingUS": true,
        "billingNonUSCountries": false,
        "billingRiskCountries": false
      },
      "seats": "2",
      "alertEnable": false,
      "alertLimitReached": false,
      "balance": 0,
      "isBlocked": false,
      "_id": "5e3447d52d08987eda83a73d",
      "users": [
        {
          "userId": "5e3447cf2d08987eda83a737",
          "email": "0mnqig@rfhzoeia.com",
          "name": "Test Name",
          "role": "Owner",
          "lastActive": "2020-01-31T15:30:57.852Z"
        },
        {
          "userId": "5e3447cf2d08987eda83a738",
          "email": "tfiay@12d7trd.com",
          "name": "Test Name",
          "role": "Member",
          "lastActive": "2020-01-31T15:33:23.989Z"
        }
      ],
      "createdAt": "2020-01-31T15:29:25.420Z",
      "adminNotes": null,
      "name": "7x",
      "slug": "Unnamed-Project-07331",
      "apiKey": "767483f0-443e-11ea-94d2-8991d559a321",
      "stripePlanId": "plan_EgTJMZULfh6THW",
      "stripeSubscriptionId": "sub_GeK5E7h4beP7r3",
      "parentProjectId": null
    },
    {
      "alertOptions": {
        "billingUS": true,
        "billingNonUSCountries": false,
        "billingRiskCountries": false
      },
      "seats": "1",
      "alertEnable": false,
      "alertLimitReached": false,
      "balance": 0,
      "isBlocked": false,
      "_id": "5e3447d52d08987eda83a73b",
      "users": [
        {
          "userId": "5e3447cf2d08987eda83a738",
          "email": "tfiay@12d7trd.com",
          "name": "Test Name",
          "role": "Owner",
          "lastActive": "2020-01-31T15:33:23.989Z"
        }
      ],
      "createdAt": "2020-01-31T15:29:25.372Z",
      "adminNotes": null,
      "name": "Unnamed Project",
      "slug": "Unnamed-Project-48138",
      "apiKey": "766da620-443e-11ea-94d2-8991d559a321",
      "stripePlanId": "plan_EgTJMZULfh6THW",
      "stripeSubscriptionId": "sub_GeK5EjCNOO7d4h",
      "parentProjectId": null
    }
  ],
  "count": 53,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-user-projects" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All User Projects<span class="requestType">GET</span></h3>
    <p>
      <p>Get All User Projects. Return by skipping and limiting the number of results.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/projects</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/projects?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "alertOptions": {
        "billingUS": true,
        "billingNonUSCountries": false,
        "billingRiskCountries": false
      },
      "seats": "1",
      "alertEnable": false,
      "alertLimitReached": false,
      "balance": 0,
      "isBlocked": false,
      "_id": "5e347557f798176b8ece8d58",
      "users": [
        {
          "_id": "5e347557f798176b8ece8d59",
          "userId": "5e2ecf3f516aae26b133f352",
          "role": "Owner"
        }
      ],
      "createdAt": "2020-01-31T18:43:35.607Z",
      "adminNotes": null,
      "name": "Cello",
      "slug": "Cello-61372",
      "apiKey": "96a0f350-4459-11ea-b8dc-a9123d3dcd0f",
      "stripePlanId": "plan_EgTJMZULfh6THW",
      "stripeSubscriptionId": "sub_GeNDRg0ncePzAp",
      "parentProjectId": null
    },
    {
      "alertOptions": {
        "billingUS": true,
        "billingNonUSCountries": false,
        "billingRiskCountries": false
      },
      "seats": "1",
      "alertEnable": false,
      "alertLimitReached": false,
      "balance": 0,
      "isBlocked": false,
      "_id": "5e2ecf45516aae26b133f354",
      "users": [
        {
          "_id": "5e2ecf45516aae26b133f355",
          "userId": "5e2ecf3f516aae26b133f352",
          "role": "Owner"
        }
      ],
      "createdAt": "2020-01-27T11:53:41.352Z",
      "adminNotes": null,
      "name": "Bello",
      "slug": "Unnamed-Project-41282",
      "apiKey": "a98ab430-40fb-11ea-b3a8-83c18e01a99f",
      "stripePlanId": "plan_EgTJMZULfh6THW",
      "stripeSubscriptionId": "sub_GclhCoRrdskNuu",
      "parentProjectId": null
    }
  ],
  "count": 2,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-project" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Project<span class="requestType">GET</span></h3>
    <p>
      <p>Get Single Project by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/projects/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/projects/5e2ecf45516aae26b133f354</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": false,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": false,
  "_id": "5e2ecf45516aae26b133f354",
  "users": [
    {
      "_id": "5e2ecf45516aae26b133f355",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-01-27T11:53:41.352Z",
  "adminNotes": null,
  "name": "Bello",
  "slug": "Unnamed-Project-41282",
  "apiKey": "a98ab430-40fb-11ea-b3a8-83c18e01a99f",
  "stripePlanId": "plan_EgTJMZULfh6THW",
  "stripeSubscriptionId": "sub_GclhCoRrdskNuu",
  "parentProjectId": null,
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="reset-api-key" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Reset API Key<span class="requestType">GET</span></h3>
    <p>
      <p>Reset Project API Key by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/resetToken</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e347557f798176b8ece8d58/resetToken</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": false,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": false,
  "_id": "5e347557f798176b8ece8d58",
  "users": [
    {
      "_id": "5e347557f798176b8ece8d59",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-01-31T18:43:35.607Z",
  "adminNotes": null,
  "name": "Cello",
  "slug": "Cello-61372",
  "apiKey": "17e28c90-49db-11ea-9025-59d19fb1a7b1",
  "stripePlanId": "plan_EgTJMZULfh6THW",
  "stripeSubscriptionId": "sub_GeNDRg0ncePzAp",
  "parentProjectId": null,
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="rename-project" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Rename Project<span class="requestType">PUT</span></h3>
    <p>
      <p>Rename Project by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/renameProject</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e347557f798176b8ece8d58/renameProject</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "projectName": "Cello"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": false,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": false,
  "_id": "5e347557f798176b8ece8d58",
  "users": [
    {
      "_id": "5e347557f798176b8ece8d59",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-01-31T18:43:35.607Z",
  "adminNotes": null,
  "name": "Cello",
  "slug": "Cello-61372",
  "apiKey": "17e28c90-49db-11ea-9025-59d19fb1a7b1",
  "stripePlanId": "plan_EgTJMZULfh6THW",
  "stripeSubscriptionId": "sub_GeNDRg0ncePzAp",
  "parentProjectId": null,
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="delete-project" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Delete Project<span class="requestType">DELETE</span></h3>
    <p>
      <p>Delete Project by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/deleteProject</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e3db43990968537f188cef2/deleteProject</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": true,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": false,
  "_id": "5e3db43990968537f188cef2",
  "users": [
    {
      "_id": "5e3db43990968537f188cef3",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-02-07T19:02:17.884Z",
  "adminNotes": null,
  "name": "Fello",
  "slug": "Fello-16018",
  "apiKey": "5c53ccd0-49dc-11ea-9025-59d19fb1a7b1",
  "stripePlanId": "plan_EgTJMZULfh6THW",
  "stripeSubscriptionId": "sub_Gh05qms37gLKxg",
  "parentProjectId": null,
  "__v": 0,
  "deletedAt": "2020-02-07T19:02:53.996Z",
  "deletedById": "5e2ecf3f516aae26b133f352"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="edit-alert-options" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Edit Alert Options<span class="requestType">PUT</span></h3>
    <p>
      <p>Edit Alert Options by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/alertOptions</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e347557f798176b8ece8d58/alertOptions</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "alertEnable": false,
  "billingNonUSCountries": false,
  "billingRiskCountries": false,
  "billingUS": true,
  "minimumBalance": "20",
  "rechargeToBalance": "40",
  "_id": "5e347557f798176b8ece8d58"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": false,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": false,
  "_id": "5e347557f798176b8ece8d58",
  "users": [
    {
      "_id": "5e347557f798176b8ece8d59",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-01-31T18:43:35.607Z",
  "adminNotes": null,
  "name": "Cello",
  "slug": "Cello-61372",
  "apiKey": "17e28c90-49db-11ea-9025-59d19fb1a7b1",
  "stripePlanId": "plan_EgTJMZULfh6THW",
  "stripeSubscriptionId": "sub_GeNDRg0ncePzAp",
  "parentProjectId": null,
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="change-project-plan" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Change Project Plan<span class="requestType">POST</span></h3>
    <p>
      <p>Change Project Plan by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/changePlan</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e347557f798176b8ece8d58/changePlan</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "projectName": "Cello",
  "planId": "plan_EgTJMZULfh6THW",
  "oldPlan": "Basic Monthly ($8 / Month / User)",
  "newPlan": "Basic Monthly ($8 / Month / User)"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": false,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": false,
  "_id": "5e347557f798176b8ece8d58",
  "users": [
    {
      "_id": "5e347557f798176b8ece8d59",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-01-31T18:43:35.607Z",
  "adminNotes": null,
  "name": "Cello",
  "slug": "Cello-61372",
  "apiKey": "17e28c90-49db-11ea-9025-59d19fb1a7b1",
  "stripePlanId": "plan_EgTJMZULfh6THW",
  "stripeSubscriptionId": "sub_Gh012Pke0BC6z4",
  "parentProjectId": null,
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="upgrade-to-enterprise" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Upgrade To Enterprise<span class="requestType">POST</span></h3>
    <p>
      <p>Upgrade Project To Enterprise by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/upgradeToEnterprise</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e3db43990968537f188cef2/upgradeToEnterprise</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "projectName": "Zello",
  "oldPlan": "plan_EgTJMZULfh6THW"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
Mail Sent Successfully!                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-team-member-projects" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Team Member Projects<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Team Member Projects by User ID. Return by skipping and limiting the number of results.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/projects/user/:userId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>userId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The user id of the project team member.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/projects/user/5e2ecf3f516aae26b133f352?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "alertOptions": {
        "billingUS": true,
        "billingNonUSCountries": false,
        "billingRiskCountries": false
      },
      "seats": "1",
      "alertEnable": false,
      "alertLimitReached": false,
      "balance": 0,
      "isBlocked": false,
      "_id": "5e347557f798176b8ece8d58",
      "users": [
        {
          "isVerified": true,
          "onCallAlert": null,
          "twoFactorAuthEnabled": false,
          "backupCodes": [
            {
              "code": "80656207",
              "counter": 0
            },
            {
              "code": "78637838",
              "counter": 1
            },
            {
              "code": "48066866",
              "counter": 2
            },
            {
              "code": "26884181",
              "counter": 3
            },
            {
              "code": "41967906",
              "counter": 4
            },
            {
              "code": "57108620",
              "counter": 5
            },
            {
              "code": "33195921",
              "counter": 6
            },
            {
              "code": "77324177",
              "counter": 7
            }
          ],
          "disabled": false,
          "paymentFailedDate": null,
          "isBlocked": false,
          "alertPhoneNumber": "",
          "_id": "5e2ecf3f516aae26b133f352",
          "createdAt": "2020-01-27T11:53:35.429Z",
          "lastActive": "2020-02-07T18:37:25.707Z",
          "adminNotes": null,
          "name": "Nawaz Dhandala",
          "email": "nawazdhandala@hackerbay.io",
          "password": "$2b$10$ZAU87IyvcQCC2jsgagL01.Qq9xAMKKYeVSQH6MR9WT.vlkzMr5112",
          "companyName": "Hackerbay",
          "companyRole": null,
          "companySize": null,
          "referral": null,
          "companyPhoneNumber": "08058486168",
          "profilePic": null,
          "jwtRefreshToken": "0TWTMO3g2SkWVRMMWVZuyDsHylCg08FhLZAiXtWgsrVcCWjJs6RgfHisl9BlWeKnf7O5BO0hyl8jFJn8NVw94QzIbPjHlvdyfhvDtwz95cro6B4vFBntpOuuV4yjO4GLDD7tLDqpRr8SdA4iXDKRHTnbUgKn2pAXxslHchAgDE7bTfaKbzkfxjO8z0NTrBOwUIrCTVlgMKAeShWAlgJ5QQGFTaapiV8x1sFCyrHAn9QlEAod3DxZdGyuvQmjgtzJ",
          "stripeCustomerId": "cus_GclhJ8JTR1IpOw",
          "resetPasswordToken": null,
          "resetPasswordExpires": null,
          "timezone": null,
          "coupon": null,
          "tempEmail": null,
          "twoFactorSecretCode": "KARS6P2SKVTVAW2AOBIFILZRNBDWIY3W",
          "otpauth_url": "otpauth://totp/Fyipe%20(nawazdhandala%40hackerbay.io)?secret=KARS6P2SKVTVAW2AOBIFILZRNBDWIY3W",
          "tutorial": {}
        }
      ],
      "createdAt": "2020-01-31T18:43:35.607Z",
      "adminNotes": null,
      "name": "Cello",
      "slug": "Cello-61372",
      "apiKey": "96a0f350-4459-11ea-b8dc-a9123d3dcd0f",
      "stripePlanId": "plan_EgTJMZULfh6THW",
      "stripeSubscriptionId": "sub_GeNDRg0ncePzAp",
      "parentProjectId": null
    },
    {
      "alertOptions": {
        "billingUS": true,
        "billingNonUSCountries": false,
        "billingRiskCountries": false
      },
      "seats": "1",
      "alertEnable": false,
      "alertLimitReached": false,
      "balance": 0,
      "isBlocked": false,
      "_id": "5e2ecf45516aae26b133f354",
      "users": [
        {
          "isVerified": true,
          "onCallAlert": null,
          "twoFactorAuthEnabled": false,
          "backupCodes": [
            {
              "code": "80656207",
              "counter": 0
            },
            {
              "code": "78637838",
              "counter": 1
            },
            {
              "code": "48066866",
              "counter": 2
            },
            {
              "code": "26884181",
              "counter": 3
            },
            {
              "code": "41967906",
              "counter": 4
            },
            {
              "code": "57108620",
              "counter": 5
            },
            {
              "code": "33195921",
              "counter": 6
            },
            {
              "code": "77324177",
              "counter": 7
            }
          ],
          "disabled": false,
          "paymentFailedDate": null,
          "isBlocked": false,
          "alertPhoneNumber": "",
          "_id": "5e2ecf3f516aae26b133f352",
          "createdAt": "2020-01-27T11:53:35.429Z",
          "lastActive": "2020-02-07T18:37:25.707Z",
          "adminNotes": null,
          "name": "Nawaz Dhandala",
          "email": "nawazdhandala@hackerbay.io",
          "password": "$2b$10$ZAU87IyvcQCC2jsgagL01.Qq9xAMKKYeVSQH6MR9WT.vlkzMr5112",
          "companyName": "Hackerbay",
          "companyRole": null,
          "companySize": null,
          "referral": null,
          "companyPhoneNumber": "08058486168",
          "profilePic": null,
          "jwtRefreshToken": "0TWTMO3g2SkWVRMMWVZuyDsHylCg08FhLZAiXtWgsrVcCWjJs6RgfHisl9BlWeKnf7O5BO0hyl8jFJn8NVw94QzIbPjHlvdyfhvDtwz95cro6B4vFBntpOuuV4yjO4GLDD7tLDqpRr8SdA4iXDKRHTnbUgKn2pAXxslHchAgDE7bTfaKbzkfxjO8z0NTrBOwUIrCTVlgMKAeShWAlgJ5QQGFTaapiV8x1sFCyrHAn9QlEAod3DxZdGyuvQmjgtzJ",
          "stripeCustomerId": "cus_GclhJ8JTR1IpOw",
          "resetPasswordToken": null,
          "resetPasswordExpires": null,
          "timezone": null,
          "coupon": null,
          "tempEmail": null,
          "twoFactorSecretCode": "KARS6P2SKVTVAW2AOBIFILZRNBDWIY3W",
          "otpauth_url": "otpauth://totp/Fyipe%20(nawazdhandala%40hackerbay.io)?secret=KARS6P2SKVTVAW2AOBIFILZRNBDWIY3W",
          "tutorial": {}
        }
      ],
      "createdAt": "2020-01-27T11:53:41.352Z",
      "adminNotes": null,
      "name": "Bello",
      "slug": "Unnamed-Project-41282",
      "apiKey": "a98ab430-40fb-11ea-b3a8-83c18e01a99f",
      "stripePlanId": "plan_EgTJMZULfh6THW",
      "stripeSubscriptionId": "sub_GclhCoRrdskNuu",
      "parentProjectId": null
    }
  ],
  "count": 2,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="delete-team-member" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Delete Team Member<span class="requestType">DELETE</span></h3>
    <p>
      <p>Delete Team Member by Project ID and User ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/user/:userId/exitProject</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>userId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The user id of the project team member.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">
            https://api.fyipe.com/project/5e3db40790968537f188cee1/user/5e2ecf3f516aae26b133f352/exitProject</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
User successfully exited the project
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="create-subproject" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create SubProject<span class="requestType">POST</span></h3>
    <p>
      <p>Create SubProject by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/subProject</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e3db40790968537f188cee1/subProject</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "subProjectName": "Vello"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
[
  {
    "alertOptions": {
      "billingUS": true,
      "billingNonUSCountries": false,
      "billingRiskCountries": false
    },
    "seats": "1",
    "alertEnable": false,
    "alertLimitReached": false,
    "balance": 0,
    "isBlocked": false,
    "_id": "5e3db51390968537f188cef7",
    "users": [
      {
        "_id": "5e3db40790968537f188cee2",
        "userId": "5e2ecf3f516aae26b133f352",
        "role": "Owner"
      }
    ],
    "createdAt": "2020-02-07T19:05:55.143Z",
    "adminNotes": null,
    "name": "Vello",
    "slug": "Vello-32034",
    "apiKey": "ddd332a0-49dc-11ea-9025-59d19fb1a7b1",
    "stripePlanId": null,
    "stripeSubscriptionId": null,
    "parentProjectId": {
      "_id": "5e3db40790968537f188cee1",
      "name": "Dello"
    }
  }
]              
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-subprojects" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All SubProjects<span class="requestType">GET</span></h3>
    <p>
      <p>Get All SubProjects by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/subProject</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e2ecf45516aae26b133f354/subProject</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "alertOptions": {
        "billingUS": true,
        "billingNonUSCountries": false,
        "billingRiskCountries": false
      },
      "seats": "1",
      "alertEnable": false,
      "alertLimitReached": false,
      "balance": 0,
      "isBlocked": false,
      "_id": "5e321f54542c6f61d1292a5a",
      "users": [
        {
          "_id": "5e2ecf45516aae26b133f355",
          "userId": "5e2ecf3f516aae26b133f352",
          "role": "Owner"
        }
      ],
      "createdAt": "2020-01-30T00:12:04.455Z",
      "adminNotes": null,
      "name": "Vello",
      "slug": "Vello-01020",
      "apiKey": "2521e320-42f5-11ea-9574-31ddcc0c3f10",
      "stripePlanId": null,
      "stripeSubscriptionId": null,
      "parentProjectId": {
        "_id": "5e2ecf45516aae26b133f354",
        "name": "Bello"
      }
    }
  ],
  "count": 1
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="rename-subproject" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Rename SubProject<span class="requestType">PUT</span></h3>
    <p>
      <p>Rename SubProject by Project ID and SubProject ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/:subProjectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>subProjectId</span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The subproject id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e2ecf45516aae26b133f354/5e321f54542c6f61d1292a5a</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "subProjectName": "Vello"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": false,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": false,
  "_id": "5e321f54542c6f61d1292a5a",
  "users": [
    {
      "_id": "5e2ecf45516aae26b133f355",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-01-30T00:12:04.455Z",
  "adminNotes": null,
  "name": "Vello",
  "slug": "Vello-01020",
  "apiKey": "2521e320-42f5-11ea-9574-31ddcc0c3f10",
  "stripePlanId": null,
  "stripeSubscriptionId": null,
  "parentProjectId": {
    "_id": "5e2ecf45516aae26b133f354",
    "name": "Bello"
  },
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="delete-subproject" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Delete SubProject<span class="requestType">DELETE</span></h3>
    <p>
      <p>Delete SubProject by Project ID and SubProject ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/:subProjectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>subProjectId</span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The subproject id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e3db40790968537f188cee1/5e3db49190968537f188cef4</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": true,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": false,
  "_id": "5e3db49190968537f188cef4",
  "users": [
    {
      "_id": "5e3db40790968537f188cee2",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-02-07T19:03:45.177Z",
  "adminNotes": null,
  "name": "Vello",
  "slug": "Vello-02850",
  "apiKey": "905ce020-49dc-11ea-9025-59d19fb1a7b1",
  "stripePlanId": null,
  "stripeSubscriptionId": null,
  "parentProjectId": "5e3db40790968537f188cee1",
  "__v": 0,
  "deletedAt": "2020-02-07T19:05:11.436Z",
  "deletedById": "5e2ecf3f516aae26b133f352"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="block-project" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Block Project<span class="requestType">PUT</span></h3>
    <p>
      <p>Block Project by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/blockProject</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e347557f798176b8ece8d58/blockProject</p>

          <!-- <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre> -->
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": false,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": true,
  "_id": "5e347557f798176b8ece8d58",
  "users": [
    {
      "_id": "5e347557f798176b8ece8d59",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-01-31T18:43:35.607Z",
  "adminNotes": null,
  "name": "Cello",
  "slug": "Cello-61372",
  "apiKey": "17e28c90-49db-11ea-9025-59d19fb1a7b1",
  "stripePlanId": "plan_EgTJMZULfh6THW",
  "stripeSubscriptionId": "sub_Gh012Pke0BC6z4",
  "parentProjectId": null,
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="unblock-project" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Unblock Project<span class="requestType">PUT</span></h3>
    <p>
      <p>Unblock Project by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/unblockProject</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e347557f798176b8ece8d58/unblockProject</p>

          <!-- <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre> -->
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": false,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": false,
  "_id": "5e347557f798176b8ece8d58",
  "users": [
    {
      "_id": "5e347557f798176b8ece8d59",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-01-31T18:43:35.607Z",
  "adminNotes": null,
  "name": "Cello",
  "slug": "Cello-61372",
  "apiKey": "17e28c90-49db-11ea-9025-59d19fb1a7b1",
  "stripePlanId": "plan_EgTJMZULfh6THW",
  "stripeSubscriptionId": "sub_Gh012Pke0BC6z4",
  "parentProjectId": null,
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="restore-project" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Restore Project<span class="requestType">PUT</span></h3>
    <p>
      <p>Restore Project by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/restoreProject</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e3db43990968537f188cef2/restoreProject</p>

          <!-- <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre> -->
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": false,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": false,
  "_id": "5e3db43990968537f188cef2",
  "users": [
    {
      "_id": "5e3db43990968537f188cef3",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-02-07T19:02:17.884Z",
  "adminNotes": null,
  "name": "Fello",
  "slug": "Fello-16018",
  "apiKey": "5c53ccd0-49dc-11ea-9025-59d19fb1a7b1",
  "stripePlanId": "plan_EgTJMZULfh6THW",
  "stripeSubscriptionId": "sub_Gh0HqwYiQVH8G1",
  "parentProjectId": null,
  "__v": 0,
  "deletedAt": null,
  "deletedById": "5e2ecf3f516aae26b133f352"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="search-projects" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Search Projects<span class="requestType">POST</span></h3>
    <p>
      <p>Search Projects. Return by skipping and limiting the number of results.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/projects/search</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/projects/search</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "filter": "Bello"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "alertOptions": {
        "billingUS": true,
        "billingNonUSCountries": false,
        "billingRiskCountries": false
      },
      "seats": "1",
      "alertEnable": false,
      "alertLimitReached": false,
      "balance": 0,
      "isBlocked": false,
      "_id": "5e2ecf45516aae26b133f354",
      "users": [
        {
          "userId": "5e2ecf3f516aae26b133f352",
          "email": "nawazdhandala@hackerbay.io",
          "name": "Nawaz Dhandala",
          "role": "Owner",
          "lastActive": "2020-02-07T18:41:48.846Z"
        }
      ],
      "createdAt": "2020-01-27T11:53:41.352Z",
      "adminNotes": null,
      "name": "Bello",
      "slug": "Unnamed-Project-41282",
      "apiKey": "a98ab430-40fb-11ea-b3a8-83c18e01a99f",
      "stripePlanId": "plan_EgTJMZULfh6THW",
      "stripeSubscriptionId": "sub_GclhCoRrdskNuu",
      "parentProjectId": null
    }
  ],
  "count": 1,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="add-project-note" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Add Project Note<span class="requestType">POST</span></h3>
    <p>
      <p>Add Project Note by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/addNote</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e3db43990968537f188cef2/addNote</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
[
  {
    "note": "Hello"
  }
]
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
[
  {
    "_id": "5e3db82c90968537f188d079",
    "note": "Hello"
  }
]
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="renew-alert-limit" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Renew Alert Limit<span class="requestType">PUT</span></h3>
    <p>
      <p>Renew Alert Limit by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/project/:projectId/renewAlertLimit</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/project/5e3db43990968537f188cef2/renewAlertLimit</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "alertLimit": "10"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "alertOptions": {
    "billingUS": true,
    "billingNonUSCountries": false,
    "billingRiskCountries": false
  },
  "seats": "1",
  "deleted": false,
  "alertEnable": false,
  "alertLimitReached": false,
  "balance": 0,
  "isBlocked": false,
  "_id": "5e3db43990968537f188cef2",
  "users": [
    {
      "_id": "5e3db43990968537f188cef3",
      "userId": "5e2ecf3f516aae26b133f352",
      "role": "Owner"
    }
  ],
  "createdAt": "2020-02-07T19:02:17.884Z",
  "adminNotes": null,
  "name": "Fello",
  "slug": "Fello-16018",
  "apiKey": "5c53ccd0-49dc-11ea-9025-59d19fb1a7b1",
  "stripePlanId": "plan_EgTJMZULfh6THW",
  "stripeSubscriptionId": "sub_Gh0HqwYiQVH8G1",
  "parentProjectId": null,
  "__v": 0,
  "deletedAt": null,
  "deletedById": "5e2ecf3f516aae26b133f352",
  "alertLimit": "10"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>