<aside class="cf-sidebar">
  <div class="sidebar-header">
    <a href="/" title="Fyipe Developers" class="cf-logo">Developers</a>
  </div>
  <nav class="sidebar-navigation">
    <ul>
      <li class="active">
        <ul class="sub-nav">
          <li class="category-list">
            <a class="introduction doc-category" href="#introduction">Introduction</a>
          </li>
          <li class="category-list">
            <a class="authentication doc-category" href="#authentication">Authentication</a>
          </li>
          <li class="category-list">
            <a class="methods doc-category" href="#output-types">Output Types</a>
          </li>
          <li class="category-list">
            <a class="errors doc-category" href="#errors">Errors</a>
          </li>
          <li class="category-list">
            <a title="Project" class="Project doc-category active" href="#alerts">Alerts</a>
          </li>
          <li class="category-list">
            <a title="Project-getAll" class="Project-getAll  menu-link" href="#incident">
              Incident
            </a>
          </li>
          <li class="category-list">
            <a title="Project-resetKey" class="Project-resetKey  menu-link" href="#monitor">
              Monitor
            </a>
          </li>
          <li class="category-list">
            <a title="Project-resetKey" class="Project-resetKey  menu-link" href="#monitor-category">
              Monitor Category
            </a>
          </li>
          <li class="category-list">
            <a title="Project-renameProject" class="Project-renameProject  menu-link" href="#schedule">
              Schedule
            </a>
          </li>
          <li class="category-list">
            <a title="Project-removeTeamMember" class="Project-removeTeamMember  menu-link" href="#status-page">
              Status Page
            </a>
          </li>
          <li class="category-list">
            <a title="Project-removeTeamMember" class="Project-removeTeamMember  menu-link" href="#subscribers">
              Subscribers
            </a>
          </li>
          <li class="category-list">
            <a title="Project-removeTeamMember" class="Project-removeTeamMember  menu-link" href="#subscriber-alerts">
              Subscriber Alerts
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>