<aside class="cf-sidebar">
  <div class="sidebar-header">
    <a href="/" title="Fyipe Developers" class="cf-logo">Developers</a>
  </div>
  <nav class="sidebar-navigation">
    <ul>
      <li class="active">
        <ul class="sub-nav">
          <li class="category-list">
            <a class="introduction doc-category" href="#introduction">Introduction</a>
          </li>
          <li class="category-list">
            <a class="authentication doc-category" href="#authentication">Authentication</a>
          </li>
          <li class="category-list">
            <a class="output-types doc-category" href="#output-types">Output Types</a>
          </li>
          <li class="category-list">
            <a class="errors doc-category" href="#errors">Errors</a>
          </li>
          <li class="category-list">
            <a title="Alert"
              class="alert create-alert get-all-project-alerts get-all-subprojects-alerts get-all-project-alerts-by-incident get-alert-charges delete-alert menu-link"
              href="#alert">Alert</a>
          </li>
          <li class="category-list">
            <a title="Component"
              class="component create-component get-all-components get-component edit-component delete-component menu-link"
              href="#component">Component</a>
          </li>
          <li class="category-list">
            <a title="Email SMTP"
              class="email-smtp setup-email-smtp get-email-smtp-setup edit-email-smtp-setup delete-email-smtp-setup menu-link"
              href="#email-smtp">Email SMTP</a>
          </li>
          <li class="category-list">
            <a title="Email Template"
              class="email-template create-email-template get-all-email-templates get-email-template edit-email-template reset-email-template add-values-to-email-templates delete-email-template menu-link"
              href="#email-template">Email Template</a>
          </li>
          <li class="category-list">
            <a title="Feedback" class="feedback create-feedback menu-link" href="#feedback">Feedback</a>
          </li>
          <li class="category-list">
            <a title="Incident"
              class="incident create-incident get-all-incidents get-all-subprojects-incidents get-all-monitor-incidents get-all-unresolved-incidents get-incident edit-incident delete-incident acknowledge-incident resolve-incident close-incident get-incident-timeline menu-link"
              href="#incident">Incident</a>
          </li>
          <li class="category-list">
            <a title="Monitor"
              class="monitor create-monitor get-all-monitors get-all-monitors-by-type get-monitor edit-monitor delete-monitor create-server-monitor-log get-monitor-logs get-aggregate-monitor-logs add-monitor-seat-to-project update-device-monitor-ping-time get-device-monitor-ping-time menu-link"
              href="#monitor">Monitor</a>
          </li>
          <li class="category-list">
            <a title="Monitor Category"
              class="monitor-category create-monitor-category get-all-monitor-categories edit-monitor-category delete-monitor-category menu-link"
              href="#monitor-category">Monitor Category</a>
          </li>
          <li class="category-list">
            <a title="Monitor Criteria" class="monitor-criteria get-default-criteria menu-link"
              href="#monitor-criteria">Monitor Criteria</a>
          </li>
          <li class="category-list">
            <a title="Project"
              class="project create-project get-all-projects get-all-user-projects get-project reset-api-key rename-project delete-project edit-alert-options change-project-plan upgrade-to-enterprise get-all-team-member-projects delete-team-member create-subproject get-all-subprojects rename-subproject delete-subproject block-project unblock-project restore-project search-projects add-project-note renew-alert-limit menu-link"
              href="#project">Project</a>
          </li>
          <li class="category-list">
            <a title="Report"
              class="report get-all-active-members get-all-active-monitors get-average-resolved get-incidents-count menu-link"
              href="#report">Report</a>
          </li>
          <li class="category-list">
            <a title="Schedule"
              class="schedule create-schedule get-all-schedules get-all-schedules get-all-subprojects-schedules edit-schedule delete-schedule add-escalation get-escalation menu-link"
              href="#schedule">Schedule</a>
          </li>
          <li class="category-list">
            <a title="Scheduled Event"
              class="scheduled-event create-scheduled-event get-all-scheduled-events get-all-status-page-scheduled-events edit-scheduled-event delete-scheduled-event menu-link"
              href="#scheduled-event">Scheduled Event</a>
          </li>
          
          <li class="category-list">
            <a title="SMS SMTP"
              class="sms-smtp setup-sms-smtp get-sms-smtp-setup edit-sms-smtp-setup delete-sms-smtp-setup menu-link"
              href="#sms-smtp">SMS SMTP</a>
          </li>
          <li class="category-list">
            <a title="SMS Template"
              class="sms-template create-sms-template get-all-sms-templates get-sms-template edit-sms-template reset-sms-template add-values-to-sms-template delete-sms-template menu-link"
              href="#sms-template">SMS Template</a>
          </li>
          <li class="category-list">
            <a title="Status Page"
              class="status-page create-status-page get-all-status-pages get-all-subprojects-status-pages get-status-page edit-status-page delete-status-page get-status-page-rss get-status-page-notes get-status-page-monitor-notes get-status-page-scheduled-events get-status-page-monitor-scheduled-events get-all-monitor-statuses get-all-probes menu-link"
              href="#status-page">Status Page</a>
          </li>
         
          <li class="category-list">
            <a title="Subscriber"
              class="subscriber create-status-spage-subscriber create-monitor-subscriber get-all-subscribers get-all-monitor-subscribers get-subscriber delete-subscriber menu-link"
              href="#subscriber">Subscriber</a>
          </li>
          <li class="category-list">
            <a title="Subscriber Alert"
              class="subscriber-alert create-subscriber-alert get-all-subscriber-alerts get-all-subscriber-alerts-by-incident menu-link"
              href="#subscriber-alert">Subscriber Alert</a>
          </li>
          <li class="category-list">
            <a title="Team"
              class="team create-team-member get-all-team-members get-all-subprojects-team-members get-team-member delete-team-member change-team-member-role menu-link"
              href="#team">Team</a>
          </li>
          
          <li class="category-list">
            <a title="Tutorial" class="tutorial get-all-tutorials close-tutorial menu-link"
              href="#tutorial">Tutorial</a>
          </li>
          
         
          <li class="category-list">
            <a title="Version" class="version get-api-version menu-link" href="#version">Version</a>
          </li>
          <li class="category-list">
            <a title="WebHook" class="webhook create-webhook get-all-webhooks edit-webhook delete-webhook menu-link"
              href="#webhook">WebHook</a>
          </li>

        </ul>
      </li>
    </ul>
  </nav>
</aside>