<article id="status-page" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Status Page</h1>
    </b>
    <p>
      <p>Status Page API, creates a status page for your team or your customers (exactly like https://status.fyipe.com)
      </p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
  </section>
</article>

<article id="create-status-page" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Status Page<span class="requestType">POST</span></h3>
    <p>
      <p>Create Status Page.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for the project or sub project</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>name</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Status Page Name</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>title</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Title of the status page</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>description</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Description of the status page</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>copyright</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Copyright Info about the status page</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>favicon</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Favicon URL for the Status Page</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>logoPath</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Logo URL for the status page</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>domain</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Domain this status page will be hosted on</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>isPrivate</span>
                <span class="item-type">Boolean</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Is this status page private to your team or public to the whole world.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorIds</span>
                <span class="item-type">Array</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Which monitors do you want to include in this status page?</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>links</span>
                <span class="item-type">Array</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Links that you want in the footer of the status page. This should not exceed 5. The format
                  should be `{name: "Home", url: "https://homepage.com"}`</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/statusPage/5e2ecf45516aae26b133f354</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "name": "Zenith 2",
  "monitorIds": []
}            
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "monitorIds": [],
  "links": null,
  "isPrivate": null,
  "isSubscriberEnabled": false,
  "isGroupedByMonitorCategory": false,
  "showScheduledEvents": true,
  "enableRSSFeed": true,
  "emailNotification": true,
  "smsNotification": true,
  "webhookNotification": true,
  "deleted": false,
  "_id": "5e3bfa83de29ed659247259d",
  "createdAt": "2020-02-06T11:37:39.786Z",
  "projectId": "5e2ecf45516aae26b133f354",
  "domain": null,
  "title": null,
  "name": "Zenith 2",
  "description": null,
  "copyright": null,
  "faviconPath": null,
  "logoPath": null,
  "bannerPath": null,
  "colors": {
    "pageBackground": {
      "r": 238,
      "g": 242,
      "b": 246,
      "a": 1
    },
    "statusPageBackground": {
      "r": 246,
      "g": 249,
      "b": 252,
      "a": 1
    },
    "heading": {
      "r": 50,
      "g": 50,
      "b": 93,
      "a": 0.8
    },
    "subheading": {
      "r": 50,
      "g": 50,
      "b": 93,
      "a": 0.8
    }
  },
  "__v": 0
}
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-status-pages" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Status Pages<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Status Pages.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/:projectId/dashboard</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/statusPage/5e2ecf45516aae26b133f354/dashboard?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "_id": "5e3bfa83de29ed659247259d",
      "monitorIds": [],
      "links": null,
      "isPrivate": null,
      "isSubscriberEnabled": false,
      "isGroupedByMonitorCategory": false,
      "showScheduledEvents": true,
      "enableRSSFeed": true,
      "emailNotification": true,
      "smsNotification": true,
      "webhookNotification": true,
      "createdAt": "2020-02-06T11:37:39.786Z",
      "projectId": {
        "_id": "5e2ecf45516aae26b133f354",
        "name": "Bello"
      },
      "domain": null,
      "title": null,
      "name": "Zenith 2",
      "description": null,
      "copyright": null,
      "faviconPath": null,
      "logoPath": null,
      "bannerPath": null,
      "colors": {
        "pageBackground": {
          "r": 238,
          "g": 242,
          "b": 246,
          "a": 1
        },
        "statusPageBackground": {
          "r": 246,
          "g": 249,
          "b": 252,
          "a": 1
        },
        "heading": {
          "r": 50,
          "g": 50,
          "b": 93,
          "a": 0.8
        },
        "subheading": {
          "r": 50,
          "g": 50,
          "b": 93,
          "a": 0.8
        }
      }
    },
    {
      "_id": "5e3adb35fb75ab7729a63a5d",
      "monitorIds": [
        {
          "_id": "5e321f87542c6f61d1292a83",
          "name": "Google Home"
        },
        {
          "_id": "5e3154a8e991437d71ed1f16",
          "name": "Tello"
        },
        {
          "_id": "5e343f60598e9625817c0164",
          "name": "Ubuntu Machine"
        }
      ],
      "links": null,
      "isPrivate": null,
      "isSubscriberEnabled": true,
      "isGroupedByMonitorCategory": false,
      "showScheduledEvents": true,
      "enableRSSFeed": true,
      "emailNotification": true,
      "smsNotification": true,
      "webhookNotification": true,
      "createdAt": "2020-02-05T15:11:49.439Z",
      "projectId": {
        "_id": "5e2ecf45516aae26b133f354",
        "name": "Bello"
      },
      "domain": null,
      "title": "Zenith",
      "name": "Zenith",
      "description": "Zenith",
      "copyright": null,
      "faviconPath": null,
      "logoPath": null,
      "bannerPath": "c96f5f7fc70bea01a2c5a1b0aef8b053",
      "colors": {
        "pageBackground": {
          "r": 238,
          "g": 242,
          "b": 246,
          "a": 1
        },
        "statusPageBackground": {
          "r": 246,
          "g": 249,
          "b": 252,
          "a": 1
        },
        "heading": {
          "r": 50,
          "g": 50,
          "b": 93,
          "a": 0.8
        },
        "subheading": {
          "r": 50,
          "g": 50,
          "b": 93,
          "a": 0.8
        }
      }
    }
  ],
  "count": 2,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-status-pages" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Status Pages<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Status Pages.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/:projectId/statuspage</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/statusPage/5e2ecf45516aae26b133f354/statuspage?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "_id": "5e3bfa83de29ed659247259d",
      "monitorIds": [],
      "links": null,
      "isPrivate": null,
      "isSubscriberEnabled": false,
      "isGroupedByMonitorCategory": false,
      "showScheduledEvents": true,
      "enableRSSFeed": true,
      "emailNotification": true,
      "smsNotification": true,
      "webhookNotification": true,
      "createdAt": "2020-02-06T11:37:39.786Z",
      "projectId": {
        "_id": "5e2ecf45516aae26b133f354",
        "name": "Bello"
      },
      "domain": null,
      "title": null,
      "name": "Zenith 2",
      "description": null,
      "copyright": null,
      "faviconPath": null,
      "logoPath": null,
      "bannerPath": null,
      "colors": {
        "pageBackground": {
          "r": 238,
          "g": 242,
          "b": 246,
          "a": 1
        },
        "statusPageBackground": {
          "r": 246,
          "g": 249,
          "b": 252,
          "a": 1
        },
        "heading": {
          "r": 50,
          "g": 50,
          "b": 93,
          "a": 0.8
        },
        "subheading": {
          "r": 50,
          "g": 50,
          "b": 93,
          "a": 0.8
        }
      }
    },
    {
      "_id": "5e3adb35fb75ab7729a63a5d",
      "monitorIds": [
        {
          "_id": "5e321f87542c6f61d1292a83",
          "name": "Google Home"
        },
        {
          "_id": "5e3154a8e991437d71ed1f16",
          "name": "Tello"
        },
        {
          "_id": "5e343f60598e9625817c0164",
          "name": "Ubuntu Machine"
        }
      ],
      "links": null,
      "isPrivate": null,
      "isSubscriberEnabled": true,
      "isGroupedByMonitorCategory": false,
      "showScheduledEvents": true,
      "enableRSSFeed": true,
      "emailNotification": true,
      "smsNotification": true,
      "webhookNotification": true,
      "createdAt": "2020-02-05T15:11:49.439Z",
      "projectId": {
        "_id": "5e2ecf45516aae26b133f354",
        "name": "Bello"
      },
      "domain": null,
      "title": "Zenith",
      "name": "Zenith",
      "description": "Zenith",
      "copyright": null,
      "faviconPath": null,
      "logoPath": null,
      "bannerPath": "c96f5f7fc70bea01a2c5a1b0aef8b053",
      "colors": {
        "pageBackground": {
          "r": 238,
          "g": 242,
          "b": 246,
          "a": 1
        },
        "statusPageBackground": {
          "r": 246,
          "g": 249,
          "b": 252,
          "a": 1
        },
        "heading": {
          "r": 50,
          "g": 50,
          "b": 93,
          "a": 0.8
        },
        "subheading": {
          "r": 50,
          "g": 50,
          "b": 93,
          "a": 0.8
        }
      }
    }
  ],
  "count": 2,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-subprojects-status-pages" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All SubProjects Status Pages<span class="requestType">GET</span></h3>
    <p>
      <p>Get All SubProjects Status Pages.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/:projectId/statuspages</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/statusPage/5e2ecf45516aae26b133f354/statuspages</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
[
  {
    "statusPages": [],
    "count": 0,
    "_id": "5e321f54542c6f61d1292a5a",
    "skip": 0,
    "limit": 10
  },
  {
    "statusPages": [
      {
        "_id": "5e3bfa83de29ed659247259d",
        "monitorIds": [],
        "links": null,
        "isPrivate": null,
        "isSubscriberEnabled": false,
        "isGroupedByMonitorCategory": false,
        "showScheduledEvents": true,
        "enableRSSFeed": true,
        "emailNotification": true,
        "smsNotification": true,
        "webhookNotification": true,
        "createdAt": "2020-02-06T11:37:39.786Z",
        "projectId": {
          "_id": "5e2ecf45516aae26b133f354",
          "name": "Bello"
        },
        "domain": null,
        "title": null,
        "name": "Zenith 2",
        "description": null,
        "copyright": null,
        "faviconPath": null,
        "logoPath": null,
        "bannerPath": null,
        "colors": {
          "pageBackground": {
            "r": 238,
            "g": 242,
            "b": 246,
            "a": 1
          },
          "statusPageBackground": {
            "r": 246,
            "g": 249,
            "b": 252,
            "a": 1
          },
          "heading": {
            "r": 50,
            "g": 50,
            "b": 93,
            "a": 0.8
          },
          "subheading": {
            "r": 50,
            "g": 50,
            "b": 93,
            "a": 0.8
          }
        }
      },
      {
        "_id": "5e3adb35fb75ab7729a63a5d",
        "monitorIds": [
          {
            "_id": "5e321f87542c6f61d1292a83",
            "name": "Google Home"
          },
          {
            "_id": "5e3154a8e991437d71ed1f16",
            "name": "Tello"
          },
          {
            "_id": "5e343f60598e9625817c0164",
            "name": "Ubuntu Machine"
          }
        ],
        "links": null,
        "isPrivate": null,
        "isSubscriberEnabled": true,
        "isGroupedByMonitorCategory": false,
        "showScheduledEvents": true,
        "enableRSSFeed": true,
        "emailNotification": true,
        "smsNotification": true,
        "webhookNotification": true,
        "createdAt": "2020-02-05T15:11:49.439Z",
        "projectId": {
          "_id": "5e2ecf45516aae26b133f354",
          "name": "Bello"
        },
        "domain": null,
        "title": "Zenith",
        "name": "Zenith",
        "description": "Zenith",
        "copyright": null,
        "faviconPath": null,
        "logoPath": null,
        "bannerPath": "c96f5f7fc70bea01a2c5a1b0aef8b053",
        "colors": {
          "pageBackground": {
            "r": 238,
            "g": 242,
            "b": 246,
            "a": 1
          },
          "statusPageBackground": {
            "r": 246,
            "g": 249,
            "b": 252,
            "a": 1
          },
          "heading": {
            "r": 50,
            "g": 50,
            "b": 93,
            "a": 0.8
          },
          "subheading": {
            "r": 50,
            "g": 50,
            "b": 93,
            "a": 0.8
          }
        }
      }
    ],
    "count": 2,
    "_id": "5e2ecf45516aae26b133f354",
    "skip": 0,
    "limit": 10
  }
]              
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-status-page" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Status Page<span class="requestType">GET</span></h3>
    <p>
      <p>Get Single Status Pages.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/:statusPageId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>url</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The url of the status page.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>statusPageId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The status page id of the project status page.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/statusPage/5e3bfa83de29ed659247259d</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "_id": "5e3bfa83de29ed659247259d",
  "monitorIds": [],
  "links": null,
  "isPrivate": null,
  "isSubscriberEnabled": false,
  "isGroupedByMonitorCategory": false,
  "showScheduledEvents": true,
  "enableRSSFeed": true,
  "emailNotification": true,
  "smsNotification": true,
  "webhookNotification": true,
  "deleted": false,
  "createdAt": "2020-02-06T11:37:39.786Z",
  "projectId": {
    "_id": "5e2ecf45516aae26b133f354",
    "name": "Bello"
  },
  "domain": null,
  "title": null,
  "name": "Zenith 2",
  "description": null,
  "copyright": null,
  "faviconPath": null,
  "logoPath": null,
  "bannerPath": null,
  "colors": {
    "pageBackground": {
      "r": 238,
      "g": 242,
      "b": 246,
      "a": 1
    },
    "statusPageBackground": {
      "r": 246,
      "g": 249,
      "b": 252,
      "a": 1
    },
    "heading": {
      "r": 50,
      "g": 50,
      "b": 93,
      "a": 0.8
    },
    "subheading": {
      "r": 50,
      "g": 50,
      "b": 93,
      "a": 0.8
    }
  },
  "__v": 0,
  "monitorsData": []
}
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="edit-status-page" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Edit Status Page<span class="requestType">PUT</span></h3>
    <p>
      <p>Edit Status Page.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for the project or sub project</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>name</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Status Page Name</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>title</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Title of the status page</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>description</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Description of the status page</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>copyright</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Copyright Info about the status page</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>favicon</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Favicon URL for the Status Page</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>logoPath</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Logo URL for the status page</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>domain</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Domain this status page will be hosted on</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>isPrivate</span>
                <span class="item-type">Boolean</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Is this status page private to your team or public to the whole world.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorIds</span>
                <span class="item-type">Array</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Which monitors do you want to include in this status page?</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>links</span>
                <span class="item-type">Array</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Links that you want in the footer of the status page. This should not exceed 5. The format
                  should be `{name: "Home", url: "https://homepage.com"}`</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/statusPage/5e2ecf45516aae26b133f354</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "_id": "5e3bfa83de29ed659247259d",
  "monitorIds": [
    "5e321f87542c6f61d1292a83"
  ]
}            
            </p>
          </code>
        </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "monitorIds": [
    "5e321f87542c6f61d1292a83"
  ],
  "links": null,
  "isPrivate": null,
  "isSubscriberEnabled": false,
  "isGroupedByMonitorCategory": false,
  "showScheduledEvents": true,
  "enableRSSFeed": true,
  "emailNotification": true,
  "smsNotification": true,
  "webhookNotification": true,
  "deleted": false,
  "_id": "5e3bfa83de29ed659247259d",
  "createdAt": "2020-02-06T11:37:39.786Z",
  "projectId": "5e2ecf45516aae26b133f354",
  "domain": null,
  "title": null,
  "name": "Zenith 2",
  "description": null,
  "copyright": null,
  "faviconPath": null,
  "logoPath": null,
  "bannerPath": null,
  "colors": {
    "pageBackground": {
      "r": 238,
      "g": 242,
      "b": 246,
      "a": 1
    },
    "statusPageBackground": {
      "r": 246,
      "g": 249,
      "b": 252,
      "a": 1
    },
    "heading": {
      "r": 50,
      "g": 50,
      "b": 93,
      "a": 0.8
    },
    "subheading": {
      "r": 50,
      "g": 50,
      "b": 93,
      "a": 0.8
    }
  },
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="delete-status-page" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Delete Status Page<span class="requestType">DELETE</span></h3>
    <p>
      <p>Delete Status Page.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/:projectId/:statusPageId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>statusPageId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The status page id of the project status page.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/statusPage/5e2ecf45516aae26b133f354/5e3bfa83de29ed659247259d</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "monitorIds": [
    "5e321f87542c6f61d1292a83"
  ],
  "links": null,
  "isPrivate": null,
  "isSubscriberEnabled": false,
  "isGroupedByMonitorCategory": false,
  "showScheduledEvents": true,
  "enableRSSFeed": true,
  "emailNotification": true,
  "smsNotification": true,
  "webhookNotification": true,
  "deleted": true,
  "_id": "5e3bfa83de29ed659247259d",
  "createdAt": "2020-02-06T11:37:39.786Z",
  "projectId": "5e2ecf45516aae26b133f354",
  "domain": null,
  "title": null,
  "name": "Zenith 2",
  "description": null,
  "copyright": null,
  "faviconPath": null,
  "logoPath": null,
  "bannerPath": null,
  "colors": {
    "pageBackground": {
      "r": 238,
      "g": 242,
      "b": 246,
      "a": 1
    },
    "statusPageBackground": {
      "r": 246,
      "g": 249,
      "b": 252,
      "a": 1
    },
    "heading": {
      "r": 50,
      "g": 50,
      "b": 93,
      "a": 0.8
    },
    "subheading": {
      "r": 50,
      "g": 50,
      "b": 93,
      "a": 0.8
    }
  },
  "__v": 0,
  "deletedAt": "2020-02-06T12:38:34.968Z",
  "deletedById": "5e2ecf3f516aae26b133f352"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-status-page-rss" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Status Page RSS<span class="requestType">GET</span></h3>
    <p>
      <p>Get Status Page RSS.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/:statusPageId/rss</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>url</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The url of the status page.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>statusPageId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The status page id of the project status page.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/statusPage/5e3bfa83de29ed659247259d/rss</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <Title>Incidents for status page Zenith</Title>
  <Description>RSS feed for all incidents related to monitors attached to status page</Description>
  <Link>http://localhost:3002/statusPage/rss</Link>
  <LastBuildDate>Thu Feb 06 2020 12:44:44 GMT+0100 (West Africa Standard Time)</LastBuildDate>
  <Language>en</Language>
  <Incidents>
    <Incident>
      <IncidentType>offline</IncidentType>
      <IncidentId>5e3485a6f798176b8eceaa29</IncidentId>
      <MonitorName>Google Home</MonitorName>
      <MonitorId>5e321f87542c6f61d1292a83</MonitorId>
      <ManuallyCreated>false</ManuallyCreated>
      <InvestigationNote/>
    </Incident>
    <Incident>
      <IncidentType>offline</IncidentType>
      <IncidentId>5e3443912d08987eda83a4df</IncidentId>
      <MonitorName>Google Home</MonitorName>
      <MonitorId>5e321f87542c6f61d1292a83</MonitorId>
      <ManuallyCreated>false</ManuallyCreated>
      <InvestigationNote/>
    </Incident>
    <Incident>
      <IncidentType>degraded</IncidentType>
      <IncidentId>5e3317c7cafe407ab9351f40</IncidentId>
      <MonitorName>Google Home</MonitorName>
      <MonitorId>5e321f87542c6f61d1292a83</MonitorId>
      <ManuallyCreated>false</ManuallyCreated>
      <InvestigationNote/>
    </Incident>
    <Incident>
      <IncidentType>degraded</IncidentType>
      <IncidentId>5e3316d9cafe407ab9351ed2</IncidentId>
      <MonitorName>Google Home</MonitorName>
      <MonitorId>5e321f87542c6f61d1292a83</MonitorId>
      <ManuallyCreated>false</ManuallyCreated>
      <InvestigationNote/>
    </Incident>
    <Incident>
      <IncidentType>degraded</IncidentType>
      <IncidentId>5e33169ecafe407ab9351ec3</IncidentId>
      <MonitorName>Google Home</MonitorName>
      <MonitorId>5e321f87542c6f61d1292a83</MonitorId>
      <ManuallyCreated>true</ManuallyCreated>
      <InvestigationNote/>
    </Incident>
    <Incident>
      <IncidentType>offline</IncidentType>
      <IncidentId>5e33168bcafe407ab9351ec0</IncidentId>
      <MonitorName>Tello</MonitorName>
      <MonitorId>5e3154a8e991437d71ed1f16</MonitorId>
      <ManuallyCreated>true</ManuallyCreated>
      <InvestigationNote/>
    </Incident>
    <Incident>
      <IncidentType>degraded</IncidentType>
      <IncidentId>5e33165dcafe407ab9351eb5</IncidentId>
      <MonitorName>Google Home</MonitorName>
      <MonitorId>5e321f87542c6f61d1292a83</MonitorId>
      <ManuallyCreated>false</ManuallyCreated>
      <InvestigationNote/>
    </Incident>
    <Incident>
      <IncidentType>offline</IncidentType>
      <IncidentId>5e323bb2ab4ef87817ebf957</IncidentId>
      <MonitorName>Tello</MonitorName>
      <MonitorId>5e3154a8e991437d71ed1f16</MonitorId>
      <ManuallyCreated>true</ManuallyCreated>
      <InvestigationNote/>
    </Incident>
    <Incident>
      <IncidentType>offline</IncidentType>
      <IncidentId>5e323b5fab4ef87817ebf94c</IncidentId>
      <MonitorName>Google Home</MonitorName>
      <MonitorId>5e321f87542c6f61d1292a83</MonitorId>
      <ManuallyCreated>true</ManuallyCreated>
      <InvestigationNote/>
    </Incident>
    <Incident>
      <IncidentType>offline</IncidentType>
      <IncidentId>5e323b30ab4ef87817ebf93f</IncidentId>
      <MonitorName>Google Home</MonitorName>
      <MonitorId>5e321f87542c6f61d1292a83</MonitorId>
      <ManuallyCreated>true</ManuallyCreated>
      <InvestigationNote/>
    </Incident>
    <Incident>
      <IncidentType>degraded</IncidentType>
      <IncidentId>5e323ad1ab4ef87817ebf932</IncidentId>
      <MonitorName>Google Home</MonitorName>
      <MonitorId>5e321f87542c6f61d1292a83</MonitorId>
      <ManuallyCreated>true</ManuallyCreated>
      <InvestigationNote/>
    </Incident>
  </Incidents>
</rss>
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-status-page-notes" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Status Page Notes<span class="requestType">GET</span></h3>
    <p>
      <p>Get Status Page Notes.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/:projectId/:statusPageId/notes</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>statusPageId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The status page id of the project status page.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">
            https://api.fyipe.com/statusPage/5e2ecf45516aae26b133f354/5e3bfa83de29ed659247259d/notes?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "acknowledged": true,
      "acknowledgedByZapier": null,
      "resolved": true,
      "resolvedByZapier": null,
      "internalNote": "",
      "investigationNote": "",
      "createdByZapier": false,
      "notClosedBy": [],
      "manuallyCreated": false,
      "_id": "5e3485a6f798176b8eceaa29",
      "probes": [
        {
          "status": true,
          "_id": "5e3485a6f798176b8eceaa2a",
          "probeId": {
            "_id": "5e2ede37dbe0ab20a749ed9b",
            "probeName": "US East"
          },
          "updatedAt": "2020-01-31T19:53:10.599Z",
          "reportedStatus": "offline"
        }
      ],
      "createdAt": "2020-01-31T19:53:10.599Z",
      "projectId": "5e321f54542c6f61d1292a5a",
      "monitorId": {
        "_id": "5e321f87542c6f61d1292a83",
        "name": "Google Home"
      },
      "createdById": null,
      "incidentType": "offline",
      "acknowledgedAt": "2020-01-31T19:54:56.571Z",
      "acknowledgedBy": {
        "_id": "5e2ecf3f516aae26b133f352",
        "name": "Ibukun Olatayo Dairo"
      },
      "resolvedAt": "2020-01-31T19:54:56.571Z",
      "resolvedBy": {
        "_id": "5e2ecf3f516aae26b133f352",
        "name": "Ibukun Olatayo Dairo"
      }
    },
    {
      "acknowledged": true,
      "acknowledgedByZapier": null,
      "resolved": true,
      "resolvedByZapier": null,
      "internalNote": "",
      "investigationNote": "",
      "createdByZapier": false,
      "notClosedBy": [],
      "manuallyCreated": false,
      "_id": "5e348476f798176b8ecea8c7",
      "probes": [
        {
          "status": true,
          "_id": "5e348476f798176b8ecea8c8",
          "probeId": {
            "_id": "5e2ede37dbe0ab20a749ed9b",
            "probeName": "US East"
          },
          "updatedAt": "2020-01-31T19:48:06.495Z",
          "reportedStatus": "degraded"
        }
      ],
      "createdAt": "2020-01-31T19:48:06.493Z",
      "projectId": "5e321f54542c6f61d1292a5a",
      "monitorId": {
        "_id": "5e321f87542c6f61d1292a83",
        "name": "Google Home"
      },
      "createdById": null,
      "incidentType": "degraded",
      "acknowledgedAt": "2020-01-31T19:48:14.839Z",
      "acknowledgedBy": {
        "_id": "5e2ecf3f516aae26b133f352",
        "name": "Ibukun Olatayo Dairo"
      },
      "resolvedAt": "2020-01-31T19:48:14.839Z",
      "resolvedBy": {
        "_id": "5e2ecf3f516aae26b133f352",
        "name": "Ibukun Olatayo Dairo"
      }
    },
    {
      "acknowledged": true,
      "acknowledgedByZapier": null,
      "resolved": true,
      "resolvedByZapier": null,
      "internalNote": "",
      "investigationNote": "",
      "createdByZapier": false,
      "notClosedBy": [],
      "manuallyCreated": false,
      "_id": "5e3481e2f798176b8ecea4ec",
      "probes": [
        {
          "status": true,
          "_id": "5e3481e2f798176b8ecea4ed",
          "probeId": {
            "_id": "5e2ede37dbe0ab20a749ed9b",
            "probeName": "US East"
          },
          "updatedAt": "2020-01-31T19:37:06.548Z",
          "reportedStatus": "degraded"
        }
      ],
      "createdAt": "2020-01-31T19:37:06.548Z",
      "projectId": "5e321f54542c6f61d1292a5a",
      "monitorId": {
        "_id": "5e321f87542c6f61d1292a83",
        "name": "Google Home"
      },
      "createdById": null,
      "incidentType": "degraded",
      "acknowledgedAt": "2020-01-31T19:39:53.962Z",
      "acknowledgedBy": {
        "_id": "5e2ecf3f516aae26b133f352",
        "name": "Ibukun Olatayo Dairo"
      },
      "resolvedAt": "2020-01-31T19:39:53.962Z",
      "resolvedBy": {
        "_id": "5e2ecf3f516aae26b133f352",
        "name": "Ibukun Olatayo Dairo"
      }
    },
    {
      "acknowledged": true,
      "acknowledgedByZapier": null,
      "resolved": true,
      "resolvedByZapier": null,
      "internalNote": "",
      "investigationNote": "",
      "createdByZapier": false,
      "notClosedBy": [],
      "manuallyCreated": false,
      "_id": "5e347fc6f798176b8ecea2a1",
      "probes": [
        {
          "status": true,
          "_id": "5e347fc6f798176b8ecea2a2",
          "probeId": {
            "_id": "5e2ede37dbe0ab20a749ed9b",
            "probeName": "US East"
          },
          "updatedAt": "2020-01-31T19:28:06.789Z",
          "reportedStatus": "degraded"
        }
      ],
      "createdAt": "2020-01-31T19:28:06.788Z",
      "projectId": "5e321f54542c6f61d1292a5a",
      "monitorId": {
        "_id": "5e321f87542c6f61d1292a83",
        "name": "Google Home"
      },
      "createdById": null,
      "incidentType": "degraded",
      "acknowledgedAt": "2020-01-31T19:35:40.653Z",
      "acknowledgedBy": {
        "_id": "5e2ecf3f516aae26b133f352",
        "name": "Ibukun Olatayo Dairo"
      },
      "resolvedAt": "2020-01-31T19:35:40.653Z",
      "resolvedBy": {
        "_id": "5e2ecf3f516aae26b133f352",
        "name": "Ibukun Olatayo Dairo"
      }
    },
    {
      "acknowledged": true,
      "acknowledgedByZapier": null,
      "resolved": true,
      "resolvedByZapier": null,
      "internalNote": "",
      "investigationNote": "",
      "createdByZapier": false,
      "notClosedBy": [],
      "manuallyCreated": false,
      "_id": "5e347f17f798176b8ecea1be",
      "probes": [
        {
          "status": true,
          "_id": "5e347f17f798176b8ecea1bf",
          "probeId": {
            "_id": "5e2ede37dbe0ab20a749ed9b",
            "probeName": "US East"
          },
          "updatedAt": "2020-01-31T19:25:11.713Z",
          "reportedStatus": "degraded"
        }
      ],
      "createdAt": "2020-01-31T19:25:11.712Z",
      "projectId": "5e321f54542c6f61d1292a5a",
      "monitorId": {
        "_id": "5e321f87542c6f61d1292a83",
        "name": "Google Home"
      },
      "createdById": null,
      "incidentType": "degraded",
      "acknowledgedAt": "2020-01-31T19:27:49.224Z",
      "acknowledgedBy": {
        "_id": "5e2ecf3f516aae26b133f352",
        "name": "Ibukun Olatayo Dairo"
      },
      "resolvedAt": "2020-01-31T19:27:49.224Z",
      "resolvedBy": {
        "_id": "5e2ecf3f516aae26b133f352",
        "name": "Ibukun Olatayo Dairo"
      }
    }
  ],
  "count": 29,
  "skip": 0,
  "limit": 5
}               
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-status-page-monitor-notes" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Status Page Monitor Notes<span class="requestType">GET</span></h3>
    <p>
      <p>Get Status Page Monitor Notes</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/:projectId/:monitorId/individualnotes</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The monitor id of the project monitor.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">
            https://api.fyipe.com/statusPage/5e2ecf45516aae26b133f354/5e321f87542c6f61d1292a83/individualnotes?skip=0&limit=5
          </p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "investigationNote": "",
      "createdAt": "2020-01-31T19:53:10.599Z",
      "monitorId": {
        "_id": "5e321f87542c6f61d1292a83",
        "name": "Google Home"
      },
      "resolved": true,
      "_id": "5e3485a6f798176b8eceaa29"
    },
    {
      "investigationNote": "",
      "createdAt": "2020-01-31T19:48:06.493Z",
      "monitorId": {
        "_id": "5e321f87542c6f61d1292a83",
        "name": "Google Home"
      },
      "resolved": true,
      "_id": "5e348476f798176b8ecea8c7"
    },
    {
      "investigationNote": "",
      "createdAt": "2020-01-31T19:37:06.548Z",
      "monitorId": {
        "_id": "5e321f87542c6f61d1292a83",
        "name": "Google Home"
      },
      "resolved": true,
      "_id": "5e3481e2f798176b8ecea4ec"
    },
    {
      "investigationNote": "",
      "createdAt": "2020-01-31T19:28:06.788Z",
      "monitorId": {
        "_id": "5e321f87542c6f61d1292a83",
        "name": "Google Home"
      },
      "resolved": true,
      "_id": "5e347fc6f798176b8ecea2a1"
    },
    {
      "investigationNote": "",
      "createdAt": "2020-01-31T19:25:11.712Z",
      "monitorId": {
        "_id": "5e321f87542c6f61d1292a83",
        "name": "Google Home"
      },
      "resolved": true,
      "_id": "5e347f17f798176b8ecea1be"
    }
  ],
  "count": 16,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-monitor-statuses" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Monitor Statuses<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Monitor Statuses.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/:projectId/:monitorId/monitorStatuses</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>startDate</span>
                <span class="item-type">Date</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The start date of the date range.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>endDate</span>
                <span class="item-type">Date</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The end date of the date range.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The monitor id of the project monitor.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">
            https://api.fyipe.com/statusPage/5e2ecf45516aae26b133f354d/5e321f87542c6f61d1292a83/monitorStatuses</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "_id": "5e2ede37dbe0ab20a749ed9b",
      "statuses": [
        {
          "manuallyCreated": false,
          "endTime": null,
          "_id": "5e3b1f94927afc6d082372ea",
          "startTime": "2020-02-05T20:03:32.688Z",
          "createdAt": "2020-02-05T20:03:32.688Z",
          "monitorId": "5e321f87542c6f61d1292a83",
          "probeId": "5e2ede37dbe0ab20a749ed9b"
        },
        {
          "manuallyCreated": false,
          "endTime": null,
          "_id": "5e322885542c6f61d1292c7c",
          "startTime": "2020-01-30T00:51:17.983Z",
          "createdAt": "2020-01-30T00:51:17.983Z",
          "monitorId": "5e321f87542c6f61d1292a83",
          "probeId": "5e2ede37dbe0ab20a749ed9b",
          "responseTime": null,
          "status": "online"
        }
      ]
    }
  ],
  "count": 1
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-probes" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Probes<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Probes.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/statusPage/:projectId/probes</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/statusPage/5e2ecf45516aae26b133f354/probes?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "_id": "5e2ede37dbe0ab20a749ed9b",
      "createdAt": "2020-01-27T11:53:35.429Z",
      "probeKey": "33b674ca-9fdd-11e9-a2a3-2a2ae2dbcce4",
      "probeName": "US East",
      "lastAlive": "2020-02-05T20:09:34.596Z"
    },
    {
      "_id": "5e2ede71dbe0ab20a749edd4",
      "createdAt": "2020-01-27T11:53:35.429Z",
      "probeKey": "33b674ca-9fdd-11e9-a2a3-2a2ae2dbcce5",
      "probeName": "US West",
      "lastAlive": "2020-01-27T11:53:35.429Z"
    }
  ],
  "count": 2,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>