<article id="subscriber" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Subscriber</h1>
    </b>
    <p>
      <p>Subscriber API will allow you to subscribe your customers to monitor incidents and send alerts.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
  </section>
</article>

<article id="create-status-spage-subscriber" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Status Page Subscriber<span class="requestType">POST</span></h3>
    <p>
      <p>Create Status Page Subscriber by Project ID and Status Page ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/:projectId/:statusPageId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>statusPageId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The status page id of the project status page.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for the project or sub project</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorIds</span>
                <span class="item-type">Array</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Array of monitor Id or monitor names you want subscriber to subscribe to.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>contactEmail</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Email of the subscriber</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>contactPhone</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Phone Number of the Subscriber</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>alertVia</span>
                <span class="item-type">Array</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>How do you want the subscriber to be alerted. Can be any or all of these values ["call", "sms",
                  "email"]</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/subscriber/5e089f94b400211639928c94/5e1b877a41127144f8144b9d</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "userDetails": {
    "method": "email",
    "email": "nawazdhandala@hackerbay.io",
    "contactEmail": "nawazdhandala@hackerbay.io"
  },
  "monitors": [
    "5e08a21b25c59a1c8033c7e7"
  ]
}              
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
[
  {
    "_id": "5e1b990041127144f8144ce9",
    "createdAt": "2020-01-12T22:09:04.011Z",
    "projectId": {
      "_id": "5e089f94b400211639928c94",
      "name": "Bello"
    },
    "monitorId": {
      "_id": "5e08a21b25c59a1c8033c7e7",
      "name": "Google Home"
    },
    "statusPageId": "5e1b877a41127144f8144b9d",
    "alertVia": "email",
    "contactEmail": "nawazdhandala@hackerbay.io",
    "contactPhone": null,
    "countryCode": null,
    "contactWebhook": null
  }
]              
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="create-monitor-subscriber" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Monitor Subscriber<span class="requestType">POST</span></h3>
    <p>
      <p>Create Monitor Subscriber by Project ID and Monitor ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/:projectId/subscribe/:monitorId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The monitor id of the project monitor.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for the project or sub project</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorIds</span>
                <span class="item-type">Array</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Array of monitor Id or monitor names you want subscriber to subscribe to.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>contactEmail</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Email of the subscriber</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>contactPhone</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Phone Number of the Subscriber</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>alertVia</span>
                <span class="item-type">Array</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>How do you want the subscriber to be alerted. Can be any or all of these values ["call", "sms",
                  "email"]</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/subscriber/5e089f94b400211639928c94/subscribe/5e08a21b25c59a1c8033c7e7
          </p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "alertVia": "email",
  "email": "nawazdhandala@hackerbay.io",
  "contactEmail": "nawazdhandala@hackerbay.io"
}
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "deleted": false,
  "_id": "5e1b973341127144f8144ce8",
  "createdAt": "2020-01-12T22:01:23.791Z",
  "projectId": {
    "_id": "5e089f94b400211639928c94",
    "name": "Bello"
  },
  "monitorId": {
    "_id": "5e08a21b25c59a1c8033c7e7",
    "name": "Google Home"
  },
  "statusPageId": null,
  "alertVia": "email",
  "contactEmail": "nawazdhandala@hackerbay.io",
  "contactPhone": null,
  "countryCode": null,
  "contactWebhook": null,
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-subscribers" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Subscribers<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Subscribers by Project ID. Return by skipping and limiting the number of results.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/subscriber/5e089f94b400211639928c94?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "_id": "5e0f2e717f3127159be72c9f",
      "createdAt": "2020-01-03T12:07:13.864Z",
      "projectId": {
        "_id": "5e089f94b400211639928c94",
        "name": "Bello"
      },
      "monitorId": {
        "_id": "5e08a21b25c59a1c8033c7e7",
        "name": "Google Home"
      },
      "statusPageId": null,
      "alertVia": "email",
      "contactEmail": "nawazdhandala@hackerbay.io",
      "contactPhone": null,
      "countryCode": null,
      "contactWebhook": null
    }
  ],
  "count": 1,
  "skip": 0,
  "limit": 5
}                               
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-monitor-subscribers" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Monitor Subscribers<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Monitor Subscribers by Project ID and Monitor ID. Return by skipping and limiting the number of
        results.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/:projectId/monitor/:monitorId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The monitor id of the project monitor.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">
            https://api.fyipe.com/subscriber/5e089f94b400211639928c94/monitor/5e08a21b25c59a1c8033c7e7?skip=0&limit=5
          </p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "_id": "5e0f2e717f3127159be72c9f",
      "createdAt": "2020-01-03T12:07:13.864Z",
      "projectId": {
        "_id": "5e089f94b400211639928c94",
        "name": "Bello"
      },
      "monitorId": {
        "_id": "5e08a21b25c59a1c8033c7e7",
        "name": "Google Home"
      },
      "statusPageId": null,
      "alertVia": "email",
      "contactEmail": "nawazdhandala@hackerbay.io",
      "contactPhone": null,
      "countryCode": null,
      "contactWebhook": null
    }
  ],
  "count": 1,
  "skip": 0,
  "limit": 5
}                                              
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-subscriber" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Subscriber<span class="requestType">GET</span></h3>
    <p>
      <p>Get Single Subscriber by Project ID and Subscriber ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/:projectId/:subscriberId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>subscriberId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The subscriber id of the monitor subscriber.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/subscriber/5e089f94b400211639928c94/5e0f2e717f3127159be72c9f</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "deleted": false,
  "_id": "5e0f2e717f3127159be72c9f",
  "createdAt": "2020-01-03T12:07:13.864Z",
  "projectId": {
    "_id": "5e089f94b400211639928c94",
    "name": "Bello"
  },
  "monitorId": {
    "_id": "5e08a21b25c59a1c8033c7e7",
    "name": "Google Home"
  },
  "statusPageId": null,
  "alertVia": "email",
  "contactEmail": "nawazdhandala@hackerbay.io",
  "contactPhone": null,
  "countryCode": null,
  "contactWebhook": null,
  "__v": 0
}                                              
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="delete-subscriber" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Delete Subscriber<span class="requestType">DELETE</span></h3>
    <p>
      <p>Delete Subscriber by Project ID and Subscriber ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/:projectId/:subscriberId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>subscriberId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The subscriber id of the monitor subscriber.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/subscriber/5e089f94b400211639928c94/5e0f2e717f3127159be72c9f</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "deleted": true,
  "_id": "5e1b973341127144f8144ce8",
  "createdAt": "2020-01-12T22:01:23.791Z",
  "projectId": "5e089f94b400211639928c94",
  "monitorId": "5e08a21b25c59a1c8033c7e7",
  "statusPageId": null,
  "alertVia": "email",
  "contactEmail": "nawazdhandala@hackerbay.io",
  "contactPhone": null,
  "countryCode": null,
  "contactWebhook": null,
  "__v": 0,
  "deletedAt": "2020-01-12T22:02:33.736Z",
  "deletedById": "5e089f88b400211639928c92"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>