<article id="subscriber-alert" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Subscriber Alert</h1>
    </b>
    <p>
      <p>Subscriber Alert API will allow you to send alerts and access all the alerts that were sent to your customers
        who have subscribed to monitor incidents. If you want to access alerts that were sent to your Fyipe team
        members, please check Alert API.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriberAlert/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example"></section>
</article>

<article id="create-subscriber-alert" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Subscriber Alert<span class="requestType">POST</span></h3>
    <p>
      <p>Create Subscriber Alert.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriberAlert/:projectId/:subscriberId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>subscriberId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The subscriber id of the monitor subscriber.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/subscriberAlert/5e089f94b400211639928c94/5e0f2e717f3127159be72c9f</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "alertStatus": "offline",
  "alertVia": "sms",
  "incidentId": "5e1725db1f31a13e98acd8d9"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "error": false,
  "deleted": false,
  "_id": "5e1b551f41127144f81447ab",
  "createdAt": "2020-01-12T17:19:27.346Z",
  "projectId": "5e089f94b400211639928c94",
  "subscriberId": "5e0f2e717f3127159be72c9f",
  "incidentId": "5e1725db1f31a13e98acd8d9",
  "alertVia": "sms",
  "alertStatus": "offline",
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-subscriber-alerts" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Subscriber Alerts<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Subscriber Alerts.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriberAlert/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/subscriberAlert/5e089f94b400211639928c94?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "error": false,
      "_id": "5e1776ec1f31a13e98acdd1e",
      "createdAt": "2020-01-09T18:54:36.231Z",
      "projectId": {
        "_id": "5e089f94b400211639928c94",
        "name": "Bello"
      },
      "subscriberId": {
        "_id": "5e0f2e717f3127159be72c9f",
        "contactEmail": "nawazdhandala@hackerbay.io",
        "contactPhone": null,
        "contactWebhook": null
      },
      "incidentId": {
        "_id": "5e1776861f31a13e98acdd1a"
      },
      "alertVia": "email",
      "alertStatus": "Sent"
    },
    {
      "error": false,
      "_id": "5e1776af1f31a13e98acdd1d",
      "createdAt": "2020-01-09T18:53:35.262Z",
      "projectId": {
        "_id": "5e089f94b400211639928c94",
        "name": "Bello"
      },
      "subscriberId": {
        "_id": "5e0f2e717f3127159be72c9f",
        "contactEmail": "nawazdhandala@hackerbay.io",
        "contactPhone": null,
        "contactWebhook": null
      },
      "incidentId": {
        "_id": "5e1776861f31a13e98acdd1a"
      },
      "alertVia": "email",
      "alertStatus": "Sent"
    },
    {
      "error": false,
      "_id": "5e1395f5a55da96da8d148bf",
      "createdAt": "2020-01-06T20:17:57.981Z",
      "projectId": {
        "_id": "5e089f94b400211639928c94",
        "name": "Bello"
      },
      "subscriberId": {
        "_id": "5e0f2e717f3127159be72c9f",
        "contactEmail": "nawazdhandala@hackerbay.io",
        "contactPhone": null,
        "contactWebhook": null
      },
      "incidentId": {
        "_id": "5e13933da55da96da8d1482a"
      },
      "alertVia": "email",
      "alertStatus": "Sent"
    },
    {
      "error": false,
      "_id": "5e139343a55da96da8d14893",
      "createdAt": "2020-01-06T20:06:27.277Z",
      "projectId": {
        "_id": "5e089f94b400211639928c94",
        "name": "Bello"
      },
      "subscriberId": {
        "_id": "5e0f2e717f3127159be72c9f",
        "contactEmail": "nawazdhandala@hackerbay.io",
        "contactPhone": null,
        "contactWebhook": null
      },
      "incidentId": {
        "_id": "5e13933da55da96da8d1482a"
      },
      "alertVia": "email",
      "alertStatus": "Sent"
    },
    {
      "error": false,
      "_id": "5e138f8578c1306cb706bda3",
      "createdAt": "2020-01-06T19:50:29.225Z",
      "projectId": {
        "_id": "5e089f94b400211639928c94",
        "name": "Bello"
      },
      "subscriberId": {
        "_id": "5e0f2e717f3127159be72c9f",
        "contactEmail": "nawazdhandala@hackerbay.io",
        "contactPhone": null,
        "contactWebhook": null
      },
      "incidentId": {
        "_id": "5e138f7f78c1306cb706bd68"
      },
      "alertVia": "email",
      "alertStatus": "Sent"
    }
  ],
  "count": 16,
  "skip": 0,
  "limit": 5
}                                                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-subscriber-alerts-by-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Subscriber Alerts By Incident<span class="requestType">GET</span></h3>
    <p>
      <p>Get All Subscriber Alerts By Incident.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriberAlert/:projectId/incident/:incidentId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>incidentId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The incident id of the monitor incident.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">
            https://api.fyipe.com/subscriberAlert/5e089f94b400211639928c94/incident/5e1776861f31a13e98acdd1a?skip=0&limit=5
          </p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "error": false,
      "_id": "5e1776ec1f31a13e98acdd1e",
      "createdAt": "2020-01-09T18:54:36.231Z",
      "projectId": {
        "_id": "5e089f94b400211639928c94",
        "name": "Bello"
      },
      "subscriberId": {
        "_id": "5e0f2e717f3127159be72c9f",
        "contactEmail": "nawazdhandala@hackerbay.io",
        "contactPhone": null,
        "contactWebhook": null
      },
      "incidentId": {
        "_id": "5e1776861f31a13e98acdd1a"
      },
      "alertVia": "email",
      "alertStatus": "Sent"
    },
    {
      "error": false,
      "_id": "5e1776af1f31a13e98acdd1d",
      "createdAt": "2020-01-09T18:53:35.262Z",
      "projectId": {
        "_id": "5e089f94b400211639928c94",
        "name": "Bello"
      },
      "subscriberId": {
        "_id": "5e0f2e717f3127159be72c9f",
        "contactEmail": "nawazdhandala@hackerbay.io",
        "contactPhone": null,
        "contactWebhook": null
      },
      "incidentId": {
        "_id": "5e1776861f31a13e98acdd1a"
      },
      "alertVia": "email",
      "alertStatus": "Sent"
    }
  ],
  "count": 2,
  "skip": 0,
  "limit": 5
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>