<article id="subscriber" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Subscriber</h1>
    </b>
    <p>
      <p>Subscribers are your customers who subscribe to alerts for your Monitors. They are alerted via SMS and
        Email when something unexpected happens.
      </p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
  </section>
</article>

<article id="create-status-spage-subscriber" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Status Page Subscriber<span class="requestType">POST</span></h3>
    <p>
      <p> Create a subscriber for a monitor. </p>
    </p>
    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/:projectId/:statusPageId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Body</h3>
      <ul class="doc-item-detail-container">
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for the project or sub project</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorIds</span>
                <span class="item-type">Array</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Array of monitor Id or monitor names you want subscriber to subscribe to.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>contactEmail</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Email of the subscriber</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>contactPhone</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Phone Number of the Subscriber</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>alertVia</span>
                <span class="item-type">Array</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>How do you want the subscriber to be alerted. Can be any or all of these values ["call", "sms",
                  "email"]</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </section>

  <section class="col-lg-half col-md-half dev-doc-example">

    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>
        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/subscriber/:projectId/:statusPageId</p>
          <p>Request Body</p>
          <pre><code class="language-json"><p>{
"api-key":"xxx",
"alertVia": ["sms", "email"],
"monitorIds": ["Ab0c129e367534000fdbc46f"],
"contactEmail":"my@email.com",
"contactPhone": "+1-510-751-0204",
}</p></code></pre>
        </div>

      </div>
      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                              <code class="language-json">
                                <p>{
"_id": "eb0c129e36753400Xfdbc46l"
"alertVia": ["sms", "email"],
"monitors": [{ 
"_id": "Ab0c129e367534000fdbc46f", 
"name": "Sample Monitor"
}],
"contactEmail":"my@email.com",
"contactPhone": "+1-510-751-0204",
}
                                </p>
          
                              </code>
                          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="create-monitor-subscriber" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Monitor Subscriber<span class="requestType">POST</span></h3>
    <p>
      <p> Update a subscriber in the project. </p>
    </p>
    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/:projectId/subscribe/:monitorId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Body</h3>
      <ul class="doc-item-detail-container">
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for the project or sub project</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorIds</span>
                <span class="item-type">Array</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Array of monitor Id or monitor names you want subscriber to subscribe to.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>contactEmail</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Email of the subscriber</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>contactPhone</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Phone Number of the Subscriber</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>alertVia</span>
                <span class="item-type">Array</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>How do you want the subscriber to be alerted. Can be any or all of these values ["call", "sms",
                  "email"]</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </section>

  <section class="col-lg-half col-md-half dev-doc-example">

    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>
        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/subscriber/:projectId/subscribe/:monitorId</p>
          <p>Request Body</p>
          <pre><code class="language-json"><p>{
"alertVia": ["sms", "email"],
"monitorIds": ["Ab0c129e367534000fdbc46f"],
"contactEmail":"my@email.com",
"contactPhone": "+1-510-751-0204",
}</p></code></pre>
        </div>

      </div>
      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                                <code class="language-json">
                                  <p>{
"_id": "Xb0c129e367534000fdbc46f"
"alertVia": ["sms", "email"],
"monitors": [{ 
"_id": "Ab0c129e367534000fdbc46f", 
"name": "Sample Monitor"
}],
"contactEmail":"my@email.com",
"contactPhone": "+1-510-751-0204",

}
                                  </p>
            
                                </code>
                            </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-subscribers" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Subscribers<span class="requestType">GET</span></h3>
    <p>
      <p> Get all subscribers by Project </p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/:projectId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query String</h3>
      <ul class="doc-item-detail-container">
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for the project or sub project</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Number of items you would like to return from the API.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Number of items you would need to skip. This is used in pagination</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">

    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>
        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/subscriber/:projectId?skip=0&limit=5</p>

        </div>

      </div>
      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                              <code class="language-json">
                                <p>
{
"subscribers" [{
"_id": "eb0c129e36753400Xfdbc46l"
"alertVia": ["sms", "email"],
"monitors": [{ 
  _id: "Ab0c129e367534000fdbc46f", 
  name: "Sample Monitor"
}],
"contactEmail":"my@email.com",
"contactPhone": "+1-510-751-0204",
}],
count:1,
skip:0,
limit:10
}
                                
                                </p>
          
                              </code>
                          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-monitor-subscribers" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All Monitor Subscribers<span class="requestType">GET</span></h3>
    <p>
      <p> Get all subscribers by Project </p>
    </p>
    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/:projectId/monitor/:monitorId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query String</h3>
      <ul class="doc-item-detail-container">
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for the project or sub project</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Number of items you would like to return from the API.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Number of items you would need to skip. This is used in pagination</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>monitorId (optional)</span>
                <span class="item-type">String</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>Set this value if you want to filter the results by Monitor</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </section>

  <section class="col-lg-half col-md-half dev-doc-example">

    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>
        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/subscriber/:projectId/monitor/:monitorId?skip=0&limit=5</p>

        </div>

      </div>
      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                              <code class="language-json">
                                <p>
{
"subscribers" [{
"_id": "eb0c129e36753400Xfdbc46l"
"alertVia": ["sms", "email"],
"monitors": [{ 
  _id: "Ab0c129e367534000fdbc46f", 
  name: "Sample Monitor"
}],
"contactEmail":"my@email.com",
"contactPhone": "+1-510-751-0204",
}],
count:1,
skip:0,
limit:10
}
                                
                                </p>
          
                              </code>
                          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-subscriber" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Subscriber<span class="requestType">GET</span></h3>
    <p>
      <p> Get all subscribers by Subscriber ID </p>
    </p>
    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/:projectId/:subscriberId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query String</h3>
      <ul class="doc-item-detail-container">
        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for the project or sub project</p>
              </div>
            </div>
          </div>
        </li>





      </ul>
    </div>

  </section>

  <section class="col-lg-half col-md-half dev-doc-example">

    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>
        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/subscriber/:projectId/:subscriberId</p>

        </div>

      </div>
      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                                <code class="language-json">
                                  <p>
{
"_id": "eb0c129e36753400Xfdbc46l"
"alertVia": ["sms", "email"],
"monitors": [{ 
"_id": "Ab0c129e367534000fdbc46f", 
"name": "Sample Monitor"
}],
"contactEmail":"my@email.com",
"contactPhone": "+1-510-751-0204",
}
                                  
                                  </p>
            
                                </code>
                            </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="delete-subscriber" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Delete Subscriber<span class="requestType">DELETE</span></h3>
    <p>
      <p> Delete a subscriber by Subscriber ID </p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/subscriber/:projectId/:subscriberId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query String</h3>
      <ul class="doc-item-detail-container">

        <li data-location="header">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>api-key</span>
                <span class="item-type  ">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>API Key for your Fyipe Project</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">

    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>
        <div class="example-code">
          <p class="url"> https://api.fyipe.com/subscriber/:projectId/:subscriberId</p>
        </div>

      </div>
      <div class="doc-example-item">
        <h1>Example Response (200)</h1>
        <div class="example-code example-response">
          <pre>
                                  <code class="language-json">
                                    <p>{
"_id": "Xb0c129e367534000fdbc46f"
"alertVia": ["sms", "email"],
"monitors": [{ 
"_id": "Ab0c129e367534000fdbc46f", 
"name": "Sample Monitor"
}],
"contactEmail":"my@email.com",
"contactPhone": "+1-510-751-0204",

}
                                  </p>
              
                                  </code>
                              </pre>
        </div>
      </div>
    </div>
  </section>
</article>