<article id="webhook" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>WebHook</h1>
    </b>
    <p>
      <p>WebHook API will allow you to integrate Fyipe with your WebHook URLs.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/webhook/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example"></section>
</article>

<article id="create-webhook" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create WebHook<span class="requestType">POST</span></h3>
    <p>
      <p>Create WebHook by Project ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/webhook/:projectId/create</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/webhook/5e089f94b400211639928c94/create</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "endpoint": "https://fyipe.com",
  "endpointType": "get",
  "monitorId": "5e08a21b25c59a1c8033c7e7",
  "type": "webhook",
  "incidentCreated": true,
  "incidentResolved": false,
  "incidentAcknowledged": false
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "notificationOptions": {
    "incidentCreated": true,
    "incidentAcknowledged": false,
    "incidentResolved": false
  },
  "deleted": false,
  "_id": "5e1cf554e6a0421634359491",
  "monitorId": {
    "_id": "5e08a21b25c59a1c8033c7e7",
    "name": "Google Home"
  },
  "createdAt": "2020-01-13T22:55:16.682Z",
  "projectId": {
    "_id": "5e089f94b400211639928c94",
    "name": "Bello"
  },
  "createdById": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  },
  "data": {
    "userId": "5e089f88b400211639928c92",
    "endpoint": "https://fyipe.com",
    "endpointType": "get",
    "monitorId": "5e08a21b25c59a1c8033c7e7"
  },
  "integrationType": "webhook",
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-all-webhooks" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get All WebHooks<span class="requestType">GET</span></h3>
    <p>
      <p>Get All WebHooks by Project ID. Return by skipping and limiting the number of results.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/webhook/:projectId/hooks</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>skip</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to skip in the response body.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>limit</span>
                <span class="item-type">integer</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The number of results to return in the response body.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/webhook/5e089f94b400211639928c94/hooks?skip=0&limit=5</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "data": [
    {
      "notificationOptions": {
        "incidentCreated": true,
        "incidentAcknowledged": false,
        "incidentResolved": false
      },
      "_id": "5e0fd2f97f3127159be74863",
      "monitorId": {
        "_id": "5e0a4b1678caf04fd1fedcbe",
        "name": "Ubuntu Machine"
        "name": "Ubuntu Machine"
      },
      "createdAt": "2020-01-03T23:49:13.864Z",
      "projectId": {
        "_id": "5e089f94b400211639928c94",
        "name": "Bello"
      },
      "createdById": {
        "_id": "5e089f88b400211639928c92",
        "name": "Nawaz Dhandala"
      },
      "data": {
        "userId": "5e089f88b400211639928c92",
        "endpoint": "https://fyipe.com",
        "endpointType": "get",
        "monitorId": "5e0a4b1678caf04fd1fedcbe"
      },
      "integrationType": "webhook"
    }
  ],
  "count": 1,
  "skip": 0,
  "limit": 5
}                     
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="edit-webhook" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Edit WebHook<span class="requestType">PUT</span></h3>
    <p>
      <p>Edit WebHook by Project ID and Integration ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/webhook/:projectId/:integrationId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>integrationId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The integration id of the webhook integration.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/webhook/5e089f94b400211639928c94/5e0fd2f97f3127159be74863</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p>
{
  "endpoint": "https://fyipe.com",
  "monitorId": "5e0a4b1678caf04fd1fedcbe",
  "endpointType": "get",
  "type": "webhook",
  "incidentCreated": true,
  "incidentResolved": false,
  "incidentAcknowledged": false
}                
              </p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "notificationOptions": {
    "incidentCreated": true,
    "incidentAcknowledged": false,
    "incidentResolved": false
  },
  "deleted": false,
  "_id": "5e0fd2f97f3127159be74863",
  "monitorId": {
    "_id": "5e0a4b1678caf04fd1fedcbe",
    "name": "Ubuntu Machine"
  },
  "createdAt": "2020-01-03T23:49:13.864Z",
  "projectId": {
    "_id": "5e089f94b400211639928c94",
    "name": "Bello"
  },
  "createdById": {
    "_id": "5e089f88b400211639928c92",
    "name": "Nawaz Dhandala"
  },
  "data": {
    "userId": "5e089f88b400211639928c92",
    "endpoint": "https://fyipe.com",
    "endpointType": "get",
    "monitorId": "5e0a4b1678caf04fd1fedcbe"
  },
  "integrationType": "webhook",
  "__v": 0
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="delete-webhook" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Delete WebHook<span class="requestType">DELETE</span></h3>
    <p>
      <p>Delete WebHook by Project ID and Integration ID.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/webhook/:projectId/delete/:integrationId</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>projectId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The project id of the project.</p>
              </div>
            </div>
          </div>
        </li>
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span>integrationId</span>
                <span class="item-type">string</span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p>The integration id of the webhook integration.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/webhook/5e089f94b400211639928c94/delete/5e1cf554e6a0421634359491</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p>
{
  "notificationOptions": {
    "incidentCreated": true,
    "incidentAcknowledged": false,
    "incidentResolved": false
  },
  "deleted": true,
  "_id": "5e1cf554e6a0421634359491",
  "monitorId": "5e08a21b25c59a1c8033c7e7",
  "createdAt": "2020-01-13T22:55:16.682Z",
  "projectId": "5e089f94b400211639928c94",
  "createdById": "5e089f88b400211639928c92",
  "data": {
    "userId": "5e089f88b400211639928c92",
    "endpoint": "https://fyipe.com",
    "endpointType": "get",
    "monitorId": "5e08a21b25c59a1c8033c7e7"
  },
  "integrationType": "webhook",
  "__v": 0,
  "deletedAt": "2020-01-14T20:57:57.751Z",
  "deletedById": "5e089f88b400211639928c92"
}                
              </p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>