<article id="zapier" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <b>
      <h1>Zapier</h1>
    </b>
    <p>
      <p>Zapier API.</p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>
      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container"></div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example"></section>
</article>

<article id="test-zapier" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Test Zapier<span class="requestType">GET</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/test</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/test</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-monitors" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Monitors<span class="requestType">GET</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/monitors</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/monitors</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="create-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Create Incident<span class="requestType">POST</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/incident/createIncident</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/incident/createIncident</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-incidents" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Incidents<span class="requestType">GET</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/incidents</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/incidents</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-resolved-incidents" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Resolved Incidents<span class="requestType">GET</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/incident/resolved</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/incident/resolved</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="resolve-last-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Resolve Last Incident<span class="requestType">POST</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/incident/resolveLastIncident</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/incident/resolveLastIncident</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="resolve-all-incidents" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Resolve All Incidents<span class="requestType">POST</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/incident/resolveAllIncidents</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/incident/resolveAllIncidents</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="resolve-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Resolve Incident<span class="requestType">POST</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/incident/resolveIncident</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/incident/resolveIncident</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="get-acknowledged-incidents" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Get Acknowledged Incidents<span class="requestType">GET</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/incident/acknowledged</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/incident/acknowledged</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="acknowledge-last-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Acknowledge Last Incident<span class="requestType">POST</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/incident/acknowledgeLastIncident</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/incident/acknowledgeLastIncident</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="acknowledge-all-incidents" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Acknowledge All Incidents<span class="requestType">POST</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/incident/acknowledgeAllIncidents</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/incident/acknowledgeAllIncidents</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="acknowledge-incident" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Acknowledge Incident<span class="requestType">POST</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/incident/acknowledgeIncident</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/incident/acknowledgeIncident</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="subscribe" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Subscribe<span class="requestType">POST</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/subscribe</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Body</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/subscribe</p>

          <p>Request Body</p>
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>

<article id="unsubscribe" class="cf-grid-container dev-doc-item-container">
  <section class="col-lg-half col-md-half dev-doc-item">
    <h3>Unsubscribe<span class="requestType">DELETE</span></h3>
    <p>
      <p></p>
    </p>

    <div class="attribute-parameter-container">
      <h3>Path</h3>

      <ul class="doc-item-detail-container">
        <li>
          <div class="cf-grid-row">
            <div class="col-full">
              <div class="item-title">
                <span>https://api.fyipe.com/zapier/unsubscribe/:id</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Query Params</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="attribute-parameter-container">
      <h3>Path Variables</h3>

      <ul class="doc-item-detail-container">
        <li data-location="path">
          <div class="cf-grid-row">
            <div class="col-lg-third-1 pull-left">
              <div class="item-title">
                <span></span>
                <span class="item-type"></span>
              </div>
            </div>
            <div class="col-lg-third-2 pull-left">
              <div class="item-description">
                <p></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="col-lg-half col-md-half dev-doc-example">
    <div class="sample-type type-curl">
      <div id="exampleRequest" class="doc-example-item doc-example-request">
        <h1>Example Request</h1>

        <div class="example-code example-response">
          <p>Request URL</p>
          <p class="url">https://api.fyipe.com/zapier/unsubscribe/:id</p>
        </div>
      </div>

      <div class="doc-example-item">
        <h1>Example Response (200)</h1>

        <div class="example-code example-response">
          <pre>
            <code class="language-json">
              <p></p>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</article>