<div class="mb-24">
<div class="mx-auto flex justify-center text-center ">
    <h1 class="max-w-2xl text-center text-4xl font-bold tracking-tight text-gray-900">
        <%= title %>
    </h1>
  </div>
  <p class="text-xl text-center leading-8 text-gray-600 mt-8">
    <%= description %>
</p>
</div>