{{> Start this}}


{{> Logo this}}
{{> EmailTitle title=(concat "Alert Episode: " alertEpisodeTitle) }}

{{> InfoBlock info=(concat "A new alert episode has been created in the project - " projectName)}}

{{> InfoBlock info="Here are the details: "}}

{{> DetailBoxStart this }}
{{> DetailBoxField title="Alert Episode Title:" text=alertEpisodeTitle }}
{{> DetailBoxField title="Current State: " text=currentState  }}
{{> DetailBoxField title="Resources Affected: " text=resourcesAffected  }}
{{> DetailBoxField title="Severity: " text=alertEpisodeSeverity  }}
{{> DetailBoxField title="Root Cause: " text=rootCause  }}
{{> DetailBoxField title="Description: " text=alertEpisodeDescription  }}
{{> DetailBoxEnd this }}

{{#if alertsList}}
{{> TitleBlock title=(concat "Alerts in this Episode (" alertsCount ")") }}
<!-- Alerts List Container -->
<table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
  width="600" style="min-width: 600px;">
  <tbody>
    <tr>
      <td class="st-Spacer st-Spacer--gutter"
        style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
        width="64">
        <div class="st-Spacer st-Spacer--filler"></div>
      </td>
      <td style="border: 0; margin: 0; padding: 0;">
        {{{alertsList}}}
      </td>
      <td class="st-Spacer st-Spacer--gutter"
        style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
        width="64">
        <div class="st-Spacer st-Spacer--filler"></div>
      </td>
    </tr>
    <tr>
      <td class="st-Spacer st-Spacer--stacked" colspan="3" height="16"
        style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
        <div class="st-Spacer st-Spacer--filler"></div>
      </td>
    </tr>
  </tbody>
</table>
<!-- /Alerts List Container -->
{{/if}}

{{> InfoBlock info="ACTION REQUIRED: Please acknowledge this alert episode by clicking on the button below - "}}

{{> ButtonBlock buttonUrl=acknowledgeAlertEpisodeLink buttonText="Acknowledge Alert Episode"}}

{{> InfoBlock info="You can also copy and paste this link:"}}
{{> InfoBlock info=acknowledgeAlertEpisodeLink}}

{{> InfoBlock info="You will be notified when the status of this alert episode changes."}}

{{> TitleBlock title="Why am I receiving this email?"}}
{{> InfoBlock info="You are receiving this email because you are a member of the team that is responsible for this alert episode or you are currently on-call."}}

{{> Footer this }}

{{> End this}}