.container,.container-fluid,.container-lg,.container-wide,.container-xl{
    margin:0 auto;
    padding:0 20px;
    width:100%
}
.container,.container-lg{
    max-width:1040px
}
.container-wide,.container-xl{
    max-width:1160px
}
.common-SuperTitle{
    font-weight:300;
    font-size:45px;
    line-height:60px;
    color:#000000;
    letter-spacing:-.01em
}
@media (min-width:670px){
    .common-SuperTitle{
        font-size:50px;
        line-height:70px
    }
}
.common-PageTitle{
    font-weight:400;
    font-size:34px;
    line-height:43px;
    color:#000000
}
@media (min-width:670px){
    .common-PageTitle{
        font-size:40px;
        line-height:50px
    }
}
.common-PageSubtitle{
    font-weight:300;
    font-size:34px;
    line-height:43px;
    color:#000000
}
@media (min-width:670px){
    .common-PageSubtitle{
        font-size:40px;
        line-height:50px
    }
}
.common-IntroText{
    font-weight:400;
    font-size:21px;
    line-height:31px;
    color:#525f7f
}
@media (min-width:670px){
    .common-IntroText{
        font-size:24px;
        line-height:36px
    }
}
.common-BodyTitle{
    font-weight:500;
    font-size:19px;
    line-height:28px;
    color:#000000
}
.common-BodyText{
    font-weight:400;
    font-size:17px;
    line-height:26px;
    color:#939da3
}
.common-UppercaseTitle{
    font-size:20px;
    line-height:31px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:.025em
}
@media (min-width:670px){
    .common-UppercaseTitle{
        font-size:22px;
        line-height:33px
    }
}
.common-Uppercase{
    font-size:17px;
    line-height:26px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:.025em
}
.common-AlignRight{
    text-align:right
}
.common-NoWrap{
    white-space:nowrap
}
.common-ProductLockup,.common-ProductLockupBack{
    font-size:24px;
    line-height:30px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:.04em;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center
}
@media (min-width:670px){
    .common-ProductLockup,.common-ProductLockupBack{
        font-size:28px;
        line-height:38px
    }
}
.common-ProductLockup .icon,.common-ProductLockupBack .icon{
    width:64px;
    height:64px;
    overflow:hidden;
    border-radius:50%;
    box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    margin-right:20px
}
@media (min-width:670px){
    .common-ProductLockup .icon,.common-ProductLockupBack .icon{
        width:72px;
        height:72px
    }
}
.common-ProductLockupBack{
    display:-ms-inline-flexbox;
    display:inline-flex;
    font-size:20px;
    transition:color .1s
}
.common-ProductLockupBack:before{
    font:normal 48px/24px fyipeIcons;
    content:'\279D';
    transform:scaleX(-1);
    width:36px;
    text-align:right;
    position:relative;
    top:-6px;
    transition:color .1s
}
.common-ProductLockupBack .icon{
    width:48px;
    height:48px
}
.common-ProductLockupBack .hover-fillDark,.common-ProductLockupBack .hover-fillLight{
    transition:fill .1s
}
.common-ProductLockupBack .hover-strokeDark,.common-ProductLockupBack .hover-strokeLight{
    transition:stroke .1s
}
.common-ProductLockupBack:hover .hover-fillLight{
    fill:#757575
}
.common-ProductLockupBack:hover .hover-fillDark{
    fill:#000000
}
.common-ProductLockupBack:hover .hover-strokeLight{
    stroke:#757575
}
.common-ProductLockupBack:hover .hover-strokeDark{
    stroke:#000000
}
.common-Link{
    color:#000000;
    font-weight:500;
    transition:color .1s ease;
    cursor:pointer
}
.common-Link:hover{
    color:#000000
}
.common-Link:active{
    color:#000
}
.common-Link--arrow:after{
    font:normal 16px fyipeIcons;
    content:'\2192';
    padding-left:5px
}
.common-Link--arrowL:before{
    display:inline-block;
    font:normal 16px fyipeIcons;
    content:'\2192';
    transform:rotate(180deg);
    margin-right:5px;
    vertical-align:-2px
}
.common-Uppercase.common-Link--arrow:after{
    content:'\279C'
}
.common-InvertedText .common-BodyTitle,.common-InvertedText .common-PageSubtitle,.common-InvertedText .common-PageTitle,.common-InvertedText .common-SuperTitle,.common-InvertedText .common-Uppercase,.common-InvertedText .common-UppercaseTitle{
    color:#fff
}
.common-InvertedText .common-IntroText{
    color:#c4f0ff
}
.common-InvertedText .common-BodyText{
    color:#000000
}
.common-InvertedText .common-Link,.common-Link--white{
    color:#fff
}
.common-InvertedText .common-Link:hover,.common-Link--white:hover{
    color:#c4f0ff
}
.common-InvertedText .common-Link:active,.common-Link--white:active{
    color:#87bbfd
}
.common-Button{
    white-space:nowrap;
    display:inline-block;
    height:40px;
    line-height:40px;
    padding:0 14px;
    box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    background:#fff;
    border-radius:4px;
    font-size:15px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:.025em;
    color:#000000;
    text-decoration:none;
    transition:all .15s ease
}
.common-Button:hover{
    color:#000000;
    transform:translateY(-1px);
    box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)
}
.common-Button:active{
    color:#000000;
    background-color:#f9f9f9;
    transform:translateY(1px);
    box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)
}
.common-Button--default{
    color:#fff;
    background:#000000
}
.common-Button--default:hover{
    color:#fff;
    background-color:#000000
}
.common-Button--default:active{
    color:#e6ebf1;
    background-color:#000000
}
.common-Button--dark{
    color:#fff;
    background:#000000
}
.common-Button--dark:hover{
    color:#fff;
    background-color:#43458b
}
.common-Button--dark:active{
    color:#e6ebf1;
    background-color:#000000
}
.common-Button--disabled{
    color:#fff;
    background:#aab7c4;
    pointer-events:none
}
.common-ButtonIcon{
    display:inline;
    margin:0 5px 0 0;
    position:relative
}
.common-ButtonGroup{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:-10px
}
.common-ButtonGroup .common-Button{
    -ms-flex-negative:0;
    flex-shrink:0;
    margin:10px
}
.fyipeBackground{
    position:absolute;
    left:0;
    top:50%;
    right:0;
    transform:skewY(-12deg);
    pointer-events:none
}
.fyipeBackground .fyipe{
    position:absolute;
    top:auto;
    left:0;
    right:0
}
.fyipeBackground .fyipe.pattern{
    overflow:hidden
}
.fyipeBackground .fyipe.pattern:after{
    content:'';
    position:absolute;
    left:0;
    right:0;
    bottom:-1000px;
    top:-1000px;
    transform:skew(0,12deg)
}
.common-Card{
    position:relative;
    background-color:#fff;
    border-radius:4px;
    padding:30px;
    box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)
}
@media (min-width:880px){
    .common-Card{
        padding:50px
    }
}
.common-BetaBadge{
    display:inline;
    position:relative;
    height:18px;
    margin-left:11px;
    border-radius:9px;
    font-size:12px;
    font-weight:600;
    text-align:center;
    padding:2px 6px 2px 7px;
    text-transform:uppercase;
    color:#757575;
    background-color:rgba(136,152,170,.15)
}
