.comparision-heading{
    height:150px;
    max-width:80%;
    margin:0px auto 20px auto;
    padding:30px 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    line-height: 50px;
}
.comparision-heading>h3{
    font-size: 34px;
    font-weight: 400;
    color:#000000;
}
.comparision-heading>h4{
    font-size: 18px;
    font-weight: 300;
    color:#797979;
}
@media only screen and (max-width: 1090px) {
.comparision-heading{
    height: 250px;
    line-height: 40px;
}
}
.comparision-main{
    height : 450px;
    width:80%;
    max-width:900px;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.comparision-fyipe{
    height:450px;
    width:100%;
    border-radius: 12px;
   /* box-shadow:-0.4rem 0.4rem 2rem rgba(0,0,0,0.05); */
}
.light-yellow-background{
    background-color: #FBF7F0;
}
.fyipe-listing{
    position:relative;
    height:73%;
    width:99%;
    margin:2px;
    background-color: #FBF7F0;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 30% 70%;
}
.fyipe-list-img{
    margin:20px 0 0 20px;
}
.fyipe-list-img>img{
    border-radius: 8px;
}
.fyipe-list-text{
    padding: 20px 20px 20px 0;
    text-align: left;
}
.fyipe-list-head{
    margin: -10px 0 0 -20px;
    text-align: left;
}
.fyipe-list-head>h3{
    font-size: 3em;
    font-weight: 500;
    color:#000000;
}
.fyipe-list-head>h4{
    font-size: 18px;
    font-weight: 500;
    color:#000000;
}
.comparision-others{
    height:450px;
    width:100%;
    border-radius: 12px;
   /* box-shadow: -0.4rem 0.4rem 2rem rgba(0,0,0,0.05); */
}
.others-listing{
    position:relative;
    height:73%;
    width:99%;
    margin:2px;
    border-radius: 10px;
}
.fyipe-checklist{
    list-style-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxOCAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8dGl0bGU%2BCiAgICDuhroKICA8L3RpdGxlPgogIDxwYXRoIGQ9Ik01Ljk4NCAxMi4yNjZsLTUuMjUtNS4xMWMtLjM3NS0uMzQ0LS4zNzUtLjY4NyAwLTEuMDNsMS4wMzItMS4wMzJjLjM3NS0uMzQ0LjczNC0uMzQ0IDEuMDc4IDBMNi41IDguNzA0bDguMTU2LTcuOTdjLjM0NC0uMzQzLjcwMy0uMzQzIDEuMDc4IDBsMS4wMzIuOTg1Yy4zNzUuMzQyLjM3NS42ODUgMCAxLjAzbC05Ljc1IDkuNTYyYy0uMzQ0LjMxMi0uNjg4LjI5Ni0xLjAzMi0uMDQ3eiIgZmlsbD0iIzNDQjM3MCIgZmlsbC1ydWxlPSJldmVub2RkIi8%2BCjwvc3ZnPgo%3D);
}
.list-container{
    height:75px;
    width:100%;
    display: flex;
    flex-direction: row;
    background-color: #FBF7F0;
    margin:10px 0;
    border-radius: 5px;
}
.list-image-container{
    width:70px;
    height: 75px;
    display:flex;
}
.list-image{
    height:40px;
    width:40px;
    margin:auto auto;
}
.list-text{
    text-align: left;
    margin:auto 0;
}
.space{
    width:10%;
    position: relative;
}
.fyipe-versus{
    position: absolute;
    top: 30%;
    left: -35%;
    height: 80px;
    width: 80px;
    z-index: 1;
    background-color: #000000;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    line-height: 2.0em;
}
.total{
    text-align:center;
    font-size:2em;
}
.total-green{
    text-align:center;
    font-size:2em;
}
.total-text{
    padding: 5px;
    border-radius: 10px;
    font-weight:bold;
}
.list-container:not(:nth-child(1)):before{
    display:block;
    position:relative;
    content:'+';
    top:-16px;
    left:50%;
    margin:0 0 0 -20px;
    width:1.3rem;
    height:1.3rem;
    z-index:500;
    font-size:2rem;
    line-height:0.4;
    font-weight:700;
    text-align:center;
    background-color:#fff;
    border-radius:50%;
    color:#000000
}
.total:before{
    display:block;
    position:relative;
    content:'=';
    top:-12px;
    left:45%;
    width:1.5rem;
    height:1.5rem;
    z-index:500;
    font-size:2rem;
    line-height:0.4;
    font-weight:700;
    text-align:center;
    background-color:#fff;
    border-radius:100em;
    color:#000000;
}
.total-green:before{
    display:block;
    position:relative;
    content:'=';
    top:-12px;
    left:45%;
    width:1.5rem;
    height:1.5rem;
    z-index:500;
    font-size:2rem;
    line-height:0.4;
    font-weight:700;
    text-align:center;
    background-color:#fff;
    border-radius:100em;
    color:rgb(60, 179, 112);
}
.fyipe-list-text>h3,.comparision-fyipe>h3,
.list-text>h3,.comparision-others>h3{
    color:#000000; 
    font-size: 2em;
    font-weight: 100;
}
.fyipe-checklist>li{
    color:#000000;
    font-size: 2em;
    font-weight:bold;
}
.list-text>h4{
    font-size: 1.4em;
    color: #000000;
    font-weight: 100;
}
@media only screen and (max-width: 892px) {
    .comparision-main{
        height : 860px;
        width:80%;
        max-width: 650px;
        margin:auto;
        display:block;
    }
    .comparision-fyipe{
        height:400px;
    }
    .comparision-others{
        height:450px;
    }
    .space{
        height:40px;
        width:100%;
    }
    .fyipe-versus{
        top:-135%;
        left:40%;
    }
}
@media only screen and (max-width: 650px) {
    .comparision-heading{
        height: 320px;
        line-height: 40px;
    }
    .comparision-main{
        height : 860px;
        width:90%;
        margin:auto;
        display:block;
    }
    .fyipe-listing{
        height:80%;
    }
    .others-listing{
        height:73%;
    }
    .space{
        height:60px;
        width:100%;
    }
    .fyipe-versus{
        top:-48%;
        left:33%;
    }
    .list-text>h3{
        font-size: 1.5em;
    }
    .list-text>h4{
        font-size: 1.3em;
    }
    
}
@media screen and (max-width:420px){
    ul.columns>li{
        margin-bottom: 110px;
        margin-left: -20px;
    }
    section.basics .columns .moni:before,
    section.basics .columns .trend:before,
    section.basics .columns .cost:before,
    section.basics .columns .reli:before,
    section.basics .columns .rotation:before,
    section.basics .columns .global:before,
    section.basics .columns .sms:before,
    section.basics .columns .reliability:before,
    section.basics .columns .time:before {
        position: absolute;
        top: -80px;
        padding-left: 210px;
        width: 65px;
        height: 65px;
    }
    .comparision-others {
        font-size: 8px;
    }
    .fyipe-versus{
        margin-top: 15px;
        left: 140px;
    }
    .fyipe-list-text>h3, .comparision-fyipe>h3, .list-text>h3, .comparision-others>h3 {
        top: -40px;
    }
}
@media screen and (max-width:400px){
    ul.columns>li{
        margin-bottom: 110px;
        margin-left: -65px;
    }
    #intro h1 {
        font-weight: 300;
    }
    
    section.basics .columns .moni:before,
    section.basics .columns .trend:before,
    section.basics .columns .cost:before,
    section.basics .columns .reli:before,
    section.basics .columns .rotation:before,
    section.basics .columns .global:before,
    section.basics .columns .sms:before,
    section.basics .columns .reliability:before,
    section.basics .columns .time:before {
        padding-left: 240px;
    }
}

@media screen and (max-width:440px){
    ul.columns>li{
        margin-bottom: 110px;
        margin-left: -65px;
    }
    #intro h1 {
        font-weight: 300;
    }
    section.basics .columns .moni:before,
    section.basics .columns .trend:before,
    section.basics .columns .cost:before,
    section.basics .columns .reli:before,
    section.basics .columns .rotation:before,
    section.basics .columns .global:before,
    section.basics .columns .sms:before,
    section.basics .columns .reliability:before,
    section.basics .columns .time:before {
        padding-left: 270px;
    }
    .list-container {
        margin-top: 15px !important;
    }
}
@media screen and (max-width:380px){
    section.basics .columns .moni:before,
    section.basics .columns .trend:before,
    section.basics .columns .cost:before,
    section.basics .columns .reli:before,
    section.basics .columns .rotation:before,
    section.basics .columns .global:before,
    section.basics .columns .sms:before,
    section.basics .columns .reliability:before,
    section.basics .columns .time:before {
        padding-left: 240px;
    }
    .fyipe-versus{
        margin-top: 15px;
        left: 130px;
    }
}
@media screen and (max-width:340px){
    .fyipe-versus{
        margin-top: -10px;
        left: 100px;
    }
    .fyipe-listing {
        height: 70%;
        font-size: 8.5px;
        margin-bottom: 20px;
    }
    .comparision-others {
        margin-top: -25px;
    }
    .fyipe-list-img {
        margin-left: 4px;
    }
    .fyipe-list-text {
        padding: 20px 10px 20px 5px;
    }
}
@media screen and (max-width:370px){
    .fyipe-versus{
        margin-top: -10px;
        left: 120px;
    }
    .fyipe-listing {
        height: 70%;
        font-size: 8.5px;
        margin-bottom: 20px;
    }
    .comparision-others {
        margin-top: -18px;
    }
}
@media screen and (max-width:330px){
    section.basics .columns .moni:before,
    section.basics .columns .trend:before,
    section.basics .columns .cost:before,
    section.basics .columns .reli:before,
    section.basics .columns .rotation:before,
    section.basics .columns .global:before,
    section.basics .columns .sms:before,
    section.basics .columns .reliability:before,
    section.basics .columns .time:before {
        padding-left: 200px;
    }
    ul.columns>li{
        margin-bottom: 110px;
        margin-left: -70px;
    }
    #intro h1 {
        font-weight: 300;
    }
    .fyipe-versus{
        margin-top: -12px;
        left: 100px;
    }
    .fyipe-listing {
        height: 68%;
        font-size: 8.5px;
        margin-bottom: 20px;
    }
    .comparision-others {
        margin-top: -20px;
    }
}