.Section-logos span{
    background-size:1075px 1035px;
    background-image:url(/img/v3/customers/logos/content-logos.png?20)
}
@media (-webkit-min-device-pixel-ratio:1.3),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){
    .Section-logos span{
        background-image:url(/img/v3/customers/logos/content-logos@2x.png?20)
    }
}
.Logo-Justpark{
    background-position:-352px -577px;
    width:173px;
    height:38px
}
.Logo-aba{
    background-position:-875px -161px;
    width:80px;
    height:67px
}
.Logo-adidas{
    background-position:-757px -665px;
    width:81px;
    height:53px
}
.Logo-algolia{
    background-position:-264px -797px;
    width:132px;
    height:42px
}
.Logo-amazon{
    background-position:0 0;
    width:152px;
    height:152px
}
.Logo-asos{
    background-position:-757px -397px;
    width:110px;
    height:54px
}
.Logo-bestbuy{
    background-position:-875px -566px;
    width:82px;
    height:58px
}
.Logo-bhf{
    background-position:-757px -60px;
    width:76px;
    height:86px
}
.Logo-blueapron{
    background-position:-875px -665px;
    width:99px;
    height:47px
}
.Logo-boohoo{
    background-position:-451px -880px;
    width:158px;
    height:30px
}
.Logo-book-a-tiger{
    background-position:0 -438px;
    width:199px;
    height:45px
}
.Logo-buyma{
    background-position:-102px -916px;
    width:130px;
    height:27px
}
.Logo-catawiki{
    background-position:-616px -538px;
    width:132px;
    height:28px
}
.Logo-charity-water{
    background-position:-491px -748px;
    width:214px;
    height:26px
}
.Logo-cheerz{
    background-position:-875px -401px;
    width:114px;
    height:43px
}
.Logo-chicfy{
    background-position:-514px -844px;
    width:219px;
    height:21px
}
.Logo-clinics{
    background-position:-496px -621px;
    width:181px;
    height:33px
}
.Logo-comic-relief{
    background-position:-641px -673px;
    width:91px;
    height:47px
}
.Logo-cover-manager{
    background-position:-177px -154px;
    width:209px;
    height:47px
}
.Logo-croove{
    background-position:-875px -360px;
    width:126px;
    height:39px
}
.Logo-dashlane{
    background-position:0 -485px;
    width:173px;
    height:51px
}
.Logo-dec{
    background-position:0 -259px;
    width:156px;
    height:64px
}
.Logo-deliveroo{
    background-position:-175px -485px;
    width:177px;
    height:49px
}
.Logo-dice-fm{
    background-position:-757px -597px;
    width:66px;
    height:66px
}
.Logo-digital-ocean{
    background-position:-212px -538px;
    width:195px;
    height:35px
}
.Logo-docker{
    background-position:-550px -363px;
    width:176px;
    height:44px
}
.Logo-docusign{
    background-position:-550px -164px;
    width:164px;
    height:49px
}
.Logo-doodle{
    background-position:-148px -880px;
    width:148px;
    height:33px
}
.Logo-doordash{
    background-position:0 -621px;
    width:147px;
    height:50px
}
.Logo-drecom{
    background-position:-253px -216px;
    width:150px;
    height:37px
}
.Logo-drivy{
    background-position:-875px -754px;
    width:107px;
    height:41px
}
.Logo-el-corte-ingles{
    background-position:-406px -67px;
    width:123px;
    height:69px
}
.Logo-el-parking{
    background-position:-550px -462px;
    width:182px;
    height:42px
}
.Logo-facebook{
    background-position:-956px -40px;
    width:58px;
    height:58px
}
.Logo-fizzer{
    background-position:-298px -880px;
    width:151px;
    height:32px
}
.Logo-freepik{
    background-position:-154px 0;
    width:250px;
    height:63px
}
.Logo-frichti{
    background-position:-1017px 0;
    width:58px;
    height:51px
}
.Logo-gengo{
    background-position:-406px 0;
    width:142px;
    height:65px
}
.Logo-girl-scouts{
    background-position:0 -325px;
    width:149px;
    height:67px
}
.Logo-givey{
    background-position:-1017px -153px;
    width:49px;
    height:50px
}
.Logo-glovo{
    background-position:0 -748px;
    width:140px;
    height:47px
}
.Logo-goodeggs{
    background-position:-875px -40px;
    width:79px;
    height:68px
}
.Logo-grab{
    background-position:-875px -313px;
    width:113px;
    height:45px
}
.Logo-habitat-for-humanity{
    background-position:0 -154px;
    width:175px;
    height:60px
}
.Logo-handy{
    background-position:0 -673px;
    width:100px;
    height:73px
}
.Logo-hassle{
    background-position:-550px -506px;
    width:200px;
    height:26px
}
.Logo-heetch{
    background-position:-393px -438px;
    width:150px;
    height:43px
}
.Logo-hot{
    background-position:-1017px -53px;
    width:54px;
    height:50px
}
.Logo-hubspot{
    background-position:-398px -797px;
    width:135px;
    height:41px
}
.Logo-icracked{
    background-position:-875px -272px;
    width:132px;
    height:39px
}
.Logo-indiegogo{
    background-position:-102px -673px;
    width:114px;
    height:62px
}
.Logo-instacart{
    background-position:-527px -577px;
    width:172px;
    height:37px
}
.Logo-jimdo{
    background-position:0 -844px;
    width:155px;
    height:34px
}
.Logo-jinn{
    background-position:0 -916px;
    width:100px;
    height:39px
}
.Logo-job-and-talent{
    background-position:0 -538px;
    width:210px;
    height:37px
}
.Logo-karhoo{
    background-position:-611px -880px;
    width:163px;
    height:27px
}
.Logo-kddi{
    background-position:-497px -673px;
    width:142px;
    height:48px
}
.Logo-khan-academy{
    background-position:-735px -844px;
    width:190px;
    height:20px
}
.Logo-kisskissbankbank{
    background-position:-354px -485px;
    width:194px;
    height:43px
}
.Logo-laundrapp{
    background-position:-656px -84px;
    width:95px;
    height:74px
}
.Logo-lecma{
    background-position:-550px -215px;
    width:127px;
    height:63px
}
.Logo-lecollectionist{
    background-position:-219px -394px;
    width:260px;
    height:32px
}
.Logo-llollo{
    background-position:-875px -626px;
    width:126px;
    height:37px
}
.Logo-localgiving{
    background-position:-550px 0;
    width:205px;
    height:40px
}
.Logo-london-air{
    background-position:-406px -138px;
    width:105px;
    height:73px
}
.Logo-lush{
    background-position:-97px -957px;
    width:100px;
    height:34px
}
.Logo-lyft{
    background-position:-679px -215px;
    width:68px;
    height:48px
}
.Logo-lyst{
    background-position:0 -995px;
    width:68px;
    height:40px
}
.Logo-made{
    background-position:0 -797px;
    width:129px;
    height:45px
}
.Logo-mailjet{
    background-position:-550px -409px;
    width:152px;
    height:51px
}
.Logo-marin-software{
    background-position:-875px -110px;
    width:109px;
    height:49px
}
.Logo-mellerbrand{
    background-position:-957px -161px;
    width:57px;
    height:58px
}
.Logo-mention{
    background-position:-550px -280px;
    width:201px;
    height:39px
}
.Logo-moneytree{
    background-position:-313px -621px;
    width:181px;
    height:34px
}
.Logo-npr{
    background-position:-131px -797px;
    width:131px;
    height:43px
}
.Logo-opentable{
    background-position:0 -577px;
    width:181px;
    height:42px
}
.Logo-optimizely{
    background-position:-535px -797px;
    width:153px;
    height:35px
}
.Logo-oxfam{
    background-position:-218px -673px;
    width:133px;
    height:52px
}
.Logo-peatix{
    background-position:-690px -797px;
    width:161px;
    height:33px
}
.Logo-pinterest{
    background-position:-941px -446px;
    width:70px;
    height:70px
}
.Logo-postmates{
    background-position:-406px -287px;
    width:93px;
    height:79px
}
.Logo-quiqup{
    background-position:-875px -714px;
    width:118px;
    height:38px
}
.Logo-rad{
    background-position:-679px -621px;
    width:73px;
    height:27px
}
.Logo-red{
    background-position:-757px -329px;
    width:93px;
    height:66px
}
.Logo-saks{
    background-position:-550px -321px;
    width:194px;
    height:40px
}
.Logo-salesforce{
    background-position:-406px -213px;
    width:102px;
    height:72px
}
.Logo-salvation-army{
    background-position:-875px -446px;
    width:64px;
    height:77px
}
.Logo-sap{
    background-position:-757px 0;
    width:116px;
    height:58px
}
.Logo-shopify{
    background-position:-875px -230px;
    width:132px;
    height:40px
}
.Logo-shopstyle{
    background-position:-776px -880px;
    width:170px;
    height:22px
}
.Logo-sistrix{
    background-position:-151px -325px;
    width:193px;
    height:48px
}
.Logo-smarthr{
    background-position:-312px -748px;
    width:177px;
    height:32px
}
.Logo-songkick{
    background-position:-875px 0;
    width:140px;
    height:38px
}
.Logo-spacemarket{
    background-position:0 -216px;
    width:251px;
    height:41px
}
.Logo-splunk{
    background-position:-875px -525px;
    width:123px;
    height:39px
}
.Logo-squarespace{
    background-position:-409px -538px;
    width:205px;
    height:32px
}
.Logo-stores{
    background-position:-157px -844px;
    width:164px;
    height:32px
}
.Logo-studio-4c{
    background-position:-142px -748px;
    width:168px;
    height:36px
}
.Logo-tableau{
    background-position:-158px -259px;
    width:209px;
    height:45px
}
.Logo-target{
    background-position:0 -880px;
    width:146px;
    height:34px
}
.Logo-taskrabbit{
    background-position:-201px -438px;
    width:190px;
    height:45px
}
.Logo-teamleader{
    background-position:-154px -65px;
    width:240px;
    height:48px
}
.Logo-ticketswap{
    background-position:-154px -115px;
    width:216px;
    height:36px
}
.Logo-tictail{
    background-position:-199px -957px;
    width:89px;
    height:29px
}
.Logo-tilt{
    background-position:0 -957px;
    width:95px;
    height:36px
}
.Logo-tokyo-otaku-mode{
    background-position:-550px -84px;
    width:104px;
    height:78px
}
.Logo-treasure-data{
    background-position:0 -394px;
    width:217px;
    height:42px
}
.Logo-twitter{
    background-position:-1017px -105px;
    width:55px;
    height:46px
}
.Logo-typeform{
    background-position:-149px -621px;
    width:162px;
    height:43px
}
.Logo-ulule{
    background-position:-757px -520px;
    width:73px;
    height:75px
}
.Logo-under-armour{
    background-position:-757px -211px;
    width:115px;
    height:55px
}
.Logo-unicef{
    background-position:-183px -577px;
    width:167px;
    height:41px
}
.Logo-uso{
    background-position:-757px -268px;
    width:107px;
    height:59px
}
.Logo-velocity{
    background-position:-757px -453px;
    width:85px;
    height:65px
}
.Logo-wantedly{
    background-position:-323px -844px;
    width:189px;
    height:27px
}
.Logo-warby-parker{
    background-position:-158px -306px;
    width:196px;
    height:16px
}
.Logo-watsi{
    background-position:-353px -673px;
    width:142px;
    height:48px
}
.Logo-wayook{
    background-position:-550px -42px;
    width:203px;
    height:40px
}
.Logo-wetransfer{
    background-position:-757px -148px;
    width:105px;
    height:61px
}
.Logo-wish{
    background-position:-875px -797px;
    width:111px;
    height:39px
}
.Header{
    overflow:hidden
}
.Header,.Header-hero{
    position:relative;
    width:100%
}
.Header-hero{
    padding-top:60px;
    height:60vh;
    min-height:480px;
    max-height:640px;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center
}
.fyipeBackground{
    top:calc(50% + 310px)
}
.fyipeBackground .fyipe{
    height:200px
}
.fyipeBackground .s0{
    height:5000px;
    bottom:200px;
    background:linear-gradient(90deg,#e4ecf5,#f5fdff)
}
.fyipeBackground .s1{
    bottom:0;
    left:calc(50% + 220px);
    background:linear-gradient(90deg,#f4fafd,#eff8fc)
}
.fyipeBackground .s2{
    bottom:200px;
    right:calc(50% - 220px);
    background:linear-gradient(90deg,#d6e3f0,#e7f3fa)
}
.fyipeBackground .s3{
    bottom:600px;
    left:10%;
    right:calc(50% - 300px);
    background:linear-gradient(90deg,#ecf4fa,#e4eff6)
}
.IconsContainer{
    width:3000px;
    height:460px;
    position:relative;
    left:50px
}
.Header-hero-guide{
    position:absolute;
    top:0;
    left:0
}
.Icon{
    width:150px;
    height:150px;
    margin:-75px 0 0 -75px;
    border-radius:50%;
    box-shadow:0 15px 35px rgba(0,0,0,.1),0 3px 10px rgba(0,0,0,.07)
}
.Icon,.Icon span{
    position:absolute;
    will-change:transform,opacity
}
.Icon span{
    left:50%;
    bottom:-40px;
    padding:5px 12px;
    background:#fff;
    box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    border-radius:50px;
    white-space:nowrap;
    font-size:16px;
    font-weight:500;
    color:#566b78;
    pointer-events:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    transform:translate(-50%,-10px);
    opacity:0;
    transition-property:opacity,transform;
    transition-duration:.25s;
    transition-timing-function:ease-out
}
.Icon:hover{
    z-index:9999
}
.Icon:hover span{
    opacity:.9;
    transform:translate(-50%)
}
.Header-title{
    text-align:center;
    margin:0;
    padding:.2em .2em 2em
}
.Header-subTitle{
    color:#7795f8
}
@media (min-width:670px){
    .Header-subTitle{
        display:block
    }
}
.Header-intro{
    text-align:center;
    padding-bottom:40px!important
}
.Icon{
    background-size:1076px 922px;
    background-image:url(/img/header-logos.png?61)
}
@media (-webkit-min-device-pixel-ratio:1.3),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){
    .Icon{
        background-image:url(/img/header-logos@2x.png?61)
    }
}
.Icon-img0{
    background-position:-154px 0
}
.Icon-img0,.Icon-img1{
    width:152px;
    height:152px
}
.Icon-img1{
    background-position:-616px -462px
}
.Icon-img2{
    background-position:0 -154px
}
.Icon-img2,.Icon-img3{
    width:152px;
    height:152px
}
.Icon-img3{
    background-position:-308px 0
}
.Icon-img4{
    background-position:-154px -154px
}
.Icon-img4,.Icon-img5{
    width:152px;
    height:152px
}
.Icon-img5{
    background-position:-308px -154px
}
.Icon-img6{
    background-position:0 -308px
}
.Icon-img6,.Icon-img7{
    width:152px;
    height:152px
}
.Icon-img7{
    background-position:-154px -308px
}
.Icon-img8{
    background-position:-308px -308px
}
.Icon-img8,.Icon-img9{
    width:152px;
    height:152px
}
.Icon-img9{
    background-position:-462px 0
}
.Icon-img10{
    background-position:-462px -154px
}
.Icon-img10,.Icon-img11{
    width:152px;
    height:152px
}
.Icon-img11{
    background-position:-462px -308px
}
.Icon-img12{
    background-position:0 -462px
}
.Icon-img12,.Icon-img13{
    width:152px;
    height:152px
}
.Icon-img13{
    background-position:-154px -462px
}
.Icon-img14{
    background-position:-308px -462px
}
.Icon-img14,.Icon-img15{
    width:152px;
    height:152px
}
.Icon-img15{
    background-position:-462px -462px
}
.Icon-img16{
    background-position:-616px 0
}
.Icon-img16,.Icon-img17{
    width:152px;
    height:152px
}
.Icon-img17{
    background-position:-616px -154px
}
.Icon-img18{
    background-position:-616px -308px
}
.Icon-img18,.Icon-img19{
    width:152px;
    height:152px
}
.Icon-img19{
    background-position:0 0
}
.Icon-img20{
    background-position:0 -616px
}
.Icon-img20,.Icon-img21{
    width:152px;
    height:152px
}
.Icon-img21{
    background-position:-154px -616px
}
.Icon-img22{
    background-position:-462px -616px
}
.Icon-img22,.Icon-img23{
    width:152px;
    height:152px
}
.Icon-img23{
    background-position:-308px -616px
}
.Icon-img24{
    background-position:-616px -616px
}
.Icon-img24,.Icon-img25{
    width:152px;
    height:152px
}
.Icon-img25{
    background-position:-770px 0
}
.Icon-img26{
    background-position:-770px -154px
}
.Icon-img26,.Icon-img27{
    width:152px;
    height:152px
}
.Icon-img27{
    background-position:-770px -308px
}
.Icon-img28{
    background-position:-770px -462px
}
.Icon-img28,.Icon-img29{
    width:152px;
    height:152px
}
.Icon-img29{
    background-position:-770px -616px
}
.Icon-img30{
    background-position:0 -770px
}
.Icon-img30,.Icon-img31{
    width:152px;
    height:152px
}
.Icon-img31{
    background-position:-154px -770px
}
.Icon-img32{
    background-position:-308px -770px
}
.Icon-img32,.Icon-img33{
    width:152px;
    height:152px
}
.Icon-img33{
    background-position:-462px -770px
}
.Icon-img34{
    background-position:-616px -770px
}
.Icon-img34,.Icon-img35{
    width:152px;
    height:152px
}
.Icon-img35{
    background-position:-770px -770px
}
.Icon-img36{
    background-position:-924px 0
}
.Icon-img36,.Icon-img37{
    width:152px;
    height:152px
}
.Icon-img37{
    background-position:-924px -154px
}
.Icon-img38{
    background-position:-924px -308px;
    width:152px;
    height:152px
}
.Gallery-container{
    position:relative;
    z-index:10
}
.globalFooter{
    margin-top:-430px!important
}
html#customers .LocalNavigation{
    z-index:100
}
.Section{
    padding:0 0 30px;
    position:relative
}
.Section--alternateBackground:before{
    content:'';
    position:absolute;
    left:0;
    top:50px;
    right:0;
    bottom:-50px;
    background:#f9f9f9
}
.Section:first-of-type{
    margin-top:-50px
}
@media (min-width:670px){
    .Section-content--rightColumn{
        padding:0 0 0 50px
    }
    .Section-content--leftColumn{
        padding:0 50px 0 0
    }
}
.Section-content--bigIntro{
    margin-top:-20px
}
.Section-category{
    color:#000000;
    text-align:center;
    margin-top:130px;
    margin-bottom:50px;
    width:100%
}
.Section-category span{
    display:block;
    margin:1em 0
}
.Section-category img{
    vertical-align:middle
}
.Section-figure{
    float:right;
    width:100px;
    margin:0 0 10px 50px;
    text-align:center
}
.Section-figure--mobilePlatforms{
    margin-left:30px;
    margin-right:20px
}
.Section-figure--mobilePlatforms img+img{
    margin-top:18px
}
.Section-figure--routing{
    width:72px;
    margin:10px;
    margin-left:40px
}
.Section-paragraph{
    margin:0 0 1em;
    padding:0
}
.Section-links{
    line-height:2em;
    list-style-type:none;
    padding:1.5em 0 0;
    margin:1.5em 0 0;
    border-top:1px solid rgba(7,96,115,.07)
}
.Section-extraContent{
    font-size:16px;
    line-height:1.7em;
    color:#566b78;
    margin:0
}
.Section-extraContentTitle{
    color:#0d2b3e;
    font-weight:500
}
.Section-logos{
    text-align:center;
    margin:60px 0 0
}
.Section-logos a{
    display:block;
    margin:0;
    padding:0;
    position:relative;
    height:120px;
    line-height:120px
}
.Section-logos span{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%) scale(.8);
    overflow:hidden;
    text-indent:-500px
}
@media (min-width:670px){
    .Section-logos span{
        transform:translate(-50%,-50%) scale(.8)
    }
}
@media (min-width:880px){
    .Section-logos span{
        transform:translate(-50%,-50%)
    }
}
.Section-quote{
    background:#f4f4f4;
    box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    border-radius:4px;
    overflow:hidden;
    position:relative;
    margin:30px 0 60px
}
@media (min-width:670px){
    .Section-quote--vertical,.Section-quote--vertical blockquote{
        margin:0
    }
    .Section-quote--horizontal .Section-quotePhoto{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        min-height:auto
    }
}
.Section-quotePhoto{
    width:100%;
    min-height:370px;
    background-size:cover;
    background-position:50% 50%
}
.Section-quotePhoto--warbyParker{
    background-color:#eeeff1;
    background-image:url(/img/v3/customers/quote-photos/warby-parker.jpg)
}
.Section-quotePhoto--rad{
    background-color:#17a084;
    background-image:url(/img/v3/customers/quote-photos/rad.png)
}
.Section-quotePhoto--missguided{
    background-color:#17a084;
    background-image:url(/img/v3/customers/quote-photos/missguided.png)
}
.Section-quotePhoto--glossier{
    background-color:#eeeff1;
    background-image:url(/img/v3/customers/quote-photos/glossier.jpg)
}
.Section-quotePhoto--lyft{
    background-color:#a19273;
    background-image:url(/img/v3/customers/quote-photos/lyft.jpg)
}
.Section-quotePhoto--drivy{
    background-color:#3c475a;
    background-image:url(/img/v3/customers/quote-photos/drivy.jpg)
}
.Section-quotePhoto--deliveroo{
    background-color:#3c475a;
    background-image:url(/img/v3/customers/quote-photos/deliveroo.png)
}
.Section-quotePhoto--slack{
    background-color:#8f848e;
    background-image:url(/img/v3/customers/quote-photos/slack.jpg)
}
.Section-quotePhoto--charityWater{
    background-color:#68564a;
    background-image:url(/img/v3/customers/quote-photos/charity-water.jpg)
}
.Section-quotePhoto--comic-relief{
    background-color:#68564a;
    background-image:url(/img/v3/customers/quote-photos/comic-relief.png)
}
.Section-quotePhoto--kickstarter{
    background-color:#d2cfcb;
    background-image:url(/img/v3/customers/quote-photos/kickstarter.jpg);
    background-position:50% 80%;
    min-height:340px
}
.Section-quotePhoto--crowdfunder{
    background-color:#d2cfcb;
    background-image:url(/img/v3/customers/quote-photos/crowdfunder.jpg);
    background-position:50% 80%;
    min-height:415px
}
.Section-quotePhoto--video{
    cursor:pointer;
    position:relative
}
.Section-quotePhoto--video:before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#525f7f;
    opacity:0;
    transition:opacity .25s
}
.Section-quotePhoto--video:after{
    content:'';
    position:absolute;
    width:72px;
    height:72px;
    left:50%;
    top:45%;
    margin:-36px 0 0 -36px;
    border-radius:50%;
    background:rgba(50,50,93,.85) url(/img/v3/customers/quote-photos/play.svg);
    box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    transition:transform .25s;
    -webkit-backdrop-filter:blur(2px);
    backdrop-filter:blur(2px)
}
.Section-quotePhoto--video:hover:before{
    opacity:.1
}
.Section-quotePhoto--video:hover:after{
    transform:scale(1.2)
}
.Quote{
    margin:0;
    padding:40px;
    position:relative;
    z-index:5;
    color:#fff
}
@media (min-width:670px){
    .Quote{
        padding:66px
    }
}
.Quote h2{
    margin:0 0 10px -2px
}
.Quote p{
    position:relative;
    font-style:italic;
    font-size:2.1em;
    line-height:16px;
    margin-bottom:0
}
.Quote--warbyParker{
    position:relative;
    padding-top:40px;
    background:#05a5e4
}
.Quote--warbyParker:before{
    content:'';
    display:block;
    width:100%;
    height:95px;
    background:url(/img/v3/customers/quote-backgrounds/warby-parker.svg);
    background-size:100% 100%;
    position:absolute;
    top:-95px;
    left:0
}
.Quote--rad{
    position:relative;
    padding-top:40px;
    background:#7795f8
}
.Quote--rad:before{
    content:'';
    display:block;
    width:100%;
    height:95px;
    background:url(/img/v3/customers/quote-backgrounds/rad.svg);
    background-size:100% 100%;
    position:absolute;
    top:-95px;
    left:0
}
.Quote--missguided{
    position:relative;
    padding-top:40px;
    background:#ffded9;
    color:#525f7f
}
.Quote--missguided:before{
    content:'';
    display:block;
    width:100%;
    height:95px;
    background:url(/img/v3/customers/quote-backgrounds/missguided.svg);
    background-size:100% 100%;
    position:absolute;
    top:-95px;
    left:0
}
.Quote--glossier{
    position:relative;
    padding-top:40px;
    background:#373f4a
}
.Quote--glossier:before{
    content:'';
    display:block;
    width:100%;
    height:95px;
    background:url(/img/v3/customers/quote-backgrounds/glossier.svg);
    background-size:100% 100%;
    position:absolute;
    top:-95px;
    left:0
}
.Quote--lyft{
    padding-top:40px
}
@media (min-width:670px){
    .Quote--lyft{
        padding-top:66px;
        padding-right:77px!important
    }
}
.Quote--lyft:before{
    content:'';
    display:block;
    background:#eb268d;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1;
    transform:translate(0)
}
@media (min-width:670px){
    .Quote--lyft:before{
        opacity:.9216;
        right:126px
    }
}
.Quote--lyft:after{
    content:'';
    display:block;
    width:100%;
    height:95px;
    background:url(/img/v3/customers/quote-backgrounds/lyft-vert.svg);
    background-size:100% 100%;
    position:absolute;
    top:-95px;
    left:0
}
@media (min-width:670px){
    .Quote--lyft:after{
        width:206px;
        height:100%;
        background:url(/img/v3/customers/quote-backgrounds/lyft.svg);
        background-size:100% 100%;
        left:auto;
        right:-80px;
        top:0;
        bottom:0;
        z-index:-1
    }
}
.Quote--deliveroo{
    padding-top:40px
}
@media (min-width:670px){
    .Quote--deliveroo{
        padding-top:66px;
        padding-right:77px!important
    }
}
.Quote--deliveroo:before{
    content:'';
    display:block;
    background:#0c8580;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1;
    transform:translate(0)
}
@media (min-width:670px){
    .Quote--deliveroo:before{
        opacity:.72;
        right:126px
    }
}
.Quote--deliveroo:after{
    content:'';
    display:block;
    width:100%;
    height:100px;
    background:url(/img/v3/customers/quote-backgrounds/deliveroo-vert.svg);
    background-size:100% 100%;
    position:absolute;
    top:-94px;
    left:0
}
@media (min-width:670px){
    .Quote--deliveroo:after{
        width:206px;
        height:100%;
        background:url(/img/v3/customers/quote-backgrounds/deliveroo.svg);
        background-size:100% 100%;
        left:auto;
        right:-80px;
        top:0;
        bottom:0;
        z-index:-1
    }
}
.Quote--drivy{
    padding-top:40px
}
@media (min-width:670px){
    .Quote--drivy{
        padding-top:66px;
        padding-right:77px!important
    }
}
.Quote--drivy:before{
    content:'';
    display:block;
    background:#3c475a;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1
}
@media (min-width:670px){
    .Quote--drivy:before{
        background:#2f6d79;
        opacity:.9216;
        right:126px;
        transform:translate(0)
    }
}
.Quote--drivy:after{
    content:'';
    display:block;
    width:100%;
    height:95px;
    background:url(/img/v3/customers/quote-backgrounds/drivy-vert.svg);
    background-size:100% 100%;
    position:absolute;
    top:-95px;
    left:0
}
@media (min-width:670px){
    .Quote--drivy:after{
        width:206px;
        height:100%;
        background:url(/img/v3/customers/quote-backgrounds/drivy.svg);
        background-size:100% 100%;
        left:auto;
        right:-80px;
        top:0;
        bottom:0;
        z-index:-1
    }
}
.Quote--slack{
    position:relative;
    padding-top:46px;
    background:#3eca99
}
.Quote--slack:before{
    content:'';
    display:block;
    width:100%;
    height:95px;
    background:url(/img/v3/customers/quote-backgrounds/slack.svg);
    background-size:100% 100%;
    position:absolute;
    top:-95px;
    left:0
}
.Quote--charityWater{
    padding-top:40px
}
@media (min-width:670px){
    .Quote--charityWater{
        padding-top:66px;
        padding-right:77px!important
    }
}
.Quote--charityWater:before{
    content:'';
    display:block;
    background:#eab504;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    z-index:-1
}
@media (min-width:670px){
    .Quote--charityWater:before{
        opacity:.9216;
        left:76px
    }
}
.Quote--charityWater:after{
    content:'';
    display:block;
    width:100%;
    height:95px;
    background:url(/img/v3/customers/quote-backgrounds/charity-water-vert.svg);
    background-size:100% 100%;
    top:-95px;
    left:0;
    position:absolute
}
@media (min-width:670px){
    .Quote--charityWater:after{
        content:'';
        display:block;
        width:206px;
        height:100%;
        background:url(/img/v3/customers/quote-backgrounds/charity-water.svg);
        background-position:0 0;
        background-repeat:no-repeat;
        background-size:206px 100%;
        left:-130px;
        top:0;
        bottom:0;
        z-index:-1
    }
}
.Quote--comic-relief{
    padding-top:40px
}
@media (min-width:670px){
    .Quote--comic-relief{
        padding-top:66px;
        padding-right:77px!important
    }
}
.Quote--comic-relief:before{
    content:'';
    display:block;
    background:#eab504;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    z-index:-1
}
@media (min-width:670px){
    .Quote--comic-relief:before{
        opacity:.9216;
        left:76px
    }
}
.Quote--comic-relief:after{
    content:'';
    display:block;
    width:100%;
    height:95px;
    background:url(/img/v3/customers/quote-backgrounds/comic-relief-vert.svg);
    background-size:100% 100%;
    top:-95px;
    left:0;
    position:absolute
}
@media (min-width:670px){
    .Quote--comic-relief:after{
        content:'';
        display:block;
        width:206px;
        height:100%;
        background:url(/img/v3/customers/quote-backgrounds/comic-relief.svg);
        background-position:0 0;
        background-repeat:no-repeat;
        background-size:206px 100%;
        left:-130px;
        top:0;
        bottom:0;
        z-index:-1
    }
}
.Quote--kickstarter{
    position:relative;
    padding-top:36px;
    background:#2b2727
}
.Quote--kickstarter:before{
    content:'';
    display:block;
    width:100%;
    height:95px;
    background:url(/img/v3/customers/quote-backgrounds/kickstarter.svg);
    background-size:100% 100%;
    position:absolute;
    top:-95px;
    left:0
}
.Quote--crowdfunder{
    position:relative;
    padding-top:36px;
    background:#18a6db
}
.Quote--crowdfunder:before{
    content:'';
    display:block;
    width:100%;
    height:95px;
    background:url(/img/v3/customers/quote-backgrounds/crowdfunder.svg);
    background-size:100% 100%;
    position:absolute;
    top:-95px;
    left:0
}
.Quote-footer{
    text-transform:uppercase;
    color:#fff;
    font-weight:500;
    font-size:16px;
    margin-top:24px
}
.Quote-footer--warbyParker{
    color:#203866
}
.Quote-footer--slack{
    color:#2d333a
}
.Quote-footer--charityWater{
    color:rgba(0,0,0,.7)
}
.Quote-footer--kickstarter{
    color:#0f2105
}
.VideoContainer{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:1000;
    display:none;
    background:rgba(170,183,196,.75);
    transition:opacity .25s;
    -webkit-backdrop-filter:blur(5px);
    backdrop-filter:blur(5px)
}
.VideoContainer.inactive{
    opacity:0;
    pointer-events:none
}
.VideoContainer-wrapper{
    position:fixed;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center;
    transition-property:left,right,top,bottom;
    transition-duration:.25s
}
.VideoContainer-wrapper.no-anim{
    transition:none
}
.VideoContainer-wrapper video{
    width:100%
}
