<div class="relative mb-16 md:mb-20">
  <div class="mx-auto flex justify-center text-center">
    <div>
      <h1 class="max-w-5xl text-5xl md:text-6xl font-extrabold tracking-tight text-gray-900 leading-tight bg-clip-text">
        <%= title %>
      </h1>
      <%  if(smallTitle){ %>
        <h3 class="max-w-5xl mt-4 text-2xl font-semibold text-slate-600/80 leading-tight">
          <%= smallTitle %>
        </h3>
      <% } %>
      <p class="max-w-3xl mx-auto text-lg md:text-2xl leading-8 text-gray-600 mt-6">
        <%= description %>
      </p>
    </div>
  </div>
</div>