<main class="py-16">
    <article class="prose dark:prose-invert">
       <h1>Pagination</h1>
       <p class="lead">In this guide, we will look at how to work with paginated responses when querying the OneUptime API. By default, all responses limit results to ten. </p>
       <p>When an API response returns a list of objects, no matter the amount, pagination is supported. In paginated responses, objects are nested in a <code class="inline-code">data</code> attribute. The API response also has <code class="inline-code">count</code> attribute that indicates total count in the list with that query. You can use the <code class="inline-code">limit</code> and <code class="inline-code">skip</code> query parameters to query pages.</p>
       <h2 id="example-using-cursors" class="scroll-mt-24">
            Pagination Example
       </h2>
       <div class="grid grid-cols-1 items-start gap-x-16 gap-y-10 xl:max-w-none xl:grid-cols-2">
          <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
             <p>In this example, we request the page that starts after the conversation with id <code class="inline-code">s4WycXedwhQrEFuM</code>. As a result, we get a list of three conversations and can tell by the <code class="inline-code">has_more</code> attribute that we have reached the end of the resultset.</p>
             <div class="my-6">
                <ul role="list" class="m-0 max-w-[calc(theme(maxWidth.lg)-theme(spacing.8))] list-none divide-y divide-zinc-900/5 p-0 dark:divide-white/5">
                   <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                      <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                         <dt class="sr-only">Name</dt>
                         <dd><code class="inline-code">starting_after</code></dd>
                         <dt class="sr-only">Type</dt>
                         <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">string</dd>
                         <dt class="sr-only">Description</dt>
                         <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                            <p>The last ID on the page you're currently on when you want to fetch the next page.</p>
                         </dd>
                      </dl>
                   </li>
                   <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                      <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                         <dt class="sr-only">Name</dt>
                         <dd><code class="inline-code">ending_before</code></dd>
                         <dt class="sr-only">Type</dt>
                         <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">string</dd>
                         <dt class="sr-only">Description</dt>
                         <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                            <p>The first ID on the page you're currently on when you want to fetch the previous page.</p>
                         </dd>
                      </dl>
                   </li>
                   <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                      <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                         <dt class="sr-only">Name</dt>
                         <dd><code class="inline-code">limit</code></dd>
                         <dt class="sr-only">Type</dt>
                         <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">integer</dd>
                         <dt class="sr-only">Description</dt>
                         <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                            <p>Limit the number of items returned.</p>
                         </dd>
                      </dl>
                   </li>
                </ul>
             </div>
          </div>
          <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
             <div class="not-prose my-6 overflow-hidden rounded-2xl bg-zinc-900 shadow-md dark:ring-1 dark:ring-white/10">
                <div class="flex min-h-[calc(theme(spacing.12)+1px)] flex-wrap items-start gap-x-4 border-b border-zinc-700 bg-zinc-800 px-4 dark:border-zinc-800 dark:bg-transparent">
                   <h3 class="mr-auto pt-3 text-xs font-semibold text-white">Manual pagination using cURL</h3>
                </div>
                <div class="group dark:bg-white/2.5">
                   <div class="relative">
                      <pre class="overflow-x-auto p-4 text-xs text-white"><code class="language-bash"><span><span style="color: var(--shiki-color-text)">curl -G https://api.OneUptime.chat/v1/conversations \</span></span>
 <span><span style="color: var(--shiki-color-text)">  -H </span><span style="color: var(--shiki-token-string-expression)">"Authorization: Bearer {token}"</span><span style="color: var(--shiki-color-text)"> \</span></span>
 <span><span style="color: var(--shiki-color-text)">  -d starting_after=</span><span style="color: var(--shiki-token-string-expression)">"s4WycXedwhQrEFuM"</span><span style="color: var(--shiki-color-text)"> \</span></span>
 <span><span style="color: var(--shiki-color-text)">  -d limit=10</span></span>
 <span></span></code></pre>
                      <button type="button" class="group/button absolute top-3.5 right-4 overflow-hidden rounded-full py-1 pl-2 pr-3 text-2xs font-medium opacity-0 backdrop-blur transition focus:opacity-100 group-hover:opacity-100 bg-white/5 hover:bg-white/7.5 dark:bg-white/2.5 dark:hover:bg-white/5">
                         <span aria-hidden="false" class="pointer-events-none flex items-center gap-0.5 text-zinc-400 transition duration-300">
                            <svg viewBox="0 0 20 20" aria-hidden="true" class="h-5 w-5 fill-zinc-500/20 stroke-zinc-500 transition-colors group-hover/button:stroke-zinc-400">
                               <path stroke-width="0" d="M5.5 13.5v-5a2 2 0 0 1 2-2l.447-.894A2 2 0 0 1 9.737 4.5h.527a2 2 0 0 1 1.789 1.106l.447.894a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2Z"></path>
                               <path fill="none" stroke-linejoin="round" d="M12.5 6.5a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2m5 0-.447-.894a2 2 0 0 0-1.79-1.106h-.527a2 2 0 0 0-1.789 1.106L7.5 6.5m5 0-1 1h-3l-1-1"></path>
                            </svg>
                            Copy
                         </span>
                         <span aria-hidden="true" class="pointer-events-none absolute inset-0 flex items-center justify-center text-emerald-400 transition duration-300 translate-y-1.5 opacity-0">Copied!</span>
                      </button>
                   </div>
                </div>
             </div>
             
             <%- include('../partials/code', {title: "Example request with API Key", code:  pageData.responseCode }) -%>


          </div>
       </div>
    </article>
 </main>