<article>
    <header class="mb-9 space-y-1">
        <p class="text-base font-bold text-sky-500"><%- category.title %></p>
        <h1 class="font-bold text-3xl tracking-tight text-slate-900 "><%- link.title %>
        </h1>
    </header>
    <div
        class="prose prose-slate max-w-none   prose-headings:scroll-mt-28 prose-headings:font-display prose-headings:font-normal lg:prose-headings:scroll-mt-[8.5rem] prose-lead:text-slate-500  prose-a:font-semibold  prose-a:no-underline prose-a:shadow-[inset_0_-2px_0_0_var(--tw-prose-background,#fff),inset_0_calc(-1*(var(--tw-prose-underline-size,4px)+2px))_0_0_var(--tw-prose-underline,theme(colors.sky.300))] hover:prose-a:[--tw-prose-underline-size:6px] prose-pre:rounded-xl prose-pre:bg-slate-900 prose-pre:shadow-lg     ">
        <%- content %>
    </div>
</article>