<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="/docs/static/fonts/f1.woff2" as="font" crossorigin=""
        type="font/woff2">
    <link rel="preload" href="/docs/static/fonts/f2.woff2" as="font" crossorigin=""
        type="font/woff2">
    <link rel="stylesheet" href="/docs/static/css/style.css" crossorigin="" data-precedence="next">
    <title>CacheAdvance - Never miss the cache again.</title>
    <meta name="description"
        content="Cache every single thing your app could ever do ahead of time, so your code never even has to run at all.">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="16x16">
    <meta name="next-size-adjust">
    <link rel="stylesheet" href="/docs/static/css/style.css" crossorigin="" data-precedence="next"/>
     <script src="https://cdn.tailwindcss.com"></script>