<div class="bg-gray-800 -mt-24">
    <div class="mx-auto max-w-7xl py-16 px-6 sm:py-24 lg:px-8">
      <h2 class="text-center text-base font-semibold text-gray-400">Trusted by thousands of forward-thinking companies</h2>
      <div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-8" src="/img/securonix-gray.svg" alt="Securonix">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-6 mt-2" src="/img/viewsonic-gray.svg" alt="ViewSonic">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-9 mt-1" src="/img/siemens-logo-gray.svg" alt="Siemens">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
          <img class="h-11 -mt-2" src="/img/sodexo-gray.svg" alt="Sodexo">
        </div>
        <div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
          <img class="h-8 mt-2" src="/img/Deloitte-gray.svg" alt="Deloitte">
        </div>
      </div>
    </div>
  </div>