<div class="bg-indigo-700">
  <div class="mx-auto max-w-7xl py-16 px-6 sm:py-20 lg:px-8">
    <h2 class="text-2xl font-medium tracking-tight text-white text-center text-indigo-300">Thousands of world's most
      innovative companies use OneUptime to build reliable software.</h2>
    <div class="grid grid-cols-4 gap-4 mt-10">

      <div class="mt-4 ml-8 flex justify-center flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
        <img class="h-8" src="/img/securonix-blue.svg" alt="Securonix">
      </div>
      <div class="mt-4 ml-8 flex justify-center flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
        <img class="h-6 mt-2" src="/img/viewsonic.svg" alt="ViewSonic">
      </div>
      <div class="mt-4 ml-8 flex justify-center flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
        <img class="h-12 -mt-4" src="/img/skillable-logo.svg" alt="Skillable">
      </div>
      <div class="mt-4 ml-8 flex justify-center flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
        <img class="h-11 -mt-2" src="/img/sodexo.svg" alt="Sodexo">
      </div>
      <div class="mt-4 ml-8 flex justify-center flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
        <img class="h-10 mt-0" src="/img/Dotdash_Meredith.svg" alt="Dotdash">
      </div>

      <div class="mt-4 ml-8 flex justify-center flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
        <img class="h-12" src="/img/trustify.svg" alt="Securonix">
      </div>
      <div class="mt-4 ml-8 flex justify-center flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
        <img class="h-24 -mt-8" src="/img/bowie.svg" alt="ViewSonic">
      </div>
      <div class="mt-4 ml-8 flex justify-center flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
        <img class="h-12 mt-2 -ml-10" src="/img/talkwalker.svg" alt="Siemens">
      </div>
    </div>
  </div>
</div>