<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>OneUptime | Page not found. </title>
    <meta name="description"
        content="OneUptime monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
        <%- include('head') -%>

</head>

<body>

  <div class="bg-white">
    <main class="mx-auto w-full max-w-7xl px-6 lg:px-8">
      <div class="flex-shrink-0 pt-16">
        <img class="mx-auto h-12 w-auto" src="/img/3-transparent.svg" alt="OneUptime">
      </div>
      <div class="mx-auto max-w-xl py-16 sm:py-24">
        <div class="text-center">
          <p class="text-base font-semibold text-indigo-600">We're working on this page.</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl">Coming Soon</h1>
          <p class="mt-2 text-lg text-gray-500">The page you are looking will be launched very soon. We're actively working on it.</p>
        </div>
        <div class="mt-12">
          <h2 class="text-base font-semibold text-gray-500">Popular pages</h2>
          <ul role="list" class="mt-4 divide-y divide-gray-200 border-t border-b border-gray-200">
            <li class="relative flex items-start space-x-4 py-6">
              <div class="flex-shrink-0">
                <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50">
                  <!-- Heroicon name: outline/book-open -->
                  <svg class="h-6 w-6 text-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                  </svg>

                </span>
              </div>
              <div class="min-w-0 flex-1">
                <h3 class="text-base font-medium text-gray-900">
                  <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                    <a href="/" class="focus:outline-none">
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      Home
                    </a>
                  </span>
                </h3>
                <p class="text-base text-gray-500">Learn more about OneUptime and how it can help your SRE workflow</p>
              </div>
              <div class="flex-shrink-0 self-center">
                <!-- Heroicon name: mini/chevron-right -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                </svg>
              </div>
            </li>
  
            <li class="relative flex items-start space-x-4 py-6">
              <div class="flex-shrink-0">
                <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50">
                  <!-- Heroicon name: outline/bars-4 -->
                  <svg class="h-6 w-6 text-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
                  </svg>
                  
                </span>
              </div>
              <div class="min-w-0 flex-1">
                <h3 class="text-base font-medium text-gray-900">
                  <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                    <a href="#" class="focus:outline-none">
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      Enterprise
                    </a>
                  </span>
                </h3>
                <p class="text-base text-gray-500">Learn more about our features exclusive to enterprises and see how we can help your organization.</p>
              </div>
              <div class="flex-shrink-0 self-center">
                <!-- Heroicon name: mini/chevron-right -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                </svg>
              </div>
            </li>
  
            <li class="relative flex items-start space-x-4 py-6">
              <div class="flex-shrink-0">
                <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50">
                  <!-- Heroicon name: outline/bookmark-square -->
                  <svg class="h-6 w-6 text-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                  </svg>                  
                </span>
              </div>
              <div class="min-w-0 flex-1">
                <h3 class="text-base font-medium text-gray-900">
                  <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                    <a href="#" class="focus:outline-none">
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      Request Demo
                    </a>
                  </span>
                </h3>
                <p class="text-base text-gray-500">Our team is happy to give you a personalized demo. Pick any time slot that works for you.</p>
              </div>
              <div class="flex-shrink-0 self-center">
                <!-- Heroicon name: mini/chevron-right -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                </svg>
              </div>
            </li>
  
            <li class="relative flex items-start space-x-4 py-6">
              <div class="flex-shrink-0">
                <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50">
                  <!-- Heroicon name: outline/rss -->
                  <svg class="h-6 w-6 text-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                </span>
              </div>
              <div class="min-w-0 flex-1">
                <h3 class="text-base font-medium text-gray-900">
                  <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                    <a href="#" class="focus:outline-none">
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      Pricing
                    </a>
                  </span>
                </h3>
                <p class="text-base text-gray-500">Get started for free with our generous free plan or see our pricing.</p>
              </div>
              <div class="flex-shrink-0 self-center">
                <!-- Heroicon name: mini/chevron-right -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                </svg>
              </div>
            </li>
          </ul>
          <div class="mt-8">
            <a href="/support" class="text-base font-medium text-indigo-600 hover:text-indigo-500">
              Or talk to support
              <span aria-hidden="true"> &rarr;</span>
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
  
      
    
      <%- include('footer') -%>
  

</body>

</html>