<div class="comparision-heading">
    <h3 class="black">Adopt Open Source Software, saves you thousands as you grow.</h3>
    <h4 class="common-BodyText">OneUptime replaces 4-5 apps that cumulatively cost a lot. Using our SaaS offering funds free and Open Source development.</h4>
</div>
<section class="comparision-main">
    <div class="comparision-oneuptime">
        <div class="oneuptime-listing">
            <div class="oneuptime-list-img">
                <img src="/img/ou-wb.svg" alt="oneuptime-icon" style="height:50px;width:50px;background-color: #121212;border-radius: 10px;">
            </div>
            <div class="oneuptime-list-text">
                <div class="oneuptime-list-head">
                    <h3>OneUptime</h3>
                    <h4>$0/month per user.</h4><br>
                </div>

                <ul class="oneuptime-checklist">
                    <li>Real-time Monitoring</li>
                    <li>Beautiful Status Page</li>
                    <li>Unlimited Subscribers</li>
                    <li>Unlimited Private Users</li>
                    <li>On-Call Management</li>
                   
                    <li>Incident Response</li>
                    <!-- <li>Automated Tests</li>
                    <li>Application Monitoring</li> -->
                    <li>5000+ Integrations</li>
                </ul>
            </div>
        </div>
        <h3 class="total-green "><span class=" light-yellow-background total-text">$0 per month per user.</span></h3>
    </div>
    <div class="space">
        <p class="oneuptime-versus">VS</p>
    </div>
    <div class="comparision-others">
        <ul class="others-listing">
            <li class="list-container" style="margin-top: 0; cursor: pointer;" onclick="navigateTocompare('pagerduty')">
                <div class="list-image-container">
                    <img src="/img/price_compare/pagerduty-icon.svg" alt="slack" class="list-image">
                </div>
                <div class="list-text">
                    <h3>PagerDuty: Incident Notifications</h3>
                    <h4>$29/month per user</h4>
                </div>
            </li>
            <li class="list-container">
                <div class="list-image-container">
                    <img src="/img/price_compare/Pingdom.jpg" alt="2" style="cursor: pointer;" class="list-image" onclick="navigateTocompare('pingdom')">
                </div>
                <div class="list-text">
                    <h3>Pingdom: Website Monitoring</h3>
                    <h4>$11.95/month</h4>
                </div>
            </li>
            <li class="list-container">
                <div class="list-image-container">
                    <img src="/img/price_compare/StatusPageIO.svg" alt="3" style="cursor: pointer;" class="list-image" onclick="navigateTocompare('statuspage.io')">
                </div>
                <div class="list-text">
                    <h3>Statuspageio: Status Page Tool</h3>
                    <h4>$29/month limited users</h4>
                </div>
            </li>
            <li class="list-container">
                <div class="list-image-container">
                    <img src="/img/price_compare/Incident.io.svg" alt="4" class="list-image">
                </div>
                <div class="list-text">
                    <h3>Incident.io: Incident Response.</h3>
                    <h4>$20/month</h4>
                </div>
            </li>
        </ul>
        <h3 class="total"><span class="total-text" style="background-color: #FBF7F0;">$89.95/month per user.</span>
        </h3>
    </div>

    
</section>

<%- include('cta-buttons') -%>



<script>
    function navigateTocompare(page){
        window.location.href='/compare/'+page;
    }
</script>