<section class="comparision-main">
    <div class="comparision-fyipe">
        <div class="fyipe-listing">
            <div class="fyipe-list-img">
                <img src="/img/Fyipe-Icon.png" alt="fyipe-icon" style="height:50px;width:50px;">
            </div>
            <div class="fyipe-list-text">
                <div class="fyipe-list-head">
                    <h3>Fyipe</h3>
                    <h4>$6.7 /month per user.</h4><br>
                </div>

                <ul class="fyipe-checklist">
                    <li>Real-time Monitoring</li>
                    <li>Beautiful Status Page</li>
                    <li>On-Call</li>
                    <li>Schedules</li>
                    <li>Incident Response</li>
                    <li>Automated Tests</li>
                    <li>Application Monitoring</li>
                    <li>1000+ Integrations</li>
                </ul>
            </div>
        </div>
        <h3 class="total-green"><span class="total-text" style="background-color: #eaf9ec;">$6.7/month per user.</span></h3>
    </div>
    <div class="space">
            <p class="fyipe-versus">VS</p>
    </div>
    <div class="comparision-others">
        <ul class="others-listing">
            <li class="list-container" style="margin-top: 0;">
                <div class="list-image-container">
                    <img src="/img/price_compare/pagerduty.svg" alt="slack" class="list-image">
                </div>
                <div class="list-text">
                    <h3>PagerDuty: Incident Notifications</h3>
                    <h4>$29/month per user</h4>
                </div>
            </li>
            <li class="list-container">
                <div class="list-image-container">
                    <img src="/img/price_compare/Pingdom.jpg" alt="2" class="list-image">
                </div>
                <div class="list-text">
                    <h3>Pingdom: Website Monitoring</h3>
                    <h4>$11.95/month</h4>
                </div>
            </li>
            <li class="list-container">
                <div class="list-image-container">
                    <img src="/img/price_compare/Statuspageio.png" alt="3" class="list-image">
                </div>
                <div class="list-text">
                    <h3>Statuspageio: StatusPage For Monitors</h3>
                    <h4>$29/month limited users</h4>
                </div>
            </li>
            <li class="list-container">
                <div class="list-image-container">
                    <img src="/img/price_compare/newrelic-logo.png" alt="4" class="list-image">
                </div>
                <div class="list-text">
                    <h3>Newrelic: Application Monitoring</h3>
                    <h4>$149/month</h4>
                </div>
            </li>
        </ul>
        <h3 class="total"><span class="total-text" style="background-color: #fdf3e6;">$218.95/month per user.</span></h3>
    </div>
</section>