<header id="pagmt">

    <h1>Contact</h1>

    <p>Company and Contact Information</p>
    <script type="module" async>
        var BILLING_ENABLED = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
        if (BILLING_ENABLED) {
          amplitude.getInstance().logEvent('PAGE VIEW: HOME > LEGAL > CONTACT');
        }
      </script>
</header>

<section>

    <h3>Contact</h3>

    <p><b>OneUptime Limited</b><br />
        Registered in United States as Delaware C Corporation.<br /><br />

        Registered address and place of business:<br /><br />

        OneUptime Limited<br />
        2711 Centerville Road, <br />Suite 400, Wilmington,<br /> New Castle County, Delaware 19808.<br /> United States

        <br /><br />EIN: 38-4042380</p>

    <h3>Contact email address:</h3>


    <p>For privacy related matters please contact: privacy@oneuptime.com</p>

    <p> For all other matters please contact: feedback@oneuptime.com</p>
</section>