<div id="cookie-consent">
    <div class="flex-Box">
        <p class="common-BodyText p-White" style="margin-right: 5px">
            We use cookies to ensure you get the best experience from our website. By continuing to browse this site, you accept our use of cookies. 
        </p>
    </div>
    <div class="flex-Box">
        <a href="#" style="margin-right: 5px" class="common-Button" onclick="setCookie('acceptCookies', true, 365);"
            data-analytics-action="contact_sales" data-analytics-source="header_cta">
            Accept Cookies
        </a>
        <a href="http://google.com/" class="common-Button" style="color: gray"
            data-analytics-action="contact_sales" data-analytics-source="header_cta">
            Deny
        </a>
    </div>
</div>