<div id="cookie-consent" style="justify-content: space-between;">
    <div class="flex-Box">
        <p class="common-BodyText p-White" style="margin-right: 5px; font-size: 12px; line-height: 20px; margin-top:-5px">
            <span>We use cookies to ensure you get the best experience from our website. By continuing to browse this site, you accept our use of cookies.</span> <br/>
            <span style="margin-top:-10px;">Please read our <a style="color:white; text-decoration: underline;" href="/legal/terms">Terms of Use</a>, <a style="color:white; text-decoration: underline;" href="/legal/privacy">Privacy Policy</a>, <a style="color:white; text-decoration: underline;" href="/legal/gdpr">GDPR Policy</a>, <a style="color:white; text-decoration: underline;" href="/legal/ccpa">CCPA Policy</a>, and <a style="color:white; text-decoration: underline;" href="/legal">more</a> for detailed information on how we store and use cookies and your information. </span>
        </p>
    </div>
    <div class="flex-Box">
        <a href="#" style="margin-right: 5px; font-size: 10px;" class="common-Button" onclick="setCookie('acceptCookies', true, 365);"
            data-analytics-action="contact_sales" data-analytics-source="header_cta">
            Accept Cookies
        </a>
        <a href="http://google.com/" class="common-Button" style="color: gray;font-size: 10px;"
            data-analytics-action="contact_sales" data-analytics-source="header_cta">
            Deny
        </a>
    </div>
</div>