<section  class="cta-section">
    <div class="container-lg cta-button-section" style="display: flex; justify-content: center;">
        <div>


            <ul class="try-free-button" style="justify-content: space-between; display: flex">
                <li>
                    <a href="#" onclick="registerUrl()" class="common-Button common-Button--default"
                        id="create-account-top_1" data-analytics-action="create_account"
                        data-analytics-source="header_cta">
                        Try Free for 14 days
                    </a>
                </li>
                <li class="invisible-in-mobile">
                    <a href="/enterprise/demo" class="common-Button"
                        data-analytics-action="contact_sales" data-analytics-source="header_cta">
                        Request Demo
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>