<article class='globalFooterCTA'>
    <div class='container-lg' style="padding:0px">

        <div class='content'>
            <h1 class='title'>
                <span>One Complete Platform for all <br /> your IT Ops and DevOps needs.</span>
            </h1>
        </div>

        <div class='common-ButtonGroup buttons'>

            <a class='common-Button common-Button--default' id="create-account-footer-cta" href="#"
                onclick="registerUrl()" data-analytics-action="sign_up" data-analytics-source="footer_cta">
                Try Free for 14 days
            </a>

            <a href='/enterprise/demo' class='common-Button' data-analytics-action="contact_sales"
                data-analytics-source="footer_cta">
                Request Demo
            </a>
        </div>

    </div>
</article>