<article class='globalFooterCTA'>
    <div class='container-lg'>

        <div class='content'>
            <h1 class='title'>
                <span>One Platform for all your<br/> IT and DevOps needs.</span>
            </h1>
        </div>

        <div class='common-ButtonGroup buttons'>

            <a class='common-Button common-Button--default' id="create-account-footer-cta" href="#" onclick="registerUrl()" data-analytics-action="sign_up" data-analytics-source="footer_cta">
                Create Fyipe account
            </a>

            <a href='/enterprise/demo' class='common-Button' data-analytics-action="contact_sales" data-analytics-source="footer_cta">
                Request Demo
            </a>
        </div>

    </div>
</article>
