<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    
    <title>Fyipe | Status Page and On-call made simple.</title>
    <meta name="description" content="Fyipe lets you monitor any website, API or dashboard and alerts your team if something goes wrong. Fyipe also keeps your customers updated about any downtime.">
    <% include ./head %>
    <link rel="stylesheet" href="/css/local-nav.css">
    <link rel="stylesheet" href="/css/flexbox-grid.css">
    <link rel="stylesheet" href="/css/customers.css">

</head>

<body>

    <% include ./nav %>

        <div class="globalContent">

            <header class="Header">

                <div class="Header-hero">

                    <div class="fyipeBackground accelerated">
                        <div class="fyipe s0"></div>
                        <div class="fyipe s1"></div>
                        <div class="fyipe s2"></div>
                        <div class="fyipe s3"></div>
                    </div>

                    <div class="IconsContainer">
                         <!-- <div class="Icon Icon-img14" style="opacity: 1; transform: translate(821.595px, 79.3247px) scale(0.6);">
                            <span>Kickstarter</span>
                        </div> -->
                        <!-- <div class="Icon Icon-img36" style="opacity: 1; transform: translate(1294.93px, 271.844px) scale(0.6);">
                            <span>Wolfram Alpha</span>
                        </div> -->
                        <!-- <div class="Icon Icon-img0" style="opacity: 1; transform: translate(1445.42px, 343.325px) scale(0.6);">
                            <span>Affirm</span>
                        </div>
                        <div class="Icon Icon-img22" style="opacity: 1; transform: translate(2160.82px, 92.7193px) scale(0.6);">
                            <span>SAP</span>
                        </div>
                        <div class="Icon Icon-img25" style="opacity: 1; transform: translate(2396.51px, 310.08px) scale(0.6);">
                            <span>Slack</span>
                        </div>
                        <div class="Icon Icon-img18" style="opacity: 1; transform: translate(1937.47px, 331.696px) scale(0.6);">
                            <span>Pinterest</span>
                        </div>  -->
                        <div class="Icon Icon-img34" style="opacity: 1; transform: translate(469.441px, 216.479px) scale(0.6);">
                            <span>Hersheys</span>
                        </div>
                        <!-- <div class="Icon Icon-img8" style="opacity: 1; transform: translate(-54.8505px, 245.695px) scale(0.6);">
                            <span>Dribbble</span>
                        </div> -->
                        <div class="Icon Icon-img24" style="opacity: 1; transform: translate(896.676px, 324.779px) scale(0.6);">
                            <span>Picnic</span>
                        </div>
                        <div class="Icon Icon-img29" style="opacity: 1; transform: translate(144.467px, 184.949px) scale(0.6);">
                            <span>Colorlib</span>
                        </div>
                        <!-- <div class="Icon Icon-img16" style="opacity: 1; transform: translate(2225.49px, 364.117px) scale(0.6);">
                            <span>OpenTable</span>
                        </div>  -->
                        <div class="Icon Icon-img12" style="opacity: 1; transform: translate(984.458px, 189.754px) scale(0.8);">
                            <span>Freshsales</span>
                        </div>
                        <div class="Icon Icon-img23" style="opacity: 1; transform: translate(580.751px, 126.383px) scale(0.8);">
                            <span>Loggly</span>
                        </div>
                        <div class="Icon Icon-img17" style="opacity: 1; transform: translate(312.753px, 307.383px) scale(0.8);">
                            <span>Panic</span>
                        </div>
                        <!-- <div class="Icon Icon-img30" style="opacity: 1; transform: translate(2.19414px, 96.1349px) scale(0.8);">
                            <span>Ted</span>
                        </div>  -->
                       <!-- <div class="Icon Icon-img3" style="opacity: 1; transform: translate(2794.73px, 342.415px) scale(0.8);">
                            <span>BOOK A TIGER</span>
                        </div> -->
                        <div class="Icon Icon-img38" style="opacity: 1; transform: translate(1121.34px, 311.91px) scale(0.8);">
                            <span>Cocacola</span>
                        </div>
                        <!-- <div class="Icon Icon-img2" style="opacity: 1; transform: translate(1611.25px, 291.286px) scale(0.8);">
                            <span>Asana</span>
                        </div> -->
                        <!-- <div class="Icon Icon-img32" style="opacity: 1; transform: translate(1819.69px, 194.409px) scale(0.8);">
                            <span>The Guardian</span>
                        </div> -->
                        <!-- <div class="Icon Icon-img5" style="opacity: 1; transform: translate(1960.96px, 97.7271px) scale(0.8);">
                            <span>Catawiki</span>
                        </div>
                        <div class="Icon Icon-img37" style="opacity: 1; transform: translate(2324.84px, 190.841px) scale(0.8);">
                            <span>Xero</span>
                        </div>
                        <div class="Icon Icon-img31" style="opacity: 1; transform: translate(2458.37px, 109.39px) scale(0.8);">
                            <span>Teespring</span>
                        </div> -->
                        <div class="Icon Icon-img13" style="opacity: 1; transform: translate(1188.18px, 139.154px) scale(1);">
                            <span>ItalBank</span>
                        </div>
                        <div class="Icon Icon-img19" style="opacity: 1; transform: translate(749.237px, 218.195px) scale(1);">
                            <span>SIEMENS</span>
                        </div>
                        <!-- <div class="Icon Icon-img21" style="opacity: 1; transform: translate(1466.61px, 157.374px) scale(1);">
                            <span>Reddit</span>
                        </div> -->
                        <!-- <div class="Icon Icon-img28" style="opacity: 1; transform: translate(1796.41px, 344.007px) scale(1);">
                            <span>Target</span>
                        </div> -->
                        <!-- <div class="Icon Icon-img6" style="opacity: 1; transform: translate(2102.56px, 235.956px) scale(1);">
                            <span>Deliveroo</span>
                        </div>  -->
                        <div class="Icon Icon-img15" style="opacity: 1; transform: translate(578.843px, 353.503px) scale(1);">
                            <span>CloudBoost.io</span>
                        </div>
                        <div class="Icon Icon-img27" style="opacity: 1; transform: translate(308.416px, 143.181px) scale(1);">
                            <span>New York Times</span>
                        </div>
                         <!-- <div class="Icon Icon-img33" style="opacity: 1; transform: translate(2734.69px, 118.004px) scale(1);">
                            <span>TicketSwap</span>
                        </div> -->
                        <div class="Icon Icon-img4" style="opacity: 1; transform: translate(88.1916px, 350.343px) scale(1);">
                            <span>BDO</span>
                        </div>
                        <!-- <div class="Icon Icon-img20" style="opacity: 1; transform: translate(2554.23px, 257.442px) scale(1);">
                            <span>Rackspace</span>
                        </div>
                        <div class="Icon Icon-img1" style="opacity: 1; transform: translate(1688.18px, 107.087px) scale(1);">
                            <span>Amazon</span>
                        </div>  -->
                    </div>




                </div>

                <div class="row center-xs">
                    <div class="col-xs-12">
                        <h1 class="common-PageTitle Header-title">
                            Our customers.
                            <span class="common-PageSubtitle Header-subTitle" style="font-size:30px">Join hundreds of businesses who rely on Fyipe.</span>
                        </h1>
                    </div>
                </div>

            </header>




            <article id="mobile-commerce" class="Section LocalNavigation-section">



                <div class="container-wide Gallery-container">
                    <div class="row middle-xs">

                        <div class="col-xs-12
                                    col-sm-6">
                            <div class="Section-quote Section-quote--vertical">


                                <blockquote class="Quote Quote--glossier">
                                    <h2>
                                        <a href="https://cloudboost.io">
                                            <img src="/img/CloudBoost.svg" width="195" height="80" alt="CloudBoost Logo">
                                        </a>
                                    </h2>
                                    <p>Fyipe let's us resolve issues before any downtime happens.</p>
                                </blockquote>
                            </div>
                        </div>

                        <div class="col-xs-12
                                    col-sm-6">
                            <div class="Section-content Section-content--rightColumn">

                                <p class="common-IntroText Section-paragraph Section-paragraph--intro">
                                    Fyipe helps us with a stunning looking status page that helps us reduce support costs during downtime.
                                </p>


                                <p class="common-BodyText Section-paragraph">
                                    CloudBoost is a Realtime JavaScript Backend for apps. More than 5000 web and mobile apps rely on CloudBoost everyday with
                                    over 1 Billion API calls served on the platform every single day.
                                </p>

                                <p class="common-BodyText Section-paragraph">
                                    Fyipe lets CloudBoost monitor status of all the API's, the performance of the servers and alerts the team
                                    <b>before the downtime happens</b> which helps the devops team fix issues and never see
                                    a major outage.
                                </p>

                                <ul class="common-BodyText Section-links">
                                    <li>
                                        <a href="https://status.cloudboost.io" class="common-Link common-Link--arrow">Check out CloudBoost Status Page.</a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="Section-logos">
                    <div class="container-wide Gallery-container">
                        <div class="row center-xs">

                            <div class="col-xs-4 col-sm-2">
                                <img style="height:24px" class="freshsales" alt="freshsales" src="img/freshsales-1.svg">
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <img style="height:22px" class="ironio" alt="ironio" src="img/iron-io.svg">
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <img style="height: 90px;margin-top: -30px;" class="siemens" alt="siemens" src="img/siemens.svg">
                            </div>
                            <div class="col-xs-4 col-sm-2" style="
              margin-top: -20px;
          ">
                                <img style="height:70px" class="hersheys" alt="hersheys" src="img/hershey-s.svg">
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <img style="height:30px" class="elasticstack" alt="elasticstack" src="img/elastic-stack.svg">
                            </div>
                            <div class="col-xs-4 col-sm-2" style="
          ">
                                <img style="height: 70px;margin-top: -20px;" class="piaa" alt="PIAA" src="img/piaa-1.svg">
                            </div>
                        </div>
                    </div>
                </div>

            </article>




        </div>


        <% include ./footer %>

</body>


</html>