<section id="secondary">

    <section id="customer-logos">
        <div class="container-lg">
            <ul>
                <li>
                    <img style="height:35px; margin-top: -20px;" class="sodexo" alt="sodexo" src="/img/sodexo.svg">
                </li>
                <li>
                    <img style="height:20px" class="viewsonic" alt="ViewSonic" src="/img/viewsonic.svg">
                </li>
                <li>
                    <img style="height:100px" class="siemens" alt="siemens" src="/img/siemens (1).svg">
                </li>
                <li>
                    <img style="height:25px" class="securonix" alt="securonix" src="/img/securonix.png">
                </li>
                <li>
                    <img style="height:35px" class="amersc" alt="amersc"
                        src="/img/amersc.png">
                </li>
                <li>
                    <img style="height:50px" class="freshsales" alt="rentacenter" src="/img/rentacenter.svg">
                </li>
            </ul>
        </div>
    </section>

</section>