<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>

    <title>Fyipe | Status Page and On-call made simple.</title>
    <meta name="description"
        content="Fyipe lets you monitor any website, API or dashboard and alerts your team if something goes wrong. Fyipe also keeps your customers updated about any downtime.">
    <% include ./head %>
    <link rel="stylesheet" href="/css/local-nav.css"  >
    <link rel="stylesheet" href="/css/local-nav.css">
    <link rel="stylesheet" href="/css/flexbox-grid.css"  >
    <link rel="stylesheet" href="/css/flexbox-grid.css">
    <link rel="stylesheet" href="/css/customers.css"  >
    <link rel="stylesheet" href="/css/customers.css">
    <script src="/js/amplitude.js"></script>
    <script async>
        var IS_DEV = window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1;
        if (!IS_DEV) {
            amplitude.getInstance().logEvent('Customers page viewed');
        }
    </script>
</head>

<body>

    <% include ./nav %>

    <div class="globalContent">

        <header class="Header">

            <div class="Header-hero" style="display: flex;
                justify-content: center;">

                <div class="IconsContainer">

                    <div class="Icon Icon-img34"
                        style="opacity: 1; transform: translate(469.441px, 216.479px) scale(0.6);">
                        <span>Hersheys</span>
                    </div>

                    <div class="Icon Icon-img24"
                        style="opacity: 1; transform: translate(896.676px, 324.779px) scale(0.6);">
                        <span>Picnic</span>
                    </div>
                    <div class="Icon Icon-img29"
                        style="opacity: 1; transform: translate(144.467px, 184.949px) scale(0.6);">
                        <span>Colorlib</span>
                    </div>

                    <div class="Icon Icon-img12"
                        style="opacity: 1; transform: translate(984.458px, 189.754px) scale(0.8);">
                        <span>Freshsales</span>
                    </div>
                    <div class="Icon Icon-img23"
                        style="opacity: 1; transform: translate(580.751px, 126.383px) scale(0.8);">
                        <span>Loggly</span>
                    </div>
                    <div class="Icon Icon-img17"
                        style="opacity: 1; transform: translate(312.753px, 307.383px) scale(0.8);">
                        <span>Panic</span>
                    </div>

                    <div class="Icon Icon-img38"
                        style="opacity: 1; transform: translate(1121.34px, 311.91px) scale(0.8);">
                        <span>Cocacola</span>
                    </div>

                    <div class="Icon Icon-img13"
                        style="opacity: 1; transform: translate(1188.18px, 139.154px) scale(1);">
                        <span>ItalBank</span>
                    </div>
                    <div class="Icon Icon-img19"
                        style="opacity: 1; transform: translate(749.237px, 218.195px) scale(1);">
                        <span>SIEMENS</span>
                    </div>

                    <div class="Icon Icon-img15"
                        style="opacity: 1; transform: translate(578.843px, 353.503px) scale(1);">
                        <span>CloudBoost.io</span>
                    </div>
                    <div class="Icon Icon-img27"
                        style="opacity: 1; transform: translate(308.416px, 143.181px) scale(1);">
                        <span>New York Times</span>
                    </div>

                    <div class="Icon Icon-img4"
                        style="opacity: 1; transform: translate(88.1916px, 350.343px) scale(1);">
                        <span>BDO</span>
                    </div>
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-xs-12" style="margin-top:50px">
                    <h1 class="Header-title common-PageTitle header-font header-size">
                        Our Customers.

                    </h1>
                    <span class="common-PageSubtitle Header-subTitle intro-para">Join hundreds of businesses that rely on Fyipe.</span>
                </div>
            </div>

        </header>




        <article id="mobile-commerce" class="Section LocalNavigation-section" style="margin-top:100px">



            <div class="container-wide Gallery-container">
                <div class="row middle-xs">

                    <div class="col-xs-12
                                    col-sm-6">
                        <div class="Section-quote Section-quote--vertical">


                            <blockquote class="Quote Quote--glossier">
                                <h2>
                                    <a href="https://cloudboost.io">
                                        <img src="/img/CloudBoost.svg" width="195" height="80" alt="CloudBoost Logo">
                                    </a>
                                </h2>
                                <p>Fyipe lets us resolve issues before any downtime happens.</p>
                            </blockquote>
                        </div>
                    </div>

                    <div class="col-xs-12
                                    col-sm-6">
                        <div class="Section-content Section-content--rightColumn">

                            <p class="common-IntroText Section-paragraph Section-paragraph--intro">
                                Fyipe helps us with a stunning looking status page that helps us reduce support costs
                                during downtime.
                            </p>


                            <p class="common-BodyText Section-paragraph">
                                CloudBoost is a Realtime JavaScript Backend for apps. More than 5000 web and mobile apps rely on CloudBoost every day with over 1 Billion API calls served on the platform every single day.
                            </p>

                            <p class="common-BodyText Section-paragraph">
                                Fyipe lets CloudBoost monitor the status of all the APIs, the performance of the servers and <span class="highlight"> alerts the team before the downtime happens </span> which helps the DevOps team fix issues and never see a major outage.
                            </p>

                            <ul class="common-BodyText Section-links">
                                <li>
                                    <a href="https://status.cloudboost.io" class="common-Link common-Link--arrow">Check
                                        out CloudBoost Status Page.</a>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

            <div class="Section-logos">
                <div class="container-wide Gallery-container">
                    <div class="row center-xs">

                        <div class="col-xs-4 col-sm-2">
                            <img style="height:24px" class="freshsales" alt="freshsales" src="img/freshsales-1.svg">
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <img style="height:22px" class="ironio" alt="ironio" src="img/iron-io.svg">
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <img style="height: 90px;margin-top: -30px;" class="siemens" alt="siemens"
                                src="img/siemens.svg">
                        </div>
                        <div class="col-xs-4 col-sm-2" style="
              margin-top: -20px;
          ">
                            <img style="height:70px" class="hersheys" alt="hersheys" src="img/hershey-s.svg">
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <img style="height:30px" class="elasticstack" alt="elasticstack"
                                src="img/elastic-stack.svg">
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <img style="height: 70px;margin-top: -20px;" class="piaa" alt="PIAA" src="img/piaa-1.svg">
                        </div>
                    </div>
                </div>
            </div>

        </article>

    </div>


    <% include ./footer %>

</body>


</html>