<section id="secondary">

    <section id="customer-logos">
        <a href="/customers" class="container-lg">
            <span class="common-Button common-Button--default">See our customers</span>
            <ul>
                <li>
                    <img style="height:50px" class="cloudboost" alt="cloudboost" src="/img/CloudBoost.svg">
                </li>
                <li>
                    <img style="height:35px" class="ironio" alt="ironio" src="/img/iron-io.svg">
                </li>
                <li>
                    <img style="height:100px" class="siemens" alt="siemens" src="/img/siemens (1).svg">
                </li>
                <li>
                    <img style="height:90px" class="hersheys" alt="hersheys" src="/img/hershey-s.svg">
                </li>
                <li>
                    <img style="height:40px" class="elasticstack" alt="elasticstack"
                        src="/img/elastic-stack.svg">
                </li>
                <li>
                    <img style="height:50px" class="freshsales" alt="rentacenter" src="/img/rentacenter.svg">
                </li>

            </ul>
        </a>
    </section>

</section>