<header id="pagmt">

    <h1>Data Residency for Fyipe Enterprise Customers</h1>

    <p>Fyipe customers will be able to choose which country or region their data is stored while fulfilling corporate
        policies and compliance requirements</p>
</header>

<section>
    <h3>Introduction</h3>

    <p>In the not too distant past, when on-premises software was the norm, data storage was simple. Your data lived with
    you. Today, cloud services make data residency more complicated. Global organizations are creating their own
    internal policies for where data can be stored, while governments and third-party regulators are enforcing data
    residency requirements.</p>

    <p>Thosands of companies use Fyipe every day, but because data is primarily stored in the United States, many
    organizations abroad remain on the sidelines. To bridge this gap—and make Fyipe available to more organizations in highly regulated
    sectors, such as financial services, government and health care—we’re delivering data residency for Fyipe. </p>

    <p>Data residency will give global organizations more control over where their data is stored. We can deploy your data to any of the Microsoft Azure, Aamazon Web Services or Google Cloud Platform, or On-Prem regions around the world. 
    </p>

    <h3>Data residency FAQ: What you need to know</h3>


    <h5>With data residency, what type of data does Fyipe store?</h5>
    <p>Data from Fyipe is stored at rest within a desired data
    region. All data in Fyipe, whether in transit or at rest, is encrypted.</p>

    <h5>Where does third party data reside data reside?</h5>
    <p>The location of data from third-party apps your organization use with Fyipe is dependent on the
    application partner’s policies.</p>

    <h5>I’m an existing customer. Can I move my data to a new region?</h5>
    <p>Yes! Existing customers can move their organization’s or projects data to new residency regions. Note, however, that
    the entire organization must be rooted in a single region.</p>

    <h5>If I move my data to a new region, will anything else change?</h5>
    <p>No. Your organization will enjoy the same Fyipe experience and features they use today.</p>

    <h3>Data Security</h3>
    <p>Data residency is the latest example of Fyipe’s continued investment on enterprise-grade security and compliance.
    Fyipe meets and exceeds some of the most broadly recognized security standards and offers tools to help customers
    address their compliance requirements.</p>

    <p>Fyipe’s security program certifies its service with ISO 27001, ISO 27017, ISO 27018, SOC 2 Type II, and SOC 3. Fyipe also helps customers meet specific
    industry regulations or international security and data privacy standards, including HIPAA and GDPR.
    Its security program is committed to expanding coverage and incorporating new guidance and industry best practices.</p>

    <p>Data residency is currently available to all enterprise customers today. If you wish to contact us, please write to us at enterprise@hackerbay.io</p>
    
</section>