<!DOCTYPE html>
<html lang="en" id="contact-sales">

<head>
    <title>Fyipe | Request Demo</title>

    <meta name="description"
        content="Fyipe monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
    <% include ./head %>

        <link rel="stylesheet" href="/css/demo.css">
        <link rel="stylesheet" href="/css/demo.css">
        <script defer src="/js/demo.js"></script>
        <script defer src="/js/emaildomains.js"></script>
        <script src="/js/amplitude.js"></script>
        <script src="/js/getCookies.js"></script>
        <script type="module" async>
            var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
            if (IS_SAAS_SERVICE) {
                amplitude.getInstance().logEvent('PAGE VIEW: HOME > REQUEST DEMO');
            }
        </script>

</head>

<body>

    <%include ./nav%>
        <div class="globalContent">
            <main>
                <div class="gradient-background"></div>
                <section class="contact-sales-header">
                    <div class="stripes-container initial">
                        <div class="fyipe s3"></div>
                        <div class="fyipe s4"></div>
                        <div class="fyipe s5"></div>
                        <div class="fyipe gradient"></div>
                        <div class="fyipe s1"></div>
                        <div class="left invisible-in-mobile-dots-container"></div>
                        <div class="light-dots-container"></div>
                        <div class="dark-dots-container"></div>
                        <div class="medium-dots-container"></div>
                    </div>
                    <div class="headline">
                        <div class="container-lg" style="margin-top: 70px;">
                            <h1 class="Header-title common-PageTitle header-font header-size black">Request Demo</h1>
                            <h2 class="common-IntroText" style="margin-top:30px">Our team is happy to give you a
                                personalized demo. Fill out the
                                form and we’ll be in touch as
                                soon as possible.</h2>
                        </div>
                    </div>

                </section>

                <section class="form-section" id="form-section">
                    <div class="container-lg calendly-container">
                        <div class="form-column">
                            <!-- Calendly inline widget begin -->
                            <div class="calendly-inline-widget" data-url="https://calendly.com/oneuptime/request-demo"></div>
                            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                            <!-- Calendly inline widget end -->
                        </div>
                        <div class="secondary-column">
                            <div class="why-fyipe">
                                <p class="intro-text">With Fyipe you can:</p>
                                <ul class="bullet-points">
                                    <li>Save support costs during downtime.</li>
                                    <li>Notify your team immediately when downtime happens.</li>
                                    <li>Improve transparency for your customers.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="ctas">
                    <div class="container-lg">
                        <div class="cta general-queries">
                            <div class="icon-column">
                                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                                    <g fill="none" fill-rule="evenodd" transform="translate(0 2)">
                                        <path fill="#d7d7d7"
                                            d="M23.3687586,30.1425368 C20.9219925,32.1886371 17.7706231,33.4201682 14.3316134,33.4201682 C11.6954209,33.4201682 9.22824798,32.6965111 7.11790903,31.4370107 L0.720671335,33.5694159 C0.184840538,33.7480255 -0.0887912638,33.4605854 0.0863663199,32.9351109 L2.21876868,26.5378816 C0.959266296,24.4275489 0.235608095,21.9603837 0.235608095,19.3241995 C0.235608095,11.8043462 6.12405444,5.6598097 13.5415258,5.25 C11.8174159,7.83464563 10.8124059,10.939934 10.8124059,14.279955 C10.8124059,21.9925795 16.1713145,28.4535638 23.3687608,30.1425372 Z">
                                        </path>
                                        <path fill="#FFF"
                                            d="M39.33385,21.3096508 C40.5933524,19.1993181 41.3170106,16.7321529 41.3170106,14.0959687 C41.3170106,6.31098016 35.0060141,1.77635684e-14 27.2210053,1.77635684e-14 C19.4359965,1.77635684e-14 13.125,6.31098016 13.125,14.0959687 C13.125,21.8809573 19.4359965,28.1919374 27.2210053,28.1919374 C29.8571978,28.1919374 32.3243707,27.4682803 34.4347097,26.2087798 L40.8319474,28.341185 C41.3677782,28.5197947 41.64141,28.2323546 41.4662524,27.70688 L39.33385,21.3096508 Z">
                                        </path>
                                        <ellipse cx="22.313" cy="16.188" fill="#aaaaaa" rx="1.313" ry="1.313"></ellipse>
                                        <ellipse cx="27.125" cy="16.188" fill="#aaaaaa" rx="1.313" ry="1.313"></ellipse>
                                        <ellipse cx="31.938" cy="16.188" fill="#aaaaaa" rx="1.313" ry="1.313"></ellipse>
                                    </g>
                                </svg>

                            </div>
                            <div class="copy-column">
                                <h4 class="cta-headline">General communication</h4>
                                <p class="cta-copy">
                                    <span class="non-link">For general queries, including partnership opportunities,
                                        please
                                        email</span>
                                    <a class="common-Link" href="mailto:info@fyipe.com">info@fyipe.com</a>
                                    <span class="non-link">.</span>
                                </p>
                            </div>
                        </div>
                        <div class="cta support">
                            <div class="icon-column">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="42" height="42" viewBox="0 0 42 42">
                                    <defs>
                                        <path id="support-small-a"
                                            d="M17.2727273,34.5454545 C7.73326341,34.5454545 0,26.8121911 0,17.2727273 C0,7.73326341 7.73326341,0 17.2727273,0 C26.8121911,0 34.5454545,7.73326341 34.5454545,17.2727273 C34.5454545,26.8121911 26.8121911,34.5454545 17.2727273,34.5454545 Z M17.2727273,26.7727273 C22.5194324,26.7727273 26.7727273,22.5194324 26.7727273,17.2727273 C26.7727273,12.0260221 22.5194324,7.77272727 17.2727273,7.77272727 C12.0260221,7.77272727 7.77272727,12.0260221 7.77272727,17.2727273 C7.77272727,22.5194324 12.0260221,26.7727273 17.2727273,26.7727273 Z">
                                        </path>
                                    </defs>
                                    <g fill="none" fill-rule="evenodd" transform="translate(2 2)">
                                        <path fill="#aaaaaa"
                                            d="M16.4090909,0 L21.5909091,0 C22.5448555,-1.75237108e-16 23.3181818,0.773326341 23.3181818,1.72727273 L23.3181818,1.72727273 C23.3181818,2.68121911 22.5448555,3.45454545 21.5909091,3.45454545 L16.4090909,3.45454545 L16.4090909,3.45454545 C15.4551445,3.45454545 14.6818182,2.68121911 14.6818182,1.72727273 L14.6818182,1.72727273 L14.6818182,1.72727273 C14.6818182,0.773326341 15.4551445,1.75237108e-16 16.4090909,0 L16.4090909,0 Z M6.62464821e-13,21.5909091 L6.62782116e-13,16.4090909 L6.62560072e-13,16.4090909 C6.62443247e-13,15.4551445 0.773326341,14.6818182 1.72727273,14.6818182 L1.72727273,14.6818182 C2.68121911,14.6818182 3.45454545,15.4551445 3.45454545,16.4090909 L3.45454545,21.5909091 L3.45454545,21.5909091 C3.45454545,22.5448555 2.68121911,23.3181818 1.72727273,23.3181818 C0.773326341,23.3181818 6.62581646e-13,22.5448555 6.62464821e-13,21.5909091 Z M34.5454545,21.5909091 L34.5454545,16.4090909 C34.5454545,15.4551445 35.3187809,14.6818182 36.2727273,14.6818182 L36.2727273,14.6818182 C37.2266737,14.6818182 38,15.4551445 38,16.4090909 L38,21.5909091 C38,22.5448555 37.2266737,23.3181818 36.2727273,23.3181818 C35.3187809,23.3181818 34.5454545,22.5448555 34.5454545,21.5909091 Z M16.4090909,34.5454545 L21.5909091,34.5454545 C22.5448555,34.5454545 23.3181818,35.3187809 23.3181818,36.2727273 L23.3181818,36.2727273 L23.3181818,36.2727273 C23.3181818,37.2266737 22.5448555,38 21.5909091,38 L16.4090909,38 C15.4551445,38 14.6818182,37.2266737 14.6818182,36.2727273 C14.6818182,35.3187809 15.4551445,34.5454545 16.4090909,34.5454545 Z">
                                        </path>
                                        <g transform="translate(1.727 1.727)">
                                            <mask id="support-small-b" fill="#fff">
                                                <use xlink:href="#support-small-a"></use>
                                            </mask>
                                            <use fill="#FFF" xlink:href="#support-small-a"></use>
                                            <path fill="#aaaaaa"
                                                d="M7.40734266,-2.09265734 L23.3181818,-2.59090909 C23.3181818,-2.59090909 27.1419879,-1.75052884 27.1381119,-1.72727273 C27.1342359,-1.70401661 21.1590909,10.3636364 21.1590909,10.3636364 L13.2534965,10.3304196 L7.40734266,-2.09265734 Z M27.1542721,36.4033824 L11.2434329,36.9016341 C11.2434329,36.9016341 7.41962683,36.0612539 7.42350285,36.0379977 C7.42737887,36.0147416 13.4025238,23.9470887 13.4025238,23.9470887 L21.3081182,23.9803054 L27.1542721,36.4033824 Z"
                                                mask="url(#support-small-b)"></path>
                                            <path fill="#aaaaaa"
                                                d="M7.40734266,-2.09265734 L23.3181818,-2.59090909 C23.3181818,-2.59090909 27.1419879,-1.75052884 27.1381119,-1.72727273 C27.1342359,-1.70401661 21.1590909,10.3636364 21.1590909,10.3636364 L13.2534965,10.3304196 L7.40734266,-2.09265734 Z M27.1542721,36.4033824 L11.2434329,36.9016341 C11.2434329,36.9016341 7.41962683,36.0612539 7.42350285,36.0379977 C7.42737887,36.0147416 13.4025238,23.9470887 13.4025238,23.9470887 L21.3081182,23.9803054 L27.1542721,36.4033824 Z"
                                                mask="url(#support-small-b)" transform="rotate(-90 17.28 17.155)">
                                            </path>
                                        </g>
                                    </g>
                                </svg>

                            </div>
                            <div class="copy-column">
                                <h4 class="cta-headline">Technical or account support</h4>
                                <p class="cta-copy">
                                    <span class="non-link">We’re here to help! If you have technical issues,</span>
                                    <a class="common-Link common-Link--arrow" href="/support">contact&nbsp;support</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="success" id="success">
                    <div class="thank-you-container">
                        <div class="thank-you">
                            <div class="copy-container">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                                        <g fill="none" fill-rule="evenodd">
                                            <circle cx="22" cy="22" r="22" fill="#000000" fill-rule="nonzero"></circle>
                                            <polyline stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="4" points="14 23.504 19.34 29 31 17"></polyline>
                                        </g>
                                    </svg>
                                </div>
                                <h1 class="success-headline">Thank you!</h1>
                                <h2 class="success-subhead with-email black">We’ve sent you an email at
                                    <span class="email-portion">
                                        <span class="submitted-email">justinsippel@gmail.com</span>
                                        to schedule a call.
                                    </span>
                                    If you do not find it in your inbox. Please check spam.
                                </h2>
                                <a class="common-Link common-Link--arrow" href="https://blog.fyipe.com">Read the latest
                                    updates from the Fyipe team</a>
                            </div>
                        </div>
                    </div>
                </section>

            </main>

        </div>
        <script>
            window.onload = function () {
                var apiURL = "";
                if (window.location.href.indexOf('localhost') > -1) {
                    apiURL = 'http://localhost:3002';
                } else if (window.location.href.indexOf('staging') > -1) {
                    apiURL = 'https://staging-fyipe.com/api';
                } else {
                    apiURL = 'https://fyipe.com/api';
                }
                document.getElementById('demoform').action = `${apiURL}/lead/add/demo`;
            }
        </script>
        <script>
            $(document).ready(function (e) {
                document.getElementById("source").value = getCookiebyName('source');
                $('#request-demo-btn').click(function () {
                    var email = $('#email').val();
                    if (emaildomains.test(email)) {
                        try {
                            var queryString = $('#demoform').serialize();
                            var formData = Object.fromEntries(new URLSearchParams(queryString));
                            var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
                            if (IS_SAAS_SERVICE) {
                                amplitude.getInstance().logEvent('EVENT: SUBMITTED REQUEST DEMO FORM', { data: formData });
                            }
                        } catch { }
                        return 0;
                    }
                    else {
                        $('#error-text').css("display", "block");
                        $('#email').addClass("invalid-value");
                        return false;
                    }
                });
            });
        </script>
        <script>
            $(document).ready(function (e) {
                document.getElementById('demoform').addEventListener('click', function () {
                    var queryString = $('#demoform').serialize();
                    var formData = Object.fromEntries(new URLSearchParams(queryString));
                    var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
                    if (IS_SAAS_SERVICE) {
                        amplitude.getInstance().logEvent('EVENT: SUBMITTED REQUEST DEMO FORM', { data: formData });
                    }
                })
            });
        </script>
        <%include ./footer %>
</body>

</html>