<header id="pagmt">

    <h1>DMCA Policy</h1>

    <p>The Digital Millennium Copyright Act established a process for addressing claims of copyright infringement that
        we have implemented for Fyipe services</p>
    <script src="/js/amplitude.js"></script>
    <script>
        var IS_DEV = window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1;
        if (!IS_DEV) {
            amplitude.getInstance().logEvent('DMCA page loaded');
        }
    </script>
</header>

<section>

    <h3>Introduction</h3>
    <p>We take the intellectual property rights of others seriously and require that our Customers and their Authorized
        Users do the same. The Digital Millennium Copyright Act established a process for addressing claims of copyright
        infringement that we have implemented for Fyipe services. If you own a copyright or have authority to act on
        behalf of a copyright owner and want to report a claim that a third party is infringing that material on or
        through a Fyipe service, please send a notice to our copyright agent that includes all of the items below and we
        will expeditiously take appropriate action:
        <br /><br />
        A description of the copyrighted work that you claim is being infringed;<br />
        A description of the material you claim is infringing and that you want removed or access to which you want
        disabled and the URL or other location of that material;<br />
        Your address, telephone number, and email address;<br />
        The following statement: “I have a good faith belief that the use of the copyrighted material I am complaining
        of is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)”;<br />
        The following statement: “The information in this notice is accurate and, under penalty of perjury, I am the
        owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right that is allegedly
        infringed”; and<br />
        An electronic or physical signature of the owner of the copyright or a person authorized to act on the owner's
        behalf.<br />
        Our designated copyright agent to receive such claims can be reached as follows:<br /><br /></p>


    <h3>Contact</h3>



    <p>By Mail:<br /><br />
        Legal Department,
        HackerBay, Inc.<br />
        2711 Centerville Road, <br />Suite 400, Wilmington,<br /> New Castle County, Delaware 19808.<br /> United States
    </p>



    <h3>Contact email address:</h3>


    <p>For copyright related matters please contact: copyright@hackerbay.io</p>

    <p> For all other matters please contact: legal@hackerbay.io</p>
</section>