<!DOCTYPE html>
<html lang="en" id="contact-sales">

<head>
    <title>Fyipe | Download Resource</title>

    <meta name="description" content="Fyipe lets you monitor any website, API or dashboard and alerts your team if something goes wrong. Fyipe also keeps your customers updated about any downtime.">
    <% include ./head %>

    <link rel="stylesheet" href="/css/demo.css">
    <script defer src="/js/demo.js"></script>
    <script src="/js/emaildomains.js"></script>

</head>

<body>

    <%include ./nav%>
        <div class="globalContent">
            <main>
                <div class="gradient-background"></div>
                <section class="contact-sales-header">
                    <div class="stripes-container initial">
                        <div class="fyipe s2"></div>
                        <div class="fyipe s3"></div>
                        <div class="fyipe s4"></div>
                        <div class="fyipe s5"></div>
                        <div class="fyipe s7"></div>
                        <div class="fyipe gradient"></div>
                        <div class="fyipe s1"></div>
                        <div class="fyipe s6"></div>
                        <div class="left-dots-container"></div>
                        <div class="light-dots-container"></div>
                        <div class="dark-dots-container"></div>
                        <div class="medium-dots-container"></div>
                    </div>
                    <div class="headline">
                        <div class="container-lg">
                            <h1 id="resource-title" class="headline-text">Resource Title</h1>
                            <h2 class="common-IntroText"> Thank you for your interest. Please fill out the form and we’ll send you the link to the whitepaper. </h2>
                        </div>
                    </div>

                </section>

                <section class="form-section" id="form-section">
                    <div class="container-lg">
                        <div class="form-column">
                            <div class="form-container">
                                <form action="http://api.fyipe.com/lead/" onsubmit="this.action=formUrl();" method="post" novalidate="">
                                    <input type="hidden" name="csrf-token" value="1">
                                    <input type="hidden" name="type" value="whitepaper">
                                    <fieldset>
                                        <input type="hidden" value="" name="whitepaper_name" id="whitepaper_name">
                                        <input type="hidden" value="" name="analytics_event_id">
                                        <div class="form-row text fullname">
                                            <label class="fullname" for="fullname">Your full name</label>
                                            <input id="fullname" name="fullname" type="text" placeholder="Jane Doe" required="">
                                        </div>
                                        <div class="form-row text email">
                                            <label class="email" for="email">Your work email</label>
                                            <input id="email" name="email" type="email" placeholder="jane.doe@example.com" required="">
                                        </div>
                                        <p id="error-text"><img src="/img/information.svg" alt="i">Please enter a business email address.</p>
                                        <div class="form-row text Phone">
                                            <label class="Phone" for="phone">Your Phone number</label>
                                            <input id="Phone" name="phone" type="text" placeholder="+1-123-456-7890" required="">
                                        </div>
                                        <div class="form-row text website">
                                            <label class="website" for="website">Company website</label>
                                            <input id="website" name="website" type="text" placeholder="example.com" required="">
                                        </div>
                                        <div class="form-row select country">
                                            <label class="country" for="country">Country</label>
                                            <div class="select-wrapper">
                                                <select id="country" name="country" required="" data-searchable-select-input-placeholder="Search..." data-searchable-select-no-results-message="No countries found."
                                                    class="has-value">
                                                    <option disabled="" value="">Choose country…</option>
                                                    <option value="AF">Afghanistan</option>
                                                    <option value="AL">Albania</option>
                                                    <option value="DZ">Algeria</option>
                                                    <option value="AS">American Samoa</option>
                                                    <option value="AD">Andorra</option>
                                                    <option value="AO">Angola</option>
                                                    <option value="AI">Anguilla</option>
                                                    <option value="AQ">Antarctica</option>
                                                    <option value="AG">Antigua &amp; Barbuda</option>
                                                    <option value="AR">Argentina</option>
                                                    <option value="AM">Armenia</option>
                                                    <option value="AW">Aruba</option>
                                                    <option value="AU">Australia</option>
                                                    <option value="AT">Austria</option>
                                                    <option value="AZ">Azerbaijan</option>
                                                    <option value="BS">Bahamas</option>
                                                    <option value="BH">Bahrain</option>
                                                    <option value="BD">Bangladesh</option>
                                                    <option value="BB">Barbados</option>
                                                    <option value="BY">Belarus</option>
                                                    <option value="BE">Belgium</option>
                                                    <option value="BZ">Belize</option>
                                                    <option value="BJ">Benin</option>
                                                    <option value="BM">Bermuda</option>
                                                    <option value="BT">Bhutan</option>
                                                    <option value="BO">Bolivia</option>
                                                    <option value="BQ">Caribbean Netherlands</option>
                                                    <option value="BA">Bosnia</option>
                                                    <option value="BW">Botswana</option>
                                                    <option value="BV">Bouvet Island</option>
                                                    <option value="BR">Brazil</option>
                                                    <option value="IO">British Indian Ocean Territory</option>
                                                    <option value="BN">Brunei</option>
                                                    <option value="BG">Bulgaria</option>
                                                    <option value="BF">Burkina Faso</option>
                                                    <option value="BI">Burundi</option>
                                                    <option value="KH">Cambodia</option>
                                                    <option value="CM">Cameroon</option>
                                                    <option value="CA">Canada</option>
                                                    <option value="CV">Cape Verde</option>
                                                    <option value="KY">Cayman Islands</option>
                                                    <option value="CF">Central African Republic</option>
                                                    <option value="TD">Chad</option>
                                                    <option value="CL">Chile</option>
                                                    <option value="CN">China</option>
                                                    <option value="CX">Christmas Island</option>
                                                    <option value="CC">Cocos (Keeling) Islands</option>
                                                    <option value="CO">Colombia</option>
                                                    <option value="KM">Comoros</option>
                                                    <option value="CG">Congo (Republic)</option>
                                                    <option value="CD">Congo (DRC)</option>
                                                    <option value="CK">Cook Islands</option>
                                                    <option value="CR">Costa Rica</option>
                                                    <option value="HR">Croatia</option>
                                                    <option value="CU">Cuba</option>
                                                    <option value="CW">Curaçao</option>
                                                    <option value="CY">Cyprus</option>
                                                    <option value="CZ">Czech Republic</option>
                                                    <option value="CI">Ivory Coast</option>
                                                    <option value="DK">Denmark</option>
                                                    <option value="DJ">Djibouti</option>
                                                    <option value="DM">Dominica</option>
                                                    <option value="DO">Dominican Republic</option>
                                                    <option value="EC">Ecuador</option>
                                                    <option value="EG">Egypt</option>
                                                    <option value="SV">El Salvador</option>
                                                    <option value="GQ">Equatorial Guinea</option>
                                                    <option value="ER">Eritrea</option>
                                                    <option value="EE">Estonia</option>
                                                    <option value="ET">Ethiopia</option>
                                                    <option value="FK">Falkland Islands (Islas Malvinas)</option>
                                                    <option value="FO">Faroe Islands</option>
                                                    <option value="FJ">Fiji</option>
                                                    <option value="FI">Finland</option>
                                                    <option value="FR">France</option>
                                                    <option value="GF">French Guiana</option>
                                                    <option value="PF">French Polynesia</option>
                                                    <option value="TF">French Southern Territories</option>
                                                    <option value="GA">Gabon</option>
                                                    <option value="GM">Gambia</option>
                                                    <option value="GE">Georgia</option>
                                                    <option value="DE">Germany</option>
                                                    <option value="GH">Ghana</option>
                                                    <option value="GI">Gibraltar</option>
                                                    <option value="GR">Greece</option>
                                                    <option value="GL">Greenland</option>
                                                    <option value="GD">Grenada</option>
                                                    <option value="GP">Guadeloupe</option>
                                                    <option value="GU">Guam</option>
                                                    <option value="GT">Guatemala</option>
                                                    <option value="GG">Guernsey</option>
                                                    <option value="GN">Guinea</option>
                                                    <option value="GW">Guinea-Bissau</option>
                                                    <option value="GY">Guyana</option>
                                                    <option value="HT">Haiti</option>
                                                    <option value="HM">Heard &amp; McDonald Islands</option>
                                                    <option value="VA">Vatican City</option>
                                                    <option value="HN">Honduras</option>
                                                    <option value="HK">Hong Kong</option>
                                                    <option value="HU">Hungary</option>
                                                    <option value="IS">Iceland</option>
                                                    <option value="IN">India</option>
                                                    <option value="ID">Indonesia</option>
                                                    <option value="IR">Iran</option>
                                                    <option value="IQ">Iraq</option>
                                                    <option value="IE">Ireland</option>
                                                    <option value="IM">Isle of Man</option>
                                                    <option value="IL">Israel</option>
                                                    <option value="IT">Italy</option>
                                                    <option value="JM">Jamaica</option>
                                                    <option value="JP">Japan</option>
                                                    <option value="JE">Jersey</option>
                                                    <option value="JO">Jordan</option>
                                                    <option value="KZ">Kazakhstan</option>
                                                    <option value="KE">Kenya</option>
                                                    <option value="KI">Kiribati</option>
                                                    <option value="KP">North Korea</option>
                                                    <option value="KR">South Korea</option>
                                                    <option value="KW">Kuwait</option>
                                                    <option value="KG">Kyrgyzstan</option>
                                                    <option value="LA">Laos</option>
                                                    <option value="LV">Latvia</option>
                                                    <option value="LB">Lebanon</option>
                                                    <option value="LS">Lesotho</option>
                                                    <option value="LR">Liberia</option>
                                                    <option value="LY">Libya</option>
                                                    <option value="LI">Liechtenstein</option>
                                                    <option value="LT">Lithuania</option>
                                                    <option value="LU">Luxembourg</option>
                                                    <option value="MO">Macau</option>
                                                    <option value="MK">Macedonia (FYROM)</option>
                                                    <option value="MG">Madagascar</option>
                                                    <option value="MW">Malawi</option>
                                                    <option value="MY">Malaysia</option>
                                                    <option value="MV">Maldives</option>
                                                    <option value="ML">Mali</option>
                                                    <option value="MT">Malta</option>
                                                    <option value="MH">Marshall Islands</option>
                                                    <option value="MQ">Martinique</option>
                                                    <option value="MR">Mauritania</option>
                                                    <option value="MU">Mauritius</option>
                                                    <option value="YT">Mayotte</option>
                                                    <option value="MX">Mexico</option>
                                                    <option value="FM">Micronesia</option>
                                                    <option value="MD">Moldova</option>
                                                    <option value="MC">Monaco</option>
                                                    <option value="MN">Mongolia</option>
                                                    <option value="ME">Montenegro</option>
                                                    <option value="MS">Montserrat</option>
                                                    <option value="MA">Morocco</option>
                                                    <option value="MZ">Mozambique</option>
                                                    <option value="MM">Myanmar</option>
                                                    <option value="NA">Namibia</option>
                                                    <option value="NR">Nauru</option>
                                                    <option value="NP">Nepal</option>
                                                    <option value="NL">Netherlands</option>
                                                    <option value="NC">New Caledonia</option>
                                                    <option value="NZ">New Zealand</option>
                                                    <option value="NI">Nicaragua</option>
                                                    <option value="NE">Niger</option>
                                                    <option value="NG">Nigeria</option>
                                                    <option value="NU">Niue</option>
                                                    <option value="NF">Norfolk Island</option>
                                                    <option value="MP">Northern Mariana Islands</option>
                                                    <option value="NO">Norway</option>
                                                    <option value="OM">Oman</option>
                                                    <option value="PK">Pakistan</option>
                                                    <option value="PW">Palau</option>
                                                    <option value="PS">Palestine</option>
                                                    <option value="PA">Panama</option>
                                                    <option value="PG">Papua New Guinea</option>
                                                    <option value="PY">Paraguay</option>
                                                    <option value="PE">Peru</option>
                                                    <option value="PH">Philippines</option>
                                                    <option value="PN">Pitcairn Islands</option>
                                                    <option value="PL">Poland</option>
                                                    <option value="PT">Portugal</option>
                                                    <option value="PR">Puerto Rico</option>
                                                    <option value="QA">Qatar</option>
                                                    <option value="RO">Romania</option>
                                                    <option value="RU">Russia</option>
                                                    <option value="RW">Rwanda</option>
                                                    <option value="RE">Réunion</option>
                                                    <option value="BL">St. Barthélemy</option>
                                                    <option value="SH">St. Helena</option>
                                                    <option value="KN">St. Kitts &amp; Nevis</option>
                                                    <option value="LC">St. Lucia</option>
                                                    <option value="MF">St. Martin</option>
                                                    <option value="PM">St. Pierre &amp; Miquelon</option>
                                                    <option value="VC">St. Vincent &amp; Grenadines</option>
                                                    <option value="WS">Samoa</option>
                                                    <option value="SM">San Marino</option>
                                                    <option value="ST">São Tomé &amp; Príncipe</option>
                                                    <option value="SA">Saudi Arabia</option>
                                                    <option value="SN">Senegal</option>
                                                    <option value="RS">Serbia</option>
                                                    <option value="SC">Seychelles</option>
                                                    <option value="SL">Sierra Leone</option>
                                                    <option value="SG">Singapore</option>
                                                    <option value="SX">Sint Maarten</option>
                                                    <option value="SK">Slovakia</option>
                                                    <option value="SI">Slovenia</option>
                                                    <option value="SB">Solomon Islands</option>
                                                    <option value="SO">Somalia</option>
                                                    <option value="ZA">South Africa</option>
                                                    <option value="GS">South Georgia &amp; South Sandwich Islands</option>
                                                    <option value="SS">South Sudan</option>
                                                    <option value="ES">Spain</option>
                                                    <option value="LK">Sri Lanka</option>
                                                    <option value="SD">Sudan</option>
                                                    <option value="SR">Suriname</option>
                                                    <option value="SJ">Svalbard &amp; Jan Mayen</option>
                                                    <option value="SZ">Swaziland</option>
                                                    <option value="SE">Sweden</option>
                                                    <option value="CH">Switzerland</option>
                                                    <option value="SY">Syria</option>
                                                    <option value="TW">Taiwan</option>
                                                    <option value="TJ">Tajikistan</option>
                                                    <option value="TZ">Tanzania</option>
                                                    <option value="TH">Thailand</option>
                                                    <option value="TL">East Timor</option>
                                                    <option value="TG">Togo</option>
                                                    <option value="TK">Tokelau</option>
                                                    <option value="TO">Tonga</option>
                                                    <option value="TT">Trinidad &amp; Tobago</option>
                                                    <option value="TN">Tunisia</option>
                                                    <option value="TR">Turkey</option>
                                                    <option value="TM">Turkmenistan</option>
                                                    <option value="TC">Turks &amp; Caicos Islands</option>
                                                    <option value="TV">Tuvalu</option>
                                                    <option value="UG">Uganda</option>
                                                    <option value="UA">Ukraine</option>
                                                    <option value="AE">United Arab Emirates</option>
                                                    <option value="GB">United Kingdom</option>
                                                    <option selected="selected" value="US">United States</option>
                                                    <option value="UM">U.S. Outlying Islands</option>
                                                    <option value="UY">Uruguay</option>
                                                    <option value="UZ">Uzbekistan</option>
                                                    <option value="VU">Vanuatu</option>
                                                    <option value="VE">Venezuela</option>
                                                    <option value="VN">Vietnam</option>
                                                    <option value="VG">British Virgin Islands</option>
                                                    <option value="VI">U.S. Virgin Islands</option>
                                                    <option value="WF">Wallis &amp; Futuna</option>
                                                    <option value="EH">Western Sahara</option>
                                                    <option value="YE">Yemen</option>
                                                    <option value="ZM">Zambia</option>
                                                    <option value="ZW">Zimbabwe</option>
                                                    <option value="AX">Åland Islands</option>
                                                </select>
                                                <div class="searchable-select-container">
                                                    <div class="searchable-select-dropdown">
                                                        <input class="searchable-select-input" placeholder="Search..." autocorrect="off"
                                                            autocomplete="off" spellcheck="false">
                                                        <ul class="searchable-select-results">
                                                            <li class="searchable-select-result" data-value="AF">Afghanistan</li>
                                                            <li class="searchable-select-result" data-value="AL">Albania</li>
                                                            <li class="searchable-select-result" data-value="DZ">Algeria</li>
                                                            <li class="searchable-select-result" data-value="AS">American Samoa</li>
                                                            <li class="searchable-select-result" data-value="AD">Andorra</li>
                                                            <li class="searchable-select-result" data-value="AO">Angola</li>
                                                            <li class="searchable-select-result" data-value="AI">Anguilla</li>
                                                            <li class="searchable-select-result" data-value="AQ">Antarctica</li>
                                                            <li class="searchable-select-result" data-value="AG">Antigua &amp; Barbuda</li>
                                                            <li class="searchable-select-result"
                                                                data-value="AR">Argentina</li>
                                                            <li class="searchable-select-result" data-value="AM">Armenia</li>
                                                            <li class="searchable-select-result" data-value="AW">Aruba</li>
                                                            <li class="searchable-select-result" data-value="AU">Australia</li>
                                                            <li class="searchable-select-result" data-value="AT">Austria</li>
                                                            <li class="searchable-select-result" data-value="AZ">Azerbaijan</li>
                                                            <li class="searchable-select-result" data-value="BS">Bahamas</li>
                                                            <li class="searchable-select-result" data-value="BH">Bahrain</li>
                                                            <li class="searchable-select-result" data-value="BD">Bangladesh</li>
                                                            <li class="searchable-select-result" data-value="BB">Barbados</li>
                                                            <li class="searchable-select-result" data-value="BY">Belarus</li>
                                                            <li class="searchable-select-result" data-value="BE">Belgium</li>
                                                            <li class="searchable-select-result" data-value="BZ">Belize</li>
                                                            <li class="searchable-select-result" data-value="BJ">Benin</li>
                                                            <li class="searchable-select-result" data-value="BM">Bermuda</li>
                                                            <li class="searchable-select-result" data-value="BT">Bhutan</li>
                                                            <li class="searchable-select-result" data-value="BO">Bolivia</li>
                                                            <li class="searchable-select-result" data-value="BQ">Caribbean Netherlands</li>
                                                            <li class="searchable-select-result"
                                                                data-value="BA">Bosnia</li>
                                                            <li class="searchable-select-result" data-value="BW">Botswana</li>
                                                            <li class="searchable-select-result" data-value="BV">Bouvet Island</li>
                                                            <li class="searchable-select-result" data-value="BR">Brazil</li>
                                                            <li class="searchable-select-result" data-value="IO">British Indian Ocean Territory</li>
                                                            <li class="searchable-select-result"
                                                                data-value="BN">Brunei</li>
                                                            <li class="searchable-select-result" data-value="BG">Bulgaria</li>
                                                            <li class="searchable-select-result" data-value="BF">Burkina Faso</li>
                                                            <li class="searchable-select-result" data-value="BI">Burundi</li>
                                                            <li class="searchable-select-result" data-value="KH">Cambodia</li>
                                                            <li class="searchable-select-result" data-value="CM">Cameroon</li>
                                                            <li class="searchable-select-result" data-value="CA">Canada</li>
                                                            <li class="searchable-select-result" data-value="CV">Cape Verde</li>
                                                            <li class="searchable-select-result" data-value="KY">Cayman Islands</li>
                                                            <li class="searchable-select-result" data-value="CF">Central African Republic</li>
                                                            <li class="searchable-select-result"
                                                                data-value="TD">Chad</li>
                                                            <li class="searchable-select-result" data-value="CL">Chile</li>
                                                            <li class="searchable-select-result" data-value="CN">China</li>
                                                            <li class="searchable-select-result" data-value="CX">Christmas Island</li>
                                                            <li class="searchable-select-result" data-value="CC">Cocos (Keeling) Islands</li>
                                                            <li class="searchable-select-result"
                                                                data-value="CO">Colombia</li>
                                                            <li class="searchable-select-result" data-value="KM">Comoros</li>
                                                            <li class="searchable-select-result" data-value="CG">Congo (Republic)</li>
                                                            <li class="searchable-select-result" data-value="CD">Congo (DRC)</li>
                                                            <li class="searchable-select-result" data-value="CK">Cook Islands</li>
                                                            <li class="searchable-select-result" data-value="CR">Costa Rica</li>
                                                            <li class="searchable-select-result" data-value="HR">Croatia</li>
                                                            <li class="searchable-select-result" data-value="CU">Cuba</li>
                                                            <li class="searchable-select-result" data-value="CW">Curaçao</li>
                                                            <li class="searchable-select-result" data-value="CY">Cyprus</li>
                                                            <li class="searchable-select-result" data-value="CZ">Czech Republic</li>
                                                            <li class="searchable-select-result" data-value="CI">Ivory Coast</li>
                                                            <li class="searchable-select-result" data-value="DK">Denmark</li>
                                                            <li class="searchable-select-result" data-value="DJ">Djibouti</li>
                                                            <li class="searchable-select-result" data-value="DM">Dominica</li>
                                                            <li class="searchable-select-result" data-value="DO">Dominican Republic</li>
                                                            <li class="searchable-select-result" data-value="EC">Ecuador</li>
                                                            <li class="searchable-select-result" data-value="EG">Egypt</li>
                                                            <li class="searchable-select-result" data-value="SV">El Salvador</li>
                                                            <li class="searchable-select-result" data-value="GQ">Equatorial Guinea</li>
                                                            <li class="searchable-select-result" data-value="ER">Eritrea</li>
                                                            <li class="searchable-select-result" data-value="EE">Estonia</li>
                                                            <li class="searchable-select-result" data-value="ET">Ethiopia</li>
                                                            <li class="searchable-select-result" data-value="FK">Falkland Islands (Islas Malvinas)</li>
                                                            <li class="searchable-select-result"
                                                                data-value="FO">Faroe Islands</li>
                                                            <li class="searchable-select-result" data-value="FJ">Fiji</li>
                                                            <li class="searchable-select-result" data-value="FI">Finland</li>
                                                            <li class="searchable-select-result" data-value="FR">France</li>
                                                            <li class="searchable-select-result" data-value="GF">French Guiana</li>
                                                            <li class="searchable-select-result" data-value="PF">French Polynesia</li>
                                                            <li class="searchable-select-result" data-value="TF">French Southern Territories</li>
                                                            <li class="searchable-select-result"
                                                                data-value="GA">Gabon</li>
                                                            <li class="searchable-select-result" data-value="GM">Gambia</li>
                                                            <li class="searchable-select-result" data-value="GE">Georgia</li>
                                                            <li class="searchable-select-result" data-value="DE">Germany</li>
                                                            <li class="searchable-select-result" data-value="GH">Ghana</li>
                                                            <li class="searchable-select-result" data-value="GI">Gibraltar</li>
                                                            <li class="searchable-select-result" data-value="GR">Greece</li>
                                                            <li class="searchable-select-result" data-value="GL">Greenland</li>
                                                            <li class="searchable-select-result" data-value="GD">Grenada</li>
                                                            <li class="searchable-select-result" data-value="GP">Guadeloupe</li>
                                                            <li class="searchable-select-result" data-value="GU">Guam</li>
                                                            <li class="searchable-select-result" data-value="GT">Guatemala</li>
                                                            <li class="searchable-select-result" data-value="GG">Guernsey</li>
                                                            <li class="searchable-select-result" data-value="GN">Guinea</li>
                                                            <li class="searchable-select-result" data-value="GW">Guinea-Bissau</li>
                                                            <li class="searchable-select-result" data-value="GY">Guyana</li>
                                                            <li class="searchable-select-result" data-value="HT">Haiti</li>
                                                            <li class="searchable-select-result" data-value="HM">Heard &amp; McDonald Islands</li>
                                                            <li class="searchable-select-result"
                                                                data-value="VA">Vatican City</li>
                                                            <li class="searchable-select-result" data-value="HN">Honduras</li>
                                                            <li class="searchable-select-result" data-value="HK">Hong Kong</li>
                                                            <li class="searchable-select-result" data-value="HU">Hungary</li>
                                                            <li class="searchable-select-result" data-value="IS">Iceland</li>
                                                            <li class="searchable-select-result" data-value="IN">India</li>
                                                            <li class="searchable-select-result" data-value="ID">Indonesia</li>
                                                            <li class="searchable-select-result" data-value="IR">Iran</li>
                                                            <li class="searchable-select-result" data-value="IQ">Iraq</li>
                                                            <li class="searchable-select-result" data-value="IE">Ireland</li>
                                                            <li class="searchable-select-result" data-value="IM">Isle of Man</li>
                                                            <li class="searchable-select-result" data-value="IL">Israel</li>
                                                            <li class="searchable-select-result" data-value="IT">Italy</li>
                                                            <li class="searchable-select-result" data-value="JM">Jamaica</li>
                                                            <li class="searchable-select-result" data-value="JP">Japan</li>
                                                            <li class="searchable-select-result" data-value="JE">Jersey</li>
                                                            <li class="searchable-select-result" data-value="JO">Jordan</li>
                                                            <li class="searchable-select-result" data-value="KZ">Kazakhstan</li>
                                                            <li class="searchable-select-result" data-value="KE">Kenya</li>
                                                            <li class="searchable-select-result" data-value="KI">Kiribati</li>
                                                            <li class="searchable-select-result" data-value="KP">North Korea</li>
                                                            <li class="searchable-select-result" data-value="KR">South Korea</li>
                                                            <li class="searchable-select-result" data-value="KW">Kuwait</li>
                                                            <li class="searchable-select-result" data-value="KG">Kyrgyzstan</li>
                                                            <li class="searchable-select-result" data-value="LA">Laos</li>
                                                            <li class="searchable-select-result" data-value="LV">Latvia</li>
                                                            <li class="searchable-select-result" data-value="LB">Lebanon</li>
                                                            <li class="searchable-select-result" data-value="LS">Lesotho</li>
                                                            <li class="searchable-select-result" data-value="LR">Liberia</li>
                                                            <li class="searchable-select-result" data-value="LY">Libya</li>
                                                            <li class="searchable-select-result" data-value="LI">Liechtenstein</li>
                                                            <li class="searchable-select-result" data-value="LT">Lithuania</li>
                                                            <li class="searchable-select-result" data-value="LU">Luxembourg</li>
                                                            <li class="searchable-select-result" data-value="MO">Macau</li>
                                                            <li class="searchable-select-result" data-value="MK">Macedonia (FYROM)</li>
                                                            <li class="searchable-select-result" data-value="MG">Madagascar</li>
                                                            <li class="searchable-select-result" data-value="MW">Malawi</li>
                                                            <li class="searchable-select-result" data-value="MY">Malaysia</li>
                                                            <li class="searchable-select-result" data-value="MV">Maldives</li>
                                                            <li class="searchable-select-result" data-value="ML">Mali</li>
                                                            <li class="searchable-select-result" data-value="MT">Malta</li>
                                                            <li class="searchable-select-result" data-value="MH">Marshall Islands</li>
                                                            <li class="searchable-select-result" data-value="MQ">Martinique</li>
                                                            <li class="searchable-select-result" data-value="MR">Mauritania</li>
                                                            <li class="searchable-select-result" data-value="MU">Mauritius</li>
                                                            <li class="searchable-select-result" data-value="YT">Mayotte</li>
                                                            <li class="searchable-select-result" data-value="MX">Mexico</li>
                                                            <li class="searchable-select-result" data-value="FM">Micronesia</li>
                                                            <li class="searchable-select-result" data-value="MD">Moldova</li>
                                                            <li class="searchable-select-result" data-value="MC">Monaco</li>
                                                            <li class="searchable-select-result" data-value="MN">Mongolia</li>
                                                            <li class="searchable-select-result" data-value="ME">Montenegro</li>
                                                            <li class="searchable-select-result" data-value="MS">Montserrat</li>
                                                            <li class="searchable-select-result" data-value="MA">Morocco</li>
                                                            <li class="searchable-select-result" data-value="MZ">Mozambique</li>
                                                            <li class="searchable-select-result" data-value="MM">Myanmar</li>
                                                            <li class="searchable-select-result" data-value="NA">Namibia</li>
                                                            <li class="searchable-select-result" data-value="NR">Nauru</li>
                                                            <li class="searchable-select-result" data-value="NP">Nepal</li>
                                                            <li class="searchable-select-result" data-value="NL">Netherlands</li>
                                                            <li class="searchable-select-result" data-value="NC">New Caledonia</li>
                                                            <li class="searchable-select-result" data-value="NZ">New Zealand</li>
                                                            <li class="searchable-select-result" data-value="NI">Nicaragua</li>
                                                            <li class="searchable-select-result" data-value="NE">Niger</li>
                                                            <li class="searchable-select-result" data-value="NG">Nigeria</li>
                                                            <li class="searchable-select-result" data-value="NU">Niue</li>
                                                            <li class="searchable-select-result" data-value="NF">Norfolk Island</li>
                                                            <li class="searchable-select-result" data-value="MP">Northern Mariana Islands</li>
                                                            <li class="searchable-select-result"
                                                                data-value="NO">Norway</li>
                                                            <li class="searchable-select-result" data-value="OM">Oman</li>
                                                            <li class="searchable-select-result" data-value="PK">Pakistan</li>
                                                            <li class="searchable-select-result" data-value="PW">Palau</li>
                                                            <li class="searchable-select-result" data-value="PS">Palestine</li>
                                                            <li class="searchable-select-result" data-value="PA">Panama</li>
                                                            <li class="searchable-select-result" data-value="PG">Papua New Guinea</li>
                                                            <li class="searchable-select-result" data-value="PY">Paraguay</li>
                                                            <li class="searchable-select-result" data-value="PE">Peru</li>
                                                            <li class="searchable-select-result" data-value="PH">Philippines</li>
                                                            <li class="searchable-select-result" data-value="PN">Pitcairn Islands</li>
                                                            <li class="searchable-select-result" data-value="PL">Poland</li>
                                                            <li class="searchable-select-result" data-value="PT">Portugal</li>
                                                            <li class="searchable-select-result" data-value="PR">Puerto Rico</li>
                                                            <li class="searchable-select-result" data-value="QA">Qatar</li>
                                                            <li class="searchable-select-result" data-value="RO">Romania</li>
                                                            <li class="searchable-select-result" data-value="RU">Russia</li>
                                                            <li class="searchable-select-result" data-value="RW">Rwanda</li>
                                                            <li class="searchable-select-result" data-value="RE">Réunion</li>
                                                            <li class="searchable-select-result" data-value="BL">St. Barthélemy</li>
                                                            <li class="searchable-select-result" data-value="SH">St. Helena</li>
                                                            <li class="searchable-select-result" data-value="KN">St. Kitts &amp; Nevis</li>
                                                            <li class="searchable-select-result"
                                                                data-value="LC">St. Lucia</li>
                                                            <li class="searchable-select-result" data-value="MF">St. Martin</li>
                                                            <li class="searchable-select-result" data-value="PM">St. Pierre &amp; Miquelon</li>
                                                            <li class="searchable-select-result"
                                                                data-value="VC">St. Vincent &amp; Grenadines</li>
                                                            <li class="searchable-select-result"
                                                                data-value="WS">Samoa</li>
                                                            <li class="searchable-select-result" data-value="SM">San Marino</li>
                                                            <li class="searchable-select-result" data-value="ST">São Tomé &amp; Príncipe</li>
                                                            <li class="searchable-select-result"
                                                                data-value="SA">Saudi Arabia</li>
                                                            <li class="searchable-select-result" data-value="SN">Senegal</li>
                                                            <li class="searchable-select-result" data-value="RS">Serbia</li>
                                                            <li class="searchable-select-result" data-value="SC">Seychelles</li>
                                                            <li class="searchable-select-result" data-value="SL">Sierra Leone</li>
                                                            <li class="searchable-select-result" data-value="SG">Singapore</li>
                                                            <li class="searchable-select-result" data-value="SX">Sint Maarten</li>
                                                            <li class="searchable-select-result" data-value="SK">Slovakia</li>
                                                            <li class="searchable-select-result" data-value="SI">Slovenia</li>
                                                            <li class="searchable-select-result" data-value="SB">Solomon Islands</li>
                                                            <li class="searchable-select-result" data-value="SO">Somalia</li>
                                                            <li class="searchable-select-result" data-value="ZA">South Africa</li>
                                                            <li class="searchable-select-result" data-value="GS">South Georgia &amp; South Sandwich Islands</li>
                                                            <li class="searchable-select-result"
                                                                data-value="SS">South Sudan</li>
                                                            <li class="searchable-select-result" data-value="ES">Spain</li>
                                                            <li class="searchable-select-result" data-value="LK">Sri Lanka</li>
                                                            <li class="searchable-select-result" data-value="SD">Sudan</li>
                                                            <li class="searchable-select-result" data-value="SR">Suriname</li>
                                                            <li class="searchable-select-result" data-value="SJ">Svalbard &amp; Jan Mayen</li>
                                                            <li class="searchable-select-result"
                                                                data-value="SZ">Swaziland</li>
                                                            <li class="searchable-select-result" data-value="SE">Sweden</li>
                                                            <li class="searchable-select-result" data-value="CH">Switzerland</li>
                                                            <li class="searchable-select-result" data-value="SY">Syria</li>
                                                            <li class="searchable-select-result" data-value="TW">Taiwan</li>
                                                            <li class="searchable-select-result" data-value="TJ">Tajikistan</li>
                                                            <li class="searchable-select-result" data-value="TZ">Tanzania</li>
                                                            <li class="searchable-select-result" data-value="TH">Thailand</li>
                                                            <li class="searchable-select-result" data-value="TL">East Timor</li>
                                                            <li class="searchable-select-result" data-value="TG">Togo</li>
                                                            <li class="searchable-select-result" data-value="TK">Tokelau</li>
                                                            <li class="searchable-select-result" data-value="TO">Tonga</li>
                                                            <li class="searchable-select-result" data-value="TT">Trinidad &amp; Tobago</li>
                                                            <li class="searchable-select-result"
                                                                data-value="TN">Tunisia</li>
                                                            <li class="searchable-select-result" data-value="TR">Turkey</li>
                                                            <li class="searchable-select-result" data-value="TM">Turkmenistan</li>
                                                            <li class="searchable-select-result" data-value="TC">Turks &amp; Caicos Islands</li>
                                                            <li class="searchable-select-result"
                                                                data-value="TV">Tuvalu</li>
                                                            <li class="searchable-select-result" data-value="UG">Uganda</li>
                                                            <li class="searchable-select-result" data-value="UA">Ukraine</li>
                                                            <li class="searchable-select-result" data-value="AE">United Arab Emirates</li>
                                                            <li class="searchable-select-result"
                                                                data-value="GB">United Kingdom</li>
                                                            <li class="searchable-select-result selected"
                                                                data-value="US">United States</li>
                                                            <li class="searchable-select-result" data-value="UM">U.S. Outlying Islands</li>
                                                            <li class="searchable-select-result"
                                                                data-value="UY">Uruguay</li>
                                                            <li class="searchable-select-result" data-value="UZ">Uzbekistan</li>
                                                            <li class="searchable-select-result" data-value="VU">Vanuatu</li>
                                                            <li class="searchable-select-result" data-value="VE">Venezuela</li>
                                                            <li class="searchable-select-result" data-value="VN">Vietnam</li>
                                                            <li class="searchable-select-result" data-value="VG">British Virgin Islands</li>
                                                            <li class="searchable-select-result"
                                                                data-value="VI">U.S. Virgin Islands</li>
                                                            <li class="searchable-select-result"
                                                                data-value="WF">Wallis &amp; Futuna</li>
                                                            <li class="searchable-select-result"
                                                                data-value="EH">Western Sahara</li>
                                                            <li class="searchable-select-result" data-value="YE">Yemen</li>
                                                            <li class="searchable-select-result" data-value="ZM">Zambia</li>
                                                            <li class="searchable-select-result" data-value="ZW">Zimbabwe</li>
                                                            <li class="searchable-select-result" data-value="AX">Åland Islands</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row select volume">
                                            <label class="volume contains-summary" for="volume">
                                                Company Size
                                                <summary class="volume">How many employees work in your company?</summary>
                                            </label>
                                            <div class="select-wrapper">
                                                <select id="volume" name="volume" required="">
                                                    <option selected="" disabled="" value="">Select Company Size</option>
                                                    <option value="{&quot;index&quot;:0,&quot;total&quot;:6,&quot;text&quot;:&quot;1-10&quot;,&quot;lower_bound&quot;:0}">1-10</option>
                                                    <option value="{&quot;index&quot;:1,&quot;total&quot;:6,&quot;text&quot;:&quot;11-50&quot;,&quot;lower_bound&quot;:7500000}">11-50</option>
                                                    <option value="{&quot;index&quot;:2,&quot;total&quot;:6,&quot;text&quot;:&quot;51-200&quot;,&quot;lower_bound&quot;:50000000}">51-200</option>
                                                    <option value="{&quot;index&quot;:3,&quot;total&quot;:6,&quot;text&quot;:&quot;200-1000&quot;,&quot;lower_bound&quot;:100000000}">200-1000</option>
                                                    <option value="{&quot;index&quot;:4,&quot;total&quot;:6,&quot;text&quot;:&quot;1001-5000&quot;,&quot;lower_bound&quot;:500000000}">1001-5000</option>
                                                    <option value="{&quot;index&quot;:5,&quot;total&quot;:6,&quot;text&quot;:&quot;5000+&quot;,&quot;lower_bound&quot;:1000000000}">5000+</option>
                                                </select>
                                                <div class="searchable-select-container">
                                                    <div class="searchable-select-dropdown">
                                                        <ul class="searchable-select-results">
                                                            <li class="searchable-select-result" data-value="{&quot;tier&quot;:&quot;none&quot;,&quot;text&quot;:&quot;None; just getting started&quot;,&quot;lower_bound&quot;:0}">None; just getting started</li>
                                                            <li class="searchable-select-result"
                                                                data-value="{&quot;index&quot;:0,&quot;total&quot;:6,&quot;text&quot;:&quot;$75,000 or less&quot;,&quot;lower_bound&quot;:0}">$75,000 or less</li>
                                                            <li class="searchable-select-result" data-value="{&quot;index&quot;:1,&quot;total&quot;:6,&quot;text&quot;:&quot;$75,000 to $500,000&quot;,&quot;lower_bound&quot;:7500000}">$75,000 to $500,000</li>
                                                            <li class="searchable-select-result"
                                                                data-value="{&quot;index&quot;:2,&quot;total&quot;:6,&quot;text&quot;:&quot;$500,000 to $1,000,000&quot;,&quot;lower_bound&quot;:50000000}">$500,000 to $1,000,000</li>
                                                            <li class="searchable-select-result"
                                                                data-value="{&quot;index&quot;:3,&quot;total&quot;:6,&quot;text&quot;:&quot;$1,000,000 to $5,000,000&quot;,&quot;lower_bound&quot;:100000000}">$1,000,000 to $5,000,000</li>
                                                            <li class="searchable-select-result"
                                                                data-value="{&quot;index&quot;:4,&quot;total&quot;:6,&quot;text&quot;:&quot;$5,000,000 to $10,000,000&quot;,&quot;lower_bound&quot;:500000000}">$5,000,000 to $10,000,000</li>
                                                            <li class="searchable-select-result"
                                                                data-value="{&quot;index&quot;:5,&quot;total&quot;:6,&quot;text&quot;:&quot;$10,000,000 or more&quot;,&quot;lower_bound&quot;:1000000000}">$10,000,000 or more</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                    <div class="submit-row">
                                        <figure class="spinner">
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="spinner-svg">
                                                <ellipse cx="12" cy="12" rx="10" ry="10" class="spinner-ellipse"></ellipse>
                                            </svg>

                                        </figure>
                                        <input type="submit" class="submit-button common-Button common-Button--default" id="request-resource-btn" value="Request Resource">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="secondary-column">
                            <div class="why-fyipe">
                                <p class="intro-text">Whitepaper Title</p>
                                <ul class="bullet-points">
                                    <li id="one">First point about whitepaper</li>
                                    <li id="two">Second point about whitepaper</li>
                                    <li id="three">Third point about whitepaper</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="ctas">
                    <div class="container-lg">
                        <div class="cta general-queries">
                            <div class="icon-column">
                                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                                    <g fill="none" fill-rule="evenodd" transform="translate(0 2)">
                                        <path fill="#5357AA" d="M23.3687586,30.1425368 C20.9219925,32.1886371 17.7706231,33.4201682 14.3316134,33.4201682 C11.6954209,33.4201682 9.22824798,32.6965111 7.11790903,31.4370107 L0.720671335,33.5694159 C0.184840538,33.7480255 -0.0887912638,33.4605854 0.0863663199,32.9351109 L2.21876868,26.5378816 C0.959266296,24.4275489 0.235608095,21.9603837 0.235608095,19.3241995 C0.235608095,11.8043462 6.12405444,5.6598097 13.5415258,5.25 C11.8174159,7.83464563 10.8124059,10.939934 10.8124059,14.279955 C10.8124059,21.9925795 16.1713145,28.4535638 23.3687608,30.1425372 Z"></path>
                                        <path fill="#FFF" d="M39.33385,21.3096508 C40.5933524,19.1993181 41.3170106,16.7321529 41.3170106,14.0959687 C41.3170106,6.31098016 35.0060141,1.77635684e-14 27.2210053,1.77635684e-14 C19.4359965,1.77635684e-14 13.125,6.31098016 13.125,14.0959687 C13.125,21.8809573 19.4359965,28.1919374 27.2210053,28.1919374 C29.8571978,28.1919374 32.3243707,27.4682803 34.4347097,26.2087798 L40.8319474,28.341185 C41.3677782,28.5197947 41.64141,28.2323546 41.4662524,27.70688 L39.33385,21.3096508 Z"></path>
                                        <ellipse cx="22.313" cy="16.188" fill="#5357AA" rx="1.313" ry="1.313"></ellipse>
                                        <ellipse cx="27.125" cy="16.188" fill="#5357AA" rx="1.313" ry="1.313"></ellipse>
                                        <ellipse cx="31.938" cy="16.188" fill="#5357AA" rx="1.313" ry="1.313"></ellipse>
                                    </g>
                                </svg>

                            </div>
                            <div class="copy-column">
                                <h4 class="cta-headline">General communication</h4>
                                <p class="cta-copy">
                                    <span class="non-link">For general queries, including partnership opportunities, please email</span>
                                    <a class="common-Link"
                                        href="mailto:info@fyipe.com">info@fyipe.com</a>
                                    <span class="non-link">.</span>
                                </p>
                            </div>
                        </div>
                        <div class="cta support">
                            <div class="icon-column">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42" height="42" viewBox="0 0 42 42">
                                    <defs>
                                        <path id="support-small-a" d="M17.2727273,34.5454545 C7.73326341,34.5454545 0,26.8121911 0,17.2727273 C0,7.73326341 7.73326341,0 17.2727273,0 C26.8121911,0 34.5454545,7.73326341 34.5454545,17.2727273 C34.5454545,26.8121911 26.8121911,34.5454545 17.2727273,34.5454545 Z M17.2727273,26.7727273 C22.5194324,26.7727273 26.7727273,22.5194324 26.7727273,17.2727273 C26.7727273,12.0260221 22.5194324,7.77272727 17.2727273,7.77272727 C12.0260221,7.77272727 7.77272727,12.0260221 7.77272727,17.2727273 C7.77272727,22.5194324 12.0260221,26.7727273 17.2727273,26.7727273 Z"></path>
                                    </defs>
                                    <g fill="none" fill-rule="evenodd" transform="translate(2 2)">
                                        <path fill="#ECFAFF" d="M16.4090909,0 L21.5909091,0 C22.5448555,-1.75237108e-16 23.3181818,0.773326341 23.3181818,1.72727273 L23.3181818,1.72727273 C23.3181818,2.68121911 22.5448555,3.45454545 21.5909091,3.45454545 L16.4090909,3.45454545 L16.4090909,3.45454545 C15.4551445,3.45454545 14.6818182,2.68121911 14.6818182,1.72727273 L14.6818182,1.72727273 L14.6818182,1.72727273 C14.6818182,0.773326341 15.4551445,1.75237108e-16 16.4090909,0 L16.4090909,0 Z M6.62464821e-13,21.5909091 L6.62782116e-13,16.4090909 L6.62560072e-13,16.4090909 C6.62443247e-13,15.4551445 0.773326341,14.6818182 1.72727273,14.6818182 L1.72727273,14.6818182 C2.68121911,14.6818182 3.45454545,15.4551445 3.45454545,16.4090909 L3.45454545,21.5909091 L3.45454545,21.5909091 C3.45454545,22.5448555 2.68121911,23.3181818 1.72727273,23.3181818 C0.773326341,23.3181818 6.62581646e-13,22.5448555 6.62464821e-13,21.5909091 Z M34.5454545,21.5909091 L34.5454545,16.4090909 C34.5454545,15.4551445 35.3187809,14.6818182 36.2727273,14.6818182 L36.2727273,14.6818182 C37.2266737,14.6818182 38,15.4551445 38,16.4090909 L38,21.5909091 C38,22.5448555 37.2266737,23.3181818 36.2727273,23.3181818 C35.3187809,23.3181818 34.5454545,22.5448555 34.5454545,21.5909091 Z M16.4090909,34.5454545 L21.5909091,34.5454545 C22.5448555,34.5454545 23.3181818,35.3187809 23.3181818,36.2727273 L23.3181818,36.2727273 L23.3181818,36.2727273 C23.3181818,37.2266737 22.5448555,38 21.5909091,38 L16.4090909,38 C15.4551445,38 14.6818182,37.2266737 14.6818182,36.2727273 C14.6818182,35.3187809 15.4551445,34.5454545 16.4090909,34.5454545 Z"></path>
                                        <g transform="translate(1.727 1.727)">
                                            <mask id="support-small-b" fill="#fff">
                                                <use xlink:href="#support-small-a"></use>
                                            </mask>
                                            <use fill="#FFF" xlink:href="#support-small-a"></use>
                                            <path fill="#5357AA" d="M7.40734266,-2.09265734 L23.3181818,-2.59090909 C23.3181818,-2.59090909 27.1419879,-1.75052884 27.1381119,-1.72727273 C27.1342359,-1.70401661 21.1590909,10.3636364 21.1590909,10.3636364 L13.2534965,10.3304196 L7.40734266,-2.09265734 Z M27.1542721,36.4033824 L11.2434329,36.9016341 C11.2434329,36.9016341 7.41962683,36.0612539 7.42350285,36.0379977 C7.42737887,36.0147416 13.4025238,23.9470887 13.4025238,23.9470887 L21.3081182,23.9803054 L27.1542721,36.4033824 Z"
                                                mask="url(#support-small-b)"></path>
                                            <path fill="#5357AA" d="M7.40734266,-2.09265734 L23.3181818,-2.59090909 C23.3181818,-2.59090909 27.1419879,-1.75052884 27.1381119,-1.72727273 C27.1342359,-1.70401661 21.1590909,10.3636364 21.1590909,10.3636364 L13.2534965,10.3304196 L7.40734266,-2.09265734 Z M27.1542721,36.4033824 L11.2434329,36.9016341 C11.2434329,36.9016341 7.41962683,36.0612539 7.42350285,36.0379977 C7.42737887,36.0147416 13.4025238,23.9470887 13.4025238,23.9470887 L21.3081182,23.9803054 L27.1542721,36.4033824 Z"
                                                mask="url(#support-small-b)" transform="rotate(-90 17.28 17.155)"></path>
                                        </g>
                                    </g>
                                </svg>

                            </div>
                            <div class="copy-column">
                                <h4 class="cta-headline">Technical or account support</h4>
                                <p class="cta-copy">
                                    <span class="non-link">We’re here to help! If you have technical issues,</span>
                                    <a class="common-Link common-Link--arrow"
                                        href="/support">contact&nbsp;support</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="success">
                    <div class="thank-you-container">
                        <div class="thank-you">
                            <div class="copy-container">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                                        <g fill="none" fill-rule="evenodd">
                                            <circle cx="22" cy="22" r="22" fill="#C4F0FF" fill-rule="nonzero"></circle>
                                            <polyline stroke="#43458B" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" points="14 23.504 19.34 29 31 17"></polyline>
                                        </g>
                                    </svg>
                                </div>
                                <h1 class="success-headline">Thank you!</h1>
                                <h2 class="success-subhead with-email">We’ve sent a download link to the whitepaper
                                    <span class="email-portion">at
                                        <span class="submitted-email">justinsippel@gmail.com</span>
                                    </span>
                                    If you do not find it in your inbox. Please check spam.
                                </h2>
                                <a class="common-Link common-Link--arrow" href="https://medium.com/fyipe">Read the latest updates from the Fyipe team</a>
                            </div>

                        </div>
                    </div>
                </section>

            </main>

        </div>
        <script>

        $(document).ready(function(){
            var index = window.location.href.split('/')[window.location.href.split('/').length-1];
            $("#whitepaper_name").val(index);


            var resources = [
                {
                    name: 'best-practices',
                    title: "Best Practices for Website Performance",
                    one: "How speed affects the visibility of your website?",
                    two:"What speed can be considered a good speed?",
                    three:"22 hacks to optimize performance"
                },
                {
                    name: 'digital-experience-monitoring',
                    title: "Digital Experience Monitoring",
                    one: "What is DEM and why is it important today?",
                    two:"How to monitor end user experience?",
                    three:"Why should business care?"
                },
                {
                    name: 'planning-for-peak-performance',
                    title: "Planning for Peak Performance",
                    one: "Defining and Planning your performance",
                    two:"Thinking like Amazon to succeed. ",
                    three:"DPM and the cost of poor planning."
                },
                {
                    name: 'speed-equals-revenue',
                    title: "Speed equals Revenue",
                    one: "Why do customers crave fast product?",
                    two:"Speed as competitive advantage?",
                    three:"What is web stress and it's effect on productivity?"
                },
                {
                    name: 'website-monitoring',
                    title: "Webiste Monitoring: an absolute necessity.",
                    one: "What is website monitoring and it types?",
                    two:"Why do you need website monitoring?",
                    three:"Reasons why you should adopt this today?"
                }
            ];

            for(var i=0;i<resources.length;i++){
                if(resources[i].name == index){
                    $("#resource-title").text(resources[i].title);
                    $("#one").text(resources[i].one);
                    $("#two").text(resources[i].two);
                    $("#three").text(resources[i].three);
                }
            }

        });

        </script>
        <script type="text/javascript">
            $(document).ready(function (e) {
                $('#request-resource-btn').click(function () {
                    var email = $('#email').val();

                    if (emaildomains.test(email)) {
                        return 0;
                    }
                    else {
                        $('#error-text').css("display","block");
                        $('#email').addClass("invalid-value");
                        return false;
                    }
                });
            });
        </script>

        <%include ./footer %>
</body>

</html>
