<!DOCTYPE html>
<html lang="en" id="contact">

<head>
  <meta charset="utf-8">
  <title>Fyipe | Enterprises</title>

  <meta name="description" content="Fyipe lets you monitor any website, API or dashboard and alerts your team if something goes wrong. Fyipe also keeps your customers updated about any downtime.">
  <% include ./head %>
    <link rel="stylesheet" href="/css/shared-site.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/enterprise-overview.css">
    <script src="/js/amplitude.js"></script>
    <script>
        var IS_DEV = window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1;
        if (!IS_DEV) {
            amplitude.getInstance().logEvent('Enterprise overview page loaded');
        }
    </script>
</head>

<body>



  <% include ./nav %>



    <div class="globalContent">
      <div id="main-content">

        <section class="marquee nav-animation-element">



          <div id="bubble-overlay">
            <div class="content">
              <header>
                <h1>Fyipe for Enterprises</h1>
                <p>Fyipe is an enterprise grade status page, monitoring and on-call management platform.</p>
              </header>


            </div>
          </div>

        </section>


        <section class="main basics">
          <div class="content">

            <header class="icon">
              <h2>Truly Enterprise Grade</h2>
              <p>Fyipe is the only digital operations management platform that is purpose-built to support enterprise-grade
                demands for security, availability, and scale.</p>
            </header>



            <ul class="columns">
              <li class="billing">
                <h3>Never lose customers &amp; business.</h3>
                <p>The truth is things go wrong and downtime happens. Fyipe alerts your team immediately when there is a downtime
                  so they can get to fixing it quickly.</p>
              </li>
              <li class="proration">
                <h3>Reduce Support Costs</h3>
                <p> When there is a downtime, keep all your customers updated so they don't burn your support team out. </p>
              </li>
              <li class="private">
                <h3>Private Status Pages</h3>
                <p>Private Status Pages let's keep your team updated on a product status and any issues that may arise.</p>
              </li>
            </ul>

            <ul class="columns">
              <li class="reliability">
                <h3>Showcase Reliability</h3>
                <p>Showcase the reliability of your platform and compliance to your SLA and build trust with your customers.</p>
              </li>
              <li class="monitor">
                <h3>Monitor Anything.</h3>
                <p>An endpoint, an applications, a process, URL, servers or even workstations. You name it. We monitor all of
                  them for you. </p>
              </li>
              <li class="analytics">
                <h3>Advanced Analytics and Visibility</h3>
                <p>Analyse, Investigate, and Report with advanced analytics. Predict next downtime before it happens. </p>
              </li>
            </ul>


          </div>
          <section id="customer-logos">
            <a href="/customers" class="container-lg">
              <span class="common-Button common-Button--default">See our customers</span>
              <ul>
                <li>
                  <img style="height:40px" class="cloudboost" alt="cloudboost" src="/img/cloudboost.svg"> </li>

                <li>
                  <img style="height:22px" class="ironio" alt="ironio" src="/img/iron-io.svg">
                </li>
                <li>
                  <img style="height:90px" class="siemens" alt="siemens" src="/img/siemens.svg">
                </li>
                <li>
                  <img style="height:70px" class="hersheys" alt="hersheys" src="/img/hershey-s.svg">
                </li>
                <li>
                  <img style="height:30px" class="elasticstack" alt="elasticstack" src="/img/elastic-stack.svg">
                </li>
                <li>
                  <img style="height:24px" class="freshsales" alt="freshsales" src="/img/freshsales-1.svg">
                </li>

              </ul>
            </a>
          </section>
          <div class="split">
            <div class="content">

              <div class="left">
                <h3>More Enterprise Features</h3>
                <p>Fyipe helps you manage incidents of large enterprise projects which involves multiple teams with ease. </p>

              </div>

              <div class="right">
                <ul>
                  <li>
                    <h3>Dedicated Support</h3>
                    <p>Dedicated account executive to get everything out of your way and let's you focus on your business.</p>
                  </li>
                  <li>
                    <h3>Enterprise Class 99.99% SLA</h3>
                    <p>Fyipe always monitors your projects and keeps your team looped in. We've built on geo-redundant infrastructure
                      with an enterprise class 99.99% SLA. </p>
                  </li>
                  <li>
                    <h3>On Premise or Private Cloud</h3>
                    <p>Install Fyipe anywhere - on premise or on private cloud. Monitor any project, application or a process.</p>
                  </li>
                  <li>
                    <h3>Annual Contracts with Invoicing.</h3>
                    <p>We have annual contracts and invoiving for enterprise customers with discounts.</p>
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <div class="content">

            <div class="store">
              <h3>Security, Controls, Performance, Scalability and more.</h3>
              <p>We take security and control seriously. Granular access to team members and advanced account management. Fyipe
                runs on a geo-redundant infrastructure at scale.</p>
            </div>

          </div>
        </section>



        <script class="nav-animation-element">
          startFlowSwitcher();
        </script>

        <section class="main end">
          <div class="content">

            <section class="data">
              <h2>Endless possibilities with data.</h2>
              <p style="padding-bottom: 52px;">You can do more with your data — everything from investigating to predicting future downtime before they happen.</p>

              <ul class="features">
                <li class="metadata">
                  <h3>Record every incident</h3>
                  <p>Record every incident as they happen, including what caused it and how your team fixed it. This helps predict
                    and prevent future incidents.</p>
                </li>
                <li class="export">
                  <h3>Easy exports</h3>
                  <p>All your data is accessible via the/our API. You can also download CSVs or export your incidents into other
                    systems</p>
                </li>
              </ul>
            </section>

            <section class="thirdparty">
              <h2>1000+ Third Party Integrations</h2>
              <p>Fyipe integrates with over a thousand enterprise class app and services which helps you streamline and automate
                your digital ops workflow.</p>

              <ul class="features">
                <li class="slack">
                  <a href="https://slack.com/">
                    <h3>Slack</h3>
                    <p>Keep your team looped in when downtime happens.</p>
                  </a>
                </li>
                <li class="github">
                  <a href="https://www.atlassian.com/software/jira">
                    <h3>GitHub</h3>
                    <p>Create tasks to investigate downtime and assign it to your team automatically.</p>
                  </a>
                </li>
                <li class="intercom">
                  <a href="https://intercom.io">
                    <h3>Intercom</h3>
                    <p>Integrate with Intercom to keep your customers looped in when downtime happens and reduce support costs.</p>
                  </a>
                </li>
              </ul>

              <p>
                <a class="arrow" href="https://zapier.com">Check out over 1000+ integrations.</a>
              </p>
            </section>

          </div>
        </section>

      </div>
    </div>

    <% include ./footer %>

</body>


</html>