<footer class='globalFooter withCards' style="margin-top:-400px">

    <!-- Google Tag Manager (noscript) -->
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKQD5WH" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    <!-- End Google Tag Manager (noscript) -->

    <% if (footerCards) { %>
    <%- include('footer-cards') -%>
    <% } %>

    <% if (cta) { %>
    <%- include('cta') -%>
    <% } %>

    <article class='globalFooterNav' style="margin-bottom: 0px; padding-bottom:0px;">
        <div class='container-lg'>

           

            <div class="siteNav">
                <div class="column">
                    <h4>Products</h4>
                    <div class="splitColumn">
                        <ul>
                            <li>
                                <a href="/product/StatusPage">
                                    <strong>Status Page</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/product/oncall-management">
                                    <strong>On-call Management</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/product/uptime-monitoring">
                                    <strong>Uptime Monitoring</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/product/incident-management">
                                    <strong>Incident Management & Response</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/product/docker-container-security">
                                    <strong>Docker Container Security</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/product/app-security">
                                    <strong>App Security</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/product/logs-management">
                                    <strong>Logs Management</strong>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="column">
                    <h4>Enterprise</h4>
                    <ul>
                        <li>
                            <a href="/enterprise/overview">Overview</a>
                        </li>
                        <li>
                            <a href="/enterprise/resources">Resources &amp; Whitepapers</a>
                        </li>
                        <li>
                            <a href="/enterprise/demo">Request Demo</a>
                        </li>
                        <li>
                            <a href="https://hackerbaylabs.com" rel="noopener" target="_blank">Consulting</a>
                        </li>
                    </ul>
                </div>
                
                <div class="column">
                    <h4>Company</h4>
                    <ul>
                        <li>
                            <a href="https://oneuptime.com" rel="noopener" target="_blank">About OneUptime</a>
                        </li>
                        <li>
                            <a href="https://github.com/oneuptime" rel="noopener" target="_blank">Open Source &amp; GitHub</a>
                        </li>
                        <li>
                            <a href="/customers">Customers</a>
                        </li>
                        <li>
                            <a href="https://github.com/hackerbay/interview" rel="noopener" target="_blank">Jobs</a>
                        </li>
                        <li>
                            <a href="https://blog.oneuptime.com" rel="noopener" target="_blank">Blog</a>
                        </li>

                    </ul>
                </div>

                <div class="column">
                    <h4>More</h4>
                    <ul>
                        <li>
                            <a href="/docs" rel="noopener" target="_blank">API Documentation</a>
                        </li>
                        <li>
                            <a href="https://status.oneuptime.com/" rel="noopener" target="_blank">Platform Status</a>
                        </li>
                        <li>
                            <a href="/support">Contact &amp; Support</a>
                        </li>
                        <li>
                            <a href="/legal/terms">Legal Center</a>
                        </li>
                        <li>
                            <a href="https://partners.oneuptime.com" target="_blank" rel="noopener">Become a Partner</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </article>

    <article class='globalFooterNav' style="padding-top:0px; margin-top:0px">
        <div class='container-lg' style="justify-content: space-between">

            <ul class="metaNav invisible-in-mobile" style="width: 200px;">

                <li class="space"></li>

                <li class="select language">
                    <a class="rootLink item-language" href="https://oneuptime.com" rel="noopener" target="_blank">
                        <img width="40" height="40" src="/img/HB-Logo-Grey.svg" alt="HB-Logo-Grey" />
                    </a>

                </li>

                <li style="margin-top: 8px;" class="copyright">&copy; OneUptime Limited</li>
            </ul>

            <div class="siteNav margin-right-130-desktop">
                <div class="column margin-left-310-desktop">
                    <h4>Compare</h4>
                    <div class="splitColumn">
                        <ul>
                            <li>
                                <a href="/table/pagerduty">
                                    <strong>PagerDuty</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/table/statuspage.io">
                                    <strong>StatusPage.io</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/table/pingdom">
                                    <strong>Pingdom</strong>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="column">
                    <h4>Legal Center</h4>
                    <ul>
                        <li>
                            <a href="/legal/terms">Terms of Service</a>
                        </li>
                        <li>
                            <a href="/legal/privacy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/legal/gdpr">GDPR</a>
                        </li>
                        <li>
                            <a href="/legal/hipaa" rel="noopener" target="_blank">HIPAA</a>
                        </li>
                        <li>
                            <a href="/legal/iso-27001" rel="noopener" target="_blank">ISO/IEC</a>
                        </li>
                        <li>
                            <a href="/legal/soc-2" rel="noopener" target="_blank">SOC</a>
                        </li>
                        <li>
                            <a href="/legal/pci" rel="noopener" target="_blank">PCI</a>
                        </li>
                    </ul>
                </div>
                
                <!-- <div class="column">
                    <h4>More from OneUptime</h4>
                    <ul>
                        <li>
                            <a href="https://hackerbaylabs.com" rel="noopener" target="_blank">OneUptime Labs</a>
                        </li>
                        <li>
                            <a href="https://hackerbayventures.com" rel="noopener" target="_blank">OneUptime Ventures</a>
                        </li>
                        <li>
                            <a href="https://cloudboost.io" rel="noopener" target="_blank">CloudBoost</a>
                        </li>
                        <li>
                            <a href="https://hackerbaypress.com" rel="noopener" target="_blank">OneUptime Press</a>
                        </li>

                    </ul>
                </div> -->

               
            </div>

        </div>
    </article>

    <article class='globalFooterNav invisible-in-desktop'>
        <div class='container-lg'>

            <ul class="metaNav">

                <li class="select language">
                    <a class="rootLink item-language" href="https://oneuptime.com" rel="noopener" target="_blank">
                        <img width="40" height="40" src="/img/HB-Logo-Grey.svg" alt="HB-Logo-Grey" />
                    </a>

                </li>

                <li style="margin-top: 8px; color: #5e696e" class="copyright">&copy; OneUptime Limited</li>
            </ul>

        </div>
    </article>


</footer>