<footer class='globalFooter withCards'>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKQD5WH" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <% if (footerCards) { %>
    <% include ./footer-cards %>
    <% } %>

    <% if (cta) { %>
    <% include ./cta %>
    <% } %>

    <article class='globalFooterNav'>
        <div class='container-lg'>

            <ul class="metaNav">

                <li class="space"></li>

                <li class="select language">
                    <a class="rootLink item-language" href="https://hackerbay.io" rel="noopener" target="_blank">
                        <img width="40" height="40" src="/img/HB-Logo-Grey.svg" alt="HB-Logo-Grey" />
                    </a>

                </li>

                <li style="margin-top: 8px;" class="copyright">&copy; HackerBay, Inc.</li>
            </ul>

            <div class="siteNav">
                <div class="column">
                    <h4>Products</h4>
                    <div class="splitColumn">
                        <ul>
                            <li>
                                <a href="/product/status-page">
                                    <strong>Status Page</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/product/oncall-management">
                                    <strong>On-call Management</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/product/uptime-monitoring">
                                    <strong>Uptime Monitoring</strong>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="column">
                    <h4>Enterprise</h4>
                    <ul>
                        <li>
                            <a href="/enterprise/overview">Overview</a>
                        </li>
                        <li>
                            <a href="/enterprise/resources">Resources &amp; Whitepapers</a>
                        </li>
                        <li>
                            <a href="/enterprise/demo">Request Demo</a>
                        </li>
                        <li>
                            <a href="https://hackerbay.io" rel="noopener" target="_blank">Consulting</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Company</h4>
                    <ul>
                        <li>
                            <a href="https://hackerbay.io" rel="noopener" target="_blank">About HackerBay</a>
                        </li>
                        <li>
                            <a href="/customers">Customers</a>
                        </li>
                        <li>
                            <a href="https://angel.co/hackerbayinc/jobs" rel="noopener" target="_blank">Jobs</a>
                        </li>
                        <li>
                            <a href="https://medium.com/fyipe" rel="noopener" target="_blank">Blog</a>
                        </li>

                    </ul>
                </div>

                <div class="column">
                    <h4>More</h4>
                    <ul>
                        <li>
                            <a href="https://status.fyipe.com/" rel="noopener" target="_blank">Platform Status</a>
                        </li>
                        <li>
                            <a href="/support">Contact &amp; Support</a>
                        </li>
                        <li>
                            <a href="/legal/terms">Legal Center</a>
                        </li>
                        <li>
                            <a href="https://partners.hackerbay.io" target="_blank" rel="noopener">Become a Partner</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </article>


</footer>

<!-- Begin Inspectlet JS Code -->
<script type="text/javascript" id="inspectletjs">
    (function () {
        var insp_ab_loader = true; // set this boolean to false to disable the A/B testing loader
        window.__insp = window.__insp || [];
        __insp.push(['wid', 1170888949]);
        var ldinsp = function () {
            if (typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1170888949&r=' + Math.floor(new Date().getTime() / 3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); if (typeof insp_ab_loader != "undefined" && insp_ab_loader) { var adlt = function () { var e = document.getElementById('insp_abl'); if (e) { e.parentNode.removeChild(e); __insp.push(['ab_timeout']); } }; var adlc = "body{ visibility: hidden !important; }"; var adln = typeof insp_ab_loader_t != "undefined" ? insp_ab_loader_t : 1200; insp.onerror = adlt; var abti = setTimeout(adlt, adln); window.__insp_abt = abti; var abl = document.createElement('style'); abl.id = "insp_abl"; abl.type = "text/css"; if (abl.styleSheet) abl.styleSheet.cssText = adlc; else abl.appendChild(document.createTextNode(adlc)); document.head.appendChild(abl); }
        };
        setTimeout(ldinsp, 0);
    })();
</script>
<!-- End Inspectlet JS Code -->