<header id="pagmt">

    <h1>Health Insurance Portability and Accountability Act</h1>

    <p>Request our Requirements for HIPAA Entities</p>
    <script>
        var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
        if (IS_SAAS_SERVICE) {
          amplitude.getInstance().logEvent('PAGE VIEW: HOME > LEGAL > HIPAA');
        }
      </script>
</header>

<section>

    <h3>Introduction</h3>

    <p> HIPAA, otherwise known as the Health Insurance Portability and Accountability act, which was first introduced in
        1996, demanded that the department for human services and health in the U.S. (HHS) should create specific
        regulations to protect the security and privacy of health information. In order to properly fulfill this new
        requirement, the HHS published the HIPPA security rule, and the HIPAA privacy rule. The privacy rule, otherwise
        referred to as the standards for privacy of individual health information, establishes the standards that should
        be used nationally to protect health information. The security rule addresses the non-technical and technical
        safeguards that covered entities needed in place to ensure individuals’ information (or e-PHI) remains secure.
        <br /><br />
        <a href="https://www.hhs.gov/hipaa/index.html">You can read more about HIPPA here.</a><br /><br />


        <h3>Request our Requirements for HIPAA Entities</h3>

        <p>Fyipe HIPAA compliant service is another variant of Fyipe which is compliant with HIPAA laws and regulations.
        </p> <br />
        <p>If you're looking for a HIPAA compliant version of Fyipe, request our Requirements for HIPAA Entities by
            writing to us at hipaa@hackerbay.io.</p>

</section>