<header id="pagmt">

    <h1>ISO/IEC 27017:2015</h1>

    <p>Information technology — Security techniques — Code of practice for information security controls based on
        ISO/IEC 27002 for cloud services</p>
</header>

<section>

    <h3>Introduction</h3>
    <p>
        ISO/IEC 27017:2015 gives guidelines for information security controls applicable to the provision and use of
        cloud services by providing: <br /><br />

        - additional implementation guidance for relevant controls specified in ISO/IEC 27002;<br /><br />

        - additional controls with implementation guidance that specifically relate to cloud services.<br /><br />

        This Recommendation | International Standard provides controls and implementation guidance for both cloud
        service providers and cloud service customers.<br /><br />
        <br /><br /></p>

    <p><a href="https://www.iso.org/standard/43757.html" rel="noreferrer" target="_blank">Click here to read more.</a></p>

    <h3>Certificate of Registration</h3>

    <p>Fyipe has achieved ISO 27017 compliance. </p>

    <p> <a href="/files/iso-27017.pdf" rel="noreferrer" target="_blank">Download certificate of registration here.</a> For all other
        matters please
        contact: iso@hackerbay.io</p>
</section>