<header id="pagmt">

    <h1>ISO/IEC 27001 INFORMATION SECURITY MANAGEMENT</h1>

    <p>The ISO/IEC 27000 family of standards helps organizations keep information assets secure.</p>
</header>

<section>

    <h3>Introduction</h3>

    <p>Using this family of standards will help your organization manage the security of assets such as financial
        information, intellectual property, employee details or information entrusted to you by third parties.
        <br /> <br />
        ISO/IEC 27001 is the best-known standard in the family providing requirements for an information security
        management system (ISMS).
        <br /> <br />
        There are more than a dozen standards in the 27000 family, you can see them here.</p>
    <br /> <br />


    <h3>ISO 27001:2013</h3>

    <p>ISO/IEC 27001:2013 specifies the requirements for establishing, implementing, maintaining and continually
        improving an information security management system within the context of the organization. It also includes
        requirements for the assessment and treatment of information security risks tailored to the needs of the
        organization. The requirements set out in ISO/IEC 27001:2013 are generic and are intended to be applicable to
        all organizations, regardless of type, size or nature.</p>

    <p><a href="https://www.iso.org/standard/54534.html" target="_blank">Click here to read more.</a></p>


    <h3>Certificate of Registration</h3>


    <p>Fyipe has achieved ISO 27001 compliance. </p>

    <p> <a href="/files/iso-27001.pdf" target="_blank">Download certificate of registration here.</a> For all other
        matters please
        contact: iso@hackerbay.io</p>
</section>