<header id="pagmt">

    <h1>ISO/IEC 27018:2014</h1>

    <p>Information technology — Security techniques — Code of practice for protection of personally identifiable
        information (PII) in public clouds acting as PII processors</p>
</header>

<section>

    <h3>Introduction</h3>
    <p>
        ISO/IEC 27018:2014 establishes commonly accepted control objectives, controls and guidelines for implementing
        measures to protect Personally Identifiable Information (PII) in accordance with the privacy principles in
        ISO/IEC
        29100 for the public cloud computing environment.
        <br /><br />
        In particular, ISO/IEC 27018:2014 specifies guidelines based on ISO/IEC 27002, taking into consideration the
        regulatory requirements for the protection of PII which might be applicable within the context of the
        information
        security risk environment(s) of a provider of public cloud services.
        <br /><br />
        ISO/IEC 27018:2014 is applicable to all types and sizes of organizations, including public and private
        companies,
        government entities, and not-for-profit organizations, which provide information processing services as PII
        processors via cloud computing under contract to other organizations.
        <br /><br />
        The guidelines in ISO/IEC 27018:2014 might also be relevant to organizations acting as PII controllers; however,
        PII
        controllers can be subject to additional PII protection legislation, regulations and obligations, not applying
        to
        PII processors. ISO/IEC 27018:2014 is not intended to cover such additional obligations.
        <br /><br /></p>

    <p><a href="https://www.iso.org/standard/61498.html" rel="noreferrer" target="_blank">Click here to read more.</a></p>

    <h3>Certificate of Registration</h3>

    <p>Fyipe has achieved ISO 27018 compliance. </p>

    <p> <a href="/files/iso-27018.pdf" rel="noreferrer" target="_blank">Download certificate of registration here.</a> For all other
        matters please
        contact: iso@hackerbay.io</p>
</section>