<header id="pagmt">

        <h1>ISO</h1>
    
        <p>Company and Contact Information</p>
    </header>
    
    <section>
    
        <h3>Contact</h3>
    
        <p><b>HackerBay, Inc.</b><br/>
            Registered in United States as Delaware C Corporation.<br/><br/>
    
            Registered address and place of business:<br/><br/>
    
            HackerBay, Inc.<br/>
            2711 Centerville Road, <br />Suite 400, Wilmington,<br /> New Castle County, Delaware 19808.<br /> United States
    
            <br/><br/>EIN: 38-4042380</p>
    
        <h3>Contact email address:</h3>
    
    
        <p>For privacy related matters please contact: privacy@hackerbay.io</p>
    
       <p> For all other matters please contact: feedback@hackerbay.io</p>
    </section>