<!DOCTYPE html>
<html lang="en" id="legal">


<head>
  <title>Fyipe | Legal Center</title>
  <meta name="description"
    content="Fyipe lets you monitor any website, API or dashboard and alerts your team if something goes wrong. Fyipe also keeps your customers updated about any downtime.">
  <% include ./head %>
  <link rel="preload" href="/css/common.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/css/common.css"></noscript>
  <link rel="preload" href="/css/legal.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/css/legal.css"></noscript>
  <script src="/js/amplitude.js" async></script>
  <script async>
    var IS_DEV = window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1;
    if (!IS_DEV) {
      amplitude.getInstance().logEvent('Legal center page viewed');
    }
  </script>
</head>

<body>
  <div id="docs">
    <div id="sidebar">
      <div class="logo">
        <a class="site" href="/" title="fyipe"></a>
      </div>
      <nav>
        <h1 class="legal" style="font-size:20px">Legal Center</h1>
        <ul data-collapsable="false">
          <li>
            <a href="/legal/terms">Terms of Service</a>
          </li>
          <li>
            <a href="/legal/privacy">Privacy Policy</a>
          </li>
          <li>
            <a href="/legal/sla">Service Level Agreement</a>
          </li>
          <li>
            <a href="/legal/gdpr">GDPR Policy</a>
          </li>
          <li>
            <a href="/legal/ccpa">CCPA</a>
          </li>
          <li>
            <a href="/legal/hipaa">HIPAA Compliance</a>
          </li>
          <li>
            <a href="/legal/iso-27001">ISO/IEC 27001</a>
          </li>
          <li>
            <a href="/legal/iso-27017">ISO/IEC 27017</a>
          </li>
          <li>
            <a href="/legal/iso-27018">ISO/IEC 27018</a>
          </li>
          <li>
            <a href="/legal/soc-2">SOC 2</a>
          </li>
          <li>
            <a href="/legal/soc-3">SOC 3</a>
          </li>
          <li>
            <a href="/legal/data-residency">Data Residency</a>
          </li>
          <li>
            <a href="/legal/pci">PCI</a>
          </li>
          <li>
            <a href="/legal/dmca">DMCA Policy</a>
          </li>
          <li>
            <a href="/legal/subprocessors">Subprocessors</a>
          </li>
          <li>
            <a href="/legal/contact">Contact</a>
          </li>

        </ul>






      </nav>
    </div>
    <div id="content-wrapper" tabindex="0">
      <header id="main-header">
        <nav>
          <ul class="external">

            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/pricing">Pricing</a>
            </li>
            <li>
              <a href="/enterprise/overview">Enterprise</a>
            </li>
            <li>
              <a href="/support">Support</a>
            </li>

          </ul>
        </nav>
      </header>
      <article id="content">


        <% if(section === "terms") {%>
        <% include ./terms %>
        <% }%>


        <% if(section === "privacy") {%>
        <% include ./privacy %>
        <% }%>

        <% if(section === "gdpr") {%>
        <% include ./privacy %>
        <% }%>


        <% if(section === "sla") {%>
        <% include ./sla %>
        <% }%>

        <% if(section === "pci") {%>
        <% include ./pci %>
        <% }%>

        <% if(section === "ccpa") {%>
        <% include ./ccpa %>
        <% }%>

        <% if(section === "data-residency") {%>
        <% include ./data-residency %>
        <% }%>

        <% if(section === "contact") {%>
        <% include ./contact %>
        <% }%>

        <% if(section === "hipaa") {%>
        <% include ./hipaa %>
        <% }%>

        <% if(section === ("soc-3")) {%>
        <% include ./soc-3 %>
        <% }%>

        <% if(section === ("soc-2")) {%>
        <% include ./soc-2 %>
        <% }%>


        <% if(section === "iso-27001") {%>
        <% include ./iso-27001 %>
        <% }%>

        <% if(section === "iso-27018") {%>
        <% include ./iso-27018 %>
        <% }%>

        <% if(section === "iso-27017") {%>
        <% include ./iso-27017 %>
        <% }%>

        <% if(section.includes("dmca")) {%>
        <% include ./dmca %>
        <% }%>

        <% if(section === "subprocessors") {%>
        <% include ./subprocessors %>
        <% }%>

      </article>
    </div>
  </div>

</body>


</html>