<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <title>404 | Not Found.</title>
  <meta name="description" content="Fyipe lets you monitor any website, API or dashboard and alerts your team if something goes wrong. Fyipe also keeps your customers updated about any downtime.">
  <% include ./head %>
    <link rel="stylesheet" href="/css/home.css">
    <script defer src="/js/home.js"></script>
</head>

<body>
  <div class="globalContent">

    <main>
      <header>
        

        <section id="intro">
          <div class="container-lg" >
            <h1 class="Header-title common-PageTitle header-font header-size black text-center">
              404
            </h1> <br/>
            <p class="text-center" style="max-width:100%">Sorry the page you requested does not exist. <br/> If you're looking for a page and cannot find it. <a class="black-link" href="/support"> Please contact support.</a> </p>
          </div>
        </section>
      </header>
    </main>

  </div>
  <% include ./footer %>

</body>


</html>
