<header id="pagmt">

    <h1>PCI DSS</h1>

    <p>Payment Card Industry Data Security Standard</p>
</header>

<section>

    <h3>Introduction</h3>

    <p>The Payment Card Industry Data Security Standard (PCI DSS) is an information security standard for organizations that handle branded credit cards from the major card schemes.</p>

<p>The PCI Standard is mandated by the card brands but administered by the Payment Card Industry Security Standards Council. The standard was created to increase controls around cardholder data to reduce credit card fraud. Validation of compliance is performed annually or quarterly,[1] either by an external Qualified Security Assessor (QSA) or by a firm specific Internal Security Assessor (ISA) that creates a Report on Compliance for organizations handling large volumes of transactions, or by Self-Assessment Questionnaire (SAQ) for companies handling smaller volumes. </p>
       

    <h3>Audit Report</h3>


    <p>Fyipe is a PCI Level 4 Merchant and has completed the Payment Card Industry Data Security Standard’s SAQ-A. We use a third party to process credit card information securely. </p>

    <p> <a href="/files/pci.pdf" target="_blank">Download our audit report here.</a> For all other matters please contact: pci@hackerbay.io</p>
</section>