<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fyipe | Pricing</title>
  <meta name="description"
    content="Simple, transparent pricing. Compare different pricing plans. Choose the one which suits your buisness best.">
  <% include ./head %>
  <script src="/js/amplitude.js"></script>
  <script type="module" async>
    var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
    if (IS_SAAS_SERVICE) {
      amplitude.getInstance().logEvent('PAGE VIEW: HOME > PRICING');
    }
  </script>
  <link rel="stylesheet" href="/css/flexbox-grid.css">
  <link rel="stylesheet" href="/css/pricing.css">
  <link rel="stylesheet" href="/css/switch.css">
  <link rel="stylesheet" href="/css/comparision.css">

  <style>
    /* DIRTY Responsive pricing table CSS */

    /* 
- make mobile switch sticky
*/
    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      outline: 0;
    }

    article.pricing-compare-table {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      position: relative;
    }

    ul.pricing-compare-table {
      display: flex;
      top: 0px;
      z-index: 10;
      padding-bottom: 14px;
    }

    li.pricing-compare-table {
      list-style: none;
      flex: 1;
    }

    li.pricing-compare-table:last-child {
      border-right: 1px solid #DDD;
    }

    button.pricing-compare-table {
      width: 100%;
      border: 1px solid #DDD;
      border-right: 0;
      border-top: 0;
      padding: 10px;
      background: #FFF;
      font-size: 14px;
      font-weight: bold;
      height: 60px;
      color: #999
    }

    li.active.pricing-compare-table button.pricing-compare-table {
      background: #F5F5F5;
      color: #000;
    }

    table.pricing-compare-table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
    }

    th.pricing-compare-table {
      background: #F5F5F5;
      display: none;
    }

    td.pricing-compare-table,
    th.pricing-compare-table {
      height: 53px
    }

    td.pricing-compare-table,
    th.pricing-compare-table {
      border: 1px solid #DDD;
      padding: 10px;
      empty-cells: show;
    }

    td.pricing-compare-table,
    th.pricing-compare-table {
      text-align: left;
    }

    td+td.pricing-compare-table,
    th+th.pricing-compare-table {
      text-align: center;
      display: none;
    }

    td.default.pricing-compare-table {
      display: table-cell;
    }

    .bg-black.pricing-compare-table {
      border-top: 3px solid rgb(0, 0, 0);
    }

    .sep.pricing-compare-table {
      background: #F5F5F5;
      font-weight: bold;
    }

    .txt-l.pricing-compare-table {
      font-size: 28px;
      font-weight: bold;
    }

    .txt-top.pricing-compare-table {
      position: relative;
      top: -9px;
      left: -2px;
    }

    .tick.pricing-compare-table {
      font-size: 18px;
      color: #2CA01C;
    }

    .hide.pricing-compare-table {
      border: 0;
      background: none;
    }

    @media (min-width: 640px) {
      ul.pricing-compare-table {
        display: none;
      }

      td.pricing-compare-table,
      th.pricing-compare-table {
        display: table-cell !important;
      }

      td.pricing-compare-table,
      th.pricing-compare-table {
        width: 330px;

      }

      td+td.pricing-compare-table,
      th+th.pricing-compare-table {
        width: auto;
      }
    }
  </style>

</head>

<body>

  <% include ./nav %>

  <div class="globalContent">

    <header class="Header" style="margin-bottom: 100px">

      <div class="fyipeBackground">

      </div>

      <div class="fyipeBackground accelerated">

      </div>

      <div class="Header-container container-wide">

        <div class="row center-xs">
          <div class="col-xs-12">
            <h1 class="Header-title common-PageTitle header-font header-size" style="margin-top: 50px">
              Unbelievably simple pricing.
            </h1>
            <p style="margin-top:-50px; font-size: 22px;"><span class="highlight">Truly unlimited everything plan.</span> Grow as much as you like. Includes every feature we offer - unlimited users, and no per user fees.</p>
            <div style="margin-bottom: 50px;">
              <span id="annual-text" style="font-size: 18px;margin-right:10px;">
                Anually
              </span>

              <input type="checkbox" class="checkbox-switch" />

              <span id="monthly-text" style="font-size: 18px;margin-left:10px;">Monthly </span>
            </div>
          </div>
        </div>

        <div class="row middle-xs center-xs">
          <div class="col-xs-11
                          col-sm-4
                          col-md-4
                          col-lg-4 extra-margin">

            <div class="Plan Plan--standard">
              <h2 class="Plan-title common-Uppercase">UNLIMITED PLAN
              </h2>

              <div class="Plan-cardPricing">
                <div class="Plan-cardRate">

                  <div id="growth-rate" class="Plan-cardRate-percent">
                    $99
                  </div>


                  <div class="Plan-cardRate-fixed">
                    &nbsp;/mo
                  </div>

                </div>

                <div id="growth-description" class="Plan-cardRate-description">
                  Per member billed annually or $25 month-to-month
                </div>

              </div>

          
              <div class="Plan-cardPricing">


                <div class="Plan-cardRate-description" style="
                      padding: 20px;">
                 Our Unlimited Plan. All you can eat. Unlimited monitoring. Unlimited Team members. Unlimited Status Pages. Unlimited Subscribers. Unlimited everything else.
                </div>
              </div>

              <a id="growth-plan-link" href="#" onclick="registerUrl()"
                class="Plan-button common-Uppercase common-Link--arrow">
                Try Free for 14 days
              </a>

            </div>

          </div>
          <div class="col-xs-11
          col-sm-4
          col-md-4
          col-lg-4 extra-margin">

            <div class="Plan Plan--standard">
              <h2 class="Plan-title common-Uppercase">Enterprise
              </h2>

              <div class="Plan-cardPricing">
                <div class="Plan-cardRate">
                  <div class="Plan-cardRate-fixed">
                    Custom Pricing
                  </div>
                </div>

                <div id="scale-description" class="Plan-cardRate-description">
                  Per member billed annually or $25 month-to-month
                </div>

              </div>

              <div class="Plan-cardPricing">


                <div class="Plan-cardRate-description" style="
      padding: 20px;">
                  Everything in unlimited plan + Priority Email and Phone Support, 99.99% SLA. Single Sign-on. On premise install. Custom integration. Dedicated Engineer and more.</a>
                </div>
              </div>

              <a href="/enterprise/demo"
                class="Plan-button common-Uppercase common-Link--arrow">
                Request Demo
              </a>

            </div>

          </div>



        </div>

      </div>
    </header>


    <% include ./comparision-chart %>

    </article>

    <div class="PricingFAQ">
      <div class="container">

        <div class="row PricingFAQ-row">

          <div class="col-xs-12
                          col-sm-6">
            <h5 class="common-BodyTitle PricingFAQ-title">
              Is unlimited plan truly unlimited?
            </h5>
            <p class="common-BodyText PricingFAQ-body font16">
              Yes, it is unlimited-per-project, with one exception - SMS and Calls. Our SMS and Call pricing is listed <a href="https://github.com/Fyipe/feature-docs/blob/master/alert-pricing.md">here.</a> Email alerts are 100% free.
            </p>
          </div>

          <div class="col-xs-12
                          col-sm-6">
            <h5 class="common-BodyTitle PricingFAQ-title">
              What if I need more monitors?
            </h5>
            <p class="common-BodyText PricingFAQ-body font16">
              You add one more seat to your plan. This can be done in the "Billing" section of your dashboard.
              Since you've added a seat, you can also add one more member to your project. This can be done later.
            </p>
          </div>

          <div class="col-xs-12
                          col-sm-6">

            <h5 class="common-BodyTitle PricingFAQ-title">
              How do discounts work?
            </h5>
            <p class="common-BodyText PricingFAQ-body font16">
              Annual plans have 20% discount. We don't offer any other discounts on our unlimited plan. We offer enterprise volume discounts. 
            </p>

          </div>

          <div class="col-xs-12
                          col-sm-6">

            <h5 class="common-BodyTitle PricingFAQ-title">
              Do you have discounts for non-profits / open-source? 
            </h5>
            <p class="common-BodyText PricingFAQ-body font16">
             Unfortunately no. We don't offer discounts for unlimited plan. You pay us, we keep the lights on and keep improving the service. We offer enterprise volume discounts. 
            </p>

          </div>

          <div class="col-xs-12
          col-sm-6">

            <h5 class="common-BodyTitle PricingFAQ-title">
              What kind of support do I get?

            </h5>
            <p class="common-BodyText PricingFAQ-body font16">
              Unlimited plan customers get 1 business day email support. Enterprise customers get 30 min phone or email support.
            </p>

          </div>

          <div class="col-xs-12
                          col-sm-6">

            <h5 class="common-BodyTitle PricingFAQ-title">
              Do you accept crypto as a payment option? 
            </h5>
            <p class="common-BodyText PricingFAQ-body font16">
              Yes we accept Bitcoin as payment. If you choose this payment option, please write to us at payments@fyipe.com. We do not accept any other crypto as payment.
            </p>

          </div>

        </div>

      </div>
    </div>




  </div>

  <%include ./footer%>
  <script src="/js/switch.js"></script>
  <script>
    var el = document.querySelector('.checkbox-switch');

    var annualSelected = false;

    var mySwitch = new Switch(el, {
      onSwitchColor: '#78bf7d',
      offSwitchColor: '#78bf7d',
      onJackColor: '#FFFFFF',
      offJackColor: '#FFFFFF',
      onChange: switchPlanCheckBox
    });

    $(document).ready(function () {
      switchPlanCheckBox();
    })

    function switchPlanCheckBox() {
      annualSelected = !annualSelected;

      if (annualSelected) {
        $("#growth-rate").text("$99");
        $("#scale-rate").text("$99");
        $("#growth-description").text("Unlimited everything. Billed anually.");
        $("#scale-description").text("Custom pricing for enterprises.");


        $("#annual-text").css("font-weight", 600);
        $("#monthly-text").css("font-weight", 500);
      } else {

        $("#growth-rate").text("$120");
        $("#growth-description").text("Unlimited everything. Billed monthly.");

        $("#scale-rate").text("$120");
        $("#scale-description").text("Custom pricing for enterprises.");

        $("#monthly-text").css("font-weight", 600);
        $("#annual-text").css("font-weight", 500);
      }

      if (window.location.href.indexOf("localhost") > -1) {
        if (annualSelected) {
          $("#growth-plan-link").attr("onclick", "registerUrl('?plan=plan_H9IlBKhsFz4hV2')")
        } else {
          $("#growth-plan-link").attr("onclick", "registerUrl('?plan=plan_H9Iox3l2YqLTDR')")
        }
      } else {
        if (annualSelected) {
          $("#growth-plan-link").attr("onclick", "registerUrl('?plan=plan_H9IjvX2Flsvlcg')")
        } else {
          $("#growth-plan-link").attr("onclick", "registerUrl('?plan=plan_H9Ii6Qj3HLdtty')")
        }
      }
    }
  </script>

  <script>
    // DIRTY Responsive pricing table JS

    $("ul").on("click", "li", function () {
      var pos = $(this).index() + 2;
      $("tr").find('td:not(:eq(0))').hide();
      $('td:nth-child(' + pos + ')').css('display', 'table-cell');
      $("tr").find('th:not(:eq(0))').hide();
      $('li').removeClass('active');
      $(this).addClass('active');
    });

    // Initialize the media query
    var mediaQuery = window.matchMedia('(min-width: 1020px)');

    // Add a listen event
    mediaQuery.addListener(doSomething);

    // Function to do something with the media query
    function doSomething(mediaQuery) {
      if (mediaQuery.matches) {
        $('.sep').attr('colspan', 5);
      } else {
        $('.sep').attr('colspan', 2);
      }
    }

    // On load
    doSomething(mediaQuery);
  </script>


</body>



</html>