<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>OneUptime | One Complete SRE and DevOps platform. </title>
    <meta name="description"
        content="OneUptime monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
        <%- include('head') -%>
        <script type="module" async>
            
            if(posthog){
                posthog.capture('PAGE VIEW: HOME');
            }
        </script>
</head>

<body>
  <%- include('nav') -%>
    <div class="bg-white">
        <div class="mx-auto max-w-7xl py-24 px-6 lg:px-8">
          <div class="sm:align-center sm:flex sm:flex-col">
            <h1 class="text-5xl font-bold tracking-tight text-gray-900 sm:text-center">Pricing Plans</h1>
            <p class="mt-5 text-xl text-gray-500 sm:text-center">Start building for free, then add a site plan to go live. Account plans unlock additional features.</p>
            <div class="relative mt-6 flex self-center rounded-lg bg-gray-100 p-0.5 sm:mt-8">
              <button type="button" class="relative w-1/2 whitespace-nowrap rounded-md border-gray-200 bg-white py-2 text-sm font-medium text-gray-900 shadow-sm focus:z-10 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:w-auto sm:px-8">Monthly billing</button>
              <button type="button" class="relative ml-0.5 w-1/2 whitespace-nowrap rounded-md border border-transparent py-2 text-sm font-medium text-gray-700 focus:z-10 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:w-auto sm:px-8">Yearly billing</button>
            </div>
          </div>
          <div class="mt-12 space-y-4 sm:mt-16 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:mx-auto lg:max-w-4xl xl:mx-0 xl:max-w-none xl:grid-cols-4">
            <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
              <div class="p-6">
                <h2 class="text-lg font-medium leading-6 text-gray-900">Hobby</h2>
                <p class="mt-4 text-sm text-gray-500">All the basics for starting a new business</p>
                <p class="mt-8">
                  <span class="text-4xl font-bold tracking-tight text-gray-900">$12</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <a href="#" class="mt-8 block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Hobby</a>
              </div>
              <div class="px-6 pt-6 pb-8">
                <h3 class="text-sm font-medium text-gray-900">What's included</h3>
                <ul role="list" class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Potenti felis, in cras at at ligula nunc.</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Orci neque eget pellentesque.</span>
                  </li>
                </ul>
              </div>
            </div>
      
            <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
              <div class="p-6">
                <h2 class="text-lg font-medium leading-6 text-gray-900">Freelancer</h2>
                <p class="mt-4 text-sm text-gray-500">All the basics for starting a new business</p>
                <p class="mt-8">
                  <span class="text-4xl font-bold tracking-tight text-gray-900">$24</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <a href="#" class="mt-8 block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Freelancer</a>
              </div>
              <div class="px-6 pt-6 pb-8">
                <h3 class="text-sm font-medium text-gray-900">What's included</h3>
                <ul role="list" class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Potenti felis, in cras at at ligula nunc. </span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Orci neque eget pellentesque.</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Donec mauris sit in eu tincidunt etiam.</span>
                  </li>
                </ul>
              </div>
            </div>
      
            <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
              <div class="p-6">
                <h2 class="text-lg font-medium leading-6 text-gray-900">Startup</h2>
                <p class="mt-4 text-sm text-gray-500">All the basics for starting a new business</p>
                <p class="mt-8">
                  <span class="text-4xl font-bold tracking-tight text-gray-900">$32</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <a href="#" class="mt-8 block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Startup</a>
              </div>
              <div class="px-6 pt-6 pb-8">
                <h3 class="text-sm font-medium text-gray-900">What's included</h3>
                <ul role="list" class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Potenti felis, in cras at at ligula nunc. </span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Orci neque eget pellentesque.</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Donec mauris sit in eu tincidunt etiam.</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Faucibus volutpat magna.</span>
                  </li>
                </ul>
              </div>
            </div>
      
            <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
              <div class="p-6">
                <h2 class="text-lg font-medium leading-6 text-gray-900">Enterprise</h2>
                <p class="mt-4 text-sm text-gray-500">All the basics for starting a new business</p>
                <p class="mt-8">
                  <span class="text-4xl font-bold tracking-tight text-gray-900">$48</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <a href="#" class="mt-8 block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Enterprise</a>
              </div>
              <div class="px-6 pt-6 pb-8">
                <h3 class="text-sm font-medium text-gray-900">What's included</h3>
                <ul role="list" class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Potenti felis, in cras at at ligula nunc. </span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Orci neque eget pellentesque.</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Donec mauris sit in eu tincidunt etiam.</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Faucibus volutpat magna.</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Id sed tellus in varius quisque.</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Risus egestas faucibus.</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Risus cursus ullamcorper.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-indigo-700">
        <div class="mx-auto max-w-7xl py-16 px-6 sm:py-20 lg:px-8">
          <h2 class="text-3xl font-bold tracking-tight text-white">The world's most innovative companies use our app</h2>
          <div class="mt-8 flow-root lg:mt-10">
            <div class="-mt-4 -ml-8 flex flex-wrap justify-between lg:-ml-4">
              <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
                <img class="h-12" src="https://tailwindui.com/img/logos/tuple-logo-indigo-300.svg" alt="Tuple">
              </div>
              <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
                <img class="h-12" src="https://tailwindui.com/img/logos/mirage-logo-indigo-300.svg" alt="Mirage">
              </div>
              <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
                <img class="h-12" src="https://tailwindui.com/img/logos/statickit-logo-indigo-300.svg" alt="StaticKit">
              </div>
              <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
                <img class="h-12" src="https://tailwindui.com/img/logos/transistor-logo-indigo-300.svg" alt="Transistor">
              </div>
              <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
                <img class="h-12" src="https://tailwindui.com/img/logos/workcation-logo-indigo-300.svg" alt="Workcation">
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="bg-white">
        <div class="mx-auto max-w-7xl py-24 px-6 sm:py-32 lg:px-8 lg:py-40">
          <div class="mx-auto max-w-3xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">All-in-one platform</h2>
            <p class="mx-auto mt-4 max-w-xl text-lg leading-8 text-gray-600">Quia est qui aut velit exercitationem repudiandae voluptatem facilis. Neque est debitis dolor facilis ab amet.</p>
          </div>
          <dl class="mt-20 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 lg:gap-x-8">
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">Invite team members</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">Quam a velit animi fuga ad. Accusamus consectetur nulla perferendis quam. Aperiam error iusto id eos.</dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">Notifications</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">Ut excepturi sequi et corrupti. Quidem est non ipsam sunt voluptatem. Velit dicta iusto. Molestiae.</dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">List view</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">Quis ratione necessitatibus ullam id animi iure accusamus debitis voluptas. Cumque debitis exercitationem.</dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">Boards</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">Quae et accusantium quo molestiae sed sit ut quo. Quidem omnis iure et maiores porro. Eligendi deserunt.</dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">Keyboard shortcuts</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">Optio assumenda eos neque. Quaerat temporibus dicta provident. Quia unde quo aut aut molestiae sit..</dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">Reporting</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">Excepturi sed quo mollitia voluptatibus. Qui quo ut nihil quo. Dolor at dignissimos ea voluptatem.</dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">Calendars</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">Illum nesciunt odio. Dolorem nobis labore eveniet consequatur quas aut delectus molestias. Qui recusandae.</dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">Mobile app</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">Aut velit est eius dolore repudiandae. Vitae temporibus amet possimus mollitia. Quia molestiae rerum.</dd>
            </div>
          </dl>
        </div>
      </div>
      

      <div class="bg-white">
        <div class="mx-auto max-w-7xl bg-white py-16 sm:py-24 sm:px-6 lg:px-8">
          <!-- xs to lg -->
          <div class="mx-auto max-w-2xl space-y-16 lg:hidden">
            <section>
              <div class="mb-8 px-6 sm:px-4">
                <h2 class="text-lg font-medium leading-6 text-gray-900">Basic</h2>
                <p class="mt-4">
                  <span class="text-4xl font-bold tracking-tight text-gray-900">$9</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <p class="mt-4 text-sm text-gray-500">Quis suspendisse ut fermentum neque vivamus non tellus.</p>
                <a href="#" class="mt-6 block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Basic</a>
              </div>
      
              <table class="w-full">
                <caption class="border-t border-gray-200 bg-gray-50 py-3 px-6 text-left text-sm font-medium text-gray-900 sm:px-4">
                  Features
                </caption>
                <thead>
                  <tr>
                    <th class="sr-only" scope="col">Feature</th>
                    <th class="sr-only" scope="col">Included</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Molestie lobortis massa.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Urna purus felis.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Tellus pulvinar sit dictum.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/minus -->
                      <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">No</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Convallis.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/minus -->
                      <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">No</span>
                    </td>
                  </tr>
                </tbody>
              </table>
      
              <table class="w-full">
                <caption class="border-t border-gray-200 bg-gray-50 py-3 px-6 text-left text-sm font-medium text-gray-900 sm:px-4">
                  Reporting
                </caption>
                <thead>
                  <tr>
                    <th class="sr-only" scope="col">Feature</th>
                    <th class="sr-only" scope="col">Included</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Adipiscing.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Eget risus integer.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/minus -->
                      <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">No</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Gravida leo urna velit.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/minus -->
                      <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">No</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Elementum ut dapibus mi feugiat cras nisl.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/minus -->
                      <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">No</span>
                    </td>
                  </tr>
                </tbody>
              </table>
      
              <table class="w-full">
                <caption class="border-t border-gray-200 bg-gray-50 py-3 px-6 text-left text-sm font-medium text-gray-900 sm:px-4">
                  Support
                </caption>
                <thead>
                  <tr>
                    <th class="sr-only" scope="col">Feature</th>
                    <th class="sr-only" scope="col">Included</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Sit dignissim.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Congue at nibh et.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/minus -->
                      <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">No</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Volutpat feugiat mattis.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/minus -->
                      <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">No</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Tristique pellentesque ornare diam sapien.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/minus -->
                      <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">No</span>
                    </td>
                  </tr>
                </tbody>
              </table>
      
              <div class="border-t border-gray-200 px-6 sm:px-4 pt-5">
                <a href="#" class="block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Basic</a>
              </div>
            </section>
      
            <section>
              <div class="mb-8 px-6 sm:px-4">
                <h2 class="text-lg font-medium leading-6 text-gray-900">Essential</h2>
                <p class="mt-4">
                  <span class="text-4xl font-bold tracking-tight text-gray-900">$29</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <p class="mt-4 text-sm text-gray-500">Quis eleifend a tincidunt pellentesque. A tempor in sed.</p>
                <a href="#" class="mt-6 block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Essential</a>
              </div>
      
              <table class="w-full">
                <caption class="border-t border-gray-200 bg-gray-50 py-3 px-6 text-left text-sm font-medium text-gray-900 sm:px-4">
                  Features
                </caption>
                <thead>
                  <tr>
                    <th class="sr-only" scope="col">Feature</th>
                    <th class="sr-only" scope="col">Included</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Molestie lobortis massa.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Urna purus felis.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Tellus pulvinar sit dictum.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Convallis.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <span class="block text-right text-sm text-gray-700">Up to 20 users</span>
                    </td>
                  </tr>
                </tbody>
              </table>
      
              <table class="w-full">
                <caption class="border-t border-gray-200 bg-gray-50 py-3 px-6 text-left text-sm font-medium text-gray-900 sm:px-4">
                  Reporting
                </caption>
                <thead>
                  <tr>
                    <th class="sr-only" scope="col">Feature</th>
                    <th class="sr-only" scope="col">Included</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Adipiscing.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Eget risus integer.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Gravida leo urna velit.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/minus -->
                      <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">No</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Elementum ut dapibus mi feugiat cras nisl.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/minus -->
                      <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">No</span>
                    </td>
                  </tr>
                </tbody>
              </table>
      
              <table class="w-full">
                <caption class="border-t border-gray-200 bg-gray-50 py-3 px-6 text-left text-sm font-medium text-gray-900 sm:px-4">
                  Support
                </caption>
                <thead>
                  <tr>
                    <th class="sr-only" scope="col">Feature</th>
                    <th class="sr-only" scope="col">Included</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Sit dignissim.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Congue at nibh et.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Volutpat feugiat mattis.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Tristique pellentesque ornare diam sapien.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/minus -->
                      <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">No</span>
                    </td>
                  </tr>
                </tbody>
              </table>
      
              <div class="border-t border-gray-200 px-6 sm:px-4 pt-5">
                <a href="#" class="block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Essential</a>
              </div>
            </section>
      
            <section>
              <div class="mb-8 px-6 sm:px-4">
                <h2 class="text-lg font-medium leading-6 text-gray-900">Premium</h2>
                <p class="mt-4">
                  <span class="text-4xl font-bold tracking-tight text-gray-900">$59</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <p class="mt-4 text-sm text-gray-500">Orci volutpat ut sed sed neque, dui eget. Quis tristique non.</p>
                <a href="#" class="mt-6 block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Premium</a>
              </div>
      
              <table class="w-full">
                <caption class="border-t border-gray-200 bg-gray-50 py-3 px-6 text-left text-sm font-medium text-gray-900 sm:px-4">
                  Features
                </caption>
                <thead>
                  <tr>
                    <th class="sr-only" scope="col">Feature</th>
                    <th class="sr-only" scope="col">Included</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Molestie lobortis massa.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Urna purus felis.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Tellus pulvinar sit dictum.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Convallis.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <span class="block text-right text-sm text-gray-700">Up to 50 users</span>
                    </td>
                  </tr>
                </tbody>
              </table>
      
              <table class="w-full">
                <caption class="border-t border-gray-200 bg-gray-50 py-3 px-6 text-left text-sm font-medium text-gray-900 sm:px-4">
                  Reporting
                </caption>
                <thead>
                  <tr>
                    <th class="sr-only" scope="col">Feature</th>
                    <th class="sr-only" scope="col">Included</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Adipiscing.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Eget risus integer.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Gravida leo urna velit.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Elementum ut dapibus mi feugiat cras nisl.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
                </tbody>
              </table>
      
              <table class="w-full">
                <caption class="border-t border-gray-200 bg-gray-50 py-3 px-6 text-left text-sm font-medium text-gray-900 sm:px-4">
                  Support
                </caption>
                <thead>
                  <tr>
                    <th class="sr-only" scope="col">Feature</th>
                    <th class="sr-only" scope="col">Included</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Sit dignissim.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Congue at nibh et.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Volutpat feugiat mattis.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
      
                  <tr class="border-t border-gray-200">
                    <th class="py-5 px-6 text-left text-sm font-normal text-gray-500 sm:px-4" scope="row">Tristique pellentesque ornare diam sapien.</th>
                    <td class="py-5 pr-6 sm:pr-4">
                      <!-- Heroicon name: mini/check -->
                      <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Yes</span>
                    </td>
                  </tr>
                </tbody>
              </table>
      
              <div class="border-t border-gray-200 px-6 sm:px-4 pt-5">
                <a href="#" class="block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Premium</a>
              </div>
            </section>
          </div>
      
          <!-- lg+ -->
          <div class="hidden lg:block">
            <table class="h-px w-full table-fixed">
              <caption class="sr-only">
                Pricing plan comparison
              </caption>
              <thead>
                <tr>
                  <th class="px-6 pb-4 text-left text-sm font-medium text-gray-900" scope="col">
                    <span class="sr-only">Feature by</span>
                    <span>Plans</span>
                  </th>
      
                  <th class="w-1/4 px-6 pb-4 text-left text-lg font-medium leading-6 text-gray-900" scope="col">Basic</th>
      
                  <th class="w-1/4 px-6 pb-4 text-left text-lg font-medium leading-6 text-gray-900" scope="col">Essential</th>
      
                  <th class="w-1/4 px-6 pb-4 text-left text-lg font-medium leading-6 text-gray-900" scope="col">Premium</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 border-t border-gray-200">
                <tr>
                  <th class="py-8 px-6 text-left align-top text-sm font-medium text-gray-900" scope="row">Pricing</th>
      
                  <td class="h-full py-8 px-6 align-top">
                    <div class="relative table h-full">
                      <p>
                        <span class="text-4xl font-bold tracking-tight text-gray-900">$9</span>
                        <span class="text-base font-medium text-gray-500">/mo</span>
                      </p>
                      <p class="mt-4 mb-16 text-sm text-gray-500">Quis suspendisse ut fermentum neque vivamus non tellus.</p>
                      <a href="#" class="5 absolute bottom-0 block w-full flex-grow rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Basic</a>
                    </div>
                  </td>
      
                  <td class="h-full py-8 px-6 align-top">
                    <div class="relative table h-full">
                      <p>
                        <span class="text-4xl font-bold tracking-tight text-gray-900">$29</span>
                        <span class="text-base font-medium text-gray-500">/mo</span>
                      </p>
                      <p class="mt-4 mb-16 text-sm text-gray-500">Quis eleifend a tincidunt pellentesque. A tempor in sed.</p>
                      <a href="#" class="5 absolute bottom-0 block w-full flex-grow rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Essential</a>
                    </div>
                  </td>
      
                  <td class="h-full py-8 px-6 align-top">
                    <div class="relative table h-full">
                      <p>
                        <span class="text-4xl font-bold tracking-tight text-gray-900">$59</span>
                        <span class="text-base font-medium text-gray-500">/mo</span>
                      </p>
                      <p class="mt-4 mb-16 text-sm text-gray-500">Orci volutpat ut sed sed neque, dui eget. Quis tristique non.</p>
                      <a href="#" class="5 absolute bottom-0 block w-full flex-grow rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Premium</a>
                    </div>
                  </td>
                </tr>
      
                <tr>
                  <th class="bg-gray-50 py-3 pl-6 text-left text-sm font-medium text-gray-900" colspan="4" scope="colgroup">Features</th>
                </tr>
      
                <tr>
                  <th class="py-5 px-6 text-left text-sm font-normal text-gray-500" scope="row">Molestie lobortis massa.</th>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Basic</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Essential</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Premium</span>
                  </td>
                </tr>
      
                <tr>
                  <th class="py-5 px-6 text-left text-sm font-normal text-gray-500" scope="row">Urna purus felis.</th>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Basic</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Essential</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Premium</span>
                  </td>
                </tr>
      
                <tr>
                  <th class="py-5 px-6 text-left text-sm font-normal text-gray-500" scope="row">Tellus pulvinar sit dictum.</th>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/minus -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Not included in Basic</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Essential</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Premium</span>
                  </td>
                </tr>
      
                <tr>
                  <th class="py-5 px-6 text-left text-sm font-normal text-gray-500" scope="row">Convallis.</th>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/minus -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Not included in Basic</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <span class="block text-sm text-gray-700">Up to 20 users</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <span class="block text-sm text-gray-700">Up to 50 users</span>
                  </td>
                </tr>
      
                <tr>
                  <th class="bg-gray-50 py-3 pl-6 text-left text-sm font-medium text-gray-900" colspan="4" scope="colgroup">Reporting</th>
                </tr>
      
                <tr>
                  <th class="py-5 px-6 text-left text-sm font-normal text-gray-500" scope="row">Adipiscing.</th>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Basic</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Essential</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Premium</span>
                  </td>
                </tr>
      
                <tr>
                  <th class="py-5 px-6 text-left text-sm font-normal text-gray-500" scope="row">Eget risus integer.</th>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/minus -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Not included in Basic</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Essential</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Premium</span>
                  </td>
                </tr>
      
                <tr>
                  <th class="py-5 px-6 text-left text-sm font-normal text-gray-500" scope="row">Gravida leo urna velit.</th>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/minus -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Not included in Basic</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/minus -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Not included in Essential</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Premium</span>
                  </td>
                </tr>
      
                <tr>
                  <th class="py-5 px-6 text-left text-sm font-normal text-gray-500" scope="row">Elementum ut dapibus mi feugiat cras nisl.</th>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/minus -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Not included in Basic</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/minus -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Not included in Essential</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Premium</span>
                  </td>
                </tr>
      
                <tr>
                  <th class="bg-gray-50 py-3 pl-6 text-left text-sm font-medium text-gray-900" colspan="4" scope="colgroup">Support</th>
                </tr>
      
                <tr>
                  <th class="py-5 px-6 text-left text-sm font-normal text-gray-500" scope="row">Sit dignissim.</th>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Basic</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Essential</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Premium</span>
                  </td>
                </tr>
      
                <tr>
                  <th class="py-5 px-6 text-left text-sm font-normal text-gray-500" scope="row">Congue at nibh et.</th>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/minus -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Not included in Basic</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Essential</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Premium</span>
                  </td>
                </tr>
      
                <tr>
                  <th class="py-5 px-6 text-left text-sm font-normal text-gray-500" scope="row">Volutpat feugiat mattis.</th>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/minus -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Not included in Basic</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Essential</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Premium</span>
                  </td>
                </tr>
      
                <tr>
                  <th class="py-5 px-6 text-left text-sm font-normal text-gray-500" scope="row">Tristique pellentesque ornare diam sapien.</th>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/minus -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Not included in Basic</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/minus -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Not included in Essential</span>
                  </td>
      
                  <td class="py-5 px-6">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Included in Premium</span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="border-t border-gray-200">
                  <th class="sr-only" scope="row">Choose your plan</th>
      
                  <td class="px-6 pt-5">
                    <a href="#" class="block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Basic</a>
                  </td>
      
                  <td class="px-6 pt-5">
                    <a href="#" class="block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Essential</a>
                  </td>
      
                  <td class="px-6 pt-5">
                    <a href="#" class="block w-full rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Buy Premium</a>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
<!-- This example requires Tailwind CSS v3.0+ -->
<div class="bg-white">
    <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:py-40 lg:px-8">
      <div class="mx-auto max-w-4xl divide-y divide-gray-900/10">
        <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Frequently asked questions</h2>
        <dl class="mt-10 space-y-6 divide-y divide-gray-900/10">
          <div class="pt-6">
            <dt>
              <!-- Expand/collapse question button -->
              <button type="button" class="flex w-full items-start justify-between text-left text-gray-900" aria-controls="faq-0" aria-expanded="false">
                <span class="text-base font-semibold leading-7">What&#039;s the best thing about Switzerland?</span>
                <span class="ml-6 flex h-7 items-center">
                  <!--
                    Icon when question is collapsed.
  
                    Heroicon name: outline/minus-small
  
                    Item expanded: "hidden", Item collapsed: ""
                  -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                  </svg>
                  <!--
                    Icon when question is expanded.
  
                    Heroicon name: outline/plus-small
  
                    Item expanded: "", Item collapsed: "hidden"
                  -->
                  <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                  </svg>
                </span>
              </button>
            </dt>
            <dd class="mt-2 pr-12" id="faq-0">
              <p class="text-base leading-7 text-gray-600">I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
            </dd>
          </div>
  
          <!-- More questions... -->
        </dl>
      </div>
    </div>
  </div>

  <%- include('footer') -%>
              
</body>
</html>
