<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fyipe | Pricing</title>
  <meta name="description"
    content="Les tarifs de fyipe sont simple et transparents et facturés à l'utilisation. Il n'y a pas de frais d'installation, pas de frais mensuels, et pas non plus de frais cachés. Vous n'êtes liés par aucun engagement.">
  <% include ./head %>
  <noscript id="deferred-styles">
    <link rel="stylesheet" href="/css/flexbox-grid.css">
    <link rel="stylesheet" href="/css/pricing.css">
    <link rel="stylesheet" href="/css/switch.css">
    <link rel="stylesheet" href="/css/comparision.css">
  </noscript>
</head>

<body>

  <% include ./nav %>


  <div class="globalContent">

    <header class="Header">

      <div class="fyipeBackground">
        <div class="fyipe s0"></div>
        <div class="fyipe s2 pattern"></div>
      </div>

      <div class="fyipeBackground accelerated">
        <div class="fyipe s1"></div>
        <div class="fyipe s3"></div>
        <div class="fyipe s4"></div>
      </div>

      <div class="Header-container container-wide">

        <div class="row center-xs">
          <div class="col-xs-12">
            <h1 class="Header-title common-PageTitle">
              Simple, transparent pricing.
              <span class="Header-subTitle common-PageSubtitle"> 14 day free trial on all of our plans.</span>
            </h1>
            <div style="margin-bottom: 50px;">
              <span id="annual-text" style="font-size: 18px;margin-right:10px;">
                Anually
              </span>

              <input type="checkbox" class="checkbox-switch" />

              <span id="monthly-text" style="font-size: 18px;margin-left:10px;">Monthly </span>
            </div>
          </div>
        </div>

        <div class="row middle-xs center-xs">
          <div class="col-xs-11
                          col-sm-4
                          col-md-4
                          col-lg-4 extra-margin">

            <div class="Plan Plan--standard">
              <h2 class="Plan-title common-Uppercase">STARTUPS
              </h2>

              <div class="Plan-cardPricing">
                <div class="Plan-cardRate">

                  <div id="pro-plus-rate" class="Plan-cardRate-percent">
                    $22
                  </div>


                  <div class="Plan-cardRate-fixed">
                    &nbsp;/mo
                  </div>

                </div>

                <div id="pro-plus-description" class="Plan-cardRate-description">
                  Per member billed anually or $25 month-to-month
                </div>

              </div>

              <ul class="Plan-list">
                <li class="Plan-listItem">
                  <img src="/img/v3/pricing/header/plan-star.svg" width="26" height="26" alt="fees icon">5 monitors per
                  member
                </li>
                <li class="Plan-listItem">
                  <img src="/img/v3/pricing/header/plan-star.svg" width="26" height="26" alt="fees icon"> Unlimited
                  Data Retention
                </li>
                <li class="Plan-listItem">
                  <img src="/img/v3/pricing/header/plan-star.svg" width="26" height="26" alt="fees icon"> Advanced
                  On-Call Scheduling.
                </li>
              </ul>

              <div class="Plan-cardPricing">


                <div class="Plan-cardRate-description" style="text-align: left;
                      padding: 20px;">
                  Email Support,Global Alerts for $1/alert, Sub projects, Assign monitors to team members
                  and more.
                </div>
              </div>

              <a id="pro-plus-link" href="#" onclick="registerUrl()"
                class="Plan-button common-Uppercase common-Link--arrow">
                Try Free
              </a>

            </div>

          </div>

          <div class="col-xs-11
                          col-sm-4
                          col-md-4
                          col-lg-4">

            <div class="Plan Plan--enterprise enterprise-height">
              <h2 class="Plan-title Plan-title--enterprise common-Uppercase">Enterprise</h2>
              <div class="Plan-description">Fyipe is an enterprise grade status page, monitoring, and on-call
                management platform. Get in touch for details.</div>
              <div class="Plan-tableContainer">
                <table class="Plan-table">
                  <tbody>
                    <tr class="Plan-table-row">
                      <td class="Plan-table-cell Plan-table-cell--alternating">Account Management</td>
                      <td class="Plan-table-cell">Enterprise Features</td>
                    </tr>
                    <tr>
                      <td class="Plan-table-cell">Setup Assistance</td>
                      <td class="Plan-table-cell Plan-table-cell--alternating">Dedicated Engineer</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="Plan-cardPricing">


                <div class="Plan-cardRate-description" style="
                      text-align: left;
                      padding: 20px;
                      padding-top: 1px;
                      ">
                  Unlimited monitors, 1000+ Enterprise Integrations, On Premise Install, Invoicing, Custom HTML, CSS
                  and JS, Enterprise SLA,
                  and more.
                </div>
              </div>
              <a href="/enterprise/demo" class="Plan-button Plan-Button--enterprise common-Uppercase common-Link--arrow"
                style="
                  margin-top: -3px;
  ">Request Demo</a>
            </div>


          </div>

        </div>



      </div>

      <aside class="TransfersAside">
        <div class="container">
          <div class="row center-xs">
            <div class="col-xs
                            col-sm-12
                            col-md-9">

              <img src="/img/v3/pricing/header/transfers.svg" width="48" height="53" alt="transfers logo">
              <p class="common-BodyText TransfersAside-body">
                <strong class="TransfersAside-title">14 Day Free Trial.</strong>
                All Fyipe plans come with a 14 day free trial. Yearly plans come with a 17% discount. You can also
                cancel anytime you like.
              </p>

            </div>
          </div>
        </div>
      </aside>


    </header>

    
    <% include ./comparision-chart %>

    </article>

    <div class="PricingFAQ">
      <div class="container">

        <div class="row PricingFAQ-row">


          <div class="col-xs-12
                          col-sm-6">

            <h5 class="common-BodyTitle PricingFAQ-title">
              How does the 14-day free trial work?
            </h5>
            <p class="common-BodyText PricingFAQ-body">
              If you cancel your Fyipe subscription within 14-days of signing up you will not be charged anything. It's
              completely free.
              If you want to keep using the account, you don't need to do anything and you will be billed for the
              following
              subscription period after the first 14-days have passed. You can cancel your account at any time after
              that
              but you are responsible for any charges that have occurred before you cancelled the subscription.
            </p>

          </div>

          <div class="col-xs-12
                          col-sm-6">
            <h5 class="common-BodyTitle PricingFAQ-title">
              What is a monitor?
            </h5>
            <p class="common-BodyText PricingFAQ-body">
              A monitor is what we call the thing that monitors your website, application or IP address. It can test
              the availability of
              your service in different ways. 1 monitor can monitor 1 URL or IP address, 24/7, 365 days of the year at
              one minute intervals.
            </p>
          </div>

          <div class="col-xs-12
                          col-sm-6">

            <h5 class="common-BodyTitle PricingFAQ-title">
              How do discounts work?
            </h5>
            <p class="common-BodyText PricingFAQ-body">
              Annual plans have a 17% discount. You can upgrade your current plan to annual plan to avail the discount.
              If you're an enterprise,
              contact us for a custom quote.
            </p>

          </div>

          <div class="col-xs-12
              col-sm-6">

            <h5 class="common-BodyTitle PricingFAQ-title">
              Can I change plans for an existing account?

            </h5>
            <p class="common-BodyText PricingFAQ-body">
              Yes. You can.
            </p>

          </div>

          <div class="col-xs-12
                          col-sm-6">

            <h5 class="common-BodyTitle PricingFAQ-title">
              What types of payment do you accept?
            </h5>
            <p class="common-BodyText PricingFAQ-body">
              Fyipe accepts credit card payments (Visa, Mastercard, American Express). Invoice payment available for
              Enterprise customers.
            </p>

          </div>

          <div class="col-xs-12
                          col-sm-6">
            <h5 class="common-BodyTitle PricingFAQ-title">
              Do I get a 14-day free trial if I upgrade an existing account?
            </h5>
            <p class="common-BodyText PricingFAQ-body">
              If you upgrade from an existing account you are not eligible for the 14-day free trial. The 14-day free
              trial only applies
              when you sign up for a new paid account.
            </p>
          </div>

        </div>

      </div>
    </div>




  </div>

  <%include ./footer%>
  <script src="/js/switch.js"></script>
  <script>
    var el = document.querySelector('.checkbox-switch');

    var annualSelected = false;

    var mySwitch = new Switch(el, {
      onSwitchColor: '#78bf7d',
      offSwitchColor: '#78bf7d',
      onJackColor: '#FFFFFF',
      offJackColor: '#FFFFFF',
      onChange: switchPlanCheckBox
    });

    $(document).ready(function () {
      switchPlanCheckBox();
    })

    function switchPlanCheckBox() {
      annualSelected = !annualSelected;

      if (annualSelected) {
        $("#pro-plus-rate").text("$22");
        $("#pro-plus-description").text("Per user billed anually.");

        $("#annual-text").css("font-weight", 600);
        $("#monthly-text").css("font-weight", 500);
      } else {
        $("#pro-plus-rate").text("$25");

        $("#pro-plus-description").text("Per user billed monthly.");
        $("#monthly-text").css("font-weight", 600);
        $("#annual-text").css("font-weight", 500);
      }

      if (window.location.href.indexOf("localhost") > -1) {
        if (annualSelected) {
          $("#basic-link").attr("onclick", "registerUrl('?plan=plan_CpIYuh9Ui2965K')")
          $("#pro-link").attr("onclick", "registerUrl('?plan=plan_CpIZTQWQiIr6rY')")
          $("#pro-plus-link").attr("onclick", "registerUrl('?plan=plan_CpIbtqozj1UVGs')")
        } else {
          $("#basic-link").attr("onclick", "registerUrl('?plan=plan_CpIUcLDhD1HKKA')")
          $("#pro-link").attr("onclick", "registerUrl('?plan=plan_CpIZEEfT4YFSvF')")
          $("#pro-plus-link").attr("onclick", "registerUrl('?plan=plan_CpIatF9qAmeZLP')")
        }
      } else {
        if (annualSelected) {
          $("#basic-link").attr("onclick", "registerUrl('?plan=plan_CogeLcH7wZEMP1')")
          $("#pro-link").attr("onclick", "registerUrl('?plan=plan_CogfwRVpqoOLO6')")
          $("#pro-plus-link").attr("onclick", "registerUrl('?plan=plan_CoggNmls8dUpDy')")
        } else {
          $("#basic-link").attr("onclick", "registerUrl('?plan=plan_CogdfpBptaPGi9')")
          $("#pro-link").attr("onclick", "registerUrl('?plan=plan_CogeidQkPwkycV')")
          $("#pro-plus-link").attr("onclick", "registerUrl('?plan=prod_Cogffh2xpitVg6')")
        }
      }
    }
  </script>

  <!-- Defer loading of style sheets -->
  <script>
    var loadDeferredStyles = function () {
      var addStylesNode = document.getElementById("deferred-styles");
      var replacement = document.createElement("div");
      replacement = document.createElement("div");
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement)
      addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
      window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
    if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
  </script>
  <!--     linkedin code    -->

  <script type="text/javascript">
    _linkedin_partner_id = "706292";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script>
  <script type="text/javascript">
    (function () {
      var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript"; b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);
    })();
  </script>
  <noscript>
    <img height="1" width="1" style="display:none;" alt=""
      src="https://dc.ads.linkedin.com/collect/?pid=706292&fmt=gif" />
  </noscript>
  <!--     linkedin code    -->
</body>



</html>