<!DOCTYPE html>
<html lang="en" id="contact">

<head>
    <meta charset="utf-8">
    <title>Fyipe | Build Private Status Page</title>

    <meta name="description"
        content="Fyipe lets you build UNLIMITED public and private status pages for your online business. Have UNLIMITED subscribers for just $22/mo">
    <meta name="keywords" content="build status page, hosted status page, status page, create status page, build private status page, build public status page, private status page, public status page ">
        
    <% include ./head %>
    <link rel="stylesheet" href="/css/shared-site.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/products.css">
    <script src="/js/amplitude.js"></script>
    <script type="module" async>
        var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
        if (IS_SAAS_SERVICE) {
            amplitude.getInstance().logEvent('PAGE VIEW: HOME > PRODUCT > PRIVATE STATUS PAGE');
        }
    </script>
</head>

<body>

    <% include ./nav %>

    <div class="globalContent">
        <div id="main-content">

            <section class="marquee nav-animation-element top-section">

                <div id="bubble-overlay">
                    <div class="content">
                        
                        <header>
                            <h1 class="Header-title common-PageTitle header-font header-size black">Build Private Status Page</h1>
                            <p style="margin-top:50px; font-size: 22px"><i>Downtime happens.</i>  <span class="highlight">&nbsp;Private Status Page helps you communicate internally with employees and stakeholders.</span> Have complete control over how you communicate an incident on your status page.</p>
                        </header>

                    </div>
                    <div style="
                    margin: 0 auto;
                    ;">
                        <div class="checkbox-items" style="max-width: 1000px; margin: auto;">
                            <div class="checkbox-feature top-margin-10">
                                <div><img height="22" src="/img/check-mark-button.svg" /> </div> <div
                                        class="checkbox-text">Unlimited Public Status Pages</div> 
                            </div>
                            <div class="checkbox-feature top-margin-10">
                                <div><img height="22" src="/img/check-mark-button.svg" /></div> <div
                                        class="checkbox-text">Unlimited Private Status Pages</div> 
                            </div>
                            
                            <div class="checkbox-feature top-margin-10">
                                <div><img height="22" src="/img/check-mark-button.svg" /></div> <div
                                        class="checkbox-text">Unlimited Subscribers</div> 
                            </div>
                            
                        </div>
                       
                    </div>
                    
                </div>

            </section>

            <div style="display:flex; justify-content:center; margin-bottom:30px;margin-top:30px;">
                <img src="/img/animated-gif/status-page.gif" width="900" class="imageshadow" alt="Uptime Monitoring" id="uptime-monitoring-gif" style="border-radius: 5px;" />
            </div>

            <% include ./cta-buttons %>

           

            <section class="main basics">
                <div class="content">
                    <ul class="columns">
                        <li class="block-image trend">
                            <h3>Realtime Status</h3>
                            <p class="text-center">Show realtime status of your product or service - home page, 
                                websites, API, dashboards or more with a hosted status page.</p>
                        </li>
                        <li class="block-image cost">
                            <h3>Cut Support Costs</h3>
                            <p class="text-center">Communicate any incidents through a status page.
                                This saves your customers from creating a flood of support tickets. </p>
                        </li>
                        <li class="block-image reli">
                            <h3>Showcase Reliability</h3>
                            <p class="text-center">Showcase the reliability of your platform and compliance with your SLA
                                and build trust with your customers.</p>
                        </li>
                        
                    </ul>

                    <ul class="columns">
                        <li class="block-image note">
                            <h3>Post Investigation Notes</h3>
                            <p class="text-center"> Have your team post notes and post-mortem when incidents happen and increase transparency and trust with customers.</p>
                        </li>
                        <li class="block-image security">
                            <h3>SLA Compliance</h3>
                            <p class="text-center">Have Fyipe certify your SLA compliance and showcase that to your existing and potential customers.</p>
                        </li>
                        <li class="block-image moni">
                            <h3>Monitor Anything.</h3>
                            <p class="text-center">An endpoint, applications, a container, cluster, network, or
                                anything else. You name it. We monitor all of
                                them for you. </p>
                        </li>
                        
                    </ul>

                </div>
                <% include ./cta-buttons %>

                <% include ./customer-section %>
                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Unlimited Subscribers</h2>
                    <p class="common-BodyText"> Have any number of your customers subscribe to your status page, get alerts when services are down or degraded. </p>
                </header>
                <div class="content">
                    <ul class="columns">
                        <li class="block-image sms">
                            <h3>Email, SMS and more</h3>
                            <p class="text-center">Your customers can pick from different types of notifications channels - Email, SMS, RSS, Webhooks, or Atom Feeds.</p>
                        </li>
                        <li class="block-image notification1">
                            <h3>Branded Notifications</h3>
                            <p class="text-center">You can -label or brand notification messages to your subscribers to suit your brand.  </p>
                        </li>
                        <li class="block-image callcenter">
                            <h3>Improved Experience</h3>
                            <p class="text-center"> Notify customers proactively when services are down or degraded. This improves trust and customer experience.</p>
                        </li>
                    </ul>
                </div>
                <% include ./cta-buttons %>

                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Branding and Customization</h2>
                    <p class="common-BodyText"> Customize your status page and make it look like your brand. </p>
                </header>
                <div style="display:flex; justify-content:center; margin-bottom:30px;margin-top:30px;">
                    <img src="/img/animated-gif/status-page-branding.gif" width="900" class="imageshadow" alt="Uptime Monitoring" id="uptime-monitoring-gif" style="border-radius: 5px;" />
                </div>
                <div class="content">
                    <ul class="columns">
                        <li class="block-image paint">
                            <h3>Colors and styling.</h3>
                            <p class="text-center">Our status page comes in multiple templates, change colors or styling to make it look like your own.</p>
                        </li>
                        <li class="block-image brand">
                            <h3>Whitelabel and logos</h3>
                            <p class="text-center"> Whitelabel the status page to your needs, add a logo, custom domain, custom SSL and more. </p>
                        </li>
                        <li class="block-image htmlcss">
                            <h3>Edit HTML and CSS</h3>
                            <p class="text-center"> We give you complete flexibility to design your own status page. Edit and implement your own HTML, and CSS. </p>
                        </li>
                    </ul>
                </div>
                <% include ./cta-buttons %>

                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Multiple Status Pages</h2>
                    <p class="common-BodyText"> Have unlimited number of internal or public status pages per project with unlimited number of subscribers. </p>
                </header>

                <div style="display:flex; justify-content:center; margin-bottom:30px;margin-top:30px;">
                    <img src="/img/animated-gif/multiple-status-page.gif" width="900" class="imageshadow" alt="Uptime Monitoring" id="uptime-monitoring-gif" style="border-radius: 5px;" />
                </div>
                <% include ./cta-buttons %>

               <div class="split">
                    <div class="content margin-0-in-mobile">

                          <div class="left invisible-in-mobile">

                            <h3 class="header" style="margin-top:250px">More Status Page Features.</h3>
                            <p class="common-BodyText" style="font-size:18px"><span class="highlight"
                                    style="font-size:18px">Efficient IT and SRE management <br />depends on the right
                                    information  <br />being shared with the right people </br> at the right time </span><br /><br /> Status Page ensures your customers
                                <br />are notified proactively which<br />increases trust and improves customer service.
                                 </p>

                        </div>

                        <div class="right width-100-in-mobile margin-0-in-mobile" style="width:100%">
                            <ul style="width:100%">
                                <li>
                                    <h3>Inform users about future Scheduled Maintenance</h3>

                                </li>
                                <li>
                                    <h3>Embed Status Page anywhere - app, website or help-desk.</h3>
                                </li>
                                <li>
                                    <h3>Notify customers by SMS or Email proactively.</h3>

                                </li>
                                <li>
                                    <h3>Display system metrics.</h3>

                                </li>
                                <li>
                                    <h3>Custom domain with SSL.</h3>

                                </li>
                                <li>
                                    <h3>Create multiple status pages and multiple sub-projects.</h3>

                                </li>
                                <li>
                                    <h3>Post investigation notes so your customers are informed.</h3>

                                </li>
                                <li>
                                    <h3>Integrate with 1500+ integrations.</h3>
                                </li>
                                <li>
                                    <h3>Integrate with fully extensible API.</h3>

                                </li>

                            </ul>
                        </div>

                    </div>
                </div>

                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Private Status Pages</h2>
                    <p class="common-BodyText"> Create private status pages for your internal team or your few select customers. Keep your company informed. <br/>Create internal dashboards and more. </p>
                </header>

                <div style="display:flex; justify-content:center; margin-bottom:30px;margin-top:30px;">
                    <img src="/img/animated-gif/private-status-page.gif" width="900" class="imageshadow" alt="Uptime Monitoring" id="uptime-monitoring-gif" style="border-radius: 5px;" />
                </div>

                <div class="content">
                    <ul class="columns">
                        <li class="block-image teams">
                            <h3>Select Team Members</h3>
                            <p class="text-center">Pick internal team members or customers who have access to your private status page. </p>
                        </li>
                        <li class="block-image informed">
                            <h3>Keep company informed</h3>
                            <p class="text-center">Pipe status updates into Slack to keep engineering, IT, and Ops teams on the same page. </p>
                        </li>
                        <li class="block-image dash">
                            <h3>Internal Dashboards</h3>
                            <p class="text-center"> Create internal reliability dashboards, hook it up to a TV and show them to your team.</p>
                        </li>
                    </ul>
                </div>
                <% include ./cta-buttons %>
               
                <% include ./integration %> 
            </section>

         



        </div>
    </div>

    <% include ./footer %>

</body>


</html>