<header id="pagmt">
    <script>
        var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
        if (IS_SAAS_SERVICE) {
          amplitude.getInstance().logEvent('PAGE VIEW: HOME > LEGAL > PRIVACY POLICY');
        }
      </script>
    <% if (section === "privacy") { %>
    <h1>Privacy Policy</h1>
    <% } %>
    <% if (section === "gdpr") { %>
    <h1>General Data Protection Regulation (GDPR)</h1>
    <% } %>
    <p>Please Read Carefully Prior To Using This Product</p>
</header>

<section>
    <% if (section === "gdpr") { %>
    <h3>Fyipe GDPR Policy</h3>

    <p>Fyipe is part of HackerBay, Inc. This GDPR and Privacy will explain how our organization uses the personal data
        we
        collect from you when you use our website and our product.</p>
    <p>
        Topics:
        <br /> <br />
        - What data do we collect? <br />
        - How do we collect your data? <br />
        - How will we use your data? <br />
        - How do we store your data? <br />
        - Marketing <br />
        - What are your data protection rights? <br />
        - What are cookies? <br />
        - How do we use cookies? <br />
        - What types of cookies do we use? <br />
        - How to manage your cookies <br />
        - Privacy policies of other websites <br />
        - Changes to our privacy policy <br />
        - How to contact us <br />
        - How to contact the appropriate authorities <br /></p>

    <% } %>

    <p>You can read full text of <a href="https://gdpr-info.eu">GDPR</a> from the GDPR official website</p>

    <h3>Introduction</h3>

    <p>At HackerBay, it is one of our fundamental values to deliver a great customer experience. Based upon this
        philosophy, HackerBay, Inc. and its affiliated companies and subsidiaries (“HackerBay”) established this privacy
        statement (“Privacy
        Statement”)
        to assist our customers, business partners, and other visitors of this website, any other webpage or mobile
        applications
        that HackerBay operates, or any other location where we post a direct link to this policy (“Website”) with
        understanding
        the types of information that we collect from and about you when you visit our Website, why we collect it, what
        we
        do with it, and your ability to control certain uses of it. We want you to feel informed and comfortable when
        you
        visit with us.

        <p>When you visit our Website, please read the Privacy Statement carefully. By using or accessing our Website,
            you agree
            to the collection, use, and disclosure of information in accordance with this Privacy Statement. This
            Privacy
            Statement may change from time to time, and your continued use is deemed to be acceptance of such changes.
            So,
            please check this periodically for updates! </p>
    </p>
    <h3>Data Collection</h3>
    <p>Information You Provide to Us. HackerBay collects information from you when you choose to provide it to us. Such
        information
        may be provided to us when you: apply for a job at HackerBay; download and install a product for evaluation;
        download
        and install a free tool; request a quote; purchase or register a product; sign up for newsletters, support
        materials,
        white papers, our email list, or other assets offered by HackerBay; obtain support, services, or training;
        create a
        user account on our Website, customer portal or community forum; or otherwise contact us. The personal
        information
        we collect may include your name, address, email address, telephone number, user name, password(s), information
        about
        the products that you own and use, or your payment information. Such information may be required to create your
        account
        or to complete your purchase. If you use a third party to create your account or otherwise link to us, we may
        receive
        certain information about you from the third party (such as a social network) based on your registration and
        privacy
        settings on that third party service.
    </p>
    <p>Information We May Collect. HackerBay may use cookies, web beacons, web analytics, or other technologies to
        automatically
        collect certain information about you when you visit our Website, utilize the HackerBay products, or otherwise
        interact
        with us. Please note, these may be first party cookies or tools, which are hosted within a HackerBay domain
        name, or
        third party cookies or tools, which are hosted by another party. Please reference the HackerBay Cookie Policy
        for further
        information.
    </p>
    <p>Information Collected from Other Sources. HackerBay may obtain information about you from other sources,
        including updated
        addresses, contact information, demographic information, and other publicly available data.
    </p>
    <p>Combination of Information. HackerBay may combine the information it receives from and about you, including
        personal information,
        non-personal information, and information collected offline, with information collected from third party
        sources.
        Real User Monitoring Service (“RUM”). HackerBay uses customized and proprietary software code to analyze and
        obtain
        information regarding how third party visitors (“Visitor”) interact with its Clients’ websites. When a Visitor
        visits
        a website that uses RUM, this code contacts HackerBay’s servers and enables HackerBay to collect and analyze the
        Visitor’s
        activity while visiting that website (“Visitor Data”). This information is stored on HackerBay’s database
        servers and
        converted to an aggregate and anonymized form to perform analyses and produce reports for its Clients.
    </p>
    <h3>Our Commitment to GDPR</h3>
    <p>On May 25, 2018, the European Union’s General Data Protection Regulation (GDPR) takes effect. GDPR regulates the
        governance
        of personal data for EU citizens with an emphasis on data security and privacy. The GDPR does not only apply to
        companies
        that operate in the EU. This regulation will also impact companies operating outside of the EU if they have any
        EU
        customers or personal data of anyone in the EU.
    </p>
    <p>HackerBay, Inc. has made information security and data privacy foundational principles of everything we do, and
        we recognize
        the importance of passing regulations to advance information security and data privacy for citizens of the EU.
        We
        are firmly committed to GDPR readiness.
    </p>
    <% if (section === "privacy") { %>
    <p>You can read more about our <a href="/legal/gdpr">GDPR policy here.</a>
    </p>
    <% } %>



    <h3>Data Use</h3>
    <p>HackerBay may use the information we collect to: - Administer or operate the HackerBay products, services, or
        Website, including
        completing a transaction, providing you with products or user support, responding to your requests for
        information,
        preventing transactional fraud, or otherwise contacting you; - Provide or contact you with customized content,
        targeted
        offers, information, newsletters, and advertising or other promotional material about HackerBay or its partners
        on
        the Website, other websites, or via telephone or email (if you have agreed to such communications); - Research,
        address,
        develop, and improve the usage and operations of the Website or existing or new HackerBay products and services;
        -
        Protect the security or integrity of the Website and our business; and - Perform any other functions as
        otherwise
        described to you at the point of data collection.
    </p>
    <h3>Data Sharing</h3>
    <p>HackerBay may disclose the information we collect from and about you (a) to our third party service providers,
        partners,
        and distributors to enable the service provider, partner, or distributor to perform a business, professional, or
        technical support function for HackerBay; (b) in association with law enforcement, fraud prevention, a subpoena,
        or
        other legal or government investigatory action; (c) as required by law, rule, or regulation; (d) if HackerBay
        reasonably
        believes it is required to protect HackerBay, its customers, or the public; or (e) as described to you at the
        point
        of collection.
    </p>
    <p>Except as otherwise set forth herein, HackerBay may provide aggregated statistics about users to third parties,
        but such
        information will be aggregated so that it does not identify a particular individual or company. HackerBay is not
        in
        the business of selling or renting your personally identifiable information to others and will not share your
        personally
        identifiable information with others, except as otherwise described in this Privacy Statement.
    </p>
    <p>HackerBay may sell or purchase assets during the normal course of our business. If another entity acquires
        HackerBay or any
        of our assets, information we have collected about you may be transferred to such entity. In addition, if any
        bankruptcy
        or reorganization proceeding is brought by or against us, such information may be considered an asset of ours
        and
        may be sold or transferred to third parties. Should such a sale or transfer occur, we will use reasonable
        efforts
        to try to require that the transferee use personal information provided through the Website in a manner that is
        consistent
        with this Privacy Statement.
    </p>
    <h3>Data Storage</h3>
    <p>As HackerBay operates globally, using the Internet to collect and process your information necessarily involves
        the transmission
        and storage of data on an international basis. Therefore, by using our Website, our products, and communicating
        electronically
        with us, you acknowledge our processing of your information in this way. We may transfer your personal
        information
        among our global locations or to destinations of our storage facilities and/or our third party providers,
        including
        to countries outside the European Economic Area (EEA). Your personal information may be stored on servers in a
        global
        location. It may also be processed by staff operating outside of the EEA, who work for us or one of our
        suppliers.
    </p>
    <p>Some of these locations may have data protection standards that are different to those in your country. For EEA
        residents,
        we have taken commercially reasonable measures to ensure that your personal information is treated securely and
        in
        accordance with this Privacy Statement. Additionally, your personal information may be subject to the laws of
        other
        countries, where the data protection and other laws may differ from those of your country of residence. Your
        personal
        information may be disclosed in response to inquiries or requests from government authorities in the countries
        in
        which we operate.
    </p>
    <h3>Marketing Choices</h3>
    <p>HackerBay may periodically send you emails with information regarding HackerBay, its products or its partners. If
        you no
        longer wish to continue receiving such information, please click the “unsubscribe” link available at the bottom
        of
        the relevant email. You can also contact HackerBay at privacy@hackerbay.io and let HackerBay know that you
        no longer
        wish to receive such information. Alternatively, you can reply to an email from HackerBay and type "REMOVE" in
        the
        subject line.
    </p>
    <h3>Public Forums</h3>
    <p>Any information that you may disclose on community forums or other public areas of the Website (“User
        Contribution”)
        becomes public information, and you are solely responsible for your User Contributions. HackerBay has no
        responsibility
        for any information, including personally identifiable information, that you choose to submit in these forums.
        We
        do encourage you to exercise caution when disclosing personal information in these public areas, as HackerBay
        has no
        control over who has access or will utilize said information. Additionally, HackerBay is not responsible for any
        circumvention
        by third parties of any privacy setting or security measures contained on the Website. Even after removal, your
        User
        Contributions may remain viewable in cached or archived pages or may have been copied or stored by other Website
        users. Proper access and use of information on the Website, including User Contributions, is governed by this
        Privacy
        Statement and the Terms of Use relating thereto. Any known or suspected violations should be reported to at
        legal_team@hackerbay.io.
    </p>
    <h3>Third Party Sites</h3>
    <p>The Website may include links to third party websites for your convenience and information only. HackerBay does
        not own
        or control these third party websites. HackerBay is not responsible for the availability, content, data
        collection,
        utilization of data, use of cookies, or otherwise on the third party websites, and any data that you choose to
        give
        to unrelated third parties is not covered by this Privacy Statement. We encourage you to review the privacy
        policy
        of any company before submitting any information to them. If you have any questions about how such third
        parties’
        privacy and data use practices, you should contact such third parties directly.
    </p>
    <h3>How to Update and Access Information</h3>
    <p>Certain areas of this Website will require you to provide certain personal information. It is your responsibility
        to
        provide the most recent available and accurate information. Additionally, please inform HackerBay of any change
        of
        name, address, or other information. If you have created an account on the Website, you may update certain
        information
        in your account profile, or you may request that HackerBay update, modify, or delete your registered information
        by
        sending an email to privacy@hackerbay.io with the words "UPDATE USER INFORMATION" in the subject line. You
        have
        the right, subject to certain exemptions, to obtain a copy of any personal data we hold about you and to correct
        any inaccuracies in such data. If you wish to avail of any of these rights, please contact us at:
        privacy@hackerbay.io.
        While we will strive to accommodate your request, we may reject a request to satisfy our legal obligations,
        resolve
        disputes, enforce our agreements, where we have a legitimate reason to do so, or where the request may impose a
        risk
        on the privacy of others, is unreasonable, repetitive, or requires disproportionate technical effort.
    </p>
    <h3>Security</h3>
    <p>HackerBay uses commercially reasonable security measures, such as physical access controls, encryption,
        firewalls, and
        network monitoring, and strives to safeguard information concerning and submitted by users. Despite the security
        measures employed by HackerBay, users should be aware that it is impossible to guarantee absolute security with
        respect
        to electronic information, and User agrees and accepts the risks associated with the same.
    </p>
    <h3>Children under the Age of 13</h3>
    <p>This Website is not intended for children under 13 years of age. No one under age 13 may provide any personal
        information
        to or on the Website; HackerBay does not knowingly collect personal information from children under 13. If you
        are
        under 13, please do not register on the Website, make any purchases through the Website, or send any information
        about yourself to us. If you believe that information from or about a child under 13 is in our possession,
        please
        contact us at legal_team@hackerbay.io.</p>

    <h3>Questions</h3>
    <p>If you have any questions about this Privacy Statement or our data handling practices, you may contact us at
        privacy@hackerbay.io.
        In order for us to properly respond to you, you will need to provide us with sufficient details regarding your
        question.
        We will contact you if we require any additional information from you.</p>

    <h3>Modifications to this Privacy Statement</h3>
    <p>HackerBay reserves the right to review, modify, and update this Privacy Statement and will note the date of its
        most recent
        revision. In the event HackerBay updates or modifies this Privacy Statement, HackerBay shall endeavor to post
        such updates
        or modifications on this Website following any such modifications. It we update or modify the Privacy Statement
        in
        a material way, we will utilize commercially reasonable efforts to provide appropriate notice to you.</p>
</section>