<div id="rebrand" style="justify-content: center; align-items: center;background: black; width: 100%; padding: 20px; display: flex;">
    <div>
        <p style="margin: 0px; color:white; padding: 0px;">
            <span style="height: 20px; display: flex; align-items: center; justify-content: center; font-size: 18px;">
                <img src="/img/OneUptimeFull.png" alt="oneuptime logo" style="width: auto; height: 40px;" /> is now <img src="/img/hou-wb.svg" alt="oneuptime logo" style="width: auto;height: 120px;" />
            </span>
        </p>
    </div>
</div>