
<!DOCTYPE html>
<html lang="en" id="guides" class="guides" >

  <head>

    
    
    <title>Fyipe | Resources and Whitepapers</title>

    <meta name="description" content="Fyipe is an enterprise grade status page, monitoring and oncall management platform. Learn more from resources and whitepapers.">


    <% include ./head %>
    

      <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/colors.css">
  <link rel="stylesheet" href="/css/resources.css">

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
 


  <script defer src="/js/animate.js"></script>
  <script defer src="/js/stickyfill.js"></script>

 <script defer src="/js/default.js"></script>
  <script defer src="/js/resources.js"></script>
  <script src="/js/amplitude.js"></script>
  <script>
      var IS_DEV = window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1;
      if (!IS_DEV) {
          amplitude.getInstance().logEvent('Resource page loaded');
      }
  </script>


    


  </head>

  <body>

    



      <% include ./nav %>

    <div class="globalContent">
      
<main>
  <div class='fyipeBackground'>

  </div>

<header class='container-lg content-container guide-header'>
  <div class="title-container">
    <h1 class='Header-title common-PageTitle header-font header-size'> Resources and Whitepapers</h1>
    <p style="margin-top:25px;" class="common-IntroText guide-SubTitle" style="color:#757575 !important">Explore and learn more about everything on how to build reliable platforms, systems and enterprise digital operations processes.</p>
  </div>

</header>

  <div class="covers">
    <div class="grid grid-main">
      <a href="/enterprise/download-resource/website-monitoring" class="card order-1" id="website-monitoring">
        <div class="content">
          <div class="cover">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 780 1160.0717">
              <rect width="780" height="1160" style="fill: rgb(23, 23, 23);"></rect>
            </svg>
          </div>
          <div class="title">
            <h1>Website Monitoring: An absolute necessity.</h1>
          </div>
        </div>
        <div class="action">
          READ NOW
        </div>
      </a>


      <a href="/enterprise/download-resource/speed-equals-revenue" class="card order-2" id="speed-revenue">
        <div class="content">
          <div class="cover">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 780 1160"><rect width="780" height="1160" style="fill:rgb(23, 23, 23)"/></svg>
          </div>
          <div class="title">
            <div class="icon-title">
              
              <h3 class="common-Uppercase">Increasing Sales</h3>
            </div>
            <h1>Speed + Uptime = Revenue</h1>
          </div>
        </div>
        <div class="action">
          READ NOW
        </div>
      </a>
      <a href="/enterprise/download-resource/best-practices" class="card order-3" id="best-practices">
        <div class="content">
          <div class="cover">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 780.0399 1160.001"><rect width="780" height="1160" style="fill:rgb(23, 23, 23)"/><</svg>
          </div>
          <div class="title">
            <div class="icon-title">
             
              <h3 class="common-Uppercase">Best Practices</h3>
            </div>
            <h1>22 best practices to improve your website performance.</h1>
          </div>
        </div>
        <div class="action">
          READ NOW
        </div>
      </a>
      <a href="/enterprise/download-resource/planning-for-peak-performance" class="card order-4" id="peak-performance">
        <div class="content">
          <div class="cover">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 780 1160.01"><rect width="780" height="1160" style="fill: rgb(23, 23, 23);"/></svg>
          </div>
          <div class="title">
            <div class="icon-title">
              
              <h3 class="common-Uppercase">Performance Management</h3>
            </div>
            <h1>Planning for Peak Performance</h1>
          </div>
        </div>
        <div class="action">
          READ NOW
        </div>
      </a>
    </div>
  </div>
  
</main>

<div class="image-container">
  <div class="overlay"></div>
  <div class="image">
    <div class="shadow"></div>
  </div>
</div>


    </div>

    <% include ./footer %>

  </body>

</html>
