
<!DOCTYPE html>
<html lang="en" id="guides" class="guides" >

  <head>

    
    
    <title>Fyipe | Resources and Whitepapers</title>

    <meta name="description" content="Fyipe is an enterprise grade status page, monitoring and oncall management platform. Learn more from resources and whitepapers.">


    <% include ./head %>
    

      <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/colors.css">
  <link rel="stylesheet" href="/css/resources.css">

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
 


  <script defer src="/js/animate.js"></script>
  <script defer src="/js/stickyfill.js"></script>

 <script defer src="/js/default.js"></script>
  <script defer src="/js/resources.js"></script>


    


  </head>

  <body>

    



      <% include ./nav %>

    <div class="globalContent">
      
<main>
  <div class='fyipeBackground'>
    <div class='fyipe sbg'></div>
    <div class='fyipe s0'></div>
    <div class='fyipe s1'></div>
    <div class='fyipe s2'></div>
    <div class='fyipe s3'></div>
    <div class='fyipe s4'></div>
    <div class='fyipe s5'></div>
    <div class='fyipe s6'></div>
    <div class='fyipe s7'></div>
    <div class='fyipe s8'></div>
    <div class='fyipe s9'></div>
    <div class='fyipe s10'></div>
  </div>

<header class='container-lg content-container guide-header'>
  <div class="title-container">
    <h1 class='common-PageTitle'> Resources and Whitepaper</h1>
    <p class="common-IntroText guide-SubTitle slate3">Explore and learn more about everything on how to build reliable platforms, systems and enterprise digital operations processes.</p>
  </div>

</header>

  <div class="covers">
    <div class="grid grid-main">
      <a href="/enterprise/download-resource/website-monitoring" class="card order-1" id="website-monitoring">
        <div class="content">
          <div class="cover">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 780 1160.0717">
              <rect width="780" height="1160" style="fill:#424770"/>
              <polygon class="hidden" points="250.2 774.5 0.3 964.6 250.3 964.6 250.2 774.5" style="fill:#000000"/>
              <rect class="hidden" x="1.2" y="774.6" width="498.9" height="16.2" style="fill:#aab7c4"/>
              <rect class="hidden" x="1.2" y="806.05" width="498.9" height="16.2" style="fill:#aab7c4"/>
              <rect class="hidden" x="1.2" y="838.05" width="498.9" height="16.2" style="fill:#aab7c4"/>
              <polygon class="hidden" points="248.4 774.5 248.4 774.5 248.4 774.6 248.428 774.6 54.928 583.4 248.4 583.1 248.4 774.5" style="fill:#000000"/>
              <rect class="hidden" x="1.2" y="870.05" width="498.9" height="16.2" style="fill:#aab7c4"/>
              <rect class="hidden" x="1.2" y="902.05" width="498.9" height="16.2" style="fill:#aab7c4"/>
              <rect class="hidden" x="1.2" y="934.05" width="498.9" height="16.2" style="fill:#aab7c4"/>
              <polygon class="hidden" points="500.1 774.7 248.4 583.1 248.4 774.5 500.1 774.7" style="fill:#797979"/>
              <rect class="hidden" x="0.3" y="964.6" width="250" height="195.4" style="fill:#aab7c4"/>
              <polygon class="hidden" points="250.287 1160 500.5 964.6 250.3 964.6 250.287 1160" style="fill:#797979"/>
              <rect class="hidden" x="250.3069" y="1050" width="249.7931" height="21.5" style="fill:#525f7f"/>
              <polygon class="hidden" points="500.1 774.7 500.2 583.1 779.489 583.1 500.1 774.7" style="fill:#525f7f"/>
              <circle class="hidden" cx="639.8444" cy="775.2" r="139.6444" style="fill:#797979"/>
              <circle class="hidden" cx="639.8444" cy="775.2" r="80.8485" style="fill:#000000"/>
              <polygon class="hidden" points="500.2 599.3 269.7 599.3 248.4 583.1 248.4 583.1 500.2 583.1 500.2 583.1 500.2 599.3" style="fill:#aab7c4"/>
              <polygon class="hidden" points="289.8 614.5 500.2 614.5 500.2 630.7 311 630.7 289.8 614.5" style="fill:#aab7c4"/>
              <polygon class="hidden" points="331.1 646 500.2 646 500.2 662.1 352.4 662.1 331.1 646" style="fill:#aab7c4"/>
              <polygon class="hidden" points="372.4 677.4 500.2 677.4 500.2 693.6 393.7 693.6 372.4 677.4" style="fill:#aab7c4"/>
              <polygon class="hidden" points="435 725 413.8 708.9 500.2 708.9 500.2 725 435 725" style="fill:#aab7c4"/>
              <polygon class="hidden" points="500.2 740.3 500.2 756.5 476.3 756.5 455.1 740.3 500.2 740.3" style="fill:#aab7c4"/>
              <rect class="hidden" x="499.9725" y="964.6" width="280.0275" height="195.4717" style="fill:#797979"/>
              <polygon class="hidden" points="499.877 774.5 250.3 964.6 499.977 964.6 499.877 774.5" style="fill:#000000"/>
              <rect class="hidden" x="499.933" y="775.2" width="280.067" height="189.4" style="fill:#aab7c4"/>
              <rect class="hidden" x="78.4175" y="1050" width="171.8894" height="21.5" style="fill:#000000"/>
              <path class="hidden" d="M708.65,871.1a68.55,68.55,0,1,0-68.55,68.55A68.55,68.55,0,0,0,708.65,871.1Z" style="fill:#525f7f"/>
              <path class="hidden" d="M651.1,938.77V904.15H629.6v34.7A67.0693,67.0693,0,0,0,651.1,938.77Z" style="fill:#424770"/>
              <path class="hidden" d="M125.25,992.45A68.55,68.55,0,1,0,193.8,1061,68.55,68.55,0,0,0,125.25,992.45Zm0,103.383A34.833,34.833,0,1,1,160.0829,1061,34.833,34.833,0,0,1,125.25,1095.833Z" style="fill:#525f7f"/>
              <circle class="hidden" cx="640.1" cy="871.1" r="34.833" style="fill:#000000"/>
              <rect class="hidden" x="158.2998" y="1050" width="35.5002" height="21.5" style="fill:#424770"/>
            </svg>
          </div>
          <div class="title">
            <h1>Website Monitoring: An absolute necessity.</h1>
          </div>
        </div>
        <div class="action">
          READ NOW
        </div>
      </a>


      <a href="/enterprise/download-resource/speed-equals-revenue" class="card order-2" id="speed-revenue">
        <div class="content">
          <div class="cover">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 780 1160"><rect width="780" height="1160" style="fill:#6c9fee"/><rect class="hidden" y="711.1227" width="270.1294" height="160.7068" style="fill:#87bbfc"/><circle class="hidden" cx="396.984" cy="1015" r="144.6957" style="fill:#87bbfc"/><circle class="hidden" cx="396.984" cy="1015" r="79.0765" style="fill:#597ee5"/><rect class="hidden" y="871.8704" width="541.5319" height="117.0485" style="fill:#486dd3"/><polygon class="hidden" points="270.129 871.83 541.194 591.066 780 591.066 780 637.417 614.839 871.657 270.129 871.83" style="fill:#597ee5"/><rect class="hidden" y="467.3818" width="270.1294" height="243.7409" style="fill:#597ee5"/><rect class="hidden" x="270.1294" y="591.0659" width="271.0647" height="120.0568" style="fill:#87bbfc"/><polygon class="hidden" points="780 756.94 695.725 756.94 614.839 871.657 780 871.16 780 756.94" style="fill:#486dd3"/><rect class="hidden" x="541.5319" y="1044.3033" width="238.4681" height="115.6967" style="fill:#486dd3"/><rect class="hidden" x="541.5319" y="871.8776" width="238.4681" height="172.4257" style="fill:#597ee5"/><polygon class="hidden" points="541.532 871.878 541.532 1159.671 780 904.763 780 871.16 541.532 871.878" style="fill:#87bbfc"/><rect class="hidden" y="988.9189" width="87.9239" height="171.08" style="fill:#87bbfc"/><polygon class="hidden" points="155.876 871.881 0 1160 311.28 1160 155.876 871.881" style="fill:#597ee5"/><rect class="hidden" y="730.0052" width="155.5308" height="6.9948" style="fill:#597ee5"/><rect class="hidden" y="759.9227" width="155.5308" height="6.9948" style="fill:#597ee5"/><rect class="hidden" y="789.8401" width="155.5308" height="6.9948" style="fill:#597ee5"/><rect class="hidden" y="819.7576" width="155.5308" height="6.9948" style="fill:#597ee5"/><rect class="hidden" y="849.6751" width="155.5308" height="6.9948" style="fill:#597ee5"/><rect class="hidden" x="538.7058" y="467.5126" width="241.2942" height="6.9948" style="fill:#597ee5"/><rect class="hidden" x="538.7058" y="497.4007" width="241.2942" height="6.9948" style="fill:#597ee5"/><rect class="hidden" x="538.7058" y="527.2888" width="241.2942" height="6.9948" style="fill:#597ee5"/><rect class="hidden" x="538.7058" y="557.1769" width="241.2942" height="6.9948" style="fill:#597ee5"/></svg>
          </div>
          <div class="title">
            <div class="icon-title">
              
              <h3 class="common-Uppercase">Increasing Sales</h3>
            </div>
            <h1>Speed + Uptime = Revenue</h1>
          </div>
        </div>
        <div class="action">
          READ NOW
        </div>
      </a>
      <a href="/enterprise/download-resource/best-practices" class="card order-3" id="best-practices">
        <div class="content">
          <div class="cover">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 780.0399 1160.001"><rect width="780" height="1160" style="fill:#5dccf0"/><rect class="hidden" y="755.4735" width="236.9328" height="404.5265" style="fill:#45b2e8"/><rect class="hidden" y="580.7639" width="273.2068" height="16.5694" style="fill:#45b2e8"/><rect class="hidden" y="624.4414" width="273.2068" height="16.5694" style="fill:#45b2e8"/><rect class="hidden" y="668.1188" width="273.2068" height="16.5694" style="fill:#45b2e8"/><rect class="hidden" y="711.7962" width="273.2068" height="16.5694" style="fill:#45b2e8"/><path class="hidden" d="M779.8206,665.6119a189.3494,189.3494,0,0,1,.1764-360.74Z" style="fill:#45b2e8"/><path class="hidden" d="M234.9055,1160a410.5377,410.5377,0,0,1-104.21-273.9157c0-227.5869,184.4956-412.0824,412.0824-412.0824A410.1957,410.1957,0,0,1,780.04,549.1164V1160Z" style="fill:#8ee0fa"/><path class="hidden" d="M780.0022,549.1064A412.7518,412.7518,0,0,0,648.207,487.62,189.3626,189.3626,0,0,0,780.0011,665.6686Z" style="fill:#5dccf0"/><path class="hidden" d="M298.0213,1160a288.63,288.63,0,0,0,23.6341-114.8349c0-119.9391-72.8142-222.8671-176.6469-267.0038a412.8559,412.8559,0,0,0,89.95,381.84Z" style="fill:#68d4f8"/><path class="hidden" d="M648.1772,806.8447a287.6362,287.6362,0,0,0-62.1244-16.5694H499.4343a287.9,287.9,0,0,0-39.7311,8.8755q-11.3976,3.4048-22.3933,7.6939Z" style="fill:#68d4f8"/><path class="hidden" d="M723.6855,850.5221Q712.67,841.7,700.8036,833.9527H384.684q-6.5425,4.2678-12.8344,8.8755-5.11,3.74-10.048,7.6939H723.6855Z" style="fill:#68d4f8"/><path class="hidden" d="M767.6734,894.1994q-6.9534-8.5582-14.5275-16.5694H332.3412q-4.1221,4.3541-8.0641,8.8757-.5145.5905-1.0272,1.1826-2.7689,3.2116-5.4363,6.5111h449.86Z" style="fill:#68d4f8"/><rect class="hidden" x="294.1403" y="921.3074" width="485.8597" height="16.5694" style="fill:#68d4f8"/><rect class="hidden" x="294.1403" y="964.9848" width="485.8597" height="16.5694" style="fill:#68d4f8"/><rect class="hidden" x="294.1403" y="1008.6622" width="485.8597" height="16.5694" style="fill:#68d4f8"/><rect class="hidden" x="294.1403" y="1052.3395" width="485.8597" height="16.5695" style="fill:#68d4f8"/><rect class="hidden" x="294.1403" y="1096.0168" width="485.8597" height="16.5695" style="fill:#68d4f8"/><rect class="hidden" x="294.1403" y="1139.6943" width="485.8597" height="16.5695" style="fill:#68d4f8"/><polyline class="hidden" points="145.009 778.161 124.696 770.667 147.084 770.667" style="fill:#68d4f8"/></svg>
          </div>
          <div class="title">
            <div class="icon-title">
             
              <h3 class="common-Uppercase">Best Practices</h3>
            </div>
            <h1>22 best practices to improve your website performance.</h1>
          </div>
        </div>
        <div class="action">
          READ NOW
        </div>
      </a>
      <a href="/enterprise/download-resource/planning-for-peak-performance" class="card order-4" id="peak-performance">
        <div class="content">
          <div class="cover">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 780 1160.01"><rect width="780" height="1160" style="fill:#ec93e0"/><rect class="hidden" x="258.4" y="834.5" width="521.6" height="325.51" style="fill:#d682d9"/><polygon class="hidden" points="459.3 967.4 780 834.4 780 1160.003 459.3 1160.01 459.3 967.4" style="fill:#ffdff5"/><rect class="hidden" y="705.8" width="780" height="128.7" style="fill:#ffc6ef"/><path class="hidden" d="M0,705.8l.5,52.3v.1L0,834.5H258.4a132.7365,132.7365,0,0,0-8-44.8,129.2971,129.2971,0,0,0-121.2-84.4Z" style="fill:#ffdff5"/><path class="hidden" d="M300.8,580.4h95.5a130.6636,130.6636,0,0,0-28.1-7.5H329A128.8747,128.8747,0,0,0,300.8,580.4Z" style="fill:#ffdff5"/><path class="hidden" d="M266.7,600.2h164a124.2137,124.2137,0,0,0-10.4-7.5H277A122.77,122.77,0,0,0,266.7,600.2Z" style="fill:#ffdff5"/><path class="hidden" d="M246.8,620H450.6q-3.15-3.9-6.6-7.5H253.3A91.8688,91.8688,0,0,0,246.8,620Z" style="fill:#ffdff5"/><path class="hidden" d="M233.4,639.7H463.8c-1.4-2.5-2.8-5.1-4.4-7.5H237.9Q235.5,635.95,233.4,639.7Z" style="fill:#ffdff5"/><path class="hidden" d="M224.7,659.5h248c-.9-2.5-1.9-5-2.9-7.5H227.5C226.5,654.5,225.5,657,224.7,659.5Z" style="fill:#ffdff5"/><path class="hidden" d="M219.5,679.3H477.9c-.5-2.5-1-5-1.6-7.5H221.1C220.5,674.3,219.9,676.8,219.5,679.3Z" style="fill:#ffdff5"/><path class="hidden" d="M217.5,699.1H479.9c-.1-2.4-.2-4.7-.4-7H217.8C217.6,694.5,217.5,696.8,217.5,699.1Z" style="fill:#ffdff5"/><rect class="hidden" y="834.5" width="128.9" height="325.51" style="fill:#ffc6ef"/><path class="hidden" d="M0,576.5v52.9a76.2907,76.2907,0,0,1,75.8,75.9h52.6v-.1h.3A129.1885,129.1885,0,0,0,0,576.5Z" style="fill:#ffc6ef"/><rect class="hidden" x="258.4" y="850.1" width="200.9" height="15.3" style="fill:#ffdff5"/><rect class="hidden" x="258.4" y="881.575" width="200.9" height="15.3" style="fill:#ffdff5"/><rect class="hidden" x="258.4" y="913.05" width="200.9" height="15.3" style="fill:#ffdff5"/><rect class="hidden" x="258.4" y="944.525" width="200.9" height="15.3" style="fill:#ffdff5"/><rect class="hidden" x="258.4" y="975.9625" width="200.9" height="15.3" style="fill:#ffdff5"/><polygon class="hidden" points="459.3 967.4 0 1158.799 0 1160 459.3 1160.01 459.3 967.4" style="fill:#ec93e0"/><rect class="hidden" x="128.9" y="1007.4" width="129.2" height="152.6" style="fill:#d682d9"/><polygon class="hidden" points="258.4 1007.4 128.9 1007.4 128.9 1105.1 258.4 1051.2 363.4 1007.4 258.4 1007.4" style="fill:#ffdff5"/><path class="hidden" d="M602.2,907.8h93.7a130.6629,130.6629,0,0,0-28.1-7.5H628.6a126.4072,126.4072,0,0,0-17.7,3.9Z" style="fill:#d682d9"/><path class="hidden" d="M719.8,920.1H576.6a109.7109,109.7109,0,0,0-10.4,7.5h164A109.74,109.74,0,0,0,719.8,920.1Z" style="fill:#d682d9"/><path class="hidden" d="M743.5,939.9H552.9q-3.45,3.6-6.6,7.5H750.1Q746.95,943.5,743.5,939.9Z" style="fill:#d682d9"/><path class="hidden" d="M759,959.7H537.4c-1.5,2.4-3,4.9-4.4,7.5H763.4C762,964.6,760.5,962.1,759,959.7Z" style="fill:#d682d9"/><path class="hidden" d="M769.3,979.5H527.1c-1.1,2.5-2,5-2.9,7.5h248C771.3,984.4,770.4,981.9,769.3,979.5Z" style="fill:#d682d9"/><path class="hidden" d="M775.8,999.3H520.6c-.6,2.5-1.1,5-1.6,7.5H777.4C776.9,1004.2,776.4,1001.7,775.8,999.3Z" style="fill:#d682d9"/><path class="hidden" d="M779,1019.5H517.4c-.2,2.3-.3,4.7-.4,7H779.4C779.3,1024.2,779.2,1021.9,779,1019.5Z" style="fill:#d682d9"/><path class="hidden" d="M779.1,1039.4H517.3c.1,2.5.4,5,.7,7.5H778.4C778.7,1044.4,779,1041.9,779.1,1039.4Z" style="fill:#d682d9"/><path class="hidden" d="M776.2,1059.2h-256c.5,2.5,1.2,5,1.9,7.5H774.3C775,1064.2,775.7,1061.7,776.2,1059.2Z" style="fill:#d682d9"/><path class="hidden" d="M770.1,1079H526.4q1.5,3.75,3.3,7.5H766.8Z" style="fill:#d682d9"/><path class="hidden" d="M760.1,1098.7H536.3c1.6,2.6,3.3,5.1,5,7.5H755.1C756.9,1103.8,758.5,1101.3,760.1,1098.7Z" style="fill:#d682d9"/><path class="hidden" d="M745.3,1118.5h-194a104.6106,104.6106,0,0,0,7.4,7.5H737.8Q741.55,1122.4,745.3,1118.5Z" style="fill:#d682d9"/><path class="hidden" d="M722.5,1138.3H574a139.1342,139.1342,0,0,0,12.3,7.5H710.2Q716.5,1142.35,722.5,1138.3Z" style="fill:#d682d9"/><path class="hidden" d="M460.6019,834.5H780V705.8l-292.9143.0006c-2.8094,6.5227-5.4294,13.2323-7.8608,20.0364l-.023-.037a289.1826,289.1826,0,0,0-8.8,29.2l.0483-.0158c-.0166.0383-.0317.0775-.0483.1158a320.5132,320.5132,0,0,0-9.7938,78.1h-.0062Z" style="fill:#ffdff5"/><path class="hidden" d="M780,705.8V515.8637A323.2775,323.2775,0,0,0,486.8876,705.8Z" style="fill:#ffc6ef"/><rect class="hidden" x="128.9" y="850.1" width="129.5" height="15.3" style="fill:#ffc6ef"/><rect class="hidden" x="128.9" y="881.6" width="129.5" height="15.3" style="fill:#ffc6ef"/><rect class="hidden" x="128.9" y="913.05" width="129.5" height="15.3" style="fill:#ffc6ef"/><rect class="hidden" x="128.9" y="944.5" width="129.5" height="15.3" style="fill:#ffc6ef"/><rect class="hidden" x="128.9" y="975.95" width="129.5" height="15.3" style="fill:#ffc6ef"/></svg>
          </div>
          <div class="title">
            <div class="icon-title">
              
              <h3 class="common-Uppercase">Performance Management</h3>
            </div>
            <h1>Planning for Peak Performance</h1>
          </div>
        </div>
        <div class="action">
          READ NOW
        </div>
      </a>
    </div>
  </div>
  
</main>

<div class="image-container">
  <div class="overlay"></div>
  <div class="image">
    <div class="shadow"></div>
  </div>
</div>


    </div>

    <% include ./footer %>

  </body>

</html>
