<section class="sdlc-container">  
  <div class="sdlc-description">
   
    <h2 class="title-link h2">All your DevOps and IT Ops needs in one place.</h2>
    
    <p></p>
    <p> <span class="highlight">With Fyipe, you get a complete DevOps toolchain out-of-the-box. </span>One interface. One conversation. One permission model. Thousands of features. You'll be amazed at everything Fyipe can do today. And we're just getting started.</p>
    <p></p>
  </div>
  <div class="sdlc-table-container">
    <p class="sdlc-table-label separate-application-label" style="right:calc(100% + 37px)">Fyipe can replace</p>
    <div class="sdlc-table">
      <%# Column 1 %>
      <div class="sdlc-column">
        <div class="stage-container">
            <img src="/img/fpo-monitor.svg" alt="Manage">
            <p>Monitoring</p>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p class="categories-text" data-toggle="tooltip" title="Monitor API's.">API Monitoring.</p>
            <p class="categories-text" data-toggle="tooltip" title="Monitor websites.">Website Monitoring.</p>
            <p class="categories-text" data-toggle="tooltip" title="Monitor IoT devices.">IoT Device Monitoring.</p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
            <p class="categories-text" data-toggle="tooltip" title="Monitor servers.">Server Monitoring.</p>
            <p class="categories-text" data-toggle="tooltip" title="Monitor docker containers.">Container Monitoring.</p>
            <p class="categories-text" data-toggle="tooltip" title="Monitor applications.">Application Monitoring.</p>
            <p class="categories-text" data-toggle="tooltip" title="Monitor kubernetes cluster.">Kubernetes Cluster Monitoring.</p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="https://www.pingdom.com/" target="_blank">
              <img alt="One" class="competitor-logo" data-toggle="tooltip" title="Pingdom" data-offset="0px,7px" src="/img/competitors/pingdom.png">
            </a>
          </div>
        </div>
      </div>
      <%# Column %>
      <div class="sdlc-column">
        <div class="stage-container">
            <img src="/img/fpo-oncall.svg" alt="Manage">
            <p>On Call</p>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p class="categories-text" data-toggle="tooltip" title="Rotate calls between members based on availibility.">On-call rotation.</p>
            <p class="categories-text" data-toggle="tooltip" title="Add policy to escalate an alert when a team member is unresponsive.">Escalation Policy.</p>
            <p class="categories-text" data-toggle="tooltip" title="Get rankings on most active and responsive team members.">On-call reporting.</p> 
            <p class="categories-text" data-toggle="tooltip" title="Get alerted whenever there is any incident.">Alerts for incidents.</p>
            <p class="categories-text" data-toggle="tooltip" title="Get Call and SMS alert anywhere in the world.">Call, SMS Global alerts.</p>
            <p class="categories-text" data-toggle="tooltip" title="Teams all around the globe get notified according to their time.">Support for distributed teams.</p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
            <p class="categories-text" data-toggle="tooltip" title="Native apps on your phone to alert you via push notifiations.">Native On-call apps.</p>
            <p class="categories-text" data-toggle="tooltip" title="Our machine learning software notifies your team minutes before incident happens shaving critical minutes of resolution time.">Intelligent On-call alerts.</p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="https://www.pagerduty.com/" target="_blank">
              <img alt="One" class="competitor-logo" data-toggle="tooltip" title="PagerDuty" data-offset="0px,7px" src="/img/competitors/pager-duty.png">
            </a>
          </div>
        </div>
      </div>
      <%# End of column %>
      <%# Column %>
      <div class="sdlc-column">
        <div class="stage-container">
            <img src="/img/fpo-status-line.svg" alt="Manage">
            <p>Status Page</p>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p class="categories-text" data-toggle="tooltip" title="Showcase your company on status page.">Custom branding.</p>
            <p class="categories-text" data-toggle="tooltip" title="View status of any resource in realtime.">Realtime Status.</p>
            <p class="categories-text" data-toggle="tooltip" title="Add your company subdomain on status page.">Custom Subdomain.</p>
            <p class="categories-text" data-toggle="tooltip" title="Post investigation notes for your customer and your internal team to see">Investigation Notes.</p>
            <p class="categories-text" data-toggle="tooltip" title="Status pages that only your team can view.">Private Status Pages.</p>
            <p class="categories-text" data-toggle="tooltip" title="Have different status pages for different teams and customer segments.">Multiple status pages.</p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
          <p class="categories-text" data-toggle="tooltip" title="Get notified before you break SLA contracts with your customers.">SLA alerts.</p>
            <p class="categories-text" data-toggle="tooltip" title="Show status of third party service you depend on (like AWS, Digital Ocean, etc)">Show status of third party services.</p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="https://www.statuspage.io/" target="_blank">
              <img alt="One" class="competitor-logo" data-toggle="tooltip" title="Statuspage.io" data-offset="0px,7px" src="/img/competitors/statuspage-logo.png">
            </a>
          </div>
        </div>
      </div>
      <%# End of column %>
      <%# Column %>
      <div class="sdlc-column">
        <div class="stage-container">
            <img src="/img/fpo-apm.svg" alt="Manage">
            <p>Performance Monitoring</p>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p class="categories-text" data-toggle="tooltip" title="Monitor performance of your serverside apps and get notified when you have issues (Memory Leak for example)">Performance Monitoring of your server-side apps.</p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
            <p class="categories-text" data-toggle="tooltip" title="Monitoring of your backend services.">Backend Performance Monitoring.</p>
            <p class="categories-text" data-toggle="tooltip" title="Monitoring of your databases.">Database Performance Monitoring.</p>
            <p class="categories-text" data-toggle="tooltip" title="Monitoring of your mobile apps.">Mobile App Performance Monitoring.</p>
            <p class="categories-text" data-toggle="tooltip" title="Performance monitoring of your browser apps.">Browser App Performance Monitoring.</p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="https://newrelic.com/" target="_blank">
              <img alt="One" class="competitor-logo" data-toggle="tooltip" title="Newrelic" data-offset="0px,7px" src="/img/competitors/newrelic-logo.png">
            </a>
          </div>
        </div>
      </div>
      <%# End of column %>
      <%# Column %>
      <div class="sdlc-column">
        <div class="stage-container">
            <img src="/img/fpo-incidents.svg" alt="Manage">
            <p>Tests</p>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p class="categories-text" data-toggle="tooltip" title="run automated API tests.">API Tests.</p>
            <p class="categories-text" data-toggle="tooltip" title="Run automated website tests and check for page speed, SEO compliance, and more.">Website Tests.</p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
          <p class="categories-text" data-toggle="tooltip" title="Write custom scripts to test anything.">Custom Test Scripts.</p>
            <p class="categories-text" data-toggle="tooltip" title="Test UI automatically just like a user would use it.">Synthetic Interaction Tests.</p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="https://www.getpostman.com/" target="_blank">
              <img alt="One" class="competitor-logo" data-toggle="tooltip" title="Postman" data-offset="0px,7px" src="/img/competitors/postman.png">
            </a>
          </div>
        </div>
      </div>
      <%# End of column %>
      
    </div>
  </div>
</section>
