<section class="sdlc-container sectionBorderTop">
    <div class="sdlc-description">

        <h2 class="title-link h2">All your SRE and IT Ops needs in one place.</h2>

        <p></p>
        <p> <span class="highlight">With Fyipe, you get a complete SRE toolchain out-of-the-box. </span>One interface.
            One conversation. One permission model. Thousands of features. You'll be amazed at everything Fyipe can do
            today.
            And we're just getting started.</p>
        <p></p>
    </div>
    <div class="sdlc-table-container">
        <p class="sdlc-table-label separate-application-label" style="right:calc(100% + 37px)">Fyipe can replace</p>
        <div class="sdlc-table">
            <%# Column 1 %>
            <div class="sdlc-column">
                <div class="stage-container">
                    <img alt="Monitoring" src="/img/fpo-monitor.svg" alt="Manage">
                    <p>Monitoring</p>
                </div>
                <div class="solutions-container">
                    <div class="current-categories">
                        <p class="font-bold">We currently have: </p>
                        <p class="categories-text" data-toggle="tooltip" title="Monitor API's.">API Monitoring.</p>
                        <p class="categories-text" data-toggle="tooltip" title="Monitor websites.">Website Monitoring.
                        </p>
                        <p class="categories-text" data-toggle="tooltip" title="Monitor IoT devices.">IoT Device
                            Monitoring.</p>
                    </div>
                    <div class="future-categories">
                        <p class="font-bold">Coming soon: </p>
                        <p class="categories-text" data-toggle="tooltip" title="Monitor servers.">Server Monitoring.</p>
                        <p class="categories-text" data-toggle="tooltip" title="Monitor docker containers.">Container
                            Monitoring.
                        </p>
                        <p class="categories-text" data-toggle="tooltip" title="Monitor applications.">Application
                            Monitoring.</p>
                        <p class="categories-text" data-toggle="tooltip" title="Monitor kubernetes cluster.">Kubernetes
                            Cluster
                            Monitoring.</p>
                    </div>
                </div>
                <div class="competitors-wrapper">
                    <p class="replace-text font-bold">Fyipe can replace:</p>
                    <div class="competitors-container">
                        <a class="competitor-logo-container" href="/table/pingdom" target="_blank" rel="noopener">
                            <img alt="Pingdom" class="competitor-logo" data-toggle="tooltip" title="Pingdom"
                                data-offset="0px,7px" src="/img/competitors/pingdom.png">
                        </a>
                    </div>
                </div>
            </div>
            <%# Column %>
            <div class="sdlc-column">
                <div class="stage-container">
                    <img alt="On Call" src="/img/fpo-oncall.svg" alt="Manage">
                    <p>On Call</p>
                </div>
                <div class="solutions-container">
                    <div class="current-categories">
                        <p class="font-bold">We currently have: </p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Rotate calls between members based on availibility.">On-call rotation.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Add policy to escalate an alert when a team member is unresponsive.">Escalation
                            Policy.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Get rankings on most active and responsive team members.">On-call reporting.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Get alerted whenever there is any incident.">Alerts
                            for incidents.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Get Call and SMS alert anywhere in the world.">Call,
                            SMS Global alerts.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Teams all around the globe get notified according to their time.">Support for
                            distributed teams.
                        </p>
                    </div>
                    <div class="future-categories">
                        <p class="font-bold">Coming soon: </p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Native apps on your phone to alert you via push notifiations.">Native On-call apps.
                        </p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Our machine learning software notifies your team minutes before incident happens shaving critical minutes of resolution time.">
                            Intelligent On-call alerts.</p>
                    </div>
                </div>
                <div class="competitors-wrapper">
                    <p class="replace-text font-bold">Fyipe can replace:</p>
                    <div class="competitors-container">
                        <a class="competitor-logo-container" href="/table/pagerduty" target="_blank" rel="noopener">
                            <img alt="PagerDuty" class="competitor-logo" data-toggle="tooltip" title="PagerDuty"
                                data-offset="0px,7px" src="/img/competitors/pager-duty.png">
                        </a>
                    </div>
                </div>
            </div>
            <%# End of column %>
            <%# Column %>
            <div class="sdlc-column">
                <div class="stage-container">
                    <img alt="Status Page" src="/img/fpo-status-line.svg" alt="Manage">
                    <p>Status Page</p>
                </div>
                <div class="solutions-container">
                    <div class="current-categories">
                        <p class="font-bold">We currently have: </p>
                        <p class="categories-text" data-toggle="tooltip" title="Showcase your company on status page.">
                            Custom
                            branding.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="View status of any resource in realtime.">Realtime
                            Status.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Add your company subdomain on status page.">Custom
                            Subdomain.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Post investigation notes for your customer and your internal team to see">
                            Investigation Notes.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Status pages that only your team can view.">Private
                            Status Pages.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Have different status pages for different teams and customer segments.">Multiple
                            status pages.</p>
                    </div>
                    <div class="future-categories">
                        <p class="font-bold">Coming soon: </p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Get notified before you break SLA contracts with your customers.">SLA alerts.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Show status of third party service you depend on (like AWS, Digital Ocean, etc)">Show
                            status of
                            third party services.</p>
                    </div>
                </div>
                <div class="competitors-wrapper">
                    <p class="replace-text font-bold">Fyipe can replace:</p>
                    <div class="competitors-container">
                        <a class="competitor-logo-container" href="/table/statuspage.io" target="_blank"
                            rel="noopener">
                            <img alt="StatusPage" class="competitor-logo" data-toggle="tooltip" title="Statuspage.io"
                                data-offset="0px,7px" src="/img/competitors/statuspage-logo.png">
                        </a>
                    </div>
                </div>
            </div>
            <%# End of column %>
            <%# Column %>
            <div class="sdlc-column">
                <div class="stage-container">
                    <img alt="Performance Monitoring" src="/img/fpo-apm.svg" alt="Manage">
                    <p>Performance Monitoring</p>
                </div>
                <div class="solutions-container">
                    <div class="current-categories">
                        <p class="font-bold">We currently have: </p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Monitor performance of your serverside apps and get notified when you have issues (Memory Leak for example)">
                            Performance Monitoring of your server-side apps.</p>
                    </div>
                    <div class="future-categories">
                        <p class="font-bold">Coming soon: </p>
                        <p class="categories-text" data-toggle="tooltip" title="Monitoring of your backend services.">
                            Backend
                            Performance Monitoring.</p>
                        <p class="categories-text" data-toggle="tooltip" title="Monitoring of your databases.">Database
                            Performance
                            Monitoring.</p>
                        <p class="categories-text" data-toggle="tooltip" title="Monitoring of your mobile apps.">Mobile
                            App
                            Performance Monitoring.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Performance monitoring of your browser apps.">
                            Browser App Performance Monitoring.</p>
                    </div>
                </div>
                <div class="competitors-wrapper">
                    <p class="replace-text font-bold">Fyipe can replace:</p>
                    <div class="competitors-container">
                        <a class="competitor-logo-container" href="https://newrelic.com/" target="_blank"
                            rel="noopener">
                            <img alt="NewRelic" class="competitor-logo" data-toggle="tooltip" title="Newrelic"
                                data-offset="0px,7px" src="/img/competitors/newrelic-logo.png">
                        </a>
                    </div>
                </div>
            </div>
            <%# End of column %>



        </div>
    </div>
    <div class="sdlc-description" style="margin-top:50px;">

        <h2 class="title-link h2">...and more coming soon.</h2>

        <p></p>
        <p>
            We're currently working on these products and will launch them very soon.</p>
        <p></p>
    </div>
    <div class="sdlc-table-container">
        <p class="sdlc-table-label separate-application-label" style="right:calc(100% + 37px)">Fyipe can replace</p>
        <div class="sdlc-table">
            <%# Column %>
            <div class="sdlc-column">
                <div class="stage-container">
                    <img alt="Tests" src="/img/interface.svg" alt="Manage">
                    <p>Tests</p>
                </div>
                <div class="solutions-container">
                    <!-- <div class="current-categories">
                        <p class="font-bold">We currently have: </p>
                        
                    </div> -->
                    <div class="future-categories">
                        <p class="font-bold">Coming soon: </p>
                        <p class="categories-text" data-toggle="tooltip" title="run automated API tests.">API Tests.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Run automated website tests and check for page speed, SEO compliance, and more.">
                            Website Tests.</p>
                        <p class="categories-text" data-toggle="tooltip" title="Write custom scripts to test anything.">
                            Custom Test
                            Scripts.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Test UI automatically just like a user would use it.">Synthetic Interaction Tests.
                        </p>
                    </div>
                </div>
                <div class="competitors-wrapper">
                    <p class="replace-text font-bold">Fyipe can replace:</p>
                    <div class="competitors-container">
                        <a class="competitor-logo-container" href="https://www.getpostman.com/" target="_blank"
                            rel="noopener">
                            <img alt="Postman" class="competitor-logo" data-toggle="tooltip" title="Postman"
                                data-offset="0px,7px" src="/img/competitors/postman.png">
                        </a>
                    </div>
                </div>
            </div>
            <%# End of column %>
            <%# Column %>
            <div class="sdlc-column">
                <div class="stage-container">
                    <img src="/img/communications.svg" alt="Manage">
                    <p>Logs</p>
                </div>
                <div class="solutions-container">
                    <div class="current-categories">
                        <!-- <p class="font-bold">We currently have: </p>
                        <p class="categories-text" data-toggle="tooltip" title="run automated API tests.">API Tests.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Run automated website tests and check for page speed, SEO compliance, and more.">
                            Website Tests.</p> -->
                    </div>
                    <div class="future-categories">
                        <p class="font-bold">Coming soon: </p>
                        <p class="categories-text" data-toggle="tooltip" title="Manage and monitor application logs in real time.">
                            Application log management</p>
                        <p class="categories-text" data-toggle="tooltip" title="Manage and monitor container and Kubernetes Cluster logs in real time.">
                            Container log management</p>
                        <p class="categories-text" data-toggle="tooltip" title="Search and disect your logs in any way you like.">
                            Log Views: Boards, Graphs, and more</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Alert your ops team if things go wrong.">Alerting
                        </p>
                    </div>
                </div>
                <div class="competitors-wrapper">
                    <p class="replace-text font-bold">Fyipe can replace:</p>
                    <div class="competitors-container">
                        <a class="competitor-logo-container" href="https://www.logdna.com/" target="_blank"
                            rel="noopener">
                            <img alt="LogDNA" class="competitor-logo" data-toggle="tooltip" title="LogDNA"
                                data-offset="0px,7px" src="/img/logdna.png">
                        </a>
                    </div>
                </div>
            </div>
            <%# End of column %>
            <%# Column %>
            <div class="sdlc-column">
                <div class="stage-container">
                    <img src="/img/ui.svg" alt="Manage">
                    <p>Security</p>
                </div>
                <div class="solutions-container">
                    <div class="current-categories">
                        <!-- <p class="font-bold">We currently have: </p>
                        <p class="categories-text" data-toggle="tooltip" title="run automated API tests.">API Tests.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Run automated website tests and check for page speed, SEO compliance, and more.">
                            Website Tests.</p> -->
                    </div>
                    <div class="future-categories">
                        <p class="font-bold">Coming soon: </p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Fix vulnerabilities in containers and Kubernetes applications.">
                            Container Security
                        </p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Automatically detect open source vulnerabilities.">Application Security
                        </p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Monitor your network 24/7 and get notified of network security vulnerabilities.">
                            Network Security
                        </p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Remaining compliant with the open source software licenses in your projects.">License
                            Compliance
                        </p>
                    </div>
                </div>
                <div class="competitors-wrapper">
                    <p class="replace-text font-bold">Fyipe can replace:</p>
                    <div class="competitors-container">
                        <a class="competitor-logo-container" href="https://www.snyk.io/" target="_blank" rel="noopener">
                            <img alt="Snyk" class="competitor-logo" data-toggle="tooltip" title="Snyk"
                                data-offset="0px,7px" src="/img/Snyk.png">
                        </a>
                    </div>
                </div>
            </div>
            <%# End of column %>
            <%# Column %>
            <div class="sdlc-column">
                <div class="stage-container">
                    <img alt="Error Tracking" src="/img/error_tracking.svg" alt="Manage">
                    <p>Error Tracking</p>
                </div>
                <div class="solutions-container">
                    <div class="current-categories">
                        <!-- <p class="font-bold">We currently have: </p>
                        <p class="categories-text" data-toggle="tooltip" title="run automated API tests.">API Tests.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Run automated website tests and check for page speed, SEO compliance, and more.">
                            Website Tests.</p> -->
                    </div>
                    <div class="future-categories">
                        <p class="font-bold">Coming soon: </p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Visibility into your data across environments by building upon and enriching your error data.">
                            Real-time error tracking.</p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Automatically consolidate duplicate error logs.">Intelligent deduplication.
                        </p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="Releases provide additional context, including rich commit data, so you know which errors were addressed and which were introduced for the first time.">
                            Commit and deploy tracking.
                        </p>
                        <p class="categories-text" data-toggle="tooltip"
                            title="On-demand events to handle monthly variance.">On-demand events.
                        </p>
                    </div>
                </div>
                <div class="competitors-wrapper">
                    <p class="replace-text font-bold">Fyipe can replace:</p>
                    <div class="competitors-container">
                        <a class="competitor-logo-container" href="https://www.sentry.io/" target="_blank"
                            rel="noopener">
                            <img alt="Sentry" class="competitor-logo" data-toggle="tooltip" title="Sentry"
                                data-offset="0px,7px" src="/img/sentry.svg">
                        </a>
                    </div>
                </div>
            </div>
            <%# End of column %>
        </div>
    </div>
</section>