<header id="pagmt">
    <h1>Service Level Agreement</h1>
    <p>Please Read Carefully Prior To Using This Product</p>
    <script src="/js/amplitude.js"></script>
    <script>
      var IS_DEV = false;
      if (!IS_DEV) {
        amplitude.getInstance().logEvent('SLA page loaded');
      }
    </script>
</header>

<section>


    <p>This Software Services Agreement, as of the date that You accept this Agreement (defined below) (“Effective
        Date”), is
        hereby entered into and agreed upon by you, either an individual or an entity (“You” or “Company”) and
        HackerBay, AB
        (“HackerBay”).
    </p>

    <p>BY ACCEPTING THIS AGREEMENT, EITHER BY INDICATING YOUR ACCEPTANCE, BY EXECUTING AN ORDER FORM THAT REFERENCES
        THIS AGREEMENT,
        OR BY UTILIZING THE SERVICES (DEFINED BELOW), YOU AGREE TO THIS AGREMEENT. THIS AGREEMENT IS A LEGALLY BINDING
        CONTRACT
        BETWEEN YOU AND HackerBay AND SETS FORTH THE TERMS THAT GOVERN THE LICENSE PROVIDED TO YOU HEREUNDER. IF YOU ARE
        ENTERING
        INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO
        BIND
        SUCH ENTITY TO THIS AGREEMENT. ANY CHANGES, ADDITIONS OR DELETIONS BY YOU TO THIS AGREEMENT WILL NOT BE ACCEPTED
        AND WILL NOT BE A PART OF THIS AGREEMENT. IF YOU DO NOT AGREE TO THIS AGREEMENT, YOU MUST NOT DOWNLOAD, INSTALL,
        OR USE THE SOFTWARE, AND YOU MAY NOT USE THE SERVICES.
    </p>

    <p>HackerBay may modify this Agreement from time to time and will post the most up-to-date version on its website.
        Your continued
        use of the Services and Software following modification to the Services or Software or updated Agreement
        constitutes
        Your consent to be bound by the modified Agreement.
    </p>



    <h3>DEFINITIONS.</h3>

    <p>• “Affiliates” means an entity controlled by, under common control with, or controlling such party, where control
        is
        denoted by having fifty percent (50%) or more of the voting power (or equivalent) of the applicable entity.
        Subject
        to the terms and conditions of this Agreement, Affiliates may use the license granted hereunder.
    </p>
    <p>• “Agreement” means the Software Services Agreement, any applicable Product Addendum, and the Order Form.
    </p>
    <p>• “Client(s)” means, if You are an MSP, Your customer(s).
    </p>
    <p>• “Devices” means (whether physical or virtual) a server, system, workstation, computer, mobile device, or end
        point
        upon which or through the Services are used and/or on which the Software is installed.
    </p>
    <p>• “Documentation” means the official user documentation prepared and provided by HackerBay to You on the use of
        the Services
        or Software (as updated from time to time). For the avoidance of doubt, any online community site; unofficial
        documentation,
        videos, white papers, or related media; or feedback do not constitute Documentation.
    </p>
    <p>• “MSP” means a managed service provider.
    </p>
    <p>• “Order Form” means the HackerBay order page, product information dashboard, or other HackerBay ordering
        document that specifies
        Your purchase of the Services, pricing, and other related information.
    </p>
    <p>
        • “Product Addendum(a)” means additional terms and conditions set forth in Section 16 that relate to the
        applicable Services,
        Software, or Documentation.

    </p>
    <p>• “Services” means the products and software services, including any application programming interface that
        accesses
        functionality, that are provided to You by HackerBay.


    </p>
    <p>
        • “Software” means the object code versions of any downloadable software provided by HackerBay solely for the
        purpose of accessing
        the Services, including but not limited to an agent, together with the updates, new releases or versions,
        modifications
        or enhancements, owned and provided by HackerBay to You pursuant to this Agreement.

    </p>
    <p>• “User” means an individual authorized by You to use the Services, Software, and Documentation, for whom You
        have purchased
        a subscription or to whom You have supplied a user identification and password. User(s) may only include Your
        employees,
        consultants, and contractors, unless You are an MSP, in which case the User(s) may include Your employees,
        consultants,
        contractors, agents, and Clients.


    </p>
    <p>
        • “Your Data” means data, files, or information accessed, used, communicated, stored, or submitted by You or
        Your Users related
        to Your or Your User’s use of the Services or Software.
    </p>











    <h3>
        PROVISION OF SERVICES.</h3>

    <p>
        <strong>2.1 Services License.</strong>
    </p>

    <p>Upon payment of fees and subject to continuous compliance with this Agreement, HackerBay hereby grants You a
        limited, nonexclusive,
        non-transferable license to access, use, and install (if applicable) the Services, Software, and Documentation
        during
        the Term (defined below). HackerBay may deliver the Services or Software to You with the assistance of its
        Affiliates,
        licensors, and service providers. You may provide, make available to, or permit Your Users to use or access the
        Services,
        the Software, or Documentation, in whole or in part.
    </p>
    <p>
        <strong>2.2 Evaluation or Beta License. </strong>
    </p>

    <p>If the Services, Software, and Documentation are provided to You for evaluation, beta, or release candidate
        purposes,
        HackerBay grants to You a limited, nonexclusive, non-transferable evaluation license to use the Services,
        Software,
        and Documentation solely for evaluation prior to purchase or implementation (an “Evaluation License”). You shall
        not use the Evaluation License for production use. The Evaluation License shall terminate on the end date of the
        pre-determined evaluation period or immediately upon notice from HackerBay in its sole discretion.
        Notwithstanding
        any other provision contained herein, the Services, Software, and Documentation provided pursuant to an
        Evaluation
        License are provided to You “AS IS” without indemnification, support, or warranty of any kind, express or
        implied.
        Except to the extent such terms conflict with this Section, all other terms of this Agreement shall apply to
        Services,
        Software, and Documentation licensed under an Evaluation License.
    </p>


    <h3>
        LICENSE RESTRICTIONS; OBLIGATIONS.</h3>

    <p>
        <strong>3.1 License Restrictions. </strong>
    </p>

    <p>You may not (i) provide, make available to, or permit individuals other than Your Users to use or access the
        Services,
        the Software, or Documentation, in whole or in part; (ii) copy, reproduce, republish, upload, post, or transmit
        the
        Services, Software, or Documentation (except for back-up or archival purposes, which will not be used for
        transfer,
        distribution, sale, or installation on Your or Your Users’ Devices); (iii) license, sell, resell, rent, lease,
        transfer,
        distribute, or otherwise transfer rights to the Services, Software, or Documentation unless as authorized in
        this
        Agreement; (iv) modify, translate, reverse engineer, decompile, disassemble, create derivative works, or
        otherwise
        attempt to derive the source code of the Services, Software, or Documentation; (v) create, market, distribute
        add-ons
        or enhancements or incorporate into another product the Services or Software without prior written consent of
        HackerBay;
        (vi) remove any proprietary notices or labels on the Services, Software, or Documentation, unless authorized by
        HackerBay;
        (vii) license the Services, Software, or Documentation if You (or any of Your Users) are a direct competitor of
        HackerBay
        for the purposes of monitoring the availability, performance, or functionality or for any other benchmarking or
        competitive
        purposes; (viii) use the Services or Software to store or transmit infringing, libelous, unlawful, or tortious
        material
        or to store or transmit material in violation of third party rights, including privacy rights; (ix) use the
        Services
        or Software to violate any rights of others; (x) use the Services or Software to store or transmit malicious
        code,
        Trojan horses, malware, spam, viruses, or other destructive technology (“Viruses”); (xi) interfere with, impair,
        or disrupt the integrity or performance of the Services or any other third party’s use of the Services; (xii)
        use
        the Services in a manner that results in excessive use, bandwidth, or storage; or (xii) alter, circumvent, or
        provide
        the means to alter or circumvent the Services or Software, including technical limitations, recurring fees, or
        usage
        limits.

    </p>
    <p>
        <strong>3.2 Your Obligations.</strong>
    </p>

    <p>You acknowledge, agree, and warrant that: (i) You will be responsible for Your and Your Users’ activity and
        compliance
        with this Agreement, and if You become aware of any violation, You will immediately terminate the offending
        party’s
        access to the Services, Software, and Documentation and notify HackerBay; (ii) You and Your Users will comply
        with
        all applicable local, state, federal, and international laws; (iii) You will establish a constant internet
        connection
        and electrical supply for the use of the Services, ensure the Software is installed on a supported platform as
        set
        forth in the Documentation, and the Services and Software are used only with public domain or properly licensed
        third
        party materials; (iv) You will install the latest version of the Software on Devices accessing or using the
        Services;
        (v) You have obtained sufficient consent and rights to access, use and store Your Data and any other system or
        network
        and will be solely responsible for the accuracy, security, quality, integrity, and legality of the same; and
        (vi)
        You will keep your registration information, billing information, and technical data accurate, complete, and
        current
        for as long as You subscribe to the Services, Software and Documentation. If You are a MSP, You further
        acknowledge,
        agree, and warrant that: (i) You have sufficient technical infrastructure, knowledge, and expertise to perform
        Your
        duties for Your Clients; (ii) You will provide all sales, problem resolution, and support services to Your
        Client(s);
        (iii) You will be responsible for billing, invoicing, and collection for Your Clients; and (iv) You will operate
        at Your own expense and risk under Your own name as an MSP.

    </p>

    <h3>
        PROPRIETARY RIGHTS.</h3>

    <p>
        <strong>4.1 Ownership of HackerBay Intellectual Property. </strong>
    </p>

    <p>The Services, Software, and Documentation are licensed, not sold. Use of “purchase” in conjunction with licenses
        of the
        Services, Software and Documentation shall not imply a transfer of ownership. Except for the limited rights
        expressly
        granted by HackerBay to You, You acknowledge and agree that all right, title and interest in and to all
        copyright,
        trademark, patent, trade secret, intellectual property (including without limitation algorithms, business
        processes,
        improvements, enhancements, modifications, derivative works, information collected and analyzed in connection
        with
        the Services) and other proprietary rights, arising out of or relating to the Services, the Software, the
        provision
        of the Services or Software, and the Documentation, belong exclusively to HackerBay or its suppliers or
        licensors.
        All rights, title, and interest in and to content, which may be accessed through the Services or the Software,
        is
        the property of the respective owner and may be protected by applicable intellectual property laws and treaties.
        This Agreement gives You no rights to such content, including use of the same. HackerBay and its Affiliates are
        hereby
        granted a royalty-free, fully-paid, worldwide, exclusive, transferable, sub-licensable, irrevocable and
        perpetual
        license to use or incorporate into its products and services any information, data, suggestions, enhancement
        requests,
        recommendations or other feedback provided by You or Your Users relating to the Services or Software. All rights
        not expressly granted under this Agreement are reserved by HackerBay.


    </p>
    <p>
        <strong>4.2 Ownership of Your Data. </strong>
    </p>

    <p>You and Your Users retain all right, title, and interest in and to all copyright, trademark, patent, trade
        secret, intellectual
        property and other proprietary rights in and to Your Data. HackerBay’s right to access and use the same are
        limited
        to those expressly granted in this Agreement. No other rights with respect to Your Data are implied.

    </p>


    <h3>
        TERM; TERMINATION.</h3>




    <p>• Term. Unless terminated earlier in accordance with this Section, this Agreement will begin on the Effective
        Date and
        will continue until the end of the period specified in the applicable Order Form (the “Initial Term”). You
        authorize
        HackerBay to automatically renew the applicable Services upon the expiration of the Initial Term (each a
        “Renewal Term,”
        and collectively with the Initial Term, the “Term”). The Renewal Term will be the same length as the Initial
        Term
        unless otherwise specified by HackerBay at the time of renewal.



    </p>
    <p> • Your Termination Rights.</p>

    <p>5.2.1 Monthly Term. You may terminate this Agreement by providing HackerBay with written notice of Your intention
        to terminate
        this Agreement prior to the end of the current Term. Termination will take effect after the relevant Term is
        completed.</p>

    <p>5.2.2 Annual or Other Term. After the Initial Term, You may terminate the Agreement by providing HackerBay with
        written
        notice of Your intention to terminate the Agreement. Termination will take effect on the first day of the full
        month
        after receipt of the termination notice.</p>

    <p>5.3 HackerBay Suspension or Termination Rights. HackerBay may suspend or terminate this Agreement upon thirty
        (30) day prior
        written notice or immediately if You become subject to bankruptcy or any other proceeding relating to
        insolvency,
        receivership, liquidation, or assignment for the benefit of creditors; You infringe or misappropriate
        HackerBay’s intellectual
        property; You breach this Agreement or Order Form, including failure to make any payment of fees when due; or
        pursuant
        to the receipt of a subpoena, court order, or other request by a law enforcement agency.</p>

    <p>5.4 Effect of Termination. Termination shall not relieve You of the obligation to pay any fees or other amounts
        accrued
        or payable to HackerBay through the end of the current Term. You shall not receive a credit or refund for any
        fees
        or payments made prior to termination. You will retrieve Your Data or copies of Your Data from HackerBay prior
        to the
        effective termination date. Upon termination of this Agreement, You acknowledge and agree that HackerBay will
        delete
        Your Data. Your Data, once deleted, is not able to be recovered. Without prejudice to any other rights, upon
        termination,
        You must cease all use of the Services, Software, and Documentation and destroy or return (upon request by
        HackerBay)
        all copies of the Services, Software, and Documentation. Sections 1, 3, 4, 5.4, 7, 8, 10, 11, 12, 13, 14, 15,
        and
        16 (if applicable) shall survive any termination or expiration of this Agreement.</p>

    </p>













    <h3>UPGRADING/DOWNGRADING ACCOUNT TYPE.</h3>
    <p>You may, at anytime during the Term, upgrade or downgrade to a different HackerBay account type. The change in
        account
        type will take effect immediately. After an upgrade in account type, You will be billed immediately for the
        additional
        fees due under the upgraded account type for the remaining time of the applicable Term. The amount due and
        owning
        for the upgraded account type will be reduced by what the amount You have already paid for the applicable Term.
        In
        regard to a downgraded account type, You will be billed the fees due for the downgraded account type at the
        commencement
        of the Renewal Term.</p>

    <h3>FEES AND PAYMENT.</h3>
    <p>All orders placed will be considered final upon acceptance by HackerBay. Fees will be due and payable as set
        forth on the
        Order Form. Unless otherwise set forth herein, fees shall be at HackerBay’s then-standard rates at the time of
        invoice
        or, if applicable, as set forth in the Order Form. If You fail to pay, HackerBay shall be entitled, at its sole
        discretion,
        to: (i) suspend provision of the Services until You fulfill Your pending obligations; (ii) charge You an
        interest
        rate designated by HackerBay at the time of invoice; (iii) terminate this Agreement. If applicable, if You
        exceed the
        license capacity designated in Your Order Form, in addition to HackerBay’s other remedies, You will be charged
        additional
        fees, which will be reflected in Your invoice. Unless otherwise stated, all payments made under this Agreement
        shall
        be in United States dollars. Fees are non-refundable.</p>

    <h3>TAXES.</h3>
    <p>All fees are exclusive of taxes, and You shall pay or reimburse HackerBay for all taxes arising out of
        transactions contemplated
        by this Agreement. If You are required to withhold any tax for payments due, You shall gross Your payments to
        HackerBay
        so that HackerBay receives sums due in full, free of any deductions. You will provide documentation to HackerBay
        showing
        that taxes have been paid to the relevant taxing authority. “Taxes” means any sales, VAT, use, and other taxes
        (other
        than taxes on HackerBay’s income), export and import fees, customs duties and similar charges imposed by any
        government
        or other authority. You hereby confirm that HackerBay can rely on the name and address that You provide to
        HackerBay
        when You agree to the fees or in connection with Your payment method as being the place of supply for sales tax
        and
        income tax purposes or as being the place of supply for VAT purposes where You have established Your business.
    </p>

    <h3>DATA; DATA PROTECTION.</h3>
    <p>9.1 Data. HackerBay agrees that Your Data, if categorized in accordance with Section 9, shall be treated as
        confidential
        by HackerBay. You agree that You and Your Users are responsible for maintaining and protecting backups of Your
        Data
        directly or indirectly processed using the Services and that HackerBay is not responsible for exportation of,
        the failure
        to store, the loss, or the corruption of Your Data. You agree that HackerBay and its Affiliates will collect,
        access,
        process, and use technical and related information about You, Your Users and Your and Your Users’ use of the
        Services
        and Software, including Your internet protocol address, the hardware and software that You utilize, and various
        usage
        statistics, to assist with the necessary operation and function of the Services and Software and to facilitate
        in
        the provision of updates, support, invoicing, marketing, and research and development. As a reminder, HackerBay
        Privacy
        Statement can be found on HackerBay’s website, and HackerBay may update its Privacy Statement from time to time.
        HackerBay
        may remove Your Data or any other data, information, or content of data or files used, stored, processed or
        otherwise
        by You or Your Users that HackerBay, in its sole discretion, believes to be or is: (a) a Virus; (b) illegal,
        libelous,
        abusive, threatening, harmful, vulgar, pornographic, or obscene; (c) used for the purpose of spamming, chain
        letters,
        or dissemination of objectionable material; (d) used to cause offense, defame or harass; or (e) infringing the
        intellectual
        property rights or any other rights of any third party.</p>

    <p>Data Protection. Each party shall comply with its respective obligations under applicable data protection laws.
        You and
        Your Users warrant that through Your use of the Services during the Term: (i) in respect of the personal data
        You
        or Your Users collect, use, process, access, or disclose, You alone shall determine the purpose for and manner
        in
        which personal data is, or will be, processed, if any; (ii) You warrant that You have obtained all necessary
        consents
        from Your Users or any other third party required under applicable law: (a) to disclose or process their
        personal
        data to HackerBay, its Affiliates or their respective agents and (b) for HackerBay, its Affiliates or their
        respective
        agents to collect, use, process, access, or disclose the personal data set forth herein or as otherwise
        designated
        by You or Your Users; (iii) in the event You are located only in the European Union, (x) You are the data
        controller
        of all personal data You or Your Users may process and (y) HackerBay, its Affiliates or their respective agents
        are
        the data processors in respect of the personal data processed as provided by You. You agree that Your, Your
        Users’,
        and any third party personal data provided to HackerBay, its Affiliates or their respective agents may be
        stored, transferred,
        and processed by HackerBay, its Affiliates or their respective agents in any country in which HackerBay, its
        Affiliates
        or their respective agents maintain facilities or personnel, and You and Your Users consent to any such transfer
        of the personal data outside of Your (or Your Users’) country. You warrant and undertake that any instructions
        given
        by You to HackerBay, its Affiliates or their respective agents will be in accordance with applicable law.</p>
    <h3>CONDFIDENTIAL INFORMATION.</h3>
    <p>As used in this Agreement, "Confidential Information" means any nonpublic information or materials disclosed by
        either
        party to the other party, either directly or indirectly, in writing, orally, or by inspection of tangible
        objects
        that the disclosing party clearly identifies as confidential or proprietary. HackerBay Confidential Information
        includes
        the Services, Software, and any information or materials relating to the Services, Software (including pricing),
        or otherwise. Confidential Information may also include confidential or proprietary information disclosed to a
        disclosing
        party by a third party. The receiving party will: (i) hold the disclosing party’s Confidential Information in
        confidence
        and use reasonable care to protect the same; (ii) restrict disclosure of such Confidential Information to those
        of
        its employees or agents with a need to know such information and who are under a duty of confidentiality
        respecting
        the protection of confidential information, which is substantially similar to those of this Agreement and which
        would
        extend to the disclosing party's Confidential Information; (iii) use such Confidential Information only for the
        purposes
        for which it was disclosed, unless otherwise set forth herein. The restrictions will not apply to Confidential
        Information
        to the extent it (i) is, or through no fault of the recipient has become, generally available to the public;
        (ii)
        was lawfully received by the receiving party from a third party without such restrictions; (iv) was known to the
        receiving party without such restrictions prior to receipt from the disclosing party; (v) was independently
        developed
        by the receiving party without breach of this Agreement or access to or use of the Confidential Information. The
        recipient may disclose Confidential Information to the extent the disclosure is required by law, regulation, or
        judicial
        order, provided that the receiving party will provide to the disclosing party prompt notice, where permitted, of
        such order and will take reasonable steps to contest or limit the steps of any required disclosure. The parties
        agree
        that any material breach of Section 3 or this Section will cause irreparable injury and that injunctive relief
        in
        a court of competent jurisdiction will be appropriate to prevent an initial or continuing breach of these
        Sections
        in addition to any other relief to the applicable party may be entitled.</p>


    <h3>DISCLAIMER.</h3>
    <p>THE SERVICES, SOFTWARE, DOCUMENTATION, AND ALL OTHER PRODUCTS AND SERVICES PROVIDED HEREUNDER, INCLUDING THIRD
        PARTY
        HOSTED SERVICES, ARE PROVIDED ON “AS IS” AND “AS IS AVAILABLE” BASIS. HackerBay DISCLAIMS ALL REPRESENTATIONS
        AND WARRANTIES
        OF ANY KIND, EXPRESS, IMPLIED, OR STATUTORY, INCLUDING ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
        PARTICULAR
        PURPOSE, TITLE, NON-INFRINGEMENT, ACCURACY, RELIABILITY, SECURITY, CONTINUITY, OR ABSENCE OF DEFECT RELATING TO
        THE
        SERVICES, SOFTWARE, DOCUMENTATION, ANY OTHER PRODUCT OR SERVICES, OR RESULTS OF THE SAME PROVIDED TO YOU UNDER
        THIS
        AGREEMENT. HackerBay DOES NOT WARRANT THAT THE SPECIFICATIONS OR FUNCTIONS CONTAINED IN THE SERVICES OR SOFTWARE
        WILL
        MEET YOUR REQUIREMENTS OR THAT DEFECTS IN THE SERVICES OR SOFTWARE WILL BE CORRECTED. YOUR ACCESS, INSTALLATION,
        AND USE OF THE SOFTWARE AND SERVICES ARE AT YOUR SOLE DISCRETION AND RISK, AND YOU ARE SOLELY RESPONSIBLE FOR
        ANY
        DAMAGES TO YOUR DEVICE(S) OR THE LOSS OR CORRUPTION OF YOUR DATA. HackerBay ALSO SPECIFICALLY DISCLAIMS
        RESPONSIBILITY
        OF THIRD PARTY PRODUCTS AND SERVICES WITH WHICH YOU MAY UTILIZE THE SERVICES AND SOFTWARE, AND YOU SPECIFICALLY
        DISCLAIM
        AND WAIVE ANY RIGHTS AND CLAIMS YOU MAY HAVE AGAINST HackerBay WITH RESPECT TO SUCH THIRD PARTY PRODUCTS AND
        SERVICES,
        TO THE MAXIMUM EXTENT PERMITTED BY LAW.</p>

    <h3>INDEMNIFICATION.</h3>
    <p>12.1 HackerBay Indemnification. HackerBay will indemnify, defend, and hold You harmless from any third party
        claim brought
        against You that the Services, as provided by HackerBay, infringe or misappropriate any U.S. patent, copyright,
        trademark,
        trade secret, or other intellectual property rights of a third party, provided (i) use of the Services by You or
        Your Users is in conformity with the Agreement and Documentation; (ii) the infringement is not caused by
        modification
        or alteration of the Services; and/or (iii) the infringement was not caused by a combination or use of the
        Services
        with products not supplied by HackerBay. HackerBay indemnification obligations are contingent upon You: (i)
        promptly
        notifying HackerBay in writing of the claim; (ii) granting HackerBay sole control of the selection of counsel,
        defense,
        and settlement of the claim; and (iii) providing HackerBay with reasonable assistance, information and authority
        required
        for the defense and settlement of the claim. This Section states HackerBay’s entire liability (and shall be Your
        sole
        and exclusive remedy) with respect to indemnification to You.</p>

    <p>12.2 Your Indemnification. You agree to indemnify, defend, and hold harmless HackerBay, its Affiliates and their
        respective,
        directors, employees, and agents from and against any claims asserted by any third party arising out of or due
        to:
        (i) Your Data; (ii) Your (or Your User’s) breach of this Agreement; (iii) Your (or Your User’s) use of the
        Services,
        Software, or Documentation in violation of third party rights, including any intellectual property rights, or
        any
        applicable laws, or (iv) Your (or Your User’s) misuse of the Services, Software, or Documentation.</p>

    <h3>LIMITATION OF LIABILITY.</h3>
    <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, (I) IN NO EVENT WILL HackerBay, ITS AFFILIATES AND THEIR
        RESPECTIVE
        DIRECTORS, EMPLOYEES, OR AGENTS HAVE ANY LIABILITY, CONTINGENT OR OTHERWISE, FOR ANY INDIRECT, SPECIAL,
        INCIDENTAL,
        CONSEQUENTIAL, PUNITIVE, STATUTORY OR EXEMPLARY DAMAGES ARISING OUT OF OR RELATING TO THIS AGREEMENT, THE
        SERVICES,
        SOFTWARE, DOCUMENTATION, OR ANY OTHER PRODUCTS OR SERVICES PROVIDED HEREUNDER, INCLUDING, BUT NOT LIMITED TO
        LOST
        PROFITS, LOST OR CORRUPTED DATA, LOSS OF GOODWILL, WORK STOPPAGE, EQUIPMENT FAILURE OR MALFUNCTION, PROPERTY
        DAMAGE
        OR ANY OTHER DAMAGES OR LOSSES, EVEN IF A PARTY HAS BEEN ADVISED OF THE POSSIBILITY THEREOF, AND REGARDLESS OF
        THE
        LEGAL OR EQUITABLE THEORY (CONTRACT, TORT, STATUTE, INDEMNITY OR OTHERWISE) UPON WHICH ANY SUCH LIABILITY IS
        BASED;
        AND (II) THE AGGREGATE LIABILITY OF HackerBay, ITS AFFILIATES AND THEIR RESPECTIVE DIRECTORS, EMPLOYEES, AND
        AGENTS,
        AND THE SOLE REMEDY AVAILABLE TO YOU ARISING OUT OF OR RELATING TO THIS AGREEMENT, THE SERVICES, SOFTWARE, OR
        ANY
        PRODUCTS OR SERVICES PROVIDED HEREUNDER SHALL BE LIMITED TO TERMINATION OF THIS AGREEMENT AND DAMAGES NOT TO
        EXCEED
        THE TOTAL AMOUNT PAYABLE OR PAID TO HackerBay UNDER THIS AGREEMENT DURING THE TWELVE MONTHS PRIOR TO
        TERMINATION.</p>

    <h3>THIRD PARTY PROGRAMS.</h3>
    <p>You may receive access to third party programs through the Services or Software, or third party programs may be
        bundled
        with the Services or Software. These third party software programs are governed by their own license terms,
        which
        may include open source or free software licenses, and those terms will prevail over this Agreement as to Your
        use
        of the third party programs. Nothing in this Agreement limits Your or Your Users’ rights under, or grants You or
        Your User rights that supersede, the terms of any such third party program.</p>

    <h3>GENERAL.</h3>
    <p>15.1 Notices. All notices must be in writing and shall be mailed by registered or certified mail, or sent via
        email to
        legal_team@hackerbay.io (with evidence of effective transmission). All notices must be addressed to Legal
        Department,
        2711 Centerville Road, Suite 400, Wilmington, New Castle County, Delaware 19808.</p>

    <p>15.2 Entire Agreement. This Agreement constitutes the entire agreement between the parties relating to the
        Services,
        Software, and Documentation provided hereunder and supersedes all prior or contemporaneous communications,
        agreements
        and understandings, written or oral, with respect to the subject matter hereof. If other HackerBay terms or
        conditions
        conflict with this Agreement, this Agreement shall prevail and control with respect to the Services, Software,
        and
        Documentation provided hereunder. In addition, any and all additional or conflicting terms provided by You,
        whether
        in a purchase order, an alternative license, or otherwise, shall be void and shall have no effect.</p>

    <p>15.3 Export Control Laws. The Services, Software, and Documentation delivered to You under this Agreement are
        subject
        to export control laws and regulations and may also be subject to import and export laws of the jurisdiction in
        which
        it was accessed, used, or obtained, if outside those jurisdictions. You shall abide by all applicable export
        control
        laws, rules, and regulations applicable to the Services, Software, and Documentation. You agree that You are not
        located in or are not under the control of or a resident of any country, person, or entity prohibited to receive
        the Services, Software, or Documentation due to export restrictions and that You will not export, re-export,
        transfer,
        or permit the use of the Services, Software, or Documentation, in whole or in part, to or in any of such
        countries
        or to any of such persons or entities.</p>

    <p>15.4 Modifications. Unless as otherwise set forth herein, this Agreement shall not be amended or modified by You
        except
        in a writing signed by authorized representatives of each party.</p>

    <p>15.5 Severability. If any provision of this Agreement is held to be unenforceable, illegal, or void, that shall
        not affect
        the enforceability of the remaining provisions. The parties further agree that the unenforceable provision shall
        be deemed replaced by a provision that is binding and enforceable and that differs as little as possible from
        the
        unenforceable provision, with considerations of the object and purpose of this Agreement.</p>

    <p>15.6 Waiver. The delay or failure of either party to exercise any right provided in this Agreement shall not be
        deemed
        a waiver.</p>

    <p>15.7 Force Majeure. HackerBay will not be liable for any delay or failure to perform obligations under this
        Agreement due
        to any cause beyond its reasonable control, including acts of God; labor disputes; industrial disturbances;
        systematic
        electrical, telecommunications or other utility failures; earthquakes, storms, or other elements of nature;
        blockages;
        embargoes; riots; acts or orders of government; acts of terrorism; and war.</p>

    <p>15.8 Construction. Paragraph headings are for convenience and shall have no effect on interpretation.</p>

    <p>15.9 Governing Law. This Agreement shall be governed by the laws of the State of Delaware and of the United
        States, without
        regard to any conflict of laws provisions, except that the United Nations Convention on the International Sale
        of
        Goods and the provisions of the Uniform Computer Information Transactions Act shall not apply to this Agreement.
        You hereby consent to jurisdiction of the state and federal courts of Delaware.</p>

    <p>15.10 Third Party Rights. Other than as expressly provided herein, this Agreement does not create any rights for
        any
        person who is not a party to it, and no person not a party to this Agreement may enforce any of its terms or
        rely
        on an exclusion or limitation contained in it.</p>

    <p>15.11 U.S. Government Use. HackerBay’s Services, Software and Documentation were developed exclusively at private
        expense
        and are a “commercial item” as defined in FAR 2.101, and any supplement is provided with no greater than
        RESTRICTED
        RIGHTS. Such Services, Software, Documentation, and related items consist of “commercial computer software,”
        “commercial
        computer software documentation,” and commercial technical data as defined in the applicable acquisition
        regulations,
        including FAR 2.101 and FAR Part 12. Use, duplication, release, modification, transfer, or disclosure ("Use") of
        the Services, Software, and Documentation are restricted by this Agreement and in accordance with DFARS Section
        227.7202
        and FAR Section 12.212, and the Services, Software, and Documentation are licensed (i) only as commercial items;
        and (ii) with only the rights granted to commercial end users pursuant to this Agreement. Such Use is further
        restricted
        by FAR 52.227-14, 252.227-7015, or similar acquisition regulations, as applicable and amended. Except as
        described
        herein, all other Use is prohibited. This Section is in lieu of, and supersedes, any other FAR, DFARS, or other
        clause
        addressing Government rights under this Agreement or any other contract under which the Services, Software, or
        Documentation
        is acquired or licensed. Manufacturer is HackerBay, Inc., 2711 Centerville Road, Suite 400, Wilmington, New
        Castle County, Delaware 19808.</p>
</section>