<header id="pagmt">

  <h1>SOC 3</h1>

  <p>Service Organization Control (SOC) Reports</p>
  <script src="/js/amplitude.js"></script>
  <script>
    var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
    if (IS_SAAS_SERVICE) {
      amplitude.getInstance().logEvent('SOC3 page viewed');
    }
  </script>
</header>

<section>

  <h3>Introduction</h3>

  <p>A Service Organization Control 3 (Soc 3) report outlines information related to a service organization's internal
    controls for security, availability, processing integrity, confidentiality or privacy.
  </p>

  <h3>SOC 3 Report</h3>


  <p>Fyipe has undergone SOC 3 audit and our SOC 3 report is available for download <a href="/files/soc-3.pdf"
      target="_blank">here.</a> </p>

  <p> For all other matters please
    contact: soc@hackerbay.io</p>
</section>