<!DOCTYPE html>
<html lang="en" id="contact">

<head>
    <meta charset="utf-8">
    <title>Fyipe | Status Page</title>

    <meta name="description"
        content="Fyipe monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
    <% include ./head %>
    <link rel="stylesheet" href="/css/shared-site.css"  >
    <link rel="stylesheet" href="/css/shared-site.css">
    <link rel="stylesheet" href="/css/home.css"  >
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/products.css"  >
    <link rel="stylesheet" href="/css/products.css">
    <script src="/js/amplitude.js"></script>
    <script async>
        var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
        if (IS_SAAS_SERVICE) {
            amplitude.getInstance().logEvent('Status Page page viewed');
        }
    </script>
</head>

<body>

    <% include ./nav %>

    <div class="globalContent">
        <div id="main-content">

            <section class="marquee nav-animation-element">

                <div id="bubble-overlay">
                    <div class="content">
                        
                        <header>
                            <h1 class="Header-title common-PageTitle header-font header-size black">Status Page</h1>
                            <p style="margin-top:50px"><i>Downtime happens.</i> <span class="highlight">&nbsp;Status Page helps you be more transparent with your customers and showcase reliability.</span> Easily communicate real-time status to your customers, gain trust and increase revenue. </p>
                        </header>

                    </div>
                    
                </div>

            </section>
            <div style="display:flex; justify-content:center; margin-top:50px">
                <img src="/img/status-page.png" width="900" class="imageshadow" alt="Status page" id="status-page"/>
            </div>

            <section class="main basics">
                <div class="content">
                    <ul class="columns">
                        <li class="trend">
                            <h3>Realtime Status</h3>
                            <p class="text-center">Show realtime status of your product or service - home page, 
                                websites, API, dashboards or more.</p>
                        </li>
                        <li class="cost">
                            <h3>Cut Support Costs</h3>
                            <p class="text-center">Communicate any incidents through a status page.
                                This saves your customers from creating a flood of support tickets. </p>
                        </li>
                        <li class="reli">
                            <h3>Showcase Reliability</h3>
                            <p class="text-center">Showcase the reliability of your platform and compliance with your SLA
                                and build trust with your customers.</p>
                        </li>
                        
                    </ul>

                    <ul class="columns">
                        <li class="note">
                            <h3>Post Investigation Notes</h3>
                            <p class="text-center"> Have your team post notes and post-mortem when incidents happen and increase transparency and trust with customers.</p>
                        </li>
                        <li class="security">
                            <h3>SLA Compliance</h3>
                            <p class="text-center">Have Fyipe certify your SLA compliance and showcase that to your existing and potential customers.</p>
                        </li>
                        <li class="moni">
                            <h3>Monitor Anything.</h3>
                            <p class="text-center">An endpoint, applications, a container, cluster, network, or
                                anything else. You name it. We monitor all of
                                them for you. </p>
                        </li>
                        
                    </ul>

                </div>
                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Unlimited Subscribers</h2>
                    <p class="common-BodyText"> Have any number of your customers subscribe to your status page, get alerts when services are down or degraded. </p>
                </header>
                <div class="content">
                    <ul class="columns">
                        <li class="sms">
                            <h3>Email, SMS and more</h3>
                            <p class="text-center">Your customers can pick from different types of notifications channels - Email, SMS, RSS, Webhooks, or Atom Feeds.</p>
                        </li>
                        <li class="notification1">
                            <h3>Branded Notifications</h3>
                            <p class="text-center">You can -label or brand notification messages to your subscribers to suit your brand.  </p>
                        </li>
                        <li class="callcenter">
                            <h3>Improved Experience</h3>
                            <p class="text-center"> Notify customers proactively when services are down or degraded. This improves trust and customer experience.</p>
                        </li>
                    </ul>
                </div>

                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Branding and Customization</h2>
                    <p class="common-BodyText"> Customize your status page and make it look like your brand. </p>
                </header>
                <div class="content">
                    <ul class="columns">
                        <li class="paint">
                            <h3>Colors and styling.</h3>
                            <p class="text-center">Our status page comes in multiple templates, change colors or styling to make it look like your own.</p>
                        </li>
                        <li class="brand">
                            <h3>Whitelabel and logos</h3>
                            <p class="text-center"> Whitelabel the status page to your needs, add a logo, custom domain, custom SSL and more. </p>
                        </li>
                        <li class="htmlcss">
                            <h3>Edit HTML and CSS</h3>
                            <p class="text-center"> We give you complete flexibility to design your own status page. Edit and implement your own HTML, and CSS. </p>
                        </li>
                    </ul>
                </div>

                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Multiple Status Pages</h2>
                    <p class="common-BodyText"> Have unlimited number of internal or public status pages per project with unlimited number of subscribers. </p>
                </header>

                <div style="display:flex; justify-content:center; margin-top:20px; margin-bottom:30px;">
                    <img src="/img/status-page-dashboard.png" width="900" class="imageshadow" alt="Status page dashboard" id="status-page"/>
                </div>

                <div class="split">
                    <div class="content">

                        <div class="left">

                            <h3 class="header" style="margin-top:250px">More Status Page Features.</h3>
                            <p class="common-BodyText" style="font-size:18px"><span class="highlight"
                                    style="font-size:18px">Efficient IT and DevOps management <br />depends on the right
                                    information  <br />being shared with the right people </br> at the right time </span><br /><br /> Status Page ensures your customers
                                <br />are notified proactively which<br />increases trust and improves customer service.
                                 </p>

                        </div>

                        <div class="right">
                            <ul>
                                <li>
                                    <h3>Inform users about future Scheduled Maintenance</h3>

                                </li>
                                <li>
                                    <h3>Embed Status Page anywhere - app, website or help-desk.</h3>
                                </li>
                                <li>
                                    <h3>Notify customers by SMS or Email proactively.</h3>

                                </li>
                                <li>
                                    <h3>Display system metrics.</h3>

                                </li>
                                <li>
                                    <h3>Custom domain with SSL.</h3>

                                </li>
                                <li>
                                    <h3>Create multiple status pages and multiple sub-projects.</h3>

                                </li>
                                <li>
                                    <h3>Post investigation notes so your customers are informed.</h3>

                                </li>
                                <li>
                                    <h3>Integrate with 1500+ integrations.</h3>
                                </li>
                                <li>
                                    <h3>Integrate with fully extensible API.</h3>

                                </li>

                            </ul>
                        </div>

                    </div>
                </div>

                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Private Status Pages</h2>
                    <p class="common-BodyText"> Create private status pages for your internal team or your few select customers. Keep your company informed. <br/>Create internal dashboards and more. </p>
                </header>
                <div class="content">
                    <ul class="columns">
                        <li class="teams">
                            <h3>Select Team Members</h3>
                            <p class="text-center">Pick internal team members or customers who have access to your private status page. </p>
                        </li>
                        <li class="informed">
                            <h3>Keep company informed</h3>
                            <p class="text-center">Pipe status updates into Slack to keep engineering, IT, and Ops teams on the same page. </p>
                        </li>
                        <li class="dash">
                            <h3>Internal Dashboards</h3>
                            <p class="text-center"> Create internal reliability dashboards, hook it up to a TV and show them to your team.</p>
                        </li>
                    </ul>
                </div>
               
                <div style="background-color:black;height: 600px;width:100%;" class="enterprise-section">
                    <header style="padding-top:75px">
                        <h2 class="header" style="color:white">1500+ Enterprise Integrations and counting.</h2>
                        <p class="common-BodyText">Fyipe integrates with over a thousand enterprise-class app and
                            services which helps you streamline and automate your digital ops workflow.</p>
                    </header>

                    <ul class="integration-list">
                        <li>
                            <img class="integration-logo" src="/img/slack-white.svg" alt="Slack logo">
                        </li>
                        <li>
                            <img class="integration-logo" src="/img/atlassian.svg" style="
    height: 70px;
    margin-top: -15px;
" alt="Atlassian logo">
                        </li>
                        <li>
                            <img class="integration-logo" src="/img/servicenow.svg" alt="Service now logo">
                        </li>
                    </ul>
                    <ul class="integration-list" style="margin-top: 60px;">
                        <li>
                            <img class="integration-logo" src="/img/okta.svg" style="
    height: 30px;
    margin-left: -50px;
" alt="Okta logo">
                        </li>
                        <li>
                            <img class="integration-logo" src="/img/aws-white.svg" style="
    height: 50px;
    margin-left: -80px;
" alt="AWS logo">
                        </li>
                        <li>
                            <img class="integration-logo" src="/img/appdynamics.svg" style="
    height: 80px;
" alt="App dynamics logo">
                        </li>
                    </ul>
                    <ul class="integration-list" style="margin-top: 40px;">
                        <li>
                            <img class="integration-logo" src="/img/newrelic.svg" style="
    height: 80px;
    margin-left: -60px;
" alt="New relic logo">
                        </li>
                        <li>
                            <img class="integration-logo" src="/img/zendesk.svg" style="
    height: 60px;
    margin-left: -90px;
" alt="Zendesk logo">
                        </li>
                        <li>
                            <img class="integration-logo" src="/img/azure.svg" style="
    height: 60px;
" alt="Azure logo">
                        </li>
                    </ul>

                </div>
            </section>





        </div>
    </div>

    <% include ./footer %>

</body>


</html>