<header id="pagmt">

    <h1>Subprocessors</h1>

    <p>To support delivery of our Services we engage and use
        data processors with access to certain Customer Data.</p>
    <script src="/js/amplitude.js"></script>
    <script async>
        var IS_DEV = false;
        if (!IS_DEV) {
            amplitude.getInstance().logEvent('Subprocessor page viewed');
        }
    </script>
</header>

<section>

    <h3>Introduction</h3>
    <p>
        To support delivery of our Services, HackerBay, Inc. (or one of its Affiliates listed below) may engage and use
        data processors with access to certain Customer Data (each, a "Subprocessor"). This page provides important
        information about the identity, location and role of each Subprocessor. Terms used on this page but not defined
        have the meaning set forth in the Customer Terms of Service or superseding written agreement between Customer
        and Fyipe (the "Agreement").
    </p>



    <h3>Third Parties</h3>

    <p>Fyipe currently uses third party Subprocessors to provide infrastructure services, and to help us provide
        customer support and email notifications. Prior to engaging any third party Subprocessor, Fyipe performs
        diligence to evaluate their privacy, security and confidentiality practices, and executes an agreement
        implementing its applicable obligations.

        Infrastructure Subprocessors
        Fyipe may use the following Subprocessors to host Customer Data or provide other infrastructure that helps with
        delivery of our Services:</p>

    <p><b>Entity Name > Subprocessing Activities > Entity Country</b><br />
        Amazon Web Services, Inc. > Cloud Service Provider > United States<br />
        Google LLC > Cloud Service Provider > United States<br />
        Microsoft Azure > Cloud Service Provider > United States<br /></p>


    <h3>HackerBay Affiliates</h3>

    <p>
        Depending on the geographic location of a Customer or their Authorized Users, and the nature of the Services
        provided, Fyipe may also engage one or more of the following Affiliates as Subprocessors to deliver some or all
        of the Services provided to a Customer:
    </p>

    <p><b>Entity Name > Entity Country</b><br />
        HackerBay Inc. > United States<br />
        HackerBay Software Private Limited. > India.<br /></p>

    <h3>Updates</h3>
    <p>As our business grows and evolves, the Subprocessors we engage may also change. We will endeavor to provide the
        owner of Customer’s account with notice of any new Subprocessors to the extent required under the Agreement,
        along with posting such updates here. Please check back frequently for updates.</p>
</section>