<!DOCTYPE html>
<html lang="en" id="contact">

<head>
  <meta charset="utf-8">
  <title>Fyipe | Help and Support</title>

  <meta name="description"
    content="Fyipe lets you monitor any website, API or dashboard and alerts your team if something goes wrong. Fyipe also keeps your customers updated about any downtime.">
  <% include ./head %>
  <link rel="stylesheet" href="/css/contact.css"  >
  <link rel="stylesheet" href="/css/contact.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"  >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap">
  <script src="/js/amplitude.js"></script>
  <script>
    var IS_DEV = false;
    if (!IS_DEV) {
      amplitude.getInstance().logEvent('Contact us page viewed');
    }
  </script>
</head>

<body>

  <% include ./nav %>

  <div class="globalContent">
    <main>
      <div class="fyipeBackground-container">
        <div class="fyipeBackground-large">
         
        </div>
      </div>


      <div class="container Header-container">
        <header class="Header">
          <h1 class="Header-title common-PageTitle header-font header-size">
            Friendly folks, standing by. </h1>
          <p class="Header-subTitle common-IntroText">Always humans, never bots. The hands-down, sharpest and friendliest support team in the biz. <br/>Contact us and  <span class="highlight"> we’ll get back to you in less than 1 business day.</span></p>
        </header>
      </div>

      <section id="callouts" class="ContactOptions-section">
        <div class="container">
          <div class="row">
            <a href="mailto:sales@fyipe.com" class="contactCalloutBox">
              <div class="contactCalloutInnerContainer">
                <div class="sales"></div>
                <h2 class="ContactCalloutTitle common-BodyTitle">Sales</h2>
                <p class="ContactCalloutTagline common-BodyText">We’d love to talk about how we can work together.</p>
              </div>
              <div class="ContactCalloutFooter">
                <div class="common-BodyText common-Link common-Link--arrow">Contact sales</div>
              </div>
            </a>

            <a href="mailto:support@fyipe.com" class="contactCalloutBox">
              <div class="contactCalloutInnerContainer">
                <div class="contactCallout-Icon"></div>
                <h2 class="ContactCalloutTitle common-BodyTitle">Help &amp; Support</h2>
                <p class="ContactCalloutTagline common-BodyText">We’re here to help with any questions or code.</p>
              </div>
              <div class="ContactCalloutFooter">
                <div class="common-BodyText common-Link common-Link--arrow support">Contact support</div>
              </div>
            </a>

            <a href="mailto:press@fyipe.com" class="contactCalloutBox">
              <div class="contactCalloutInnerContainer">
                <div class="contactCallout-Icon media"></div>
                <h2 class="ContactCalloutTitle common-BodyTitle">Media &amp; Press</h2>
                <p class="ContactCalloutTagline common-BodyText">Get Fyipe news, company info, and media resources.</p>
              </div>
              <div class="ContactCalloutFooter">
                <div class="common-BodyText common-Link common-Link--arrow media">Contact our PR team</div>
              </div>
            </a>
          </div>
        </div>
      </section>

      <aside class="container">
        <div class='inner-col'>
          <section>
            <h3 class="common-BodyTitle">Join us on Slack</h3>
            <p class="common-BodyText">If you have technical questions, chat live with developers on our Slack Group.
              <br /><a href='https://slack.fyipe.com' class='common-Link '>Send me an invite to join.</a>
          </section>
          <section>
            <h3 class="common-BodyTitle">General communication</h3>
            <p class="common-BodyText">
              For general queries, including partnership opportunities, please email
              <a href='mailto:contact@fyipe.com' class='common-Link '>contact@fyipe.com</a>
            </p>
          </section>
        </div>
      </aside>

    </main>

  </div>

  <%include ./footer %>

</body>

</html>