<header id="pagmt">
        <h1>Terms of Use</h1>
        <p>Please Read Carefully Prior To Using This Product</p>
      </header>

      <section>
        <h3>1. Acceptance of Terms and Conditions</h3>

        <p>Use of this HackerBay, Inc. and its subsidiaries and affiliates ("HackerBay") website (this "Website")
          is governed by the terms and conditions contained herein as well as the terms and conditions of the Privacy Policy
          posted on the Website (“Terms”). These Terms are legally binding on all users of this Website and constitute
          a legally binding agreement between you (“User”) and HackerBay. By accessing this Website, User expressly and irrevocably
          agrees to the Terms and to abide by the Terms. These Terms currently list HackerBay’s current policies and terms
          and conditions, but, as noted below, the Terms may be adjusted from time to time at HackerBay’s discretion. If
          the User of this Website does not agree with any of these Terms, User may not, under any circumstances, utilize
          the HackerBay Website. </p>

        <h3>2. Intellectual Property Rights</h3>

        <p>
          <strong>2.1 Ownership</strong>
        </p>

        <p>All content, text, images, data, information and other material displayed, available or present on this Website
          ("Content"), including any intellectual property rights in such Content (including without limitation trademarks
          and copyrights) or other intellectual property rights associated with the Website (hereinafter "Intellectual
          Property Rights"), are the property of HackerBay, its licensors, or designated owners and are protected by applicable
          intellectual property laws. User should assume that everything User sees or reads on this Website is protected
          by intellectual property rights, unless otherwise noted, and may not be used without the written permission of
          HackerBay or the respective owner except as provided in these Terms. All HackerBay trademarks are listed on the trademark
          list posted on the Website, which may be updated from time to time and which is incorporated herein. All other
          trademarks or registered trademarks mentioned herein are used for identification purposes only and may be trademarks
          or registered trademarks of their respective companies.</p>
        <p>
          <strong>2.2 Authorized and Prohibited Uses</strong>
        </p>
        <p>User may access, use, and display this Website on a single computer only and download and print copies of the Content
          only for non-commercial, informational, personal use, without modification or alteration in any way, and only
          so long as User complies with these Terms and all applicable laws. If User violates these Terms and/or any applicable
          laws, your permission to use the Website terminates. User may not otherwise reproduce, sell, publish, distribute,
          modify, display, or use any Content or portion of this Website without the prior written permission of HackerBay;
          provided, however, if the functionality of the Website permits the e-mailing of certain Content or a link through
          the use of an "e-mail to a friend" (or similar) icon, User may send that particular Content to others by e-mail.
          User will not infringe upon any Intellectual Property Rights or remove or modify related intellectual property
          and/or proprietary notices contained in this Website or the Content.</p>

        <p>
          <strong>2.3 Registration and Passwords</strong>
        </p>
        <p>HackerBay may or may not at times require a User to have a password and provide registration details to access this
          Website or portions of this Website. If HackerBay does require a password and registration details, it shall be
          a condition of use of this Website that all the details User provides are correct, current, and complete. If
          HackerBay believes that the details are not correct, current, or complete, HackerBay will have the right to refuse
          User access to the Website, or any of its resources, and to suspend and/or terminate User´s account. User is
          responsible for maintaining the confidentiality of any password(s) and registration details User is given to
          access this Website, and User is fully responsible for all activities that occur under User´s password(s) and/or
          registration details. User agrees to notify HackerBay immediately of any unauthorized use of User’s password(s)
          and/or registration details. HackerBay reserves the absolute right, in its sole discretion, not to issue a password
          to any person or entity.</p>


        <h3>3. Website and Registration Administration</h3>
        <p>
          <strong> 3.1 Linking</strong>
        </p>

        <p>No link shall be made to any page of this Website, except a direct link to the top page http://www.hackerbay.io,
          without framing. In addition, any link to this Website must be immediately followed by notice to HackerBay via
          e-mail at webmaster@hackerbay.io. Moreover, in the event HackerBay deems User´s linking practices in relation
          to this Website to be inappropriate, HackerBay may provide notice to the User concerning removal or modification
          of the inappropriate link, and User agrees to comply with any and all requirements of HackerBay relating thereto.
          Upon notification to HackerBay of User’s link to the Website, as provided above, User may link to this Website
          unless and until HackerBay gives notice that User must discontinue linking to this Website.
        </p>
        <p>
          <strong> 3.2 Authority of Website Administrator</strong>
        </p>

        <p>HackerBay may in its discretion modify, edit, translate, suspend, restrict access to, or terminate this Website,
          these Terms, the Content, or any link at any time without liability or prior notice. HackerBay may in its discretion
          terminate the browsing of, registration with, and use of this Website by any User at any time without liability
          or prior notice for any reason, including for any breach of these Terms.

        </p>

        <h3>4. User Requirements and Obligations</h3>
       
        <p>
          <strong>4.1 Compliance</strong>
        </p>

        <p>User will comply with all applicable laws in connection with use of this Website.
        </p>
        <p>
          <strong> 4.2 Unsuitable Conduct</strong>
        </p>

        <p>User will not engage in conduct on or in connection with this Website that is illegal, misleading, infringing,
          defamatory, obscene, offensive, or otherwise objectionable. User will not cause damage, embarrassment, or adverse
          publicity to HackerBay.

        </p>


        <p>
          <strong>4.3 User Cooperation and Notification</strong>
        </p>

        <p>User will cooperate with all reasonable requests of HackerBay and will notify HackerBay promptly upon learning of any
          actual or suspected breach of these Terms by User or unauthorized use or abuse of this Website.
        </p>
        <p>
          <strong> 4. 4 Third Party Sites and Other Information</strong>
        </p>

        <p>As a convenience to User, this Website may contain Content, links, and other information submitted by third parties
          over whom HackerBay has no control or responsibility. HackerBay has no obligation to monitor, control, or restrict
          the use of this Website or third party websites accessible via links on this Website. These other sites are not
          under the control of HackerBay, and User acknowledges that (whether or not such sites are affiliated in any way
          with HackerBay) HackerBay is not responsible for the accuracy, copyright compliance, legality, decency, or any other
          aspect of the content of such sites. The inclusion of such a link does not imply endorsement of any site by HackerBay
          or any association with its operators. Moreover, HackerBay has no obligation to verify any Content submitted by
          any user or third party or to provide any registration or other information to User concerning any Content.

        </p>

        <p>
          <strong>4.5 Warranty Disclaimers, Limitations on Liability, and Remedies</strong>
        </p>

        <p>This Website, its Content, and its links are provided on an "as is" and “as available” basis and are used only
          at the sole risk of User, to the fullest extent permissible by law. HackerBay disclaims all warranties, express
          or implied, of any kind, regarding this Website (including its Content, hardware, software, and links), including
          any express or implied warranties as to fitness for a particular purpose, merchantability, title, timeliness,
          non-infringement, results, accuracy, completeness, accessibility, compatibility, security, and freedom from computer
          virus. IF APPLICABLE LAW DOES NOT ALLOW THE EXCLUSION OF SOME OR ALL OF THE ABOVE IMPLIED WARRANTIES TO APPLY
          TO USER, THE ABOVE EXCLUSIONS WILL APPLY TO USER TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW. HackerBay will
          not be liable for any damages or losses, including direct, indirect, consequential, special, incidental, or punitive
          damages, including without limitation damages for lost profits, goodwill, use, data, or other tangible or intangible
          losses, in connection with use of the internet, this Website, its Content, or its links, however caused, whether
          in contract, tort, negligence, strict liability or otherwise, even if HackerBay has been advised of the possibility
          of such damages. HackerBay will not be a party to, and will have no responsibility or liability for, any transaction
          negotiated or arranged by a User arising in connection with this Website. In any event, if any of the above provisions
          in this Section are not enforceable in an applicable jurisdiction, the maximum liability of HackerBay will be limited
          to, in the sole discretion of HackerBay, either the (1) correction or deletion of any inaccurate Content or link;
          or (2) refund of any fees for this Website received by HackerBay from User.
        </p>
        <p>
          <strong> 4.6 Indemnification</strong>
        </p>

        <p>Each User will defend, indemnify, and hold harmless HackerBay and their respective officers, directors, employees,
          and agents, and any of its licensors, website partners, or contractors from any demands, claims, damages, liabilities,
          expenses or harms, including attorney’s fees, arising in connection with User’s actions or omissions, including
          use of this Website, online conduct, breach of these Terms, or dealings or transactions with other persons resulting
          from use of this Website.

        </p>

        <h3>5. Miscellaneous</h3>
       
        <p>
          <strong>5.1 Separate Terms and Conditions</strong>
        </p>

        <p>In connection with User’s use of and/or access to Content contained in certain areas of this Website, it may be necessary for User to consent to policies or terms and conditions in addition to the Terms set forth herein, which User should read carefully before making any use of such Content or areas of this Website. Any such additional terms and conditions will not vary or replace these Terms regarding any use of this Website, unless otherwise expressly stated.
        </p>
        <p>
          <strong> 5.2 Privacy Policy</strong>
        </p>

        <p>HackerBay is concerned about privacy and has developed a policy to address privacy concerns. User can find the current privacy policy at https://www.hackerbay.io/legal/privacy-policy/ (the "Privacy Policy"). The Privacy Policy is hereby incorporated into these Terms by reference and constitutes a part of these Terms.



        </p>


        <p>
          <strong>5.3 Dispute Resolution; Applicable Law and Forum</strong>
        </p>

        <p>With respect to any and all disputes arising out of or in connection with this Website or these Terms (including without limitation the Privacy Policy), HackerBay and User agree to negotiate in good faith and undertake reasonable efforts to cooperate with one another in order to achieve a mutually satisfactory resolution. HackerBay has no obligation to become involved in any dispute between a User and any other person. This Website, these Terms, and any dispute arising in connection therewith shall be exclusively governed by and construed in accordance with the laws of the State of Texas and the United States without regard to its conflict of law principles. HackerBay and User agree that all disputes arising under this agreement will be settled exclusively through confidential binding arbitration in Austin, Texas, pursuant to the Rules of Arbitration ("Rules") of the International Chamber of Commerce ("ICC") by a sole arbitrator nominated by agreement of the parties and confirmed in accordance with the said Rules. The arbitrator´s award shall be binding and may be entered as a judgment in a court of competent jurisdiction. User agrees that HackerBay is entitled to obtain preliminary injunctive relief to the extent allowed by law to enforce any of the provisions of these Terms pending a final arbitral decision.
        </p>
        <p>
          <strong> 5.4 Modification of Terms, Etc.</strong>
        </p>

        <p>These Terms constitute the complete agreement between the parties with respect to their subject matter and supersede any prior agreement or communication. These Terms are subject to change from time to time and are effective immediately upon posting. HackerBay will endeavor to post a notice of any changes to these Terms for a period of thirty (30) days following any such modifications. Therefore, User is advised to review these Terms occasionally or at least every thirty (30) days. User’s continued use of this Website, subsequent to HackerBay’s notice of modification of these Terms, shall constitute User´s acceptance of the modified Terms. If any provision of these Terms shall be found to be invalid, illegal, or otherwise unenforceable, such finding shall not affect the other provisions of these Terms, or the whole of these Terms, but such provision shall be deemed modified to the extent necessary to render such provision enforceable, and the rights and obligations of the parties shall be construed and enforced accordingly, preserving to the fullest permissible extent the intent and agreements set forth in these Terms. The parties hereto are separate and distinct, and this agreement is not intended to create and does not create an agency, partnership, or joint venture relationship between the parties nor do these Terms extend to any third party. User´s obligations pursuant to these Terms shall survive termination of this Website, any use of this Website, any Content provided by User on this Website, and/or these Terms.
        </p>

        <p>
          <strong>5.5 Contact Information</strong>
        </p>

        <p>If you have any questions regarding these Terms or this Website, please contact HackerBay at webmaster@hackerbay.io.
        </p>