<section class="bg-indigo-800">
    <div class="mx-auto max-w-7xl md:grid md:grid-cols-2 md:px-6 lg:px-8">
      <div class="py-12 px-6 md:flex md:flex-col md:border-r md:border-indigo-900 md:py-16 md:pl-0 md:pr-10 lg:pr-16">
        <div class="md:flex-shrink-0">
          <img class="h-10" src="/img/g2.svg" alt="G2 Crowd">
        </div>
        <blockquote class="mt-6 md:flex md:flex-grow md:flex-col">
          <div class="relative text-lg font-medium text-white md:flex-grow">
            <svg class="absolute top-0 left-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-indigo-600" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
              <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
            </svg>
            <p class="relative">Status Page looks stellar. Alerting of specific team members by SMS, Call and Email during performance degradation or downtime works perfectly well.</p>
          </div>
          <footer class="mt-8">
            <div class="flex items-start">
              <div>
                <div class="text-base font-medium text-white">Kumar Abhishek</div>
                <div class="text-base font-medium text-indigo-200">Review on G2 Crowd</div>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
      <div class="border-t-2 border-indigo-900 py-12 px-6 md:border-t-0 md:border-l md:py-16 md:pr-0 md:pl-10 lg:pl-16">
        <div class="md:flex-shrink-0 -mt-4">
          <img class="h-20" src="/img/alternative.svg" alt="Alternative">
        </div>
        <blockquote class="mt-6 md:flex md:flex-grow md:flex-col -mt-2">
          <div class="relative text-lg font-medium text-white md:flex-grow">
            <svg class="absolute top-0 left-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-indigo-600" fill="currentColor" viewBox="0 0 32 32">
              <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
            </svg>
            <p class="relative">OneUptime combines multiple vendors into one platform. No more integrating multiple platforms, dealing with multiple support teams, etc. One platform, one source of truth for our team.</p>
          </div>
          <footer class="mt-8">
            <div class="flex items-start">
              <div>
                <div class="text-base font-medium text-white">Mikah Akpan</div>
                <div class="text-base font-medium text-indigo-200">Reviewer on AlternativeTo</div>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </section>