<!DOCTYPE html>
<html lang="en" id="contact">

<head>
  <meta charset="utf-8">
  <title>Unsubscribe</title>
  <style>
    .wrapper {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #EEEEEE;
    }

    .card {
      padding: 2px;
      padding: 5em;
      background: #fff;
      border: 1px solid #CCCCCC;
      margin-top: 10px;
      text-align: center;
      width: 70%;
    }
  </style>
  <meta name="description"
    content="OneUptime monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
  <%- include('head') -%>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap">
    <script src="/js/amplitude.js"></script>
    <script type="module" async>
      var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
      if (IS_SAAS_SERVICE) {
        amplitude.getInstance().logEvent('PAGE VIEW: HOME > SUPPORT');
      }
    </script>
</head>

<body>
  <div class="wrapper">
    <div class="card"">
        <h2 style=" padding: 8px; margin: 0;">
      <%= message %>
        </h2>
    </div>
  </div>
</body>

</html>