<!DOCTYPE html>
<html lang="en" id="contact">

<head>
    <meta charset="utf-8">
    <title>Fyipe | Uptime Monitoring</title>

    <meta name="description"
        content="Fyipe lets you monitor any website, API or dashboard and alerts your team if something goes wrong. Fyipe also keeps your customers updated about any downtime.">
    <% include ./head %>
    <link rel="preload" href="/css/shared-site.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/shared-site.css"></noscript>
    <link rel="preload" href="/css/home.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/home.css"></noscript>
    <link rel="preload" href="/css/products.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/products.css"></noscript>
    <script src="/js/amplitude.js" async></script>
    <script async>
        var IS_DEV = window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1;
        if (!IS_DEV) {
            amplitude.getInstance().logEvent('Uptime Monitoring page viewed');
        }
    </script>
</head>

<body>

    <% include ./nav %>

    <div class="globalContent">
        <div id="main-content">

            <section class="marquee nav-animation-element">

                <div id="bubble-overlay">
                    <div class="content">
                        
                        <header style="text-align:left">
                            <h1 class="Header-title common-PageTitle header-font header-size black">Uptime Monitoring</h1>
                            <p style="margin-top:50px"><i>Downtime happens.</i> <span class="highlight">&nbsp; Fyipe's monitoring lets you know exactly what is wrong with your service, at the right time, </span> saving you critical minutes during downtime. </p>
                        </header>

                    </div>
                    
                </div>

            </section>

            <!-- <div style="display:flex; justify-content:center; margin-top:20px; margin-bottom:30px;">
                <img src="/img/status-page-dashboard.png" width="900" class="imageshadow"/>
            </div> -->


            <section class="main basics" style="padding:0px">
                <div class="content">
                    <ul class="columns">
                        <li class="reliability">
                            <h3>Monitor Anything.</h3>
                            <p class="text-center">Monitor uptime and performance of your dashboards, API's, servers, applications, and more.</p>
                        </li>
                        <li class="moni">
                            <h3>Detailed Metrics</h3>
                            <p class="text-center">All teams get the same visibility for technical and business response orchestration, enabling better collaboration and rapid resolution. </p>
                        </li>
                        <li class="time">
                            <h3>Every second check.</h3>
                            <p class="text-center">Fyipe checks the status of the endpoint every second to make sure you get alerted as soon as any of your resources go down.</p>
                        </li>
                        
                    </ul>

                    <ul class="columns">
                        <li class="global">
                            <h3>Test from Multiple Locations</h3>
                            <p class="text-center">Test if your site is available everywhere in the world. We have probes in every continent to test your resources.</p>
                        </li>
                        <li class="rootcause">
                            <h3>Root Cause Analysis.</h3>
                            <p class="text-center">Get to the root of any website, server or application outage to resolve the issue and prevent any recurrence.</p>
                        </li>
                        <li class="risk">
                            <h3>Monitor Performance</h3>
                            <p class="text-center">Monitor performance of your API's, servers and more. We even let you monitor page speed of your apps and let you know when something goes wrong. </p>
                        </li>
                        
                    </ul>

                </div>
              
                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">How monitoring helps your business?</h2>
                    <p class="common-BodyText"> See how Fyipe's complete monitoring platform can help you reach your business goals. </p>
                </header>
                <div class="content">
                    <ul class="columns">
                        <li class="teams">
                            <h3>Never lose a customer.</h3>
                            <p class="text-center">Truth is downtimes happen. Fyipe keeps both your team and customers looped in about the downtime which increases customer trust. </p>
                        </li>
                        <li class="customerexperience">
                            <h3>Improve Customer Experience</h3>
                            <p class="text-center">Understand and optimize the load performance of every element on your page for a better customer experience.</p>
                        </li>
                        <li class="reli">
                            <h3>Comply with your SLA</h3>
                            <p class="text-center"> Showcase your SLA compliance to your potential customer to gain more leads. </p>
                        </li>
                    </ul>
                </div>

                
                <div class="split">
                    <div class="content">

                        <div class="left">

                            <h3 class="header" style="margin-top:250px">More Monitoring <br/>Features.</h3>
                            <p class="common-BodyText" style="font-size:18px"><span class="highlight"
                                    style="font-size:18px">Efficient IT and DevOps management <br />depends on the right
                                    information  <br />being shared with the right people </br> at the right time </span><br /><br /> Fyipe's monitoring lets you 
                                <br />know know exactly what is  <br />wrong with your service, <br/>at the right time,  saving you critical <br/>minutes during downtime.
                                 </p>

                        </div>

                        <div class="right">
                            <ul>
                                <li>
                                    <h3>Install agents at any location. Even in China.</h3>
                                </li>
                                <li>
                                    <h3>Improve workflow with right alerts, to right people at the right time.</h3>
                                </li>
                                <li>
                                    <h3>Reliable Alerting - No false alerts.</h3>
                                </li>
                                <li>
                                    <h3>Get alerted when your critical site flows stop working correctly.</h3>
                                </li>
                                <li>
                                    <h3>Automated Real Browser Testing.</h3>

                                </li>
                                <li>
                                    <h3>Page speed monitoring and other insights. </h3>

                                </li>
                                <li>
                                    <h3>Monitor Anything - Server, Containers, Website, Network, etc.</h3>
                                </li>
                                <li>
                                    <h3>Complete visibilty on incident metrics.</h3>

                                </li>
                                <li>
                                    <h3>Integrate with 1500+ integrations.</h3>
                                </li>
                                <li>
                                    <h3>Integrate with fully extensible API.</h3>

                                </li>

                            </ul>
                        </div>

                    </div>
                </div>

                
               
                <div style="background-color:black;height: 600px;width:100%;" class="enterprise-section">
                    <header style="padding-top:75px">
                        <h2 class="header" style="color:white">1500+ Enterprise Integrations and counting.</h2>
                        <p class="common-BodyText">Fyipe integrates with over a thousand enterprise-class app and
                            services which helps you streamline and automate your digital ops workflow.</p>
                    </header>

                    <ul class="integration-list">
                        <li>
                            <img class="integration-logo" src="/img/slack-white.svg" alt="Slack logo">
                        </li>
                        <li>
                            <img class="integration-logo" src="/img/atlassian.svg" style="
    height: 70px;
    margin-top: -15px;
" alt="Atlassian logo">
                        </li>
                        <li>
                            <img class="integration-logo" src="/img/servicenow.svg" alt="Service now logo">
                        </li>
                    </ul>
                    <ul class="integration-list" style="margin-top: 60px;">
                        <li>
                            <img class="integration-logo" src="/img/okta.svg" style="
    height: 30px;
    margin-left: -50px;
" alt="Okta logo">
                        </li>
                        <li>
                            <img class="integration-logo" src="/img/aws-white.svg" style="
    height: 50px;
    margin-left: -80px;
" alt="AWS logo">
                        </li>
                        <li>
                            <img class="integration-logo" src="/img/appdynamics.svg" style="
    height: 80px;
" alt="App dynamics logo">
                        </li>
                    </ul>
                    <ul class="integration-list" style="margin-top: 40px;">
                        <li>
                            <img class="integration-logo" src="/img/newrelic.svg" style="
    height: 80px;
    margin-left: -60px;
" alt="New relic logo">
                        </li>
                        <li>
                            <img class="integration-logo" src="/img/zendesk.svg" style="
    height: 60px;
    margin-left: -90px;
" alt="Zendesk logo">
                        </li>
                        <li>
                            <img class="integration-logo" src="/img/azure.svg" style="
    height: 60px;
" alt="Azure logo">
                        </li>
                    </ul>

                </div>
            </section>





        </div>
    </div>

    <% include ./footer %>

</body>


</html>
