<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>Fyipe | Uptime Monitoring.</title>
    <meta name="description" content="Fyipe lets you monitor any website, API or dashboard and alerts your team if something goes wrong. Fyipe also keeps your customers updated about any downtime.">

    <% include ./head %>

    <link rel="stylesheet" href="/css/uptime-monitoring.css">
    <script src="/js/amplitude.js"></script>
    <script>
        var IS_DEV = window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1;
        if (!IS_DEV) {
            amplitude.getInstance().logEvent('Uptime monitoring page loaded');
        }
    </script>

</head>

<body>

    <% include ./nav %>

    <div class="globalContent">
      
        <main>
          <header>
            <div class="stripes">
              
            </div>
            <section class="intro container-lg">
              <div class="columns">
                <div class="intro-copy">
                  <h1 class="common-ProductLockup">
                    <span>Uptime &amp; Performance Monitoring</span>
                  </h1>
                  <h2 class="common-PageTitle">Monitor uptime and performance of your dashboards, API's, servers, applications, and more.</h2>
                </div>
                <ul class="common-ButtonGroup">
                <li>
                    <a href="#" onclick="registerUrl()" class="common-Button primary" data-analytics-action="activate_radar" data-analytics-source="header_cta">
                      Create Account
                    </a>
                  </li>
                  <li>
                    <a href="/enterprise/demo" class="common-Button" data-analytics-action="contact_sales" data-analytics-source="header_cta">
                      Request Demo
                    </a>
                  </li>
                </ul>
              </div>
              <aside class="icosahedron visible">
                  </aside>
            </section>
          </header>
        
          <div class="angle-clip-container">
            <section class="prevention container-lg">
              <div class="intro-copy">
                <h2 class="common-UppercaseTitle"> Get notified of availability issues.</h2>
                <p class="common-IntroText">Knowing when your service is unavailable is critical to any business. That’s why Fyipe will immediately alert you in a way that suits you via email, SMS, or a call to your mobile device. Monitor reliability from anywhere in the world - we have over 40 different test servers all over the world.

                    </p>
            
            </div>
              <ul class="xs-rows sm-cols">
                <li class="feature-block xs-icon-top">
                  <figure class="icon"><img src="/img/stopwatch.svg" alt="stopwatch" /></figure>
                  <h3 class="common-BodyTitle">1 Minute Checks.</h3>
                  <p class="common-BodyText">Fyipe checks the status of the endpoint every minute. Test if your site is available everywhere in the world.</p>
                </li>
                <li class="feature-block xs-icon-top">
                  <figure class="icon"><img src="/img/network.svg" alt="network" /></figure>
                  <h3 class="common-BodyTitle">Root Cause Analysis.</h3>
                  <p class="common-BodyText">Get to the root of any website, server or application outage to resolve the issue and prevent any recurrence.</p>
                </li>
                <li class="feature-block xs-icon-top">
                  <figure class="icon"><img src="/img/tools-and-utensils.svg" alt="tools" /></figure>
                  <h3 class="common-BodyTitle">Monitor Performance</h3>
                  <p class="common-BodyText">Monitor performance of your API's, servers and more. We even let you monitor page speed of your apps and let you know when something goes wrong.</p>
                </li>
              </ul>
            </section>
        
            <section class="techguide container-lg">
              <div class="common-Card columns">
                <div class="copy">
                  <h3 class="common-BodyTitle"><i>Fyipe is great and helps me sleep at night, knowing we have that extra set of eyes watching the performance and reliability.</i></h3>
                  <p class="common-BodyText">- Shubham Aggarwal, CTO CloudBoost</p>
                  <a href="/customers" class="common-Button common-Button--default">See our customers</a>
                </div>
                <aside class="chart">
                    <a href="https://cloudboost.io">
                      <img src="/img/CloudBoost.svg" width="300" height="160" alt="CloudBoost Logo">
                  </a>
                </aside>
              </div>
            </section>
        
            <section class="simplify">
              <div class="intro-copy container-lg">
                <h2 class="common-UppercaseTitle">How uptime monitoring helps your business</h2>
                <p class="common-IntroText">See how Fyipe's complete monitoring platform can help you reach your business goals.</p>
              </div>
              <div class="rules container-lg columns">
                <div class="copy">
                  <h3 class="common-BodyTitle">Never lose a customer.</h3>
                  <p class="common-BodyText">Truth is downtimes happen. Fyipe keeps both your team and customers looped in about the downtime which increases customer trust.</p>
                </div>
                <aside class="rule-builder">
                  <img style="
                  max-height: 400px;" src="/img/employee.svg" alt="employee" />
                </aside>
              </div>
              <div class="manual-review">
                <div class="container-lg columns">
                  <aside class="review-queue">
                   <img style="
                   max-height: 400px;" src="/img/employee (1).svg" alt="employee"/>
                  </aside>
                  <div class="copy">
                    <h3 class="common-BodyTitle">Improve Customer Experience</h3>
                    <p class="common-BodyText">Understand and optimize the load performance of every element on your page for a better customer experience.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        
          <section class="take-action container-lg">
            <div class="intro-copy">
              <h2 class="common-UppercaseTitle">Fyipe can do more for your business.</h2>
              <p class="common-IntroText">We also have a status page and on call scheduling platform that can help your business grow reliabily.</p>
            </div>
            <div class="columns">
              <ul class="feature-list xs-rows sm-cols lg-rows">
                <li class="feature-block xs-icon-top lg-icon-left">
                  <figure class="icon"><img style="    width: 80px;
                    margin-left: -7px;" src="/img/battery.svg" alt="battery" /></figure>
                  <h3 class="common-BodyTitle">Status Page</h3>
                  <p class="common-BodyText">Show case reliabilty to your potential customers, increase transparency, gain trust and reduce support costs during downtime.</p>
                </li>
        
               
        
               
              </ul>

              <ul class="feature-list xs-rows sm-cols lg-rows">
                
        
                <li class="feature-block xs-icon-top lg-icon-left">
                  <figure class="icon"><img src="/img/calendar.svg" alt="calendar" /></figure>
                  <h3 class="common-BodyTitle">On-Call Scheduling</h3>
                  <p class="common-BodyText">Your team is always alerted during a downtime. We also alert the secondary on-call team member if the primary team member misses the alert. </p>
                </li>
        
               
              </ul>
              
          </section>
        </main>
        
        <script type="application/json" id="animation-strings">
        ["Address Mismatch","Billing Address","Card Country","Card History","Cardholder Name","Card Issuer","Card Type","Customer History","Device ID","IP Address","Order Value","Shipping Address"]
        </script>
        
        
        
            </div>


            <% include ./footer %>

</body>


</html>
