<!DOCTYPE html>
<html lang="en" id="contact">

<head>
    <title>Fyipe | Monitor your Website's every second</title>

    <meta name="description"
        content="Fyipe monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
    <% include ./head %>
    <link rel="stylesheet" href="/css/shared-site.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/products.css">
    <script src="/js/amplitude.js"></script>
    <script type="module" async>
        var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
        if (IS_SAAS_SERVICE) {
            amplitude.getInstance().logEvent('PAGE VIEW: HOME > PRODUCT > WEBSITE MONITORING');
        }
    </script>
    <script>
        function onClickFunc() {
            let playButton = document.getElementById("playButton");
            let gif = document.getElementById("uptime-monitoring-gif");
            let videoDiv= document.getElementById("videoDiv");
            let video= document.getElementById("video");
            playButton.style.display = "none";
            gif.style.display="none";
            videoDiv.style.display="block";
            video.src += "?autoplay=1";
        }
        function mouseOverFunc()
        {
            let playButton = document.getElementById("playButton");
            playButton.src="/img/play-button-black.svg";
            playButton.style.cursor="pointer";
        }
        function mouseOutFunc()
        {
            let playButton = document.getElementById("playButton");
            playButton.src="/img/play-button-grey.svg";
        }
    </script>
</head>

<body>

    <% include ./nav %>

    <div class="globalContent">
        <div id="main-content">

            <section class="marquee nav-animation-element">

                <div id="bubble-overlay">
                    <div class="content">
                        
                        <header>
                            <h1 class="Header-title common-PageTitle header-font header-size black">Website Monitoring</h1>
                            <p style="margin-top:50px"><i>Downtime happens.</i> <span class="highlight">&nbsp; Fyipe's monitoring lets you know exactly what is wrong with your service, at the right time, </span> saving you critical minutes during downtime. </p>
                        </header>

                    </div>
                    
                </div>

            </section>

                <div class="gif-container">
                <img src="/img/animated-gif/uptime-monitoring.gif" class="imageshadow" alt="Uptime Monitoring" id="uptime-monitoring-gif" style="border-radius: 5px;width: 100%;" />
                  <img class="play" id="playButton" onmouseout="mouseOutFunc()"onmouseover="mouseOverFunc()"onclick="onClickFunc()" src="/img/play-button-grey.svg"/>
                  <div id="videoDiv" class="videoClass">
                    <iframe id="video" width="850" height="500" src="https://www.youtube.com/embed/C1WcqtlG0AM?modestbranding=1&rel=0&enablejsapi=1&controls=1&frameborder=0&allowfullscreen=1" rel="0" enablejsapi="1" modestbranding="1" controls="1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
                  </div>
                </div>

            <% include ./cta-buttons %>


            <section class="main basics" style="padding:0px">
                <div class="content">
                    <ul class="columns">
                        <li class="block-image reliability">
                            <h3>Monitor Anything.</h3>
                            <p class="text-center">Monitor uptime and performance of your dashboards, API's, servers, applications, and more.</p>
                        </li>
                        <li class="block-image moni">
                            <h3>Detailed Metrics</h3>
                            <p class="text-center">All teams get the same visibility for technical and business response orchestration, enabling better collaboration and rapid resolution. </p>
                        </li>
                        <li class="block-image time">
                            <h3>Every second check.</h3>
                            <p class="text-center">Fyipe checks the status of the endpoint every second to make sure you get alerted as soon as any of your resources go down.</p>
                        </li>
                        
                    </ul>

                    <ul class="columns">
                        <li class="block-image global">
                            <h3>Test from Multiple Locations</h3>
                            <p class="text-center">Test if your site is available everywhere in the world. We have probes in every continent to test your resources.</p>
                        </li>
                        <li class="block-image rootcause">
                            <h3>Root Cause Analysis.</h3>
                            <p class="text-center">Get to the root of any website, server or application outage to resolve the issue and prevent any recurrence.</p>
                        </li>
                        <li class="block-image risk">
                            <h3>Monitor Performance</h3>
                            <p class="text-center">Monitor performance of your API's, servers and more. We even let you monitor page speed of your apps and let you know when something goes wrong. </p>
                        </li>
                        
                    </ul>

                </div>

                <% include ./cta-buttons %>

                <% include ./customer-section %>
                <div class="sectionBorderTop">
                    <% include ./comparision-chart %>
                </div>

                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Deep Website Scans</h2>
                    <p class="common-BodyText"> Find performance, SEO, accessibility, issues with your Website. We also give you recommendations on best practices and more.</p>
                </header>

                <div class="gif-container">
                    <img src="/img/animated-gif/uptime-monitoring-website-scan.gif" class="imageshadow" alt="Uptime Monitoring" id="uptime-monitoring-gif" style="border-radius: 5px;width: 100%" />
                </div>
    

                <div class="content">
                    <ul class="columns">
                        <li class="block-image google">
                            <h3>Find SEO issues</h3>
                            <p class="text-center">Find SEO issues fast, rank better on all search engines, get more leads and customers. </p>
                        </li>
                        <li class="block-image risk">
                            <h3>Find performance issues</h3>
                            <p class="text-center">Every second increase in performance of your website increases leads & customers by 50%. Find and fix performance issues of your website.</p>
                        </li>
                        <li class="block-image reli">
                            <h3>Best Practices and Progressive Web Apps</h3>
                            <p class="text-center"> Make your website run like an app on mobile with Progressive Web Apps. Follow other best practices right form the best of industry. </p>
                        </li>
                    </ul>
                </div>

                <% include ./cta-buttons %>

                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Set any criteria for uptime monitoring.</h2>
                    <p class="common-BodyText"> Set uptime, degraded, and downtime, criteria on response time, SSL, response body, status code and more. </p>
                </header>

                <div class="gif-container">
                    <img src="/img/animated-gif/uptime-monitor-criteria.gif" class="imageshadow" alt="Uptime Monitoring" id="uptime-monitoring-gif" style="border-radius: 5px;width: 100%" />
                </div>

               
    

                <div class="content">
                    <ul class="columns">
                        <li class="block-image reli">
                            <h3>Set any criteria.</h3>
                            <p class="text-center">Set any criteria you need for uptime, degraded, and downtime. Criteria on response time, SSL, response body, status code and more are available for use. </p>
                        </li>
                        <li class="block-image rootcause">
                            <h3>Find issues instantly.</h3>
                            <p class="text-center">Get to the root of any website, server or application outage to resolve the issue and prevent any recurrence.</p>
                        </li>
                        <li class="block-image time">
                            <h3>Every second check.</h3>
                            <p class="text-center"> Fyipe checks the status of the endpoint every second to make sure you get alerted as soon as any of your resources go down. </p>
                        </li>
                    </ul>
                </div>

                <% include ./cta-buttons %>

                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Monitor anything.</h2>
                    <p class="common-BodyText"> Monitor anything from servers, API's, websites, containers, to IoT devices, custom scripts, and more! </p>
                </header>

                <div class="gif-container">
                    <img src="/img/animated-gif/uptime-monitoring-any-monitor.gif" class="imageshadow" alt="Uptime Monitoring" id="uptime-monitoring-gif" style="border-radius: 5px;width: 100%" />
                </div>

                
    

                <div class="content">
                    <ul class="columns">
                        <li class="block-image reliability">
                            <h3>You got a resource. We can monitor it.</h3>
                            <p class="text-center">Monitor anything from servers, API's, websites, containers, to IoT devices, custom scripts, and more!  </p>
                        </li>
                        <li class="block-image rootcause">
                            <h3>Find issues instantly.</h3>
                            <p class="text-center">Get to the root of any website, server or application outage to resolve the issue and prevent any recurrence.</p>
                        </li>
                        <li class="block-image moni">
                            <h3>Detailed Metrics</h3>
                            <p class="text-center">All teams get the same visibility for technical and business response orchestration, enabling better collaboration and rapid resolution. </p>
                        </li>
                    </ul>
                </div>

                <% include ./cta-buttons %>
              
                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">How monitoring helps your business?</h2>
                    <p class="common-BodyText"> See how Fyipe's complete monitoring platform can help you reach your business goals. </p>
                </header>
                <div class="content">
                    <ul class="columns">
                        <li class="block-image teams">
                            <h3>Never lose a customer.</h3>
                            <p class="text-center">Truth is downtimes happen. Fyipe keeps both your team and customers looped in about the downtime which increases customer trust. </p>
                        </li>
                        <li class="block-image customerexperience">
                            <h3>Improve Customer Experience</h3>
                            <p class="text-center">Understand and optimize the load performance of every element on your page for a better customer experience.</p>
                        </li>
                        <li class="block-image reli">
                            <h3>Comply with your SLA</h3>
                            <p class="text-center"> Showcase your SLA compliance to your potential customer to gain more leads. </p>
                        </li>
                    </ul>
                </div>

                <% include ./cta-buttons %>

                
               <div class="split">
                    <div class="content margin-0-in-mobile">

                          <div class="left invisible-in-mobile">

                            <h3 class="header" style="margin-top:250px">More Monitoring <br/>Features.</h3>
                            <p class="common-BodyText" style="font-size:18px"><span class="highlight"
                                    style="font-size:18px">Efficient IT and SRE management <br />depends on the right
                                    information  <br />being shared with the right people </br> at the right time </span><br /><br /> Fyipe's monitoring lets you 
                                <br />know know exactly what is  <br />wrong with your service, <br/>at the right time,  saving you critical <br/>minutes during downtime.
                                 </p>

                        </div>

                        <div class="right width-100-in-mobile margin-0-in-mobile">
                            <ul>
                                <li>
                                    <h3>Install agents at any location. Even in China.</h3>
                                </li>
                                <li>
                                    <h3>Improve workflow with right alerts, to right people at the right time.</h3>
                                </li>
                                <li>
                                    <h3>Reliable Alerting - No false alerts.</h3>
                                </li>
                                <li>
                                    <h3>Get alerted when your critical site flows stop working correctly.</h3>
                                </li>
                                <li>
                                    <h3>Automated Real Browser Testing.</h3>

                                </li>
                                <li>
                                    <h3>Page speed monitoring and other insights. </h3>

                                </li>
                                <li>
                                    <h3>Monitor Anything - Server, Containers, Website, Network, etc.</h3>
                                </li>
                                <li>
                                    <h3>Complete visibilty on incident metrics.</h3>

                                </li>
                                <li>
                                    <h3>Integrate with 1500+ integrations.</h3>
                                </li>
                                <li>
                                    <h3>Integrate with fully extensible API.</h3>

                                </li>

                            </ul>
                        </div>

                    </div>
                </div>

                
               
                <% include ./integration %> 
            </section>





        </div>
    </div>

    <% include ./footer %>

</body>


</html>
