<main class="py-16">
    <article class="prose ">
       <div>
          <div>
             
             <h1 class="next-error-h1" style="display:inline-block;margin:0;margin-right:20px;padding:0 23px 0 0;font-size:24px;font-weight:500;vertical-align:top;line-height:49px">200</h1>
             <div style="display:inline-block;text-align:left;line-height:49px;height:49px;vertical-align:middle">
                <h2 style="font-size:14px;font-weight:normal;line-height:49px;margin:0;padding:0">
                   Success
                </h2>
             </div>
          </div>
       </div>
    </article>
 </main>