.root nav div {
    display: flex;
    align-items: flex-start !important;
}

.nav-dropdown {
    user-select: none;
    position: relative;

    .nav-dropdown__name {
        display: flex;
        align-items: center !important;
        margin-right: 5px;
        padding: 2px 15px;
        color: #333;
        font-weight: 500;
        cursor: pointer;
        width: max-content;

        & > * {
            margin: 0;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
        }

        svg {
            font-size: 1.2rem;
            padding-left: 7px;
        }

        &:hover {
            background-color: rgba(190, 186, 186, 0.306);
            border-radius: 5px;
        }
    }

    .nav-dropdown__modal {
        position: absolute;
        top: 33px;
        left: 50%;
        transform: translateX(-50%);
        min-width: fit-content;
        width: 500px;
        height: fit-content;
        background-color: white;
        outline: 1px solid rgba(72, 71, 71, 0.1);
        border-radius: 5px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between !important;
        flex-wrap: wrap;
        padding: 15px 10px;

        & > * {
            padding: 20px 10px;
            margin: 5px 0;
            flex: 0 0 48%;
            display: flex;
            justify-content: space-between;
            align-items: center !important;
            flex-direction: row;
            background-color: rgba(238, 236, 236, 0.22);
            border-radius: 2px;
            cursor: pointer;

            svg {
                margin-right: 20px;
                font-size: 1.5rem;
                color: #666 !important;
                visibility: hidden;
            }

            .nav-details {
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            h4 {
                display: flex;
                align-items: center !important;
                padding: 2px 10px;
                color: #333;
                font-weight: 500;
                font-size: 1.4rem;
                cursor: pointer;
                width: max-content;
                margin: 0;
            }

            p {
                display: flex;
                align-items: center !important;
                padding: 2px 10px;
                color: #333;
                font-weight: 400;
                font-size: 1.2rem;
                cursor: pointer;
                width: max-content;
                margin: 0;
            }

            &:hover {
                background-color: rgba(238, 236, 236, 0.522);
                border-radius: 5px;
            }

            &:hover > div > svg {
                visibility: visible;
            }
        }
    }
}
