.buttonLayout {
    position: relative;
    user-select: none;
    top: 0;

    .dropdownButtonLists {
        position: absolute;
        top: 110%;
        left: 50%;
        overflow-y: auto;
        max-height: 100vh;
        transform: translateX(-100%);
        // transform: translateY(-100%);
        width: auto;
        height: fit-content;
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.1);
        z-index: 20;
        &.float-right {
            right: 0;
            transform: translateX(100%);
        }

        .dropdownButtonListItem {
            width: 100%;
            padding: 10px;
            font-size: 1.4rem;
            font-weight: 500;
            color: rgb(128, 127, 127);
            cursor: pointer;

            &:hover {
                box-shadow: 1px 1px 100px rgba(244, 243, 243, 0.2) inset;
            }
        }
    }
}
