.breadcrumb-container {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #e1e5e9;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e0e0e3;
    padding: 20px;

    .breadcrumb_detail {
        display: flex;
        flex-direction: column;

        &__summary {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            svg {
                margin-right: 5px;
                font-size: 1.5rem;
            }

            h2 {
                font-size: 1.8rem;
                font-weight: 600;
                margin: 0;
                padding: 0;
            }
        }

        &__crumbs {
            display: flex;
            align-items: center;

            > * {
                margin: 0;
                padding: 0;
                margin-right: 5px;
                color: #5a5656;
                font-weight: 300;
                font-size: 1.33rem;
                cursor: pointer;

                &:hover {
                    color: lighten(#5a5656, 10%);
                }

                &:last-of-type {
                    color: #000;
                    font-weight: 500;
                    &:hover {
                        color: lighten(#000, 10%);
                    }
                }
            }

            svg {
                color: #a2a0a0 !important;
                font-size: 1.1rem;
                cursor: default;

                &:last-of-type {
                    display: none;
                }
            }
        }
    }
}
