<div style="background-color:black;width:100%;" class="enterprise-section">
    <header class="integration-header-padding">
        <h2 class="header" style="color:white; text-align: center;">1500+ Enterprise Integrations and counting.</h2>
        <div class="integration-header-padding" style=" padding-top:0px !important; width: 100%; text-align: center; display: flex;
        justify-content: center;"><p class="common-BodyText" style="text-align: center;">OneUptime integrates with over a thousand enterprise-class app and
            services which helps you streamline and automate your digital ops workflow.</p>
        </div>
    </header>
<div class="container-lg">
    <ul class="integration-list no-flex-in-mobile padding-bottom-in-mobile">
        <li class="text-align-center-in-mobile margin-30-in-mobile">
            <img class="integration-logo" src="/img/slack-white.svg" alt="Slack logo">
        </li>
        <li class="text-align-center-in-mobile margin-30-in-mobile">
            <img class="integration-logo" src="/img/atlassian.svg" style="
height: 70px;
margin-top: -15px;
" alt="Atlassian logo">
        </li>
        <li class="text-align-center-in-mobile margin-30-in-mobile">
            <img class="integration-logo" src="/img/servicenow.svg" alt="Service now logo">
        </li>
    </ul>
    <ul class="integration-list invisible-in-mobile" style="margin-top: 60px;">
        <li>
            <img class="integration-logo" src="/img/okta.svg" style="
height: 30px;
margin-left: -50px;
" alt="Okta logo">
        </li>
        <li>
            <img class="integration-logo" src="/img/aws-white.svg" style="
height: 50px;
margin-left: -80px;
" alt="AWS logo">
        </li>
        <li>
            <img class="integration-logo" src="/img/appdynamics.svg" style="
height: 80px;
" alt="App dynamics logo">
        </li>
    </ul>
    <ul class="integration-list invisible-in-mobile" style="margin-top: 40px; padding-bottom: 50px">
        <li>
            <img class="integration-logo" src="/img/newrelic.svg" style="
height: 80px;
margin-left: -60px;
" alt="New relic logo">
        </li>
        <li>
            <img class="integration-logo" src="/img/zendesk.svg" style="
height: 60px;
margin-left: -90px;
" alt="Zendesk logo">
        </li>
        <li>
            <img class="integration-logo" src="/img/azure.svg" style="
height: 60px;
" alt="Azure logo">
        </li>
    </ul>
</div>
</div>