<div class="not-prose my-6 overflow-hidden rounded-2xl bg-zinc-900 shadow-md dark:ring-1 dark:ring-white/10">
    <div class="flex min-h-[calc(theme(spacing.12)+1px)] flex-wrap items-start gap-x-4 border-b border-zinc-700 bg-zinc-800 px-4 dark:border-zinc-800 dark:bg-transparent">
       <h3 class="mr-auto pt-3 text-xs font-semibold text-white"><%= title -%></h3>
    </div>
    <div class="group dark:bg-white/2.5">
       <div class="relative">
          <pre class="overflow-x-auto p-4 text-xs text-white"><code class="text-base"><%= code -%></code></pre>
       </div>
    </div>
 </div>