$primaryColor: rgb(246, 248, 250);
$blue: #948dfc;
$transition: all 0.2s ease;

.account {
    user-select: none;
    position: relative;

    .preview {
        display: flex;
        align-items: center;
        flex: 1;
        cursor: pointer;

        svg {
            color: rgb(94, 92, 92);
            font-size: 1.6rem;
        }
    }

    .details {
        position: absolute;
        top: 25px;
        right: 0;
        padding-top: 3px;
        width: 225px;
        height: fit-content;
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
        color: darken($primaryColor, 70%);
        animation: fadeIn 0.2s linear;

        &::after {
            content: '';
            position: absolute;
            top: -7px;
            right: 0;
            width: 15px;
            height: 10px;
            background-color: white;
            box-shadow: -1px -30px 10px rgba(0, 0, 0, 0.6);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }

        .user-actions {
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;

            a {
                font-weight: 400;
                letter-spacing: 1.1px;
                color: $blue;
                padding: 2px 10px;
                flex: 1;
                font-size: 1.4rem;
                font-weight: 500;
                transition: $transition;

                &:hover {
                    color: #222;
                    background-color: $primaryColor;
                }
            }
        }

        .user-details {
            color: #333;

            h3 {
                padding: 0 10px;
                padding-top: 10px;
                margin: 0;
                font-weight: 400;
                color: #444;
                font-size: 1.6rem;
            }
            p {
                font-weight: 300;
                padding: 0 10px;
                font-size: 1.2rem;
                color: #333;
            }

            hr {
                color: darken($primaryColor, 30%);
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
