@use '../../../Styles/BrandColors.scss';

.breadcrumb_detail__crumbs{
    display: flex;
}

.breadcrumb_detail{
    padding-bottom: 2px;
}

.crumb{
    color: BrandColors.$color-light-grey !important;
    display: flex;
    
    &:hover {
        color: BrandColors.$color-black !important;
    } 
}

.breadcrumb-container{
    border-bottom: 1px solid rgba(229, 228, 228, 0.5);
}

.breadcrumbs_first_icon{
    color: BrandColors.$color-light-grey !important;
    margin-top: -3px;

    &:hover {
        color: BrandColors.$color-black !important;
    } 
}

.breadcrumb_text{
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-top: -5px;
    color: BrandColors.$color-light-grey;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;

    &:hover {
        color: BrandColors.$color-black !important;
    }   
}

.breadcrumbs_chevron_icon{
    margin-right: 10px;
    margin-left: 10px;
    color: BrandColors.$color-lighter-grey;

}

.breadcrumbs_first_icon{
    color: black
}