name: Probe-api Docker Build

on:
  pull_request: 
  push:
    branches-ignore:
      - 'hotfix-*'   
      - 'release'

jobs:
 # define job to build docker image 
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2

      # build image probe api
      - name: build docker image
        run: npm run build-ci probe-api