name: Terraform Provider E2E Tests

on:
  pull_request:
  push:
    branches:
      - main
      - master
      - develop
  workflow_dispatch:

jobs:
  terraform-e2e-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      CI_PIPELINE_ID: ${{ github.run_number }}
      APP_TAG: latest

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: 'npm'

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.0"
          terraform_wrapper: false

      - name: Run E2E Tests
        run: |
          chmod +x ./E2E/Terraform/e2e-tests/scripts/*.sh
          ./E2E/Terraform/e2e-tests/scripts/index.sh
