name: Probe Test

on:
  pull_request: 
  push:
    branches-ignore:
      - 'hotfix-*'   # excludes hotfix branches
      - 'release'

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CI_PIPELINE_ID: ${{github.run_number}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          check-latest: true
      - run: sudo apt install cloudflare-warp -y
      - run: warp-cli register
      - run: warp-cli connect
      - run: cd Common && npm install
      - run: cd CommonServer && npm install
      - run: cd Probe && npm install && npm run test
  