.underline-on-hover {
    cursor: pointer;

    &:hover {
        text-decoration: underline !important;
    }
}

.primary-on-hover {
    cursor: pointer;

    &:hover {
       color: $primary
    }
}

.danger-on-hover {
    cursor: pointer;

    &:hover {
       color: $danger !important
    }
}



.pointer {
    cursor: pointer !important;
}